Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Revert suggestion by slax57
  packages/ra-ui-materialui/src/list/ListView.tsx
Due: eslint --fix

Update wording in refreshing permissions doc
  docs/usePermissions.md
Due: prettier

Move refetch to onSuccess in doc example
  docs/usePermissions.md
Due: prettier

Wrap code example with `raw` to avoid issues with Jekyll
  docs/usePermissions.md
Due: prettier

Fix `<AutocompleteInput>` should not use `matchSuggestion` when in a `<ReferenceInput>`
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Changed `getList` and `getManyReference` error to take partial pagination into account
  packages/ra-core/src/dataProvider/validateResponseFormat.ts
Due: eslint --fix

[Doc] Fix create-react-admin usage with npx
  docs/CreateReactAdmin.md
Due: prettier

[TypeScript] Fix inference errors in Field components
  packages/ra-ui-materialui/package.json
Due: prettier

[TypeScript] Fix regression in type of `<FunctionField>` `render`
  packages/ra-ui-materialui/src/field/FunctionField.stories.tsx
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix

[Doc] Add Next.js app router install instructions
  docs/NextJs.md
  docs/img/nextjs-file-structure-app-router.png
Due: prettier

Add Edit pages to test routing
  docs/NextJs.md
  docs/img/nextjs-react-admin.webp
Due: prettier

Fix defaultProps warnings in React 18
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-ui-materialui/src/AdminUI.tsx
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Extract render method prop into exportable type
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix

Fix render method types
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix

Update examples to remove null record checks
  docs/FieldsForRelationships.md
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/dashboard/LatestNotes.tsx
  examples/demo/src/dashboard/PendingReviews.tsx
  examples/demo/src/orders/NbItemsField.tsx
  examples/demo/src/reviews/ReviewItem.tsx
  packages/ra-ui-materialui/src/field/FunctionField.spec.tsx
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix, prettier

Use FunctionFieldRenderer type
  examples/demo/src/orders/NbItemsField.tsx
Due: eslint --fix

Match WithRecord types to FunctionField types
  packages/ra-core/src/controller/record/WithRecord.tsx
Due: eslint --fix

Create shared RenderRecordFunction type
  examples/demo/src/orders/NbItemsField.tsx
  packages/ra-core/src/controller/record/WithRecord.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix

changelog for v4.11.1
  CHANGELOG.md
Due: prettier

v4.11.1
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs for v4.11.1
  CreateReactAdmin.md
  NextJs.md
  _data/versions.yml
  doc/4.11/404.html
  doc/4.11/CreateReactAdmin.md
  doc/4.11/NextJs.md
  doc/4.11/img/nextjs-file-structure-app-router.png
  doc/4.11/img/nextjs-react-admin.webp
  doc/4.11/img/nextjs-setup.webp
  img/nextjs-file-structure-app-router.png
  img/nextjs-react-admin.webp
  img/nextjs-setup.webp
Due: prettier

[Doc] Add `<AutoSave>` documentation
  docs/AccordionForm.md
  docs/AutoSave.md
  docs/EditTutorial.md
  docs/Features.md
  docs/Form.md
  docs/LongForm.md
  docs/Reference.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/Validation.md
  docs/WizardForm.md
  docs/img/AutoSave.mp4
  docs/img/AutoSave.webm
  docs/img/validation.png
  docs/navigation.html
Due: prettier

Fix missing entry in reference
  docs/Reference.md
Due: prettier

i18n(EN) syntax error found while translating to ES
  packages/ra-language-english/src/index.ts
Due: eslint --fix

fix(array-input): default value update dirty state
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useApplyArrayInputDefaultValues.ts
  packages/ra-core/src/form/useApplyInputDefaultValues.ts
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

test(array-input): default value allow dirty state
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.spec.tsx
Due: eslint --fix

[Doc] Add documentation for `<TreeInput>` and `<ReferenceNodeInput>`
  docs/Features.md
  docs/Inputs.md
  docs/Reference.md
  docs/ReferenceInput.md
  docs/ReferenceNodeInput.md
  docs/SelectInput.md
  docs/TreeInput.md
  docs/TreeWithDetails.md
  docs/img/ReferenceNodeInput-TreeInput-basic.mp4
  docs/img/ReferenceNodeInput-TreeInput-basic.webm
  docs/img/ReferenceNodeInput-TreeInput-multiple.mp4
  docs/img/ReferenceNodeInput-TreeInput-multiple.webm
  docs/navigation.html
Due: prettier

[Demo] Fix tag list on Mobile
  examples/simple/src/tags/TagList.tsx
Due: eslint --fix

Fix ReferenceField line height isn't consistent with other fields
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Update `<Link>` to honor the `underline` prop
  packages/ra-ui-materialui/src/Link.tsx
Due: eslint --fix

Update docs/ReferenceInput.md
  docs/ReferenceInput.md
Due: prettier

Review
  docs/TreeInput.md
Due: prettier

Fix linter warnings
  cypress/cypress.config.js
  cypress/e2e/edit.cy.js
  examples/crm/src/dataGenerator/sales.ts
  examples/crm/src/dataGenerator/tags.ts
  examples/crm/src/deals/OnlyMineInput.tsx
  examples/demo/src/orders/MobileGrid.tsx
  examples/demo/src/products/ThumbnailField.tsx
  examples/demo/src/visitors/CustomerLinkField.tsx
  examples/demo/src/visitors/SegmentsField.tsx
  examples/simple/src/posts/PostCreate.tsx
Due: eslint --fix

Fix CRM compilation
  examples/crm/src/dataGenerator/sales.ts
  examples/crm/src/dataGenerator/tags.ts
Due: eslint --fix

Review
  docs/AccordionForm.md
  docs/LongForm.md
Due: prettier

[Doc] Better explain the type of `getSource` and `scopedFormData` in `<FormDataConsumer>`
  docs/Inputs.md
  docs/SimpleFormIterator.md
Due: prettier

Fix configurable does not have a targetable root class
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
Due: eslint --fix

Fix more Linter warnings
  examples/simple/src/posts/PostCreate.tsx
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/posts/PostList.tsx
  examples/simple/src/users/UserCreate.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
