Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix doc CSS version
  docs/_layouts/default.html
  docs/css/style-v6.css
Due: prettier

v3.9.1
  lerna.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add changelog for v3.9.1
  CHANGELOG.md
Due: prettier

update docs for v3.9.1
  _data/versions.yml
Due: none

Prepare changelog for 3.9.2
  CHANGELOG.md
Due: prettier

v3.9.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update docs for v3.9.2
  _data/versions.yml
Due: none

Fix linter warnings
  packages/ra-core/src/dataProvider/useDataProviderWithDeclarativeSideEffects.ts
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.spec.js
Due: eslint --fix

Fix webpack warning
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Applied review
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
Due: eslint --fix

Improved CheckboxGroupInput Css apis
  docs/Inputs.md
Due: prettier

Update docs/Fields.md
  docs/Fields.md
Due: prettier

Change suggested wording for all fields and inputs
  docs/Fields.md
  docs/Inputs.md
Due: prettier

Change type case
  docs/Fields.md
Due: prettier

Change type case
  docs/Inputs.md
Due: prettier

Fix useAuthState docs
  docs/Authentication.md
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix, prettier

Fix JDoc example
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Fix imports in resources example
  docs/Admin.md
Due: prettier

Aplied review
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Fix Typo
  packages/ra-core/src/auth/useCheckAuth.ts
Due: eslint --fix

Update CreateEdit.md
  docs/CreateEdit.md
Due: prettier

Update packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Add react-router link
  docs/Resource.md
Due: prettier

Fix wrong link in shop demo's README
  examples/demo/README.md
Due: prettier

Fix links
  docs/Admin.md
  docs/Theming.md
  docs/UnitTesting.md
  packages/ra-i18n-polyglot/README.md
Due: prettier

Allow MenuItemLink to receive TooltipPops
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Added rowStyle prop to SimpleList
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Update SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Updated SimpleListProps
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Rafactor - prettify changes
  cypress/cypress.json
  cypress/package.json
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix, prettier

Revert cypress and package files updates
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Substituted default rowStyle value from null to undefined
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

add changelog to toc
  assets/styles.css
  navigation.html
Due: prettier

Add support section
  README.md
Due: prettier

Add mentions of the Enterprise Edition components in documentation
  docs/Admin.md
  docs/CreateEdit.md
  docs/Fields.md
  docs/Inputs.md
  docs/List.md
  docs/Readme.md
  docs/_layouts/default.html
Due: prettier

Revert props tables formatting
  docs/Fields.md
  docs/Inputs.md
Due: prettier

Added Create and Edit components CSS Api documentation
  docs/CreateEdit.md
Due: prettier

Added Show component CSS Api documentation
  docs/Show.md
Due: prettier
