Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix useCanAccessCallback
  packages/ra-core/src/auth/useCanAccessCallback.ts
Due: eslint --fix

rename createOption into createOptionLabel
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Document access control in views
  docs/Create.md
  docs/CreateBase.md
  docs/Edit.md
  docs/EditBase.md
  docs/List.md
  docs/ListBase.md
  docs/Show.md
  docs/ShowBase.md
Due: prettier

Document controllers
  docs/Create.md
  docs/CreateBase.md
  docs/Edit.md
  docs/EditBase.md
  docs/List.md
  docs/ListBase.md
  docs/Show.md
  docs/ShowBase.md
  docs/useCreateController.md
  docs/useEditController.md
  docs/useListController.md
  docs/useShowController.md
Due: prettier

[Doc] Rewrite access control documentation
  docs/Permissions.md
  docs/navigation.html
Due: prettier

Review
  docs/Permissions.md
Due: prettier

Add mention of built-in access control in action buttons
  docs/Permissions.md
Due: prettier

Fix build
  docs/useCreateController.md
Due: prettier

Document buttons
  docs/Buttons.md
Due: prettier

Fix buttons doc
  docs/Buttons.md
Due: prettier

Make Authenticated component secure by default
  docs/Authenticated.md
  docs/Authentication.md
  docs/useAuthState.md
  docs/useAuthenticated.md
  packages/ra-core/src/auth/Authenticated.spec.tsx
  packages/ra-core/src/auth/Authenticated.tsx
  packages/ra-core/src/auth/WithPermissions.tsx
  packages/ra-core/src/auth/useAuthenticated.ts
  packages/ra-ui-materialui/src/layout/NotFound.tsx
Due: eslint --fix, prettier

Fix useCanAccess result type
  packages/ra-core/src/auth/useCanAccess.ts
Due: eslint --fix

Update navigation and reference
  docs/Reference.md
  docs/navigation.html
Due: prettier

Apply suggestions from code review
  docs/Authenticated.md
  docs/useAuthState.md
  docs/useAuthenticated.md
Due: prettier

Remove unnecessary canAccess calls in useGetPathForRecord
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Add tests and stories
  packages/ra-core/src/routing/useGetPathForRecord.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecord.stories.tsx
Due: eslint --fix

Add tests and stories for ReferenceField
  packages/ra-core/src/routing/useGetPathForRecord.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecord.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

Fix TS suggestion
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
Due: eslint --fix

doc: fix the <Show emptywhileloading> porp definition
  docs/Show.md
Due: prettier

Add newsletter invite in doc root
  documentation.html
Due: none

[Doc] Update `<Search>` doc for `keyboardShortcutIcon`, `withKeyboardShortcut` and `isInAppBar`
  docs/Search.md
  docs/img/ra-search-keyboard-shortcut-icon.png
Due: prettier

Only check access rights for inferred link types
  packages/ra-core/src/routing/useGetPathForRecord.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecord.stories.tsx
  packages/ra-core/src/routing/useGetPathForRecordCallback.ts
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
Due: eslint --fix

Revert unnecessary changes on useGetPathForRecord
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Introduce `<NavigateToFirstResource>`
  docs/Admin.md
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-core/src/core/NavigateToFirstResource.spec.tsx
  packages/ra-core/src/core/NavigateToFirstResource.stories.tsx
  packages/ra-core/src/core/NavigateToFirstResource.tsx
  packages/ra-core/src/core/useFirstResourceWithListAccess.tsx
Due: eslint --fix, prettier

Better formatting in documentation
  docs/Admin.md
Due: prettier

remove useless comment
  docs/Search.md
Due: prettier

Add mention of authentication
  docs/Create.md
  docs/CreateBase.md
  docs/Edit.md
  docs/EditBase.md
  docs/InfiniteList.md
  docs/List.md
  docs/ListBase.md
  docs/Show.md
  docs/ShowBase.md
  docs/useCreateController.md
  docs/useEditController.md
  docs/useListController.md
  docs/useShowController.md
Due: prettier

Fix ShowBase should accept a ReactNode
  packages/ra-core/src/controller/show/ShowBase.tsx
Due: eslint --fix

Reuse HintedString in useCreatePath
  packages/ra-core/src/routing/useCreatePath.ts
Due: eslint --fix

Refactor useGetPathForRecord to leverage react-query
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Add tests and stories for useGetPathForRecordCallback and improve canAccess calls
  packages/ra-core/src/routing/useGetPathForRecordCallback.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecordCallback.stories.tsx
  packages/ra-core/src/routing/useGetPathForRecordCallback.ts
Due: eslint --fix

Improve ReferenceField tests and stories
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

Apply review suggestions
  docs/Admin.md
Due: prettier

Export NavigateToFirstResource
  packages/ra-core/src/core/index.ts
Due: eslint --fix

Reintroduce CreatePathType
  packages/ra-core/src/routing/useCreatePath.ts
Due: eslint --fix

Improve tests and stories
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Add Datagrid story
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
Due: eslint --fix

Add documentation
  docs/Datagrid.md
  docs/ReferenceField.md
Due: prettier

Throw an error when no resources are found
  packages/ra-core/src/core/NavigateToFirstResource.tsx
Due: eslint --fix

Mibor tweaks
  packages/ra-core/src/routing/useGetPathForRecord.ts
  packages/ra-core/src/routing/useGetPathForRecordCallback.ts
Due: eslint --fix
