Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Add more templates READMEs
  packages/create-react-admin/templates/local-auth-provider/README.md
  packages/create-react-admin/templates/ra-data-fakerest/README.md
  packages/create-react-admin/templates/ra-data-json-server/README.md
  packages/create-react-admin/templates/ra-data-simple-rest/README.md
Due: prettier

Sanitize app name
  packages/create-react-admin/src/ProjectState.ts
  packages/create-react-admin/src/StepName.tsx
  packages/create-react-admin/src/app.tsx
Due: eslint --fix

Fix custom redirect in pessimistic edit when using warnWhenUnsavedChanges
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/SaveContext.ts
  packages/ra-core/src/controller/saveContext/usePickSaveContext.ts
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

wip: introduce Layout appBarAlwaysOn prop
  packages/ra-ui-materialui/src/layout/Layout.stories.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
Due: eslint --fix

update doc and jsdoc
  docs/AppBar.md
  docs/Layout.md
  packages/ra-ui-materialui/src/layout/AppBar.tsx
Due: eslint --fix, prettier

clean stories
  packages/ra-ui-materialui/src/layout/AppBar.stories.tsx
  packages/ra-ui-materialui/src/layout/Layout.stories.tsx
Due: eslint --fix

cleanup code and comments
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/SaveContext.ts
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

add tests
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
Due: eslint --fix

fix CreateController
  packages/ra-core/src/controller/create/useCreateController.ts
Due: eslint --fix

Fix infinite redirection loop in useHandleCallback
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
  packages/ra-core/src/auth/useHandleAuthCallback.ts
Due: eslint --fix

Update DataProviderList.md
  docs/DataProviderList.md
Due: prettier

Fix installer command in help
  packages/create-react-admin/src/app.tsx
Due: eslint --fix

Fix readme and warnings
  packages/create-react-admin/src/ProjectState.ts
  packages/create-react-admin/src/app.tsx
  packages/create-react-admin/src/generateProject.ts
  packages/create-react-admin/templates/common/README.md
Due: eslint --fix, prettier

Wording adjustments
  packages/create-react-admin/src/StepAuthProvider.tsx
  packages/create-react-admin/src/StepDataProvider.tsx
  packages/create-react-admin/src/StepInstall.tsx
  packages/create-react-admin/src/StepName.tsx
  packages/create-react-admin/src/StepResources.tsx
  packages/create-react-admin/src/app.tsx
Due: eslint --fix

Fix typos
  packages/create-react-admin/src/StepDataProvider.tsx
Due: eslint --fix

add margin
  packages/create-react-admin/src/app.tsx
Due: eslint --fix

Fix Newline
  packages/create-react-admin/src/app.tsx
Due: eslint --fix

Prepare changelog for v4.10.0
  CHANGELOG.md
Due: prettier

v4.10.0
  cypress/package.json
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn dependencies
  CHANGELOG.md
  examples/data-generator/package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

make create-react-admin private
  packages/create-react-admin/package.json
Due: prettier

v4.10.1
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

add changelog
  CHANGELOG.md
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Update changelog to announce the publication of create-react-admin
  CHANGELOG.md
  packages/create-react-admin/README.md
  packages/create-react-admin/package.json
Due: prettier

Add links to sponsors.
  packages/create-react-admin/README.md
Due: prettier

Add ability to default to dark mode when users prefer it
  docs/Admin.md
  docs/ToggleThemeButton.md
  packages/ra-ui-materialui/src/AdminContext.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeButton.stories.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeButton.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeLegacyButton.tsx
  packages/ra-ui-materialui/src/defaultTheme.ts
  packages/ra-ui-materialui/src/layout/Theme/ThemeProvider.tsx
  packages/ra-ui-materialui/src/layout/Theme/ThemesContext.ts
  packages/ra-ui-materialui/src/layout/Theme/index.ts
  packages/ra-ui-materialui/src/layout/Theme/types.ts
  packages/ra-ui-materialui/src/layout/Theme/useTheme.ts
  packages/ra-ui-materialui/src/layout/Theme/useThemesContext.ts
  packages/react-admin/src/Admin.tsx
Due: eslint --fix, prettier

Fix rich text compilation
  packages/ra-input-rich-text/src/buttons/ColorButtons.tsx
Due: eslint --fix

Fix css stylesheet version
  _layouts/default.html
Due: none

Fix create-react-admin bin declaration
  packages/create-react-admin/package.json
Due: prettier

Update tutorial to use create-react-admin
  docs/Tutorial.md
Due: prettier

Update tutorial
  docs/Tutorial.md
Due: prettier

Add CLI chapter
  docs/CreateReactAdmin.md
  docs/navigation.html
Due: prettier

fix
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
Due: eslint --fix

update comment
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
Due: eslint --fix

fix: synched prop types definition with exported props interface
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
Due: eslint --fix

Add screencast
  docs/CreateReactAdmin.md
  docs/img/create-react-admin.webm
Due: prettier

fix: swap `Menu.ResourceItem` from `to` to `name`
  docs/CustomRoutes.md
Due: prettier
