Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Introduce Resource Context and Hooks
  packages/ra-core/src/actions/resourcesActions.ts
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/ResourceContext.ts
  packages/ra-core/src/core/ResourceContextProvider.tsx
  packages/ra-core/src/core/useResourceContext.ts
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix filter with nested source
  packages/ra-core/src/util/removeEmpty.spec.ts
  packages/ra-core/src/util/removeEmpty.ts
Due: eslint --fix

Rename hooks and export from core
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useResourceContext.ts
  packages/ra-core/src/core/useResourceDefinition.ts
Due: eslint --fix

Use resource hooks in controllers
  packages/ra-core/src/controller/details/useCreateController.ts
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/controller/useListController.ts
Due: eslint --fix

Add ability to disable redirection after logout
  docs/Authentication.md
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/types.ts
Due: eslint --fix, prettier

Minor doc fixes
  docs/List.md
Due: prettier

Improve doc main navigation
  docs/_layouts/default.html
  docs/css/style-v8.css
  docs/navigation.html
Due: prettier

Provide correct resource in referencearrayfields
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

update side navigation
  _layouts/default.html
  css/style-v8.css
  doc/3.9/navigation.html
  navigation.html
Due: prettier

fix version selector margin
  css/style-v8.css
Due: prettier

fix typo
  css/style-v8.css
Due: prettier

[Doc] Fix version selector margin
  docs/css/style-v8.css
Due: prettier

[Doc] Fix sidenav on Mobile
  docs/_layouts/default.html
Due: none

fix mobile nav
  _layouts/default.html
Due: none

[Doc] Fix sidenav logo clickable area
  docs/css/style-v8.css
Due: prettier

fix sidenav logo clickable area
  css/style-v8.css
Due: prettier

[Doc] Fix version selector item height
  docs/css/style-v8.css
Due: prettier

fix sidenav version items size
  css/style-v8.css
Due: prettier

Use resource hook in more controllers
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/input/useGetMatchingReferences.ts
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Use resource hook in list components
  packages/ra-ui-materialui/src/list/BulkDeleteAction.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
Due: eslint --fix

Changed AuthProvider type
  packages/ra-core/src/types.ts
Due: eslint --fix

[Demo] Fix chart gets empty at the end of the month
  examples/demo/src/dashboard/Dashboard.tsx
  examples/demo/src/dashboard/OrderChart.tsx
Due: eslint --fix

Minor doc fixes
  docs/CreateEdit.md
Due: prettier

update to master
  CreateEdit.md
  Fields.md
  Inputs.md
  List.md
  doc/3.9/CreateEdit.md
  doc/3.9/Fields.md
  doc/3.9/Inputs.md
  doc/3.9/List.md
Due: prettier

Fix typo in tutorial
  docs/Tutorial.md
Due: prettier

Fix chart start and list of customers
  examples/demo/src/dashboard/NewCustomers.tsx
  examples/demo/src/dashboard/OrderChart.tsx
Due: eslint --fix

fix: add default value for hasShow in Show.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
Due: eslint --fix

[Demo] use stepper for customer actions
  examples/demo/src/visitors/Aside.tsx
Due: eslint --fix

Fix Layout Component Type
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Remove calls to useResourceDefinition
  packages/ra-core/src/controller/details/useCreateController.ts
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/controller/useListController.ts
Due: eslint --fix

Apply Review
  packages/ra-core/src/core/useResourceContext.ts
Due: eslint --fix

Use the resource hook where needed
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/ExportButton.tsx
  packages/ra-ui-materialui/src/detail/CreateActions.js
  packages/ra-ui-materialui/src/detail/EditActions.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/list/ListActions.tsx
Due: eslint --fix

Fix LayoutPRops conflict
  examples/demo/src/layout/Layout.tsx
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Prepare changelog for v3.9.6
  CHANGELOG.md
Due: prettier

v3.9.6
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update docs to 3.9.6
  Tutorial.md
  _data/versions.yml
  doc/3.9/Tutorial.md
Due: prettier

Fix LayoutType
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/layout/themes.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Fix props sanitization
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Fix DeleteWithUndoButton
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix

Simplify useResourceDefinition
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-ui-materialui/src/detail/CreateActions.js
  packages/ra-ui-materialui/src/detail/EditActions.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/list/ListActions.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
