Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

docs: Keep BrowserRouter on react-router-dom for v6 compatibility
  docs/Admin.md
  docs_headless/src/content/docs/CoreAdmin.md
Due: prettier

fix: Scope experimental-vm-modules to the react-router-next test run
  jest.config.js
  package.json
Due: eslint --fix, prettier

chore: Declare react-router as a dependency of ra-router-react-router-next
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Drop ra-core from ra-router-react-router-next dev/peer deps
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Fix router package peer dependencies
  packages/ra-no-code/package.json
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Drop unused react-router-dom devDependency from react-admin
  packages/react-admin/package.json
Due: prettier

chore: Relock after router package dependency changes
  yarn.lock
Due: none

test: Harden auth e2e assertions against redirect timing flakiness
  cypress/e2e/auth.cy.js
Due: eslint --fix

docs: document AutocompleteInput getOptionDisabled
  docs/AutocompleteInput.md
Due: prettier

fix: Save InPlaceEditor on external blur
  packages/ra-ui-materialui/src/input/InPlaceEditor/InPlaceEditor.spec.tsx
  packages/ra-ui-materialui/src/input/InPlaceEditor/InPlaceEditor.tsx
Due: eslint --fix

Fix RichTextInput crash when the editor is recreated
  packages/ra-input-rich-text/src/RichTextInput.tsx
Due: eslint --fix

Fix useListController resets the persisted page while the list query is disabled during the auth check
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.ts
Due: eslint --fix

Fix test pollution
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

Fix(MUI): Icons imported path
  docs/FilterList.md
  docs/FilteringTutorial.md
  docs/List.md
  examples/demo/src/visitors/VisitorListAside.tsx
  packages/ra-core/src/form/FilterLiveForm.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/AddItemButton.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/RemoveItemButton.tsx
  packages/ra-ui-materialui/src/input/FileInput.stories.tsx
  packages/ra-ui-materialui/src/input/ImageInput.stories.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
  packages/ra-ui-materialui/src/list/filter/AddSavedQueryIconButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterList.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListSection.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListSection.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveForm.stories.tsx
  packages/ra-ui-materialui/src/list/filter/RemoveSavedQueryIconButton.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueriesList.tsx
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
Due: eslint --fix, prettier

fix: Error types for some hooks
  docs/useCreate.md
  docs/useDelete.md
  docs/useDeleteMany.md
  docs/useUpdateMany.md
  docs_headless/src/content/docs/useCreate.md
  docs_headless/src/content/docs/useDelete.md
  docs_headless/src/content/docs/useDeleteMany.md
  docs_headless/src/content/docs/useUpdateMany.md
  packages/ra-core/package.json
  packages/ra-core/src/controller/button/useBulkDeleteController.ts
  packages/ra-core/src/controller/button/useBulkUpdateController.tsx
  packages/ra-core/src/controller/button/useDeleteController.tsx
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/button/useUpdateController.tsx
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix, prettier

revert unwanted changes
  packages/ra-core/package.json
Due: prettier

yarn dedupe
  yarn.lock
Due: none

[doc] `getOptionDisabled` prop on `Autocomplete` inputs
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix, prettier

remove duplicated story
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Add a story (AutocompletInput > GetOptionDisabled)
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

feat: Allow to disable the responsive shrink of Buttons
  docs/Buttons.md
  packages/ra-ui-materialui/src/button/Button.spec.tsx
  packages/ra-ui-materialui/src/button/Button.stories.tsx
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CreateButton.spec.tsx
  packages/ra-ui-materialui/src/button/CreateButton.stories.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/layout/DeviceTestWrapper.tsx
Due: eslint --fix, prettier

Fix unit-tests
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

fix: Warn when emptyText or emptyValue is passed to a multiple Autocomplete input
  docs/AutocompleteArrayInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix, prettier

feat: Add `placeholder` prop to `<SelectArrayInput>`
  docs/SelectArrayInput.md
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix, prettier

dedupe
  yarn.lock
Due: none

Update Astro plugins
  docs_headless/package.json
  yarn.lock
Due: prettier

[Chore] Upgrade examples to vite v8
  cypress/package.json
  examples/crm/package.json
  examples/crm/vite.config.ts
  examples/demo/package.json
  examples/demo/vite.config.ts
  examples/no-code/package.json
  examples/ra-offline/package.json
  examples/ra-offline/vite.config.ts
  examples/simple/package.json
  examples/tutorial/package.json
  examples/tutorial/vite.config.ts
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  yarn.lock
Due: eslint --fix, prettier

[Chore] Migrate Storybook to v10
  .storybook/main.ts
  .storybook/preview.tsx
  examples/simple/.babelrc
  package.json
  yarn.lock
Due: eslint --fix, prettier

fix: Batch useGetManyAggregate resolutions into a single React update
  packages/ra-core/src/dataProvider/useGetManyAggregate.spec.tsx
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
Due: eslint --fix

Remove storybook unused features
  .storybook/main.ts
  .storybook/manager.ts
Due: eslint --fix

Improve dedupe
  examples/tutorial/vite.config.ts
Due: eslint --fix

fix placeholders texts
  docs/SelectArrayInput.md
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
Due: eslint --fix, prettier

Remove echarts from ra-core
  packages/ra-core/package.json
  packages/ra-core/src/controller/list/WithListContext.stories.tsx
  yarn.lock
Due: eslint --fix, prettier

refactor: Change `placeholder` for `emptyText` in `<SelectArrayInput>`
  docs/SelectArrayInput.md
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix, prettier

Upgrade echarts to v6
  examples/demo/package.json
  examples/demo/src/dashboard/OrderChart.tsx
  yarn.lock
Due: eslint --fix, prettier

Revert "[TypeScript] Fix default Error type for data provider hooks"
  docs/useCreate.md
  docs/useDelete.md
  docs/useDeleteMany.md
  docs/useUpdateMany.md
  docs_headless/src/content/docs/useCreate.md
  docs_headless/src/content/docs/useDelete.md
  docs_headless/src/content/docs/useDeleteMany.md
  docs_headless/src/content/docs/useUpdateMany.md
  packages/ra-core/src/controller/button/useBulkDeleteController.ts
  packages/ra-core/src/controller/button/useBulkUpdateController.tsx
  packages/ra-core/src/controller/button/useDeleteController.tsx
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/button/useUpdateController.tsx
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix, prettier

feat: Upgrade `graphql` and`@apollo/client`
  examples/demo/package.json
  examples/demo/src/dataProvider/graphql.ts
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql-simple/src/getResponseParser.ts
  packages/ra-data-graphql/package.json
  packages/ra-data-graphql/src/buildApolloClient.ts
  packages/ra-data-graphql/src/index.test.ts
  packages/ra-data-graphql/src/introspection.ts
Due: eslint --fix, prettier

Add some imports in packages + revert some type updates
  examples/demo/package.json
  examples/demo/src/dataProvider/graphql.ts
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql-simple/src/getResponseParser.ts
  packages/ra-data-graphql/package.json
  packages/ra-data-graphql/src/index.test.ts
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
