Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Extract getRecordFromLocation in a hook
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/core/SourceContext.stories.tsx
  packages/ra-core/src/form/FormDataConsumer.spec.tsx
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useRecordFromLocation.spec.tsx
  packages/ra-core/src/form/useRecordFromLocation.ts
Due: eslint --fix

Use useRecordFromLocation in useAugmentedForm instead of useCreateController
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

Apply suggestions from code review
  docs/DatagridAG.md
Due: prettier

Apply suggestions from code review
  docs/AccordionForm.md
  docs/AuthRBAC.md
  docs/LongForm.md
Due: prettier

Fix link typo
  docs/DatagridAG.md
Due: prettier

Fix build
  packages/ra-core/src/form/useRecordFromLocation.ts
Due: eslint --fix

Revert regression in useCreateController
  packages/ra-core/src/controller/create/useCreateController.ts
Due: eslint --fix

Revert breaking change on getRecordFromLocation
  packages/ra-core/src/form/useRecordFromLocation.spec.tsx
  packages/ra-core/src/form/useRecordFromLocation.ts
Due: eslint --fix

Add story for edition
  packages/ra-core/src/controller/edit/useEditController.stories.tsx
Due: eslint --fix

Improve introduction
  docs/AuthRBAC.md
Due: prettier

Document Datagrid access control in Datagrid doc
  docs/AuthRBAC.md
  docs/Datagrid.md
Due: prettier

Move the List RBAC features to the List doc
  docs/AuthRBAC.md
  docs/List.md
Due: prettier

Move SimpleShowLayout RBAC doc to SimpleShowLayout chapter
  docs/AuthRBAC.md
  docs/SimpleShowLayout.md
Due: prettier

Move Simpleform RBAC doc to SimpleForm chapter
  docs/AuthRBAC.md
  docs/SimpleForm.md
Due: prettier

Move Menu RBAC doc to the Menu chapter
  docs/AuthRBAC.md
  docs/Menu.md
Due: prettier

Move TabbedShowLayout RBAC doc to TabbedshowLayout chapter
  docs/AuthRBAC.md
  docs/TabbedShowLayout.md
Due: prettier

Move TabbedForm RBAC doc to TabbedForm chapter
  docs/AuthRBAC.md
  docs/TabbedForm.md
Due: prettier

Move RBAC buttons doc to the Buttons chapter
  docs/AuthRBAC.md
  docs/Buttons.md
Due: prettier

Add mention of built-in access control
  docs/AccordionForm.md
  docs/AuthRBAC.md
  docs/LongForm.md
  docs/Permissions.md
  docs/WizardForm.md
Due: prettier

MAke access control section position consistent
  docs/Create.md
  docs/Datagrid.md
  docs/Edit.md
  docs/Resource.md
  docs/Show.md
  docs/SimpleForm.md
  docs/TabbedForm.md
Due: prettier

stop using `act` in tests
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.spec.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useList.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

rename `spiedChildren` into `callback`
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.spec.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useList.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

do write twice the spied func -> just spy it
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

pass children as child instead of prop
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
Due: eslint --fix

improve test names
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.spec.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useList.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.spec.tsx
Due: eslint --fix

improve story label
  packages/ra-ui-materialui/src/button/SelectAllButton.stories.tsx
Due: eslint --fix

isolate type imports
  packages/ra-ui-materialui/src/button/SelectAllButton.tsx
Due: eslint --fix

adapt test with the new button label
  packages/ra-ui-materialui/src/button/SelectAllButton.spec.tsx
Due: eslint --fix

moove the `SelectAllButton`
  packages/ra-ui-materialui/src/button/SelectAllButton.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.stories.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

test the new `bulkActionsToolbar` Datagrid's prop
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
Due: eslint --fix

Adapt SelectAllButton doc to the new place
  docs/Buttons.md
Due: prettier

Update Datagrid doc
  docs/Datagrid.md
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix, prettier

update screenshot
  docs/img/SelectAllButton.png
Due: none

fix typo
  docs/Datagrid.md
Due: prettier

useSelectAll -> test + stories
  packages/ra-core/src/controller/list/useSelectAll.spec.tsx
  packages/ra-core/src/controller/list/useSelectAll.stories.tsx
  packages/ra-core/src/controller/list/useSelectAll.tsx
Due: eslint --fix

improve jsDoc
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

[Doc] Remove `<ShowBase emptyWhileLoading>` from the docs
  docs/ShowBase.md
Due: prettier

Use react-hook-form reset to override the record
  packages/ra-core/src/form/Form.spec.tsx
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-core/src/form/useRecordFromLocation.spec.tsx
  packages/ra-core/src/form/useRecordFromLocation.ts
Due: eslint --fix

Add documentation
  docs/Edit.md
  docs/useGetRecordRepresentation.md
  docs/useRecordFromLocation.md
Due: prettier
