Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

added make build command
  examples/tutorial/README.md
Due: prettier

Update DataProviderList.md
  docs/DataProviderList.md
Due: prettier

Fix: mulitLine for Notifications is not working
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

tabbedList on Review screen
  .prettierrc.js
  examples/demo/src/reviews/TabbedReviewList.tsx
  examples/demo/src/reviews/index.ts
Due: eslint --fix

Apply suggestions from code review
  packages/ra-data-localforage/README.md
  packages/ra-data-localforage/package.json
Due: prettier

fix typo replace const by import
  docs/Upgrade.md
Due: prettier

Feat: Add types for useInfiniteGetList
  packages/ra-core/src/dataProvider/useInfiniteGetList.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.stories.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix: JSDoc from useInfinteGetList
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Update Resource.md
  docs/Resource.md
Due: prettier

Update ReferenceArrayField.md
  docs/ReferenceArrayField.md
Due: prettier

Fix CoreAdmin doesn't allow to override the default store
  packages/ra-core/src/core/CoreAdmin.tsx
Due: eslint --fix

Feat: Add rules options to arrayInput
  packages/ra-core/package.json
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
  yarn.lock
Due: eslint --fix, prettier

Fix: Update create e2e test
  cypress/integration/create.js
Due: eslint --fix

WIP: add rules for arrayInput
  examples/simple/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Feat: commit yarn.lock
  yarn.lock
Due: none

Fix: revert package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

fix typo doc transform to format prop
  docs/Inputs.md
Due: prettier

Fix ArrayInput doesn't support scalar values
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

MAke story more self-contained
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

Prepare changelog for v4.2.8
  CHANGELOG.md
Due: prettier

v4.2.8
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

upgrade to v4.2.8
  DataProviderList.md
  FileInput.md
  ImageInput.md
  Inputs.md
  ReferenceArrayField.md
  ReferenceArrayInput.md
  ReferenceInput.md
  Resource.md
  Upgrade.md
  _data/versions.yml
  doc/4.2/DataProviderList.md
  doc/4.2/FileInput.md
  doc/4.2/ImageInput.md
  doc/4.2/Inputs.md
  doc/4.2/ReferenceArrayField.md
  doc/4.2/ReferenceArrayInput.md
  doc/4.2/ReferenceInput.md
  doc/4.2/Resource.md
  doc/4.2/Upgrade.md
Due: prettier

add 'children' prop to Resources
  docs/CustomRoutes.md
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/types.ts
Due: eslint --fix, prettier

lint fix
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix sourcemaps are missing from build
  packages/ra-core/tsconfig.json
  packages/ra-data-fakerest/tsconfig.json
  packages/ra-data-graphql-simple/tsconfig.json
  packages/ra-data-graphql/tsconfig.json
  packages/ra-data-json-server/tsconfig.json
  packages/ra-data-localstorage/tsconfig.json
  packages/ra-data-simple-rest/tsconfig.json
  packages/ra-i18n-polyglot/tsconfig.json
  packages/ra-input-rich-text/tsconfig.json
  packages/ra-language-english/tsconfig.json
  packages/ra-language-french/tsconfig.json
  packages/ra-no-code/tsconfig.json
  packages/ra-ui-materialui/tsconfig.json
  packages/react-admin/tsconfig.json
  tsconfig.json
Due: prettier

Add TimeInput component
  packages/ra-ui-materialui/src/input/TimeInput.spec.tsx
  packages/ra-ui-materialui/src/input/TimeInput.stories.tsx
  packages/ra-ui-materialui/src/input/TimeInput.tsx
  packages/ra-ui-materialui/src/input/index.ts
Due: eslint --fix

[doc] Add TimeInput documentation
  docs/TimeInput.md
  docs/img/time-input-edge.gif
  docs/img/time-input-firefox.gif
  docs/navigation.html
Due: prettier

Allow DateField to display only a time
  packages/ra-ui-materialui/src/field/DateField.spec.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
Due: eslint --fix

[doc] add information on showing only the time in DateField
  docs/DateField.md
Due: prettier

Add saved queries to demo
  examples/demo/src/products/Aside.tsx
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Prepare changelog for v4.3.0
  CHANGELOG.md
Due: prettier

v4.3.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

fix useGetList onSuccess side effect overriding internal one
  packages/ra-core/src/dataProvider/useGetList.spec.tsx
  packages/ra-core/src/dataProvider/useGetList.ts
Due: eslint --fix

Feat: Add useGetRecordId in ra-core
  packages/ra-core/src/dataProvider/useGetRecordId.spec.tsx
  packages/ra-core/src/dataProvider/useGetRecordId.ts
Due: eslint --fix

Fix inference for ReferenceField and ReferenceArrayField
  packages/ra-core/src/inference/InferredElement.ts
  packages/ra-core/src/inference/inferElementFromValues.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/input/index.ts
  packages/ra-ui-materialui/src/list/ListGuesser.stories.tsx
  packages/ra-ui-materialui/src/list/listFieldTypes.tsx
Due: eslint --fix

Fix warning
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
Due: eslint --fix
