Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Update docs/OldVersions.md for version 5.11.0
  docs/OldVersions.md
Due: prettier

Update create-react-admin templates dependencies for version 5.11.0
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update changelog for version 5.11.0
  CHANGELOG.md
Due: prettier

Upgrade Cypress
  cypress/cypress/downloads/downloads.html
  cypress/e2e/navigation.cy.js
  cypress/package.json
  cypress/support/index.js
  yarn.lock
Due: eslint --fix, prettier

Update ra-realtime documentation for 5.2.0
  docs/LockOnMount.md
  docs/LockStatus.md
  docs/navigation.html
  docs/useLockCallbacks.md
  docs/useLockOnCall.md
  docs/useLockOnMount.md
Due: prettier

Introduce `emptyWhileLoading` on `<ListBase>`
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
  packages/ra-core/src/controller/list/ListBase.tsx
Due: eslint --fix

Ensure offline scenarios tests do not impact later tests
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceArrayFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceArrayInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/show/ShowBase.spec.tsx
  packages/ra-core/src/core/IsOffline.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.spec.tsx
  packages/ra-ui-materialui/src/list/List.spec.tsx
Due: eslint --fix

Update documentation
  docs/ListBase.md
Due: prettier

Add tests for ListBase render prop and emptyWhileLoading
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
  packages/ra-core/src/controller/list/ListBase.tsx
Due: eslint --fix

add getting started guide
  docs/ReferenceFieldBase.md
  docs_headless/src/content/docs/Getting-Started.md
  docs_headless/src/content/docs/fields/ReferenceFieldBase.md
  docs_headless/src/content/docs/img/ra-core-quick-start-example.png
  docs_headless/src/content/docs/img/ra-core-quick-start-guide-hero.png
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
Due: eslint --fix, prettier

clean up more assets
  docs_headless/src/assets/SPA-lifecycle.png
  docs_headless/src/assets/data-provider.png
  docs_headless/src/assets/providers.png
  docs_headless/src/assets/tutorial_guessed_list.png
Due: none

remove ReferenceInputBase, ReferenceArrayInputBase and useCheckForApplicationUpdate pages and links
  docs_headless/src/content/docs/Getting-Started.md
  docs_headless/src/content/docs/data-fetching/DataProviderWriting.md
  docs_headless/src/content/docs/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/guides/Features.md
  docs_headless/src/content/docs/inputs/ReferenceArrayInputBase.md
  docs_headless/src/content/docs/inputs/ReferenceInputBase.md
  docs_headless/src/content/docs/other/useCheckForApplicationUpdate.md
Due: prettier

fix missing trailing slash on internal links
  docs_headless/astro.config.mjs
Due: none

improve landing page
  docs_headless/src/content/docs/index.mdx
Due: none

fix: update RecordType definition in ReferenceFieldBaseProps for better type compatibility
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
Due: eslint --fix

Fix `<Datagrid>` and `<DataTable>` bulk selection
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeader.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.spec.tsx
  packages/ra-ui-materialui/src/list/datatable/SelectPageCheckbox.tsx
Due: eslint --fix

Update docs/LockStatus.md
  docs/LockStatus.md
Due: prettier

Revert usage on `<ListIterator>` in `ra-ui-materialui`
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.spec.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.stories.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Improve tests
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
Due: eslint --fix

Further improve the tests
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
Due: eslint --fix

Update docs/ListBase.md
  docs/ListBase.md
Due: prettier

Remove cypress download directory
  cypress/cypress/downloads/downloads.html
Due: none

Fix gitignore and cypress config
  .gitignore
  cypress/cypress.config.js
Due: eslint --fix

Improve code
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeader.tsx
  packages/ra-ui-materialui/src/list/datatable/SelectPageCheckbox.tsx
Due: eslint --fix

[Doc] [ra-core] Fix index page links
  docs_headless/src/content/docs/index.mdx
Due: none

[no ci] [doc] [ra-core] Remove inapplicable tip from CustomRoutes.md
  docs_headless/src/content/docs/CustomRoutes.md
Due: prettier

[no ci] [doc] [ra-core] Remove dead links to DataTableBase
  docs_headless/src/content/docs/useUnselect.md
  docs_headless/src/content/docs/useUnselectAll.md
Due: prettier

[no ci] [doc] [ra-core] Only deploy ra-core docs on merge on master
  .github/workflows/deploy-doc-headless.yml
Due: none

[chore] release script: add DEBUG_PRINT_LIMIT to EE test
  scripts/release.sh
Due: none

v5.11.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.11.1
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.11.1
  LockOnMount.md
  LockStatus.md
  ReferenceFieldBase.md
  _data/versions.yml
  doc/5.11/LockOnMount.md
  doc/5.11/LockStatus.md
  doc/5.11/ReferenceFieldBase.md
  doc/5.11/navigation.html
  doc/5.11/useLockCallbacks.md
  doc/5.11/useLockOnCall.md
  doc/5.11/useLockOnMount.md
  navigation.html
  useLockCallbacks.md
  useLockOnCall.md
  useLockOnMount.md
Due: prettier

Improve headless doc introduction
  docs_headless/src/content/docs/Getting-Started.md
  docs_headless/src/content/docs/index.mdx
Due: prettier

Fix CRM demo when using Safari.
  examples/crm/src/providers/fakerest/dataProvider.ts
  examples/crm/src/providers/fakerest/fakeServer.ts
Due: eslint --fix

Fix demo when using Safari.
  examples/demo/src/dataProvider/graphql.ts
  examples/demo/src/dataProvider/rest.ts
  examples/demo/src/fakeServer/index.ts
  examples/demo/src/fakeServer/rest.ts
Due: eslint --fix

remove `ListIterator.tsx` and `ListIterator.md`
  docs/ListIterator.md
  packages/ra-core/src/controller/list/ListIterator.tsx
Due: eslint --fix, prettier

remove `ListIterator.spect.tsx` and `ListIterator.stories.tsx`
  packages/ra-core/src/controller/list/ListIterator.spec.tsx
  packages/ra-core/src/controller/list/ListIterator.stories.tsx
Due: eslint --fix
