Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

pass disable and readonly to useInput in DateTimeInput
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
Due: eslint --fix

pass disable and readonly to useInput in FileInput
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

pass disable and readonly to useInput in NullableBooleanInput
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

pass disable and readonly to useInput in NumberInput
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

pass disable and readonly to useInput in RadioButtonGroupInput
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
Due: eslint --fix

pass disable and readonly to useInput in SelectArrayInput
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

code review 2
  examples/simple/src/index.tsx
  packages/ra-core/src/routing/useRedirect.spec.tsx
  packages/ra-core/src/storybook/FakeBrowser.tsx
Due: eslint --fix

remove useless mutation side effect
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/BooleanInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.stories.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.stories.tsx
  packages/ra-ui-materialui/src/input/NumberInput.stories.tsx
  packages/ra-ui-materialui/src/input/PasswordInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/TimeInput.stories.tsx
Due: eslint --fix

code review 3
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
Due: eslint --fix

remove useless diff
  docs/BooleanInput.md
  docs/CheckboxGroupInput.md
  docs/RadioButtonGroupInput.md
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/SimpleFormIterator.md
Due: prettier

remove readonly and disabled from TranslatableInput doc
  docs/TranslatableInputs.md
Due: prettier

clarify difference between read-only and disabled
  docs/Inputs.md
  docs/SimpleFormIterator.md
Due: prettier

fix blocker is not stable
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
Due: eslint --fix

Doc: mention the signal parameter section in AutocompleteInput doc
  docs/AutocompleteInput.md
Due: prettier

Fix `<SortButton>` should use the provided `resource` prop to build its label
  packages/ra-ui-materialui/src/button/SortButton.tsx
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

remove useless console.log
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.stories.tsx
Due: eslint --fix

Update packages/ra-ui-materialui/src/input/TimeInput.tsx
  packages/ra-ui-materialui/src/input/TimeInput.tsx
Due: eslint --fix

changelog for v4.16.12
  CHANGELOG.md
Due: prettier

v4.16.12
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs for 4.16.12
  DatagridAG.md
  Fields.md
  Inputs.md
  List.md
  SelectInput.md
  SimpleFormIterator.md
  TranslatableInputs.md
  _data/versions.yml
  css/style-v20.css
  doc/4.16/DatagridAG.md
  doc/4.16/Fields.md
  doc/4.16/Inputs.md
  doc/4.16/List.md
  doc/4.16/SelectInput.md
  doc/4.16/SimpleFormIterator.md
  doc/4.16/TranslatableInputs.md
  doc/4.16/css/style-v20.css
Due: prettier

[no ci] [Doc] Make the BC about using a data router clearer in the Upgrade guide
  docs/Upgrade.md
Due: prettier

[no ci] add link to react-router docs
  docs/Upgrade.md
Due: prettier

[no ci] code review
  docs/Upgrade.md
Due: prettier

Introduce ReferenceBase Components
  packages/ra-core/src/controller/field/index.ts
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-core/src/controller/input/index.ts
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Update following react-query & react-router upgrade
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
Due: eslint --fix

[Doc] Fix not parsed mutationOptions value in useNotify/undoable
  docs/useNotify.md
Due: prettier

Betters stories
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
Due: eslint --fix

Fix ReferenceInputBase tests
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
Due: eslint --fix

Revert ReferenceField changes
  packages/ra-core/src/controller/field/index.ts
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Introduce ReferenceFieldBase
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
  packages/ra-core/src/controller/field/ReferenceFieldContext.tsx
  packages/ra-core/src/controller/field/index.ts
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-core/src/core/ResourceContextProvider.tsx
  packages/ra-core/src/util/useFieldValue.ts
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

update doc
  docs/AccordionForm.md
Due: prettier

update doc
  docs/Search.md
  docs/SearchWithResult.md
Due: prettier

surround code snippets
  docs/Search.md
  docs/SearchWithResult.md
Due: prettier

Fix build & cleanup
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
Due: eslint --fix

Remove debug code
  packages/ra-core/src/util/useFieldValue.ts
Due: eslint --fix

Add stories and tests
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

More stories and tests
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
Due: eslint --fix

Apply review suggestions
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
