Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

add necessary ts-ignore
  packages/ra-core/src/form/useInput.ts
Due: eslint --fix

Fix build
  packages/ra-core/package.json
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
  yarn.lock
Due: eslint --fix, prettier

Introduce beginner mode in tutorial and apply suggestions
  docs/Tutorial.md
  docs/js/ra-doc-exec.js
  docs/navigation.html
Due: eslint --fix, prettier

types and context interfaces
  examples/demo/src/themes/ThemContextProvider.tsx
  examples/demo/src/themes/ThemeToggler.tsx
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

Update Remix v2 instructions
  docs/Remix.md
  docs/img/remix-v2-structure.png
Due: prettier

Review
  docs/css/style-v18.css
Due: prettier

Rename stylesheet
  docs/_layouts/default.html
  docs/css/style-v19.css
  docs/documentation.html
Due: prettier

feat: add state props in (Create)Button
  examples/demo/src/products/CreateRelatedReviewButton.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/demo/src/reviews/ReviewCreate.tsx
  examples/demo/src/reviews/StarRatingInput.tsx
  examples/demo/src/reviews/index.ts
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
Due: eslint --fix

feat: update documentation
  docs/Create.md
Due: prettier

feat: ease the usage of the CreateButton
  docs/Create.md
  examples/demo/src/products/CreateRelatedReviewButton.tsx
  examples/demo/src/reviews/StarRatingInput.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
Due: eslint --fix, prettier

feat: fix missing parameter types of the e-commerce demo
  examples/demo/src/reviews/ReviewCreate.tsx
Due: eslint --fix

feat: Button does not accept to props by default
  examples/crm/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/auth/AuthError.tsx
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

add the synthwave theme
  examples/demo/index.html
  examples/demo/src/themes/synthwaveTheme.ts
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

fix theme application
  examples/demo/src/App.tsx
Due: eslint --fix

remove purple colo
  examples/demo/src/visitors/VisitorList.tsx
Due: eslint --fix

Call new function if passed
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
Due: eslint --fix

Update docs
  docs/FilteringTutorial.md
Due: prettier

datagrid style
  examples/demo/src/themes/synthwaveTheme.ts
Due: eslint --fix

MuiToolbar style
  examples/demo/src/reviews/ReviewEditToolbar.tsx
  examples/demo/src/themes/synthwaveTheme.ts
Due: eslint --fix

add minimalTheme
  examples/demo/index.html
  examples/demo/src/themes/minimalTheme.ts
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

add margin top to whole layout in light and dark theme
  examples/demo/src/themes/darkTheme.ts
  examples/demo/src/themes/lightTheme.ts
Due: eslint --fix

introduce popTheme
  examples/demo/src/themes/popTheme.ts
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

fix toolbar
  examples/demo/src/themes/popTheme.ts
Due: eslint --fix

rename ThemeToggler to ThemeSwipper
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/themes/ThemeSwipper.tsx
Due: eslint --fix

introduce chiptuneTheme
  examples/demo/index.html
  examples/demo/src/themes/chiptuneTheme.ts
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

Add InputHelperText use to Inputs doc
  docs/Inputs.md
Due: prettier

+'d i18n on Inputs.md
  docs/Inputs.md
Due: prettier

Fix usage of helperText at useInput doc
  docs/useInput.md
Due: prettier

Revert earlier examples
  docs/Inputs.md
  docs/useInput.md
Due: prettier

RM redundant remndr, add InputHelperText tip
  docs/useInput.md
Due: prettier

Added note about formstate section
  docs/useInput.md
Due: prettier

remove defaultTheme from chiptuneTheme
  examples/demo/src/themes/chiptuneTheme.ts
Due: eslint --fix

feat: revert mui upgrade
  examples/crm/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

feat: remove react-is dependency
  packages/ra-core/package.json
  yarn.lock
Due: prettier

Cleanup simple example
  examples/simple/src/i18nProvider-next.tsx
  examples/simple/src/index.tsx
Due: eslint --fix

Fix pluralization & convertRaMessagesToI18next
  packages/ra-i18n-i18next/src/index.ts
Due: eslint --fix

Add stories
  packages/ra-i18n-i18next/src/index.stories.tsx
Due: eslint --fix

feat: fix CloneButton type
  packages/ra-ui-materialui/src/button/CloneButton.tsx
Due: eslint --fix

Refactor to allow lazy loading
  examples/simple/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-i18next/src/index.stories.tsx
  packages/ra-i18n-i18next/src/index.ts
  yarn.lock
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
