Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Added tests
  packages/ra-ui-materialui/src/form/TabbedForm.spec.tsx
Due: eslint --fix

[Doc] Fix missing DataProviderContext in Querying the API chapter
  docs/Actions.md
Due: prettier

Update docs/Actions.md
  docs/Actions.md
Due: prettier

Export AutoCompleteArrayInput Props Interface
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/index.ts
Due: eslint --fix

Fix forward compatibility between react-admin packages
  packages/ra-test/package.json
  packages/react-admin/package.json
Due: prettier

improve design algolia search modal
  docs/_layouts/default.html
  docs/css/style-v9.css
Due: prettier

custom modal doc search
  docs/_layouts/default.html
  docs/css/docsearch.css
  docs/css/style-v9.css
Due: prettier

Add missing field in interface of <DeleteButton> props
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
Due: eslint --fix

Handle if type can't be found
  packages/ra-data-graphql-simple/src/buildVariables.js
Due: eslint --fix

Fix SimpleForm JDocs
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
Due: eslint --fix

Export SimpleFormView
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/SimpleFormView.tsx
  packages/ra-ui-materialui/src/form/index.tsx
Due: eslint --fix

Moved SimpleFormView.defaultProps to SimpleFormView.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/SimpleFormView.tsx
Due: eslint --fix

Remove unused imports
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
Due: eslint --fix

Fix NullabelBooleanInput Ignores defaultValue
  packages/ra-ui-materialui/src/input/NullableBooleanInput.spec.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

prevent ts error on label
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
Due: eslint --fix

export type
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/index.ts
Due: eslint --fix

[Doc] Fix section title level in List and Create/Edit chapters
  docs/CreateEdit.md
  docs/List.md
Due: prettier

Export TabbedFormView
  packages/ra-ui-materialui/src/form/index.tsx
Due: eslint --fix

Reset submission error when the field is changed
  packages/ra-core/package.json
  packages/ra-core/src/form/FormWithRedirect.spec.tsx
  packages/ra-core/src/form/FormWithRedirect.tsx
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useResetSubmitErrors.ts
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Do not use useFormState
  packages/ra-core/src/form/FormWithRedirect.spec.tsx
  packages/ra-core/src/form/useResetSubmitErrors.ts
Due: eslint --fix

Create defaultMutators outside of FormWithRedirect
  packages/ra-core/src/form/FormWithRedirect.tsx
Due: eslint --fix

Prepare changelog for v3.13.2
  CHANGELOG.md
Due: prettier

v3.13.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

rename doc css
  docs/_layouts/default.html
  docs/css/style-v10.css
Due: prettier

Allow BooleanField component to evaluate its value in a non strict way
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix

Added documentation
  docs/Fields.md
Due: prettier

Added tests
  packages/ra-ui-materialui/src/field/BooleanField.spec.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix

Add looseValue prop to BooleanField allowing to evaluate its value in a non strict way
  docs/Fields.md
  packages/ra-ui-materialui/src/field/BooleanField.spec.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix, prettier

Fix tests
  packages/ra-ui-materialui/src/field/BooleanField.spec.tsx
Due: eslint --fix

Add ability to omit basePath in Reference fields
  examples/simple/src/comments/CommentList.tsx
  packages/ra-core/src/controller/field/getResourceLinkPath.ts
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

Fix unit tests
  packages/ra-core/src/controller/field/ReferenceArrayFieldController.spec.tsx
  packages/ra-core/src/controller/field/ReferenceArrayFieldController.tsx
Due: eslint --fix

Fix SortButton labels must have a valid translatino message
  packages/ra-core/src/util/getFieldLabelTranslationArgs.ts
  packages/ra-ui-materialui/src/button/SortButton.tsx
Due: eslint --fix

Prepare changelog for v3.13.3
  CHANGELOG.md
Due: prettier

v3.13.3
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

upgrade to v3.13.3
  _data/versions.yml
Due: none

Remove duplicated line
  packages/ra-ui-materialui/src/form/index.tsx
Due: eslint --fix

Fix <Admin> with no i18nProvider logs warnings for missing translations
  packages/react-admin/src/defaultI18nProvider.spec.ts
  packages/react-admin/src/defaultI18nProvider.ts
Due: eslint --fix

Fix actions={false] in a View component throws a runtime warning
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
Due: eslint --fix

Add ability to use an element as label in `<FilterListItem>`
  packages/ra-ui-materialui/src/list/filter/FilterListItem.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
