Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix custom onChange handlers should have access to updated context in puts value
  packages/ra-core/src/form/useInput.spec.tsx
  packages/ra-core/src/form/useInput.ts
Due: eslint --fix

Revert demo changes
  examples/crm/src/contacts/TagsListEdit.tsx
  examples/crm/src/types.ts
  examples/demo/src/types.ts
Due: eslint --fix

Change getContextValue for setContextValue
  packages/ra-core/src/form/useInput.spec.tsx
Due: eslint --fix

Revert SortPayload changes
  packages/ra-core/src/types.ts
Due: eslint --fix

Revert SaveButton changes
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix

Make BooleanField stories use a Resource
  packages/ra-ui-materialui/src/field/BooleanField.stories.tsx
Due: eslint --fix

Use RaRecord In ReferenceArrayField for now
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
Due: eslint --fix

Reorganization
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
Due: eslint --fix

Fix string casting
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Add support for tsx in prism
  docs/js/prism.js
Due: eslint --fix

Fix FileFIeld and ImageField
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
Due: eslint --fix

Revert withLifecycleCallbacks changes
  packages/ra-core/src/dataProvider/withLifecycleCallbacks.ts
Due: eslint --fix

Simplify form reset on record change
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Forward other props supported by useForm
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

SImplify defaultProps handling
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
  packages/ra-ui-materialui/src/field/genericMemo.ts
Due: eslint --fix

Fix ReferenceFieldView backward compatibility
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Backport ReferenceFieldView fix
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/field/genericMemo.ts
Due: eslint --fix

Expose setNotifications methods in notification contexts
  packages/ra-core/src/notification/NotificationContext.ts
  packages/ra-core/src/notification/NotificationContextProvider.tsx
Due: eslint --fix

Move hotscript in dev deps
  packages/ra-ui-materialui/package.json
Due: prettier

Add v4.10.3 changelog
  CHANGELOG.md
Due: prettier

v4.10.3
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs to v4.10.3
  AdvancedTutorials.md
  AuthProviderList.md
  Count.md
  CreateReactAdmin.md
  Datagrid.md
  FilteringTutorial.md
  RealtimeDataProvider.md
  Tutorial.md
  _data/versions.yml
  css/style-v16.css
  doc/4.10/AdvancedTutorials.md
  doc/4.10/AuthProviderList.md
  doc/4.10/Count.md
  doc/4.10/CreateReactAdmin.md
  doc/4.10/Datagrid.md
  doc/4.10/FilteringTutorial.md
  doc/4.10/RealtimeDataProvider.md
  doc/4.10/Tutorial.md
  doc/4.10/documentation.html
  doc/4.10/img/create-react-admin.webm
  doc/4.10/navigation.html
  documentation.html
  img/create-react-admin.webm
  navigation.html
Due: prettier

Fix SimpleForm and TabbedForm do not sanitize the resetOptions prop
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
Due: eslint --fix

Update prism
  docs/css/prism.css
  docs/js/prism.js
Due: eslint --fix, prettier

Bootstrap TS sections in documentation
  docs/useGetList.md
  docs/useGetListLive.md
  docs/useGetMany.md
  docs/useGetManyReference.md
  docs/useGetOne.md
  docs/useGetOneLive.md
  docs/useRecordContext.md
Due: prettier

Add WithListContext component
  docs/ArrayField.md
  docs/ListBase.md
  docs/ListTutorial.md
  docs/Reference.md
  docs/ReferenceArrayField.md
  docs/ReferenceManyField.md
  docs/SingleFieldList.md
  docs/WithListContext.md
  docs/WithRecord.md
  docs/img/ReferenceArrayField-default-child.png
  docs/img/WithListContext-chart.png
  docs/navigation.html
  docs/useListContext.md
  docs/useRecordContext.md
  examples/demo/src/dashboard/CardWithIcon.tsx
  examples/demo/src/dashboard/NewCustomers.tsx
  packages/ra-core/package.json
  packages/ra-core/src/controller/list/WithListContext.stories.tsx
  packages/ra-core/src/controller/list/WithListContext.tsx
  packages/ra-core/src/controller/list/index.ts
  yarn.lock
Due: eslint --fix, prettier

Allow boolean return
  packages/ra-core/src/controller/list/WithListContext.tsx
Due: eslint --fix

Fix liquid error
  docs/RichTextField.md
Due: prettier

Add Full app story for Datagrid component
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
Due: eslint --fix

Update package.json
  packages/ra-data-graphql-simple/package.json
Due: prettier

Fix typo
  packages/ra-core/src/controller/list/useExpanded.tsx
Due: eslint --fix

Various installation adjustments
  docs/CreateReactAdmin.md
  docs/CreateReactApp.md
  docs/Features.md
  docs/Tutorial.md
  docs/css/style-v16.css
  docs/navigation.html
Due: prettier

Re-minify prism
  docs/js/prism.js
Due: eslint --fix

Fix list storage in demo
  examples/demo/src/dashboard/NewCustomers.tsx
Due: eslint --fix

[Doc] Fix `<List disableSyncWithLocation>` doc about persisting list params in the store
  docs/List.md
  docs/useListController.md
Due: prettier

Apply review
  docs/useGetList.md
  docs/useGetListLive.md
  docs/useGetMany.md
  docs/useGetManyReference.md
  docs/useGetOne.md
  docs/useGetOneLive.md
  docs/useRecordContext.md
Due: prettier

Rename variables
  docs/useGetList.md
  docs/useGetListLive.md
  docs/useGetMany.md
  docs/useGetManyReference.md
  docs/useGetOne.md
  docs/useGetOneLive.md
  docs/useRecordContext.md
Due: prettier
