Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix non null id types
  packages/ra-data-graphql-simple/src/buildVariables.js
Due: eslint --fix

Fix AutocompleteInput property list
  docs/Inputs.md
Due: prettier

remove comment on analytics
  _layouts/default.html
Due: none

Add tocbot to loaded scripts
  index.html
Due: none

Add tocbot to loaded styles
  index.html
Due: none

Add a disclaimer about the analytics usage
  _layouts/default.html
  index.html
Due: none

Add tocbot to the documentation and not the home page
  _layouts/default.html
  index.html
Due: none

Improve the design of the new toc
  _layouts/default.html
  css/tocbot.css
Due: prettier

Replace the hand made toc by tocbot
  _layouts/default.html
Due: none

Manage the table of contents of the documentation using tocbot
  docs/_layouts/default.html
  docs/css/tocbot.css
Due: prettier

Add a disclaimer about the analytics usage
  docs/_layouts/default.html
Due: none

update toc to master
  _layouts/default.html
  css/tocbot.css
Due: prettier

Fic TOCbot style
  docs/css/style-v6.css
  docs/css/tocbot.css
Due: prettier

update to master
  css/style-v6.css
  css/tocbot.css
Due: prettier

Fix version selector
  docs/_includes/versions.html
  docs/_layouts/default.html
Due: none

update to master
  _layouts/default.html
Due: none

[Demo] Improve Order Edit UI
  examples/data-generator/src/customers.ts
  examples/demo/src/dashboard/CardWithIcon.tsx
  examples/demo/src/dashboard/NewCustomers.tsx
  examples/demo/src/dashboard/OrderChart.tsx
  examples/demo/src/dashboard/PendingReviews.tsx
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/orders/NbItemsField.tsx
  examples/demo/src/orders/OrderEdit.tsx
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/orders/Totals.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/AddressField.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
Due: eslint --fix

Fix TypeScript compilation error on defaultIdentity
  packages/ra-core/src/auth/AuthContext.tsx
Due: eslint --fix

Add number of orders in tab
  examples/demo/src/orders/OrderList.tsx
Due: eslint --fix

fix mobile styles
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/orders/OrderEdit.tsx
Due: eslint --fix

Fix missing TypeScript types for AppBar and other layout component
  packages/ra-ui-materialui/src/layout/HideOnScroll.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Make sure that the link buttons take up all the space available in the dashboard cards
  examples/demo/src/dashboard/NewCustomers.tsx
  examples/demo/src/dashboard/PendingReviews.tsx
Due: eslint --fix

Fix the PendingReviews link to open the reviews instead of the customers
  examples/demo/src/dashboard/PendingReviews.tsx
Due: eslint --fix

Fix the color of the Links in OrderEdit
  examples/demo/src/orders/OrderEdit.tsx
Due: eslint --fix

tweak dark theme to be less ugly
  examples/demo/src/layout/Logo.tsx
  examples/demo/src/layout/themes.ts
Due: eslint --fix

[Demo] Fix bug in Reviews row style
  examples/demo/src/reviews/ReviewListDesktop.tsx
  examples/demo/src/reviews/rowStyle.tsx
Due: eslint --fix

[demo] fixed undefined choice in autocomplete suggestions
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/reviews/ReviewFilter.tsx
Due: eslint --fix

prepare changelog for v3.9.4
  CHANGELOG.md
Due: prettier

v3.9.4
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update doc to v3.9.4
  Actions.md
  Authentication.md
  Caching.md
  CreateEdit.md
  DataProviders.md
  Fields.md
  Inputs.md
  List.md
  Reference.md
  Theming.md
  Translation.md
  _data/versions.yml
  doc/3.9/Actions.md
  doc/3.9/Authentication.md
  doc/3.9/Caching.md
  doc/3.9/CreateEdit.md
  doc/3.9/DataProviders.md
  doc/3.9/Fields.md
  doc/3.9/Inputs.md
  doc/3.9/List.md
  doc/3.9/Reference.md
  doc/3.9/Theming.md
  doc/3.9/Translation.md
Due: prettier

Speed up show & hide filter
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

Add a GET_COUNT fetch action for graphql dataProvider
  packages/ra-data-graphql-simple/src/buildGqlQuery.js
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.js
  packages/ra-data-graphql-simple/src/index.js
  packages/ra-data-graphql/src/constants.js
  packages/ra-data-graphql/src/index.js
Due: eslint --fix

Make FilterListItem use setFilter without debounce
  packages/ra-core/src/controller/useListController.ts
  packages/ra-core/src/controller/useListParams.ts
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
Due: eslint --fix

Fix typo in comment
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

[WIP] make useReferenceInputController output ListContext props
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

small progress
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Fix docs typos
  docs/Actions.md
Due: prettier

use useGetList instead of useGetMatchingReferences
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Allow formClassName in SimpleFormIterator
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
Due: eslint --fix

Added example on rowStyle prop usage inside SimpleList
  docs/List.md
Due: prettier
