Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Added documentation for canRowSelect prop.
  docs/List.md
Due: prettier

Add types for button components
  packages/ra-core/src/dataProvider/useMutation.ts
  packages/ra-core/src/sideEffect/redirection.ts
  packages/ra-core/src/sideEffect/useRedirect.ts
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CloneButton.spec.tsx
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.js
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/button/ExportButton.spec.ts
  packages/ra-ui-materialui/src/button/ExportButton.tsx
  packages/ra-ui-materialui/src/button/ListButton.tsx
  packages/ra-ui-materialui/src/button/RefreshButton.tsx
  packages/ra-ui-materialui/src/button/RefreshIconButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
  yarn.lock
Due: eslint --fix

Make basePath optional
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/button/ExportButton.tsx
  packages/ra-ui-materialui/src/button/ListButton.tsx
  packages/ra-ui-materialui/src/button/RefreshButton.tsx
  packages/ra-ui-materialui/src/button/RefreshIconButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
Due: eslint --fix

Harmonize defaultIcon
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/button/ExportButton.tsx
  packages/ra-ui-materialui/src/button/ListButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
Due: eslint --fix

Fix typos in comments
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix

Fix required types
  packages/ra-ui-materialui/src/button/ExportButton.tsx
Due: eslint --fix

Update docs/List.md
  docs/List.md
Due: prettier

Renamed Datagrid's canSelectRow prop to isRowSelectable
  docs/List.md
  packages/ra-ui-materialui/src/list/Datagrid.js
  packages/ra-ui-materialui/src/list/DatagridBody.js
Due: eslint --fix, prettier

fix(TabbedForm): organize import
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Prepare changelog for v3.0.2
  CHANGELOG.md
Due: prettier

v3.0.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphcool/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Re-apply changes from ba48c62 accidentally overriden by fd7ba05
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix

fix(dependencies): adding missing query-string dependency
  packages/ra-ui-materialui/package-lock.json
  packages/ra-ui-materialui/package.json
Due: prettier

fix(dependencies): added missing dev dependencies
  packages/react-admin/package-lock.json
  packages/react-admin/package.json
Due: prettier

fix: deleted unexpected semicolon
  doc/3.0/Tutorial.md
Due: prettier

Fix typo
  docs/Tutorial.md
Due: prettier

Convert demo to TypeScript
  examples/demo/package.json
  examples/demo/src/authProvider.ts
  examples/demo/src/index.tsx
  examples/demo/src/react-app-env.d.ts
  examples/demo/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

Bootstrap react-admin types
  examples/demo/src/App.tsx
  examples/demo/src/react-admin.d.ts
Due: eslint --fix

Configuration
  examples/demo/src/configuration/Configuration.tsx
  examples/demo/src/configuration/actions.ts
  examples/demo/src/types.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Layout
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/layout/Layout.tsx
  examples/demo/src/layout/Login.tsx
  examples/demo/src/layout/Logo.js
  examples/demo/src/layout/Logo.tsx
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/layout/SubMenu.tsx
  examples/demo/src/layout/index.ts
  examples/demo/src/layout/themes.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix Form breaks when setting undefined value to object
  packages/ra-core/src/form/sanitizeEmptyValues.spec.ts
  packages/ra-core/src/form/sanitizeEmptyValues.ts
Due: eslint --fix

Fix typos
  packages/ra-core/src/form/sanitizeEmptyValues.ts
Due: eslint --fix

Categories
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/categories/LinkToRelatedProducts.tsx
  examples/demo/src/categories/index.ts
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/products/ProductRefField.js
  examples/demo/src/products/ProductRefField.tsx
  examples/demo/src/products/ThumbnailField.tsx
  examples/demo/src/types.ts
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix useCreateController
  packages/ra-core/src/controller/useCreateController.ts
Due: eslint --fix

build(dependencies): remove package-lock.json and more permisive version
  packages/ra-ui-materialui/package-lock.json
  packages/ra-ui-materialui/package.json
Due: prettier

fix(LoadingIndicator): remove unused isLoading props (https://material-ui.com/api/circular-progress/)
  packages/ra-ui-materialui/src/layout/LoadingIndicator.js
Due: eslint --fix

Improve empty state page
  packages/ra-language-english/index.js
  packages/ra-ui-materialui/src/list/EmptyState.js
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

Add tests
  packages/ra-ui-materialui/src/list/List.spec.js
Due: eslint --fix

Add section about the emptyState prop
  docs/List.md
Due: prettier

Update french translations
  packages/ra-language-french/index.js
Due: eslint --fix

Fix missing mention about AUTH_GET_PERMISSIONS in Upgrade guide
  UPGRADE.md
Due: prettier

Fix typo
  UPGRADE.md
Due: prettier

Review
  UPGRADE.md
Due: prettier

Invoices & Refactor to use FC
  examples/demo/package.json
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/categories/LinkToRelatedProducts.tsx
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/invoices/InvoiceShow.tsx
  examples/demo/src/invoices/index.ts
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/products/ProductRefField.tsx
  examples/demo/src/products/ThumbnailField.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/AddressField.js
  examples/demo/src/visitors/AddressField.tsx
  examples/demo/src/visitors/FullNameField.tsx
  yarn.lock
Due: eslint --fix, prettier

Fix deps
  examples/demo/package.json
Due: prettier

Visitors
  examples/demo/src/reviews/StarRatingField.js
  examples/demo/src/reviews/StarRatingField.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/AddressField.tsx
  examples/demo/src/visitors/AvatarField.js
  examples/demo/src/visitors/AvatarField.tsx
  examples/demo/src/visitors/ColoredNumberField.js
  examples/demo/src/visitors/ColoredNumberField.tsx
  examples/demo/src/visitors/CustomerLinkField.js
  examples/demo/src/visitors/CustomerLinkField.tsx
  examples/demo/src/visitors/CustomerReferenceField.tsx
  examples/demo/src/visitors/FullNameField.tsx
  examples/demo/src/visitors/MobileGrid.tsx
  examples/demo/src/visitors/SegmentInput.tsx
  examples/demo/src/visitors/SegmentsField.js
  examples/demo/src/visitors/SegmentsField.tsx
  examples/demo/src/visitors/SegmentsInput.tsx
  examples/demo/src/visitors/VisitorCreate.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
  examples/demo/src/visitors/VisitorList.tsx
  examples/demo/src/visitors/index.ts
  examples/demo/src/visitors/segments.ts
  packages/ra-core/src/form/types.ts
Due: eslint --fix

added FileInputPreview and ImageInputPreview to export
  packages/ra-ui-materialui/src/input/index.js
Due: eslint --fix

Fix fullWidth support on AutoCompleteInput
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix AutocompleteArrayIpnut fullWidth and docs
  docs/Inputs.md
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
