Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix yarn.lock
  yarn.lock
Due: none

Misc adjustments
  docs/Edit.md
  docs/Show.md
  docs/navigation.html
  packages/ra-core/src/controller/usePrevNextController.ts
  packages/ra-ui-materialui/src/button/PrevNextButtons.spec.tsx
  packages/ra-ui-materialui/src/button/PrevNextButtons.tsx
Due: eslint --fix, prettier

Remove useless clone
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

Update PrevNextButtons.md
  docs/PrevNextButtons.md
Due: prettier

Do not use permanent filter to initialize the store
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

[no-ci] Doc: add screencasts for ReferenceManyToManyInput
  docs/ReferenceManyToManyInput.md
  docs/img/reference-many-to-many-input.mp4
  docs/img/reference-many-to-many-input.webm
Due: prettier

[no-ci] Doc: add screenshot for ReferenceManyToManyField and update snippet according screenshot
  docs/ReferenceManyToManyField.md
  docs/img/referen-many-to-many-field.png
Due: prettier

Doc: if jsCode is empty, display a comment inviting to switch to TS
  docs/js/ra-doc-exec.js
Due: eslint --fix

Convert Admin documentation to TS
  docs/Admin.md
Due: prettier

Doc: replace screenshot by a 960px screeshot to fit layout
  docs/ReferenceManyToManyField.md
  docs/img/referen-many-to-many-field.png
  docs/img/reference-many-to-many-field.png
Due: prettier

Convert Datagrid documentation to TS
  docs/Datagrid.md
Due: prettier

Revert "Fix UpdateButton with custom notification doesn't close the confirmation dialog"
  docs/UpdateButton.md
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
Due: eslint --fix, prettier

Add support for `<PrevNextButtons filterDefaultValues>` prop
  docs/PrevNextButtons.md
  examples/demo/src/orders/OrderEdit.tsx
  packages/ra-core/src/controller/usePrevNextController.ts
  packages/ra-ui-materialui/src/button/PrevNextButtons.tsx
Due: eslint --fix, prettier

Fix linter warning
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

Do not fetch the list if the cache contains enough data to determine prev and next id
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

Fixed Typo in useInfiniteGetList.md
  docs/useInfiniteGetList.md
Due: prettier

Add a note about performance
  docs/PrevNextButtons.md
Due: prettier

Update yarn.lock
  yarn.lock
Due: none

fix yarn.lock
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

Fix bug when navigating to a page where there are no records yet
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

Fix type
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

Apply review suggestions
  docs/Admin.md
Due: prettier

Apply suggestions from code review
  docs/Datagrid.md
Due: prettier

Fix indentation
  docs/Datagrid.md
Due: prettier

Apply suggestions from review
  docs/Datagrid.md
Due: prettier

Fix DatagridHeader example
  docs/Datagrid.md
Due: prettier

Fix tests
  packages/ra-ui-materialui/src/button/PrevNextButtons.spec.tsx
  packages/ra-ui-materialui/src/button/PrevNextButtons.stories.tsx
Due: eslint --fix

update screencastes according to reviews
  docs/img/reference-many-to-many-input.mp4
  docs/img/reference-many-to-many-input.webm
Due: none

update screenshot according to reviews
  docs/img/reference-many-to-many-field.png
Due: none

update model and snippet to show component with band resource
  docs/ReferenceManyToManyInput.md
Due: prettier

update snippet and text to match the model
  docs/ReferenceManyToManyField.md
Due: prettier

Add `<ResourceMenuItems>` to facilitate custom menus
  docs/Menu.md
  docs/img/menu-with-children.png
  examples/simple/src/posts/PostList.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/ResourceMenuItems.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix, prettier

fix NumberInput setFocus
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

Review
  packages/ra-core/src/controller/usePrevNextController.ts
Due: eslint --fix

[Doc] Update the Data Fetching documentation
  docs/Actions.md
  docs/Admin.md
  docs/DataProviderIntroduction.md
  docs/DataProviderWriting.md
  docs/DataProviders.md
  docs/EditTutorial.md
  docs/Features.md
  docs/Resource.md
  docs/ShowTutorial.md
  docs/Tutorial.md
  docs/addRefreshAuthToDataProvider.md
  docs/fetchJson.md
  docs/navigation.html
  docs/useCreate.md
  docs/useDataProvider.md
  docs/useDelete.md
  docs/useDeleteMany.md
  docs/useGetList.md
  docs/useGetMany.md
  docs/useUpdate.md
  docs/useUpdateMany.md
  docs/withLifecycleCallbacks.md
Due: prettier

Apply suggestions from code review
  docs/DataProviderWriting.md
  docs/DataProviders.md
Due: prettier

review
  docs/DataProviders.md
Due: prettier

update screenshot and snippet with label "Performances"
  docs/ReferenceManyToManyField.md
  docs/img/reference-many-to-many-field.png
Due: prettier
