Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

[TS] Fix strict null check error in CoreAdminContext
  packages/ra-core/src/auth/AuthContext.tsx
  packages/ra-core/src/auth/index.ts
  packages/ra-core/src/auth/useAuthProvider.ts
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix

[TS] Fix errors in core
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
Due: eslint --fix

[TS] Fix TS errors in core controllers
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/list/useUnselect.ts
Due: eslint --fix

[TS] Fix various TS compilation errors
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/form/FormDataConsumer.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
  packages/ra-core/src/preferences/useSetInspectorTitle.ts
Due: eslint --fix

[TS] Mix more types
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/controller/usePrevNextController.ts
  packages/ra-core/src/core/useGetRecordRepresentation.ts
Due: eslint --fix

Fix tests
  packages/ra-core/src/auth/useCheckAuth.spec.tsx
  packages/ra-core/src/auth/useGetIdentity.spec.tsx
  packages/ra-core/src/auth/useGetIdentity.stories.tsx
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
Due: eslint --fix

Fix test
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
Due: eslint --fix

[TS] Fix strict compilation errors in core
  packages/ra-core/src/form/FormGroupContext.ts
  packages/ra-core/src/form/useFormGroup.ts
Due: eslint --fix

[TS] Fix more compilation errors in strict mode
  packages/ra-core/src/controller/field/ReferenceFieldContext.tsx
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/input/useReferenceParams.ts
Due: eslint --fix

Fix remaining compilation errors
  packages/ra-core/src/controller/list/useListParams.ts
  packages/ra-core/src/controller/saveContext/useRegisterMutationMiddleware.ts
  packages/ra-core/src/controller/useFilterState.ts
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-core/src/preferences/PreferencesEditorContextProvider.tsx
  packages/ra-core/tsconfig.json
Due: eslint --fix, prettier

Fix demo compilation, add upgrade guide
  docs/Upgrade.md
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/TagsListEdit.tsx
  examples/crm/src/notes/Note.tsx
  examples/demo/src/products/CreateRelatedReviewButton.tsx
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/RejectButton.tsx
  examples/demo/src/visitors/Aside.tsx
Due: eslint --fix, prettier

Fix type
  packages/ra-core/src/controller/list/useUnselectAll.ts
Due: eslint --fix

Fix type in useCreatePath
  packages/ra-core/src/routing/useCreatePath.ts
Due: eslint --fix

Fix tests
  packages/ra-core/src/core/OptionalResourceContextProvider.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

[TypeScript] Make types more strict in ra-ui-material-ui
  packages/ra-ui-materialui/src/AdminContext.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkExportButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/IconButtonWithTooltip.tsx
  packages/ra-ui-materialui/src/button/SortButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/detail/CreateActions.tsx
  packages/ra-ui-materialui/src/detail/EditActions.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
Due: eslint --fix

[Doc] Make Okta discoverable
  docs/AuthProviderList.md
Due: prettier

Change wording for adapters
  index.html
  landing-page/index.html
Due: none

Apply review
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Fix landing page link to auth providers
  index.html
  landing-page/index.html
Due: none

[Demo] Fix UI glitch in CRM demo
  examples/crm/src/Header.tsx
  examples/crm/src/notes/NewNote.tsx
Due: eslint --fix

Fix TS check failures in Datagrid
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeader.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandAllButton.tsx
Due: eslint --fix

Fix compilation errors in List
  packages/ra-ui-materialui/src/list/Count.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridLoading.tsx
Due: eslint --fix

Fix unit tests
  packages/ra-ui-materialui/src/list/Count.stories.tsx
Due: eslint --fix

[Doc] Add video tutorial to the CustomRoutes page
  docs/CustomRoutes.md
Due: prettier

fix test
  packages/ra-core/src/auth/useGetIdentity.spec.tsx
Due: eslint --fix

[Doc] Better explain the difference between the built-in actions in ra-rbac
  docs/AuthRBAC.md
Due: prettier

chore: add a doc check ci job
  .github/workflows/test.yml
  docs/Admin.md
  docs/_config.yml
Due: prettier

fix Admin.md
  docs/Admin.md
Due: prettier

edit / show title prop: add 'false' and callback choices
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

run linter
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

add test for custom page_title
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
Due: eslint --fix

add docs
  docs/Edit.md
  docs/Show.md
Due: prettier

doc(input): withGoogleMapsPlacesResource gist link added to Inputs documentation
  docs/Inputs.md
Due: prettier

Update landing page link to react-admin enterprise edition
  landing-page/index.html
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
