Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Add create-react-app tutorial
  docs/CreateReactApp.md
  docs/Remix.md
  docs/navigation.html
Due: prettier

fix for issue 7912
  packages/ra-data-simple-rest/src/index.ts
Due: eslint --fix

Fix typo
  documentation.html
Due: none

assign variable before export default
  docs/Tutorial.md
Due: prettier

Update useAuthProvider.md
  docs/useAuthProvider.md
Due: prettier

Stick menu to top when scrolling down
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Fix 7902
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Handle custom createValues
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/useSupportCreateSuggestion.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

added console warning
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

Update packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

use emptyArray variable which was also used before
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

added source in dependency
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

Fix warnings in Menu
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Fix CI
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
Due: eslint --fix

Fix Menu to avoid breaking changes by not extending MenuListProps
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Revert "[Fix] Stick menu to top when AppBar is collapsed"
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Fix appbar collapsed transition does not use theme
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Update changelog for 4.2.1
  CHANGELOG.md
Due: prettier

v4.2.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update lock file
  yarn.lock
Due: none

Add server side validation support
  docs/Validation.md
  examples/simple/src/dataProvider.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/SaveContext.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix, prettier

Fix tests
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Apply changes after review
  docs/Validation.md
  examples/simple/src/dataProvider.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
Due: eslint --fix, prettier

Fix filters list overflow on mobile
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

[Doc] Missing import in custom routes documentation
  docs/CustomRoutes.md
Due: prettier

Update CustomRoutes.md
  docs/CustomRoutes.md
Due: prettier

[Doc] Add IconMenu section
  docs/IconMenu.md
  docs/Menu.md
  docs/navigation.html
Due: prettier

The Section 'Removed connected-react-router' imports useNavigate from react-router instead of react-router-dom
  docs/Upgrade.md
Due: prettier

Clean margin and paddings
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Fix AppBar jiggles when scrolling down rapidly
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
Due: eslint --fix

Fix BulkDeleteWithConfirmButton does not work when mutationMode is undoable
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
Due: eslint --fix

Fix BulkUpdateWithConfirmButton, too
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
Due: eslint --fix

Close issue
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Remove !important
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
