Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Remove unnecessary dep for e2e-tests
  .github/workflows/test.yml
Due: none

Fix `useAuthProvider` may return `undefined` when no `authProvider` is available
  docs/Upgrade.md
  packages/ra-core/src/auth/AuthContext.tsx
  packages/ra-core/src/auth/useAuthProvider.ts
  packages/ra-core/src/auth/useCheckAuth.ts
  packages/ra-core/src/auth/useGetPermissions.ts
  packages/ra-core/src/auth/useLogin.ts
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix, prettier

prop table + prop sections
  docs/TreeWithDetails.md
  docs/img/ra-tree-lazy.mp4
  docs/img/ra-tree-lazy.webm
Due: prettier

Move middlewares to dataProvider hooks
  packages/ra-core/src/controller/create/CreateController.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/EditController.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Update documentation
  docs/Upgrade.md
  docs/useRegisterMutationMiddleware.md
Due: prettier

Apply review suggestions
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/useMutationMiddlewares.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useUpdate.optimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.pessimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
Due: eslint --fix

code review
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

Fix usePaginationState tests
  packages/ra-core/src/controller/usePaginationState.spec.ts
Due: eslint --fix

lint + fix code example
  docs/TreeWithDetails.md
Due: prettier

Fix SimpleList tests
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
Due: eslint --fix

Remove hotscript dependency
  packages/ra-core/package.json
  packages/ra-core/src/util/useFieldValue.ts
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/field/types.ts
Due: eslint --fix, prettier

[skip-ci] don't accept common input props
  docs/TreeWithDetails.md
Due: prettier

Fix typo
  docs/useRegisterMutationMiddleware.md
Due: prettier

Remove unnecessary console.log
  packages/ra-core/src/dataProvider/useUpdate.optimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.pessimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
Due: eslint --fix

Add comment
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix richtextinput deps
  packages/ra-input-rich-text/package.json
  yarn.lock
Due: prettier

Fix ra-no-code deps
  packages/ra-no-code/package.json
  yarn.lock
Due: prettier

Update testing-library
  examples/crm/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/ra-core/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

Fix useExpanded tests
  packages/ra-core/src/controller/list/useExpanded.spec.tsx
Due: eslint --fix

Fix DatagridRow tests
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Fix useStore tests
  packages/ra-core/src/store/useStore.spec.tsx
Due: eslint --fix

Fix useFilterState tests
  packages/ra-core/src/controller/useFilterState.spec.tsx
Due: eslint --fix

Fix ra-no-code tests
  packages/ra-no-code/src/Admin.spec.tsx
Due: eslint --fix

[skip-ci] document allowMultipleRoots
  docs/TreeWithDetails.md
Due: prettier

[skip-ci] document showLine
  docs/TreeWithDetails.md
  docs/img/show-line-tree.png
Due: prettier

[skip-ci] document Insert as first child
  docs/TreeWithDetails.md
Due: prettier

Fix storybook
  .storybook/main.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier

[skip-ci] document create/show/edit
  docs/TreeWithDetails.md
Due: prettier

Fix eslint warnings
  packages/ra-core/src/dataProvider/useUpdate.optimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
Due: eslint --fix

[skip-ci] fix img link in doc
  docs/TreeWithDetails.md
Due: prettier

[Doc] Add Forms dedicated chapter
  docs/AccordionForm.md
  docs/EditTutorial.md
  docs/Features.md
  docs/Form.md
  docs/Forms.md
  docs/Inputs.md
  docs/LongForm.md
  docs/Reference.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/WizardForm.md
  docs/img/Forms.png
  docs/img/form-layouts.png
  docs/navigation.html
Due: prettier

Show when a component name is a link
  docs/css/style-v20.css
Due: prettier

Spellcheck fix
  docs/Forms.md
Due: prettier

Apply suggestions from code review
  docs/Forms.md
Due: prettier

Update docs/Forms.md
  docs/Forms.md
Due: prettier

Specify that <PredictiveTextInput> is an enterprise component
  docs/TextInput.md
Due: prettier

[skip ci] add position and meta in useGetTree doc
  docs/useGetTree.md
Due: prettier

Apply review suggestions
  packages/ra-core/src/dataProvider/useUpdate.optimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.pessimistic.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
Due: eslint --fix

Update JSDoc
  packages/ra-core/src/controller/saveContext/useMutationMiddlewares.ts
Due: eslint --fix

Add create/edit node section and deletebranchbutton
  docs/TreeWithDetails.md
Due: prettier
