Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Add memoization
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableBody.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeader.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRow.tsx
  packages/ra-ui-materialui/src/list/datatable/SelectRowTableCell.tsx
  packages/ra-ui-materialui/src/list/datatable/context/Readme.md
Due: eslint --fix, prettier

Split context for performance
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelector.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorMenuItem.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableBody.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableCell.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableContext.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeader.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRow.tsx
  packages/ra-ui-materialui/src/list/datatable/SelectRowTableCell.tsx
  packages/ra-ui-materialui/src/list/datatable/context/DataTableCallbacksContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableConfigContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableDataContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableSelectedIdsContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableSortContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableStoreContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/index.ts
  packages/ra-ui-materialui/src/list/datatable/index.ts
Due: eslint --fix

Introduce NumberColumn
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.tsx
Due: eslint --fix

Add ability to omit columns
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/visitors/CustomerLinkField.tsx
  examples/demo/src/visitors/VisitorList.tsx
  examples/simple/src/posts/PostList.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelector.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorMenuItem.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableCell.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datatable/context/DataTableStoreContext.ts
Due: eslint --fix

Regice expand margin
  packages/ra-ui-materialui/src/list/datatable/DataTableRoot.tsx
Due: eslint --fix

Misc styles adjustments
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/theme/bwTheme.ts
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
Due: eslint --fix

Do some renaming
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableBody.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRow.tsx
Due: eslint --fix

Fix style
  examples/demo/src/reviews/ReviewListDesktop.tsx
Due: eslint --fix

migrate demo
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/reviews/ReviewListDesktop.tsx
  examples/demo/src/reviews/StarRatingField.tsx
Due: eslint --fix

Use in demos
  examples/demo/src/invoices/InvoiceList.tsx
  examples/simple/src/users/UserList.tsx
Due: eslint --fix

Improve story
  packages/ra-ui-materialui/src/list/datatable/DataTable.stories.tsx
Due: eslint --fix

use render context enum instead of multiple contexts
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelector.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableColumnSelectorContext.ts
  packages/ra-ui-materialui/src/list/datatable/DataTableHeader.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeaderContext.tsx
  packages/ra-ui-materialui/src/list/datatable/context/DataTableColumnRankContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/DataTableRenderContext.ts
  packages/ra-ui-materialui/src/list/datatable/context/index.ts
Due: eslint --fix

Fix button items order
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelector.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorItem.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.tsx
Due: eslint --fix

[WIP] Add drag and drop
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelector.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorMenuItem.tsx
Due: eslint --fix

Working prototype
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorMenuItem.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.stories.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
Due: eslint --fix

Fix typechecking
  examples/demo/src/dashboard/PendingReviews.tsx
  examples/demo/src/reviews/StarRatingField.tsx
  examples/demo/src/visitors/Aside.tsx
  examples/simple/src/users/UserList.tsx
Due: eslint --fix

Fix e2e tests
  cypress/support/ListPage.js
Due: eslint --fix

fix changeSelectedMenu implementation
  docs/js/turbo.js
Due: eslint --fix

improve scrollActiveMenuItemIntoView position and behavior
  docs/js/turbo.js
Due: eslint --fix

move out of turbo-frame and fix tocbot
  docs/_layouts/default.html
  docs/js/turbo.js
Due: eslint --fix

make `children` empty by default
  docs/Translate.md
  packages/ra-core/src/i18n/Translate.spec.tsx
  packages/ra-core/src/i18n/Translate.tsx
Due: eslint --fix, prettier

fix test provider
  packages/ra-core/src/i18n/TestTranslationProvider.tsx
Due: eslint --fix

pass children in translate function
  packages/ra-core/src/i18n/Translate.tsx
Due: eslint --fix

Apply Francois suggestion to useTranslate doc
  docs/useTranslate.md
Due: prettier

Improve compatibility with some package managers
  .eslintrc
  packages/create-react-admin/templates/common/vite.config.ts
  packages/ra-data-graphql/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: eslint --fix, prettier

Add support for pnpm
  packages/create-react-admin/src/StepInstall.tsx
  packages/create-react-admin/src/cli.tsx
  packages/create-react-admin/src/generateProject.ts
  packages/create-react-admin/templates/pnpm/vite.config.ts
Due: eslint --fix

[Doc] Add a screenshot to the `Tree` doc page
  docs/Tree.md
  docs/img/tree.png
Due: prettier

revert data-turbo-frame="content-container"
  docs/navigation.html
Due: none

default layout cleanup
  docs/_layouts/default.html
Due: none

[no ci] wip: improve js fn naming and add event debug log
  docs/js/turbo.js
Due: eslint --fix

[no ci] wip: improve perfs by moving scripts to head
  docs/_layouts/default.html
Due: none

Update Tree.md with usage example and screenshot
  docs/Tree.md
Due: prettier

Update doc [no ci]
  docs/CreateReactAdmin.md
Due: prettier

Fix incorrect description for build-crm in Makefile
  Makefile
Due: none

[Doc] Add kanban board demo
  docs/Demos.md
  docs/img/kanban-board.png
Due: prettier

make children accept reactNodes
  docs/Translate.md
  packages/ra-core/src/i18n/Translate.spec.tsx
  packages/ra-core/src/i18n/Translate.stories.tsx
  packages/ra-core/src/i18n/Translate.tsx
Due: eslint --fix, prettier

simplify return
  packages/ra-core/src/i18n/Translate.tsx
Due: eslint --fix

Add `<Translate>` component
  docs/Reference.md
  docs/Translate.md
  docs/navigation.html
  docs/useTranslate.md
  packages/ra-core/src/controller/input/referenceDataStatus.ts
  packages/ra-core/src/i18n/TestTranslationProvider.tsx
  packages/ra-core/src/i18n/Translate.spec.tsx
  packages/ra-core/src/i18n/Translate.stories.tsx
  packages/ra-core/src/i18n/Translate.tsx
  packages/ra-core/src/types.ts
  packages/ra-i18n-i18next/README.md
  packages/ra-i18n-i18next/src/index.spec.tsx
  packages/ra-i18n-i18next/src/index.stories.tsx
  packages/ra-i18n-polyglot/src/index.spec.tsx
  packages/ra-i18n-polyglot/src/index.stories.tsx
Due: eslint --fix, prettier

add missing update on useTranslate
  packages/ra-core/src/i18n/useTranslate.ts
Due: eslint --fix

Fix SimpleFormIterator does not display some components correctly
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix
