Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix storybook build
  package.json
  vercel.json
Due: prettier

fix build
  package.json
  yarn.lock
Due: prettier

Fix vercel build
  vercel.json
Due: prettier

Fix clientOptions uri + credentials + headers with Apollo Client 4
  packages/ra-data-graphql/src/buildApolloClient.test.ts
  packages/ra-data-graphql/src/buildApolloClient.ts
  packages/ra-data-graphql/src/index.ts
Due: eslint --fix

Fix Vercel build
  package.json
  vercel.json
Due: prettier

Fix error handling and query result types with Apollo Client 4
  packages/ra-data-graphql/src/index.test.ts
  packages/ra-data-graphql/src/index.ts
  packages/ra-data-graphql/src/introspection.ts
Due: eslint --fix

Fix graphql + rxjs peer dependencies + buildGqlQuery
  package.json
  packages/ra-data-graphql-simple/README.md
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.ts
  packages/ra-data-graphql/README.md
  packages/ra-data-graphql/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix flaky test
  packages/ra-data-fakerest/src/index.spec.ts
Due: eslint --fix

fix build
  packages/ra-data-graphql-simple/src/getGqlType.ts
Due: eslint --fix

fix demo build
  examples/demo/src/dataProvider/graphql.ts
Due: eslint --fix

fix graphQl demo
  packages/ra-data-graphql-simple/src/getGqlType.test.ts
  packages/ra-data-graphql-simple/src/getGqlType.ts
  packages/ra-data-graphql-simple/src/getResponseParser.ts
Due: eslint --fix

fix: Mark inputs with a required() validator as aria-required
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
  packages/ra-ui-materialui/src/input/TextInput.spec.tsx
  packages/ra-ui-materialui/src/input/TextInput.tsx
Due: eslint --fix

fix: Declare ra.validation.unique in TranslationMessages
  packages/ra-core/src/i18n/TranslationMessages.ts
Due: eslint --fix

Add aria-sort to sorted DataTable column headers
  packages/ra-ui-materialui/src/list/datatable/DataTable.spec.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeadCell.tsx
Due: eslint --fix

fix: improve demo login hint contrast
  examples/demo/src/layout/Login.tsx
Due: eslint --fix

fix(a11y): add button semantics to clickable datagrid/datatable rows (#11108)
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRow.tsx
Due: eslint --fix

feat: expose index in FormDataConsumer
  packages/ra-core/src/form/FormDataConsumer.spec.tsx
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix

fix: prevent duplicate undoable mutation commits
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

done with the issue
  packages/ra-core/src/form/FormDataConsumer.spec.tsx
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix

chore: upgrade to TypeScript 7
  .github/workflows/test.yml
  Agents.md
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/ra-offline/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  jest.config.js
  package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

feat: upgrade to TypeScript 7 - ra-core
  packages/ra-core/package.json
Due: prettier

feat: upgrade to TypeScript 7 - packages, examples and tsconfigs
  examples/crm/tsconfig.json
  examples/crm/tsconfig.node.json
  examples/data-generator/package.json
  examples/demo/tsconfig.json
  examples/demo/tsconfig.node.json
  examples/no-code/tsconfig.json
  examples/simple/tsconfig.json
  examples/tutorial/tsconfig.json
  examples/tutorial/tsconfig.node.json
  packages/create-react-admin/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/react-admin/package.json
Due: eslint --fix, prettier

update gh workflow
  .github/workflows/test.yml
Due: none

chore: target TypeScript 6 instead of 7
  .vscode/settings.json
  Agents.md
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/ra-offline/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  tsconfig.json
  yarn.lock
Due: prettier

Delete .vscode/settings.json
  .vscode/settings.json
Due: prettier

restore package.json indentation
  examples/data-generator/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

docs: correct which TypeScript version changed each default
  Agents.md
  tsconfig.json
Due: prettier

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update manager.ts
  .storybook/manager.ts
Due: eslint --fix

Update test.yml
  .github/workflows/test.yml
Due: none

fix(datatable): skip delete access check when bulk actions are disabled
  packages/ra-ui-materialui/src/list/datatable/DataTable.spec.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
Due: eslint --fix

test: use real MUI notification transitions
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
Due: eslint --fix

v5.15.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.15.2
  CHANGELOG.md
Due: prettier

release v5.15.2
  AutocompleteArrayInput.md
  AutocompleteInput.md
  FilterList.md
  FilteringTutorial.md
  List.md
  _data/versions.yml
  canAccess.md
  doc/5.15/AutocompleteArrayInput.md
  doc/5.15/AutocompleteInput.md
  doc/5.15/FilterList.md
  doc/5.15/FilteringTutorial.md
  doc/5.15/List.md
Due: prettier

Add DuckDB integration to DataProviderList
  docs/DataProviderList.md
Due: prettier

Add duckdb logo
  docs/img/backend-logos/duckdb.svg
Due: none

fix(datatable): preserve auth provider access guard
  packages/ra-ui-materialui/src/list/datatable/DataTable.spec.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
