Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix typo
  docs/Reference.md
Due: prettier

Add support of variant prop for FilterButton
  packages/ra-ui-materialui/src/list/filter/FilterButton.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
Due: eslint --fix

Fix og-image meta
  img/ra-oe.png
  index.html
  landing-page/index.html
  landing-page/public/img/ra-oe.png
Due: none

split stories for size and variant
  packages/ra-ui-materialui/src/list/filter/FilterButton.stories.tsx
Due: eslint --fix

remove console.log and rename stories
  packages/ra-ui-materialui/src/list/filter/FilterButton.stories.tsx
Due: eslint --fix

Prepare changelog for v4.16.14
  CHANGELOG.md
Due: prettier

v4.16.14
  examples/simple/package.json
  lerna.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix lock file
  yarn.lock
Due: none

update for v4.16.14
  AuthRBAC.md
  DataProviderWriting.md
  NumberField.md
  Reference.md
  RichTextInput.md
  _data/versions.yml
  doc/4.16/AuthRBAC.md
  doc/4.16/DataProviderWriting.md
  doc/4.16/NumberField.md
  doc/4.16/Reference.md
  doc/4.16/RichTextInput.md
  landing-page/index.html
Due: prettier

Allow overriding the error props in Input components
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/NumberInput.stories.tsx
  packages/ra-ui-materialui/src/input/TextInput.stories.tsx
  packages/ra-ui-materialui/src/input/sanitizeInputRestProps.ts
Due: eslint --fix

Fix link to og image
  index.html
Due: none

[Doc] Make tutorial codesandbox more welcoming
  examples/tutorial/README.md
Due: prettier

fix js docs (@typedef)
  packages/ra-core/src/controller/create/useCreateContext.tsx
  packages/ra-core/src/controller/edit/useEditContext.tsx
  packages/ra-core/src/controller/field/useReferenceOneFieldController.tsx
  packages/ra-core/src/controller/list/InfinitePaginationContext.ts
  packages/ra-core/src/controller/list/ListContext.tsx
  packages/ra-core/src/controller/list/ListFilterContext.tsx
  packages/ra-core/src/controller/list/ListPaginationContext.tsx
  packages/ra-core/src/controller/list/ListSortContext.tsx
  packages/ra-core/src/controller/list/useInfinitePaginationContext.ts
  packages/ra-core/src/controller/list/useListContext.ts
  packages/ra-core/src/controller/list/useListFilterContext.ts
  packages/ra-core/src/controller/list/useListPaginationContext.ts
  packages/ra-core/src/controller/list/useListSortContext.ts
  packages/ra-core/src/controller/show/useShowContext.tsx
  packages/ra-core/src/controller/useFilterState.ts
  packages/ra-core/src/controller/usePaginationState.ts
  packages/ra-core/src/controller/useReference.ts
  packages/ra-core/src/controller/useSortState.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-core/src/dataProvider/withLifecycleCallbacks.ts
  packages/ra-core/src/form/Form.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

add useGetManyReference
  packages/ra-core/src/dataProvider/useGetManyReference.ts
Due: eslint --fix

Disable all store interactions for a list with storeKey set to false (sort, pagination, filters and now also selection state).
  docs/List.md
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.spec.tsx
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/controller/list/useUnselect.ts
  packages/ra-core/src/controller/list/useUnselectAll.ts
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
Due: eslint --fix, prettier

[Doc] Embed "Linking two inputs" video
  docs/Create.md
  docs/Edit.md
  docs/Form.md
  docs/SimpleForm.md
  docs/TabbedForm.md
Due: prettier

Update social graph image
  img/react-admin-banner.jpg
  index.html
  landing-page/index.html
  landing-page/public/img/react-admin-banner.jpg
Due: none

Apply review suggestions
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Fix useGetIdentity regression
  packages/ra-core/src/auth/useGetIdentity.ts
Due: eslint --fix

Change Number input type to text instead of number
  .gitignore
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

Fix ReferenceInput props type
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Apply review suggestion
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
Due: eslint --fix

Fix useReferenceFieldController enabled option
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
Due: eslint --fix

Fix useReferenceFieldController enabled option again
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
Due: eslint --fix

Simplify meta story
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
Due: eslint --fix

changelog for v4.16.15
  CHANGELOG.md
Due: prettier

v4.16.15
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs for 4.16.15
  Create.md
  Edit.md
  Form.md
  SimpleForm.md
  TabbedForm.md
  _data/versions.yml
  doc/4.16/Create.md
  doc/4.16/Edit.md
  doc/4.16/Form.md
  doc/4.16/SimpleForm.md
  doc/4.16/TabbedForm.md
Due: prettier

[Doc]: update JsonSchemaForm doc according to EE one
  docs/JsonSchemaForm.md
Due: prettier

Add Typography back around emptyText
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Add story for basic missing reference id
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

Apply review suggestions
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
Due: eslint --fix

reset number input ref value when event value is empty
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

Fix after rebase
  packages/ra-core/src/controller/list/useList.ts
Due: eslint --fix

Proofreading
  docs/JsonSchemaForm.md
Due: prettier

fix TipTp typo
  docs/RichTextInput.md
Due: prettier

[Doc] Improve useGetList doc
  docs/useGetList.md
Due: prettier
