Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

ra-data-graphql-simple: Fields dropped with the same type on query #3401 keep fields of same type
  packages/ra-data-graphql-simple/src/buildGqlQuery.js
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.js
Due: eslint --fix

run make prettier
  packages/ra-data-graphql-simple/src/buildGqlQuery.js
Due: eslint --fix

Class throw error in ResettableTextField.
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix

Add CoreAdminContext to ease custom apps
  packages/ra-core/src/CoreAdmin.tsx
  packages/ra-core/src/CoreAdminContext.tsx
  packages/ra-core/src/index.ts
Due: eslint --fix

Add missing export
  packages/ra-core/src/index.ts
Due: eslint --fix

Add CoreSwitch to ease customization even more
  packages/ra-core/src/CoreAdmin.tsx
  packages/ra-core/src/CoreAdminContext.tsx
  packages/ra-core/src/CoreSwitch.tsx
  packages/ra-core/src/index.ts
Due: eslint --fix

Move core classes to core dir
  packages/ra-core/src/actions/dataActions/crudCreate.ts
  packages/ra-core/src/actions/dataActions/crudDelete.ts
  packages/ra-core/src/actions/dataActions/crudDeleteMany.ts
  packages/ra-core/src/actions/dataActions/crudGetAll.ts
  packages/ra-core/src/actions/dataActions/crudGetList.ts
  packages/ra-core/src/actions/dataActions/crudGetMany.ts
  packages/ra-core/src/actions/dataActions/crudGetManyReference.ts
  packages/ra-core/src/actions/dataActions/crudGetMatching.ts
  packages/ra-core/src/actions/dataActions/crudGetOne.ts
  packages/ra-core/src/actions/dataActions/crudUpdate.ts
  packages/ra-core/src/actions/dataActions/crudUpdateMany.ts
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRouter.spec.tsx
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreUI.tsx
  packages/ra-core/src/core/Resource.spec.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/RoutesWithLayout.spec.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/core/dataFetchActions.ts
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/dataProvider/convertLegacyDataProvider.ts
  packages/ra-core/src/dataProvider/getFetchType.ts
  packages/ra-core/src/dataProvider/validateResponseFormat.ts
  packages/ra-core/src/index.ts
  packages/ra-core/src/reducer/admin/references/oneToMany.ts
  packages/ra-core/src/reducer/admin/resource/data.ts
  packages/ra-core/src/reducer/admin/resource/list/ids.ts
  packages/ra-core/src/reducer/admin/resource/list/selectedIds.ts
  packages/ra-core/src/reducer/admin/resource/list/total.ts
  packages/ra-core/src/sideEffect/fetch.ts
  packages/ra-core/src/util/TestContext.tsx
Due: eslint --fix

Create mui versions of CoreAdminContext and CoreAdminUI
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/types.ts
  packages/react-admin/src/Admin.ts
  packages/react-admin/src/Admin.tsx
  packages/react-admin/src/AdminContext.ts
  packages/react-admin/src/AdminUI.ts
  packages/react-admin/src/index.ts
Due: eslint --fix

Fix type export problem
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix optional types
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/types.ts
  packages/react-admin/src/Admin.tsx
  packages/react-admin/tsconfig.json
Due: eslint --fix, prettier

Fix wrong import in unit tests
  packages/ra-core/src/dataProvider/Query.spec.tsx
  packages/ra-core/src/dataProvider/useMutation.spec.tsx
  packages/ra-core/src/reducer/admin/references/oneToMany.spec.ts
  packages/ra-core/src/reducer/admin/resource/data.spec.ts
Due: eslint --fix

Remove ra-realtime
  Makefile
  packages/ra-realtime/README.md
  packages/ra-realtime/package.json
  packages/ra-realtime/src/buildAction.js
  packages/ra-realtime/src/buildAction.spec.js
  packages/ra-realtime/src/createObserverChannel.js
  packages/ra-realtime/src/createObserverChannel.spec.js
  packages/ra-realtime/src/index.js
  packages/ra-realtime/src/realtimeObserver.js
  packages/ra-realtime/src/realtimeObserver.spec.js
  packages/ra-realtime/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier

Fix version and toc links
  _includes/versions.html
  doc/2.9/navigation.html
  doc/3.0-beta/navigation.html
  navigation.html
Due: none

Remove ra-tree mention in List doc
  docs/List.md
Due: prettier

Revert "Remove ra-tree mention in List doc"
  docs/List.md
Due: prettier

Prepare changelog for v3.0.0-beta-4
  CHANGELOG.md
Due: prettier

v3.0.0-beta.4
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix erroneous TypeScript types
  packages/react-admin/tsconfig.json
Due: prettier

Prepare changelog for v3.0.0-beta.5
  CHANGELOG.md
Due: prettier

v3.0.0-beta.5
  lerna.json
  packages/react-admin/package.json
Due: prettier

Fix docs examples.
  docs/Actions.md
  docs/Admin.md
  docs/Authentication.md
  docs/Authorization.md
  docs/CreateEdit.md
  docs/List.md
  docs/Theming.md
  docs/Translation.md
Due: prettier

Reverted some changes.
  docs/Actions.md
  docs/Theming.md
Due: prettier

Reverted back some changes.
  docs/Theming.md
Due: prettier

FlatButton change for Button in JSDocs.
  packages/ra-core/src/dataProvider/Mutation.tsx
  packages/ra-core/src/dataProvider/useMutation.ts
Due: eslint --fix

Adds a reference to Moleculer data provider
  docs/DataProviders.md
Due: prettier

Adds a reference to Moleculer data provider (#3925)
  docs/DataProviders.md
Due: prettier

Fix pessimistic delete one does not remove item from selection
  packages/ra-core/src/reducer/admin/resource/list/selectedIds.ts
Due: eslint --fix

Fix core export of fetch constants
  packages/ra-core/src/core/components.ts
  packages/ra-core/src/core/index.ts
Due: eslint --fix

log dataProvider errors in the console
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Fix useFilterState does not react to permanentFilter changes
  packages/ra-core/src/controller/useFilterState.spec.tsx
  packages/ra-core/src/controller/useFilterState.ts
Due: eslint --fix

Fix overly aggressive EditButton memoization
  packages/ra-ui-materialui/src/button/EditButton.js
Due: eslint --fix

Add documentation for allowMissing Polyglot option
  docs/Translation.md
Due: prettier

Update docs/Translation.md
  docs/Translation.md
Due: prettier

Tweak SelectInput's endAdornment
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix
