Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix global validation translation
  packages/ra-core/src/form/getSimpleValidationResolver.ts
  packages/ra-ui-materialui/src/form/SimpleForm.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.stories.tsx
Due: eslint --fix

fix tests
  packages/ra-core/src/form/getSimpleValidationResolver.spec.ts
Due: eslint --fix

Fix: Update grammar in README.md
  README.md
Due: prettier

Possibility to add label to rowsPerPageOptions prop of TablePagination component
  docs/Pagination.md
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
Due: eslint --fix, prettier

add renderTextField prop to autocomplete
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

code cleaning
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
Due: eslint --fix

minor adjustments
  landing-page/index.html
  landing-page/src/style.css
Due: prettier

Add a codesandbox config for the tutorial
  examples/tutorial/sandbox.config.json
Due: prettier

Fix `ReferenceManyCount` rendering link incorrectly
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Font-size adjustments, screenshot update, codesandbox link
  landing-page/index.html
  landing-page/public/img/screen_get_started.png
Due: none

make the remove icon of the file preview configurable and default to RemoveCircle
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
Due: eslint --fix

Fix `ReferenceManyCount` link
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Improve relationship feature description
  docs/Features.md
Due: prettier

Update GH stars
  landing-page/index.html
  landing-page/src/main.ts
Due: eslint --fix

Fix TSC error: sanitize rest props for link too
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

remove unsupported propTypes
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

Update hero unit screenshot
  landing-page/index.html
  landing-page/public/img/Screen_oss.png
Due: none

Remove debug
  landing-page/src/main.ts
Due: eslint --fix

Adjust hero scale
  landing-page/index.html
Due: none

Add umani and missing http meta
  landing-page/index.html
Due: none

Add Directus data and auth providers [skip-ci]
  docs/AuthProviderList.md
  docs/DataProviderList.md
Due: prettier

Add ability to pass `null` to `TrueIcon` or `FalseIcon` in `<BooleanField>`
  docs/BooleanField.md
  packages/ra-ui-materialui/src/field/BooleanField.stories.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix, prettier

add the translations
  docs/Pagination.md
  examples/simple/src/comments/CommentList.tsx
  packages/ra-core/src/i18n/TranslationMessages.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix, prettier

Build landing page
  assets/index-0ff9a8fb.js
  assets/index-4c1a78a2.css
  img/Screen_oss.png
  img/screen_get_started.png
  index.html
  landing-page/README.md
Due: eslint --fix, prettier

Added a sample readme file, please ignore
  sample_readme.md
Due: prettier

Make asset path relative
  assets/index-02b8602e.css
  assets/index-4c1a78a2.css
  assets/index-9ab28d19.js
  assets/index-d52b8867.css
  assets/index-ea3dd9d0.js
  index.html
  landing-page/vite.config.js
Due: eslint --fix, prettier

Fix broken links
  index.html
  landing-page/index.html
Due: none

Add documentation
  docs/FilterList.md
Due: prettier

Allow to customize how `<FilterListItem>` applies filters
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
Due: eslint --fix

Fix typos
  docs/FilterList.md
Due: prettier

Add a screencast showing cumulative filters
  docs/FilterList.md
  docs/img/filter-list-cumulative.gif
Due: prettier

Refactor test
  packages/ra-ui-materialui/src/list/filter/FilterListItem.spec.tsx
Due: eslint --fix

Improve tests
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.spec.tsx
Due: eslint --fix

Update FilterList documentation
  docs/FilterList.md
Due: prettier

Add server side validation support
  docs/Validation.md
  examples/simple/src/dataProvider.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/SaveContext.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix, prettier
