Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Add utilisy hooks
  packages/ra-core/src/preference/index.ts
  packages/ra-core/src/preference/useRemovePreference.ts
  packages/ra-core/src/preference/useResetPreferences.ts
Due: eslint --fix

Reorder export
  packages/ra-core/src/preference/index.ts
Due: eslint --fix

Export preference utilities
  packages/ra-core/src/index.ts
  packages/ra-core/src/preference/PreferenceSetter.tsx
Due: eslint --fix

Fix bad import in jsdoc
  packages/ra-input-rich-text/src/RichTextInput.tsx
Due: eslint --fix

typo
  packages/ra-input-rich-text/src/RichTextInput.tsx
Due: eslint --fix

Fix package name
  packages/ra-input-rich-text/src/RichTextInputToolbar.tsx
Due: eslint --fix

Add ui story
  packages/ra-core/src/preference/usePreference.stories.tsx
Due: eslint --fix

Add tesst for localStorage
  packages/ra-core/src/preference/PreferenceSetter.tsx
  packages/ra-core/src/preference/localStoragePreferenceProvider.spec.tsx
Due: eslint --fix

Fix import path
  packages/ra-core/src/preference/usePreference.ts
Due: eslint --fix

Cleanup useless Redux actions
  docs/Actions.md
  packages/ra-core/src/actions/filterActions.ts
  packages/ra-core/src/actions/index.ts
  packages/ra-core/src/actions/undoActions.ts
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/withDataProvider.tsx
Due: eslint --fix, prettier

Add upgrade guide
  UPGRADE.md
  docs/Reference.md
Due: prettier

Fox test
  packages/ra-core/src/preference/usePreference.spec.tsx
Due: eslint --fix

Add comments to clarify intent
  packages/ra-core/src/preference/usePreference.ts
Due: eslint --fix

Fix typo
  UPGRADE.md
Due: prettier

Add prefPRovider to context
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Fix typos
  packages/ra-core/src/preference/localStoragePreferenceProvider.ts
Due: eslint --fix

Fix Admin Props
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-ui-materialui/src/AdminContext.tsx
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Move sidebar state to Preferences
  docs/Admin.md
  docs/Theming.md
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/layout/SubMenu.tsx
  packages/ra-no-code/src/ui/Menu.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
  packages/ra-ui-materialui/src/layout/SidebarToggleButton.tsx
  packages/ra-ui-materialui/src/layout/index.ts
  packages/ra-ui-materialui/src/layout/useSidebarState.ts
  packages/ra-ui-materialui/src/layout/useToggleSidebar.ts
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix, prettier

Remove sidebar state from Redux
  packages/ra-core/src/actions/index.ts
  packages/ra-core/src/actions/uiActions.ts
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/ui.spec.ts
  packages/ra-core/src/reducer/admin/ui.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Rename preference prefix in localStorage
  packages/ra-core/src/preference/localStoragePreferenceProvider.ts
  packages/ra-ui-materialui/src/layout/useSidebarState.ts
Due: eslint --fix

Fix test
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
Due: eslint --fix

Fix e2e tests
  packages/ra-ui-materialui/src/AdminUI.tsx
Due: eslint --fix

Remove Redux from demo
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/types.ts
Due: eslint --fix

use preferences to store expanded rows
  docs/Actions.md
  packages/ra-core/src/controller/useExpanded.tsx
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/preference/localStoragePreferenceProvider.ts
  packages/ra-core/src/reducer/admin/expandedRows.spec.ts
  packages/ra-core/src/reducer/admin/expandedRows.ts
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/types.ts
Due: eslint --fix, prettier

Export field type mapping
  packages/ra-ui-materialui/src/detail/index.ts
Due: eslint --fix

Speed up development on demos by using esbuild and aliases
  examples/crm/craco.config.js
  examples/crm/package.json
  examples/demo/craco.config.js
  examples/demo/package.json
  yarn.lock
Due: eslint --fix, prettier

Add ARD
  packages/ra-core/src/preference/README.md
Due: prettier

Fix typescript check
  packages/ra-ui-materialui/src/detail/editFieldTypes.tsx
Due: eslint --fix

Fix linter
  packages/ra-ui-materialui/src/detail/editFieldTypes.tsx
Due: eslint --fix

Fix typescript check for showFieldTypes
  packages/ra-ui-materialui/src/detail/showFieldTypes.tsx
Due: eslint --fix

Fix type for ReferenceInput
  packages/ra-ui-materialui/src/detail/editFieldTypes.tsx
Due: eslint --fix

Rename preferences to store
  docs/Reference.md
  packages/ra-core/src/controller/useExpanded.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/index.ts
  packages/ra-core/src/preference/PreferenceContext.tsx
  packages/ra-core/src/preference/PreferenceContextProvider.tsx
  packages/ra-core/src/preference/PreferenceSetter.tsx
  packages/ra-core/src/preference/index.ts
  packages/ra-core/src/preference/localStoragePreferenceProvider.spec.tsx
  packages/ra-core/src/preference/usePreferenceProvider.ts
  packages/ra-core/src/preference/useResetPreferences.ts
  packages/ra-core/src/store/README.md
  packages/ra-core/src/store/StoreContext.tsx
  packages/ra-core/src/store/StoreContextProvider.tsx
  packages/ra-core/src/store/StoreSetter.tsx
  packages/ra-core/src/store/index.ts
  packages/ra-core/src/store/localStorageStore.spec.tsx
  packages/ra-core/src/store/localStorageStore.stories.tsx
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-core/src/store/memoryStore.stories.tsx
  packages/ra-core/src/store/memoryStore.tsx
  packages/ra-core/src/store/types.ts
  packages/ra-core/src/store/useRemoveFromStore.ts
  packages/ra-core/src/store/useResetStore.ts
  packages/ra-core/src/store/useStore.spec.tsx
  packages/ra-core/src/store/useStore.stories.tsx
  packages/ra-core/src/store/useStore.ts
  packages/ra-core/src/store/useStoreContext.ts
  packages/ra-ui-materialui/src/layout/useSidebarState.ts
  packages/react-admin/src/Admin.tsx
Due: eslint --fix, prettier

Fix bad rename
  docs/Reference.md
Due: prettier

Wording
  packages/ra-core/src/store/README.md
Due: prettier

Rename Store type
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/store/StoreContext.tsx
  packages/ra-core/src/store/StoreContextProvider.tsx
  packages/ra-core/src/store/StoreSetter.tsx
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-core/src/store/memoryStore.tsx
  packages/ra-core/src/store/types.ts
  packages/ra-core/src/store/useStore.ts
  packages/ra-core/src/store/useStoreContext.ts
Due: eslint --fix

Review
  packages/ra-core/src/store/README.md
  packages/ra-core/src/store/StoreSetter.tsx
  packages/ra-core/src/store/useStore.ts
Due: eslint --fix, prettier

Add record in a RecordContextProvider
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/companies/GridList.tsx
  examples/crm/src/contacts/Avatar.tsx
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/TagsList.tsx
Due: eslint --fix

use store instead of redux for list selection
  docs/Datagrid.md
  docs/useUnselectAll.md
  examples/simple/src/posts/ResetViewsButton.tsx
  packages/ra-core/src/actions/listActions.ts
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/useExpanded.tsx
  packages/ra-core/src/controller/useRecordSelection.ts
  packages/ra-core/src/controller/useSelectionState.ts
  packages/ra-core/src/controller/useUnselect.ts
  packages/ra-core/src/controller/useUnselectAll.ts
  packages/ra-core/src/index.ts
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/selectedIds.ts
  packages/ra-core/src/sideEffect/index.ts
  packages/ra-core/src/sideEffect/useUnselect.ts
  packages/ra-core/src/sideEffect/useUnselectAll.ts
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-core/src/store/memoryStore.tsx
  packages/ra-core/src/store/useRemoveFromStore.ts
  packages/ra-core/src/store/useStore.spec.tsx
  packages/ra-core/src/store/useStore.ts
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/layout/useSidebarState.ts
Due: eslint --fix, prettier

Move selection hooks to list directory
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/controller/list/index.ts
  packages/ra-core/src/controller/list/useExpanded.tsx
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/controller/list/useUnselect.ts
  packages/ra-core/src/controller/list/useUnselectAll.ts
Due: eslint --fix

Fix regression
  packages/ra-core/src/controller/list/useRecordSelection.ts
Due: eslint --fix
