Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update docsearch key
  docs/_layouts/default.html
Due: none

Update docsearch key
  _layouts/default.html
Due: none

[Doc] Add an example GraphQL data provider
  docs/DataProviderWriting.md
Due: prettier

Explicit ra-data-graphql purpose
  packages/ra-data-graphql/README.md
Due: prettier

wording fixes
  packages/ra-data-graphql/README.md
Due: prettier

Fix ListGuesser Does Not Update When Resource Changes
  packages/ra-ui-materialui/src/list/ListGuesser.tsx
Due: eslint --fix

Allow To Create An Admin Without Resources
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
  packages/ra-no-code/src/Admin.tsx
  packages/ra-no-code/src/ui/Ready.tsx
  packages/ra-no-code/src/ui/index.ts
Due: eslint --fix

Publish FraphQL adapter packages
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
Due: prettier

Prepare changelog for v4.0.2
  CHANGELOG.md
Due: prettier

v4.0.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update doc to v4.0.2
  Admin.md
  BooleanInput.md
  DataProviderWriting.md
  SelectInput.md
  Upgrade.md
  _data/versions.yml
  doc/4.0/Admin.md
  doc/4.0/BooleanInput.md
  doc/4.0/DataProviderWriting.md
  doc/4.0/SelectInput.md
  doc/4.0/Upgrade.md
  img/array-input.png
  img/list-view.png
  img/nullable-boolean-input.png
  img/radio-button-group-input.png
  img/resettable-text-input.png
  img/rich-text-input.png
  img/text-input.png
Due: prettier

Fix lock file
  yarn.lock
Due: none

Fix FileInput doesn't accept options prop
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

[Doc] Fix instructions for using RA in a sub path
  docs/Routing.md
Due: prettier

Fix tests
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

Fix regression
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

[Doc] Fix `useUpdateLoading` hook is still documented even though it's been removed
  docs/Reference.md
Due: prettier

Fix style regressions
  css/style-v11.css
  css/tocbot.css
Due: prettier

Remove deprecated fieldKey
  docs/ArrayField.md
Due: prettier

Apply review
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
Due: eslint --fix

Remove outdated chapter
  CreateEdit.md
  doc/4.0/CreateEdit.md
Due: prettier

Pass Permissions To registerResource
  docs/AuthProviderWriting.md
  docs/AuthRBAC.md
  docs/Authentication.md
  docs/useCanAccess.md
  docs/usePermissions.md
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.spec.tsx
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
  packages/ra-core/src/types.ts
Due: eslint --fix, prettier

Rename package to Prisma Simple
  docs/DataProviderList.md
Due: prettier

Refactor for clarity
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
Due: eslint --fix

Clarify differences between Prisma packages
  docs/DataProviderList.md
Due: prettier

Fix typo
  docs/Authentication.md
Due: prettier

Revert no-code Changes
  packages/ra-no-code/src/Admin.tsx
  packages/ra-no-code/src/ui/Ready.tsx
  packages/ra-no-code/src/ui/index.ts
Due: eslint --fix

Fix duplicate key error in SingleFieldList
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Fix FileInput name And id Props
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

[Doc] Add link to demos in tutorial
  docs/Tutorial.md
Due: prettier

icon is children instead of a prop
  packages/ra-ui-materialui/src/button/Button.tsx
Due: eslint --fix

[Doc] Fix Edit component mentions unsupported prop
  docs/Edit.md
Due: prettier

allow style overrides for simpleformiterator
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

Add possibility to disable redirect in useCreateController
  packages/ra-core/src/controller/create/useCreateController.ts
Due: eslint --fix

Fix IntrospectionOptions exported type
  packages/ra-data-graphql/src/index.ts
Due: eslint --fix

Fix demos authProviders
  examples/crm/src/authProvider.ts
  examples/demo/src/authProvider.ts
Due: eslint --fix

Fix SimpleFormIterator Labels
  packages/ra-core/src/util/getFieldLabelTranslationArgs.spec.ts
  packages/ra-core/src/util/getFieldLabelTranslationArgs.ts
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorContext.ts
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

Add comments
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

Avoid duplicating inferrence logic
  packages/ra-core/src/util/getFieldLabelTranslationArgs.spec.ts
  packages/ra-core/src/util/getFieldLabelTranslationArgs.ts
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix
