Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Reorder Show code to be readable from top to bottom
  packages/ra-ui-materialui/src/detail/Show.js
Due: eslint --fix

Reorder Edit code to be readable from top to bottom
  packages/ra-ui-materialui/src/detail/Edit.js
Due: eslint --fix

Harmonize jsDoc of main view components
  packages/ra-ui-materialui/src/detail/Create.js
  packages/ra-ui-materialui/src/detail/Edit.js
  packages/ra-ui-materialui/src/detail/Show.js
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

Document the component prop in main view components
  docs/CreateEdit.md
  docs/List.md
  docs/Show.md
  packages/ra-ui-materialui/src/detail/Create.js
  packages/ra-ui-materialui/src/detail/Edit.js
Due: eslint --fix, prettier

improve custom form documentation
  docs/CreateEdit.md
Due: prettier

Fix tests
  packages/ra-ui-materialui/src/list/List.js
  packages/ra-ui-materialui/src/list/List.spec.js
Due: eslint --fix

Fix DOM warning
  packages/ra-ui-materialui/src/form/SimpleForm.js
Due: eslint --fix

review
  docs/CreateEdit.md
  docs/List.md
  docs/Show.md
Due: prettier

Fix FormWithRedirect swallows som Form props
  packages/ra-core/src/form/FormWithRedirect.tsx
Due: eslint --fix

Fix option not being checked when numeric ids are used
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.spec.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInputItem.tsx
Due: eslint --fix

Fix cloned record reverts values when submitting
  cypress/integration/edit.js
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
Due: eslint --fix

Make pagination more extendable
  packages/ra-ui-materialui/src/list/Pagination.js
  packages/ra-ui-materialui/src/list/PaginationActions.js
Due: eslint --fix

Fix failing test (trailing comma missing)
  packages/ra-language-english/index.js
  packages/ra-language-french/index.js
Due: eslint --fix

Introduce PasswordInput
  docs/Inputs.md
  docs/img/password-input-visible.png
  docs/img/password-input.png
  examples/demo/src/i18n/en.js
  examples/demo/src/i18n/fr.js
  examples/demo/src/visitors/VisitorCreate.js
  examples/demo/src/visitors/VisitorEdit.js
  packages/ra-language-english/index.js
  packages/ra-language-french/index.js
  packages/ra-ui-materialui/src/input/PasswordInput.tsx
  packages/ra-ui-materialui/src/input/TextInput.tsx
  packages/ra-ui-materialui/src/input/index.ts
  yarn.lock
Due: eslint --fix, prettier

Add PasswordInput in the reference
  docs/Reference.md
Due: prettier

Document pagination
  docs/List.md
Due: prettier

Code Review
  docs/List.md
  packages/ra-ui-materialui/src/list/Pagination.js
Due: eslint --fix, prettier

Note that ImageInput does not support anymore the onDrop callback
  UPGRADE.md
Due: prettier

ReferenceArrayInput to pass parse and format
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.js
Due: eslint --fix

Better prop sanitation for reference inputs
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.js
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
  packages/ra-ui-materialui/src/input/sanitizeRestProps.ts
Due: eslint --fix

Fix FileInput onDrop option
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

fix typo
  docs/List.md
Due: prettier

Improve empty state page
  packages/ra-language-english/index.js
  packages/ra-ui-materialui/src/list/EmptyState.js
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

Add tests
  packages/ra-ui-materialui/src/list/List.spec.js
Due: eslint --fix

Fix Input elements ignore variant prop
  packages/ra-ui-materialui/src/form/FormTab.js
  packages/ra-ui-materialui/src/form/FormTab.spec.js
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/SimpleForm.spec.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Fix make doc command fails in development
  .gitignore
  docs/_layouts/default.html
  docs/assets/logo_white.png
  docs/css/materialize.min.css
  docs/css/prism.css
  docs/css/style-v3.css
  docs/css/syntax.css
  docs/js/materialize.min.js
  docs/js/prism.js
  docs/navigation.html
Due: eslint --fix, prettier

fix RadioButtonGroupInput onChange props
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInputItem.tsx
Due: eslint --fix

add unit test
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.spec.tsx
Due: eslint --fix

fix after rebase
  packages/ra-ui-materialui/src/input/RadioButtonGroupInputItem.tsx
Due: eslint --fix

Fix simple form fails on null children
  packages/ra-ui-materialui/src/form/SimpleForm.js
Due: eslint --fix

Add docs about List's empty prop
  docs/List.md
Due: prettier

Update french translations
  packages/ra-language-french/index.js
Due: eslint --fix

Rename <EmptyState /> to <Empty />
  packages/ra-ui-materialui/src/list/Empty.js
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

Update docs
  docs/List.md
Due: prettier

Fix styles
  docs/List.md
  packages/ra-ui-materialui/src/list/Empty.js
Due: eslint --fix, prettier

Rename prop
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

Fix ReferenceField when used inside form
  packages/ra-ui-materialui/src/field/ReferenceField.js
Due: eslint --fix

no need to pass all props
  packages/ra-ui-materialui/src/field/ReferenceField.js
Due: eslint --fix

Fix deprecated useField documentation
  docs/Inputs.md
Due: prettier

Corrected typos, syntax errors and anchors references in the docs.
  docs/Authentication.md
  docs/CreateEdit.md
  docs/CustomApp.md
  docs/DataProviders.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
