Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update docs/List.md
  docs/List.md
Due: prettier

Fix the link to the doc hidden by the lego image on small screens
  assets/styles.css
Due: prettier

Hide the lego image on small screens
  assets/styles.css
Due: prettier

Add Tests
  packages/ra-ui-materialui/src/list/List.spec.js
Due: eslint --fix

Fix a typo in the simple REST data provider for the create verb
  packages/ra-data-simple-rest/README.md
Due: prettier

Convert Form components to typescript
  packages/ra-core/src/form/FormWithRedirect.tsx
  packages/ra-ui-materialui/src/form/FormInput.tsx
  packages/ra-ui-materialui/src/form/FormTab.spec.tsx
  packages/ra-ui-materialui/src/form/FormTab.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.spec.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/form/TabbedFormTabs.spec.tsx
  packages/ra-ui-materialui/src/form/TabbedFormTabs.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
  packages/ra-ui-materialui/src/form/getFormInitialValues.ts
  packages/ra-ui-materialui/src/form/index.tsx
  packages/ra-ui-materialui/src/input/ArrayInput.tsx
Due: eslint --fix

Fixed documentation about `<NullableBooleanInput>`
  docs/Inputs.md
Due: prettier

Remove any types
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
Due: eslint --fix

Convert data-generator package to TypeScript
  examples/data-generator/src/categories.ts
  examples/data-generator/src/commands.ts
  examples/data-generator/src/customers.ts
  examples/data-generator/src/finalize.ts
  examples/data-generator/src/index.ts
  examples/data-generator/src/invoices.js
  examples/data-generator/src/invoices.ts
  examples/data-generator/src/products.ts
  examples/data-generator/src/reviews.ts
  examples/data-generator/src/utils.ts
Due: eslint --fix

Fix doc sidebar navigation on Firefox
  docs/_layouts/default.html
  docs/css/style-v5.css
Due: prettier

fix sidenav
  _layouts/default.html
  css/style-v5.css
Due: prettier

Fix List subcontext lack resource data
  packages/ra-core/src/controller/ListFilterContext.tsx
  packages/ra-core/src/controller/ListPaginationContext.tsx
  packages/ra-core/src/controller/ListSortContext.tsx
  packages/ra-core/src/controller/useListFilterContext.ts
  packages/ra-core/src/controller/useListPaginationContext.ts
  packages/ra-core/src/controller/useListSortContext.ts
  packages/ra-ui-materialui/src/button/SortButton.tsx
Due: eslint --fix

Fix Form Initialization from Record
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
Due: eslint --fix

Add tests
  packages/ra-core/src/form/FormWithRedirect.spec.tsx
Due: eslint --fix

Prepare changelog for 3.8.2
  CHANGELOG.md
Due: prettier

v3.8.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update doc to 3.8.2
  CreateEdit.md
  Ecosystem.md
  Fields.md
  Inputs.md
  List.md
  Theming.md
  _data/versions.yml
  doc/3.8/CreateEdit.md
  doc/3.8/Ecosystem.md
  doc/3.8/Fields.md
  doc/3.8/Inputs.md
  doc/3.8/List.md
  doc/3.8/Theming.md
Due: prettier

Add user name and avatar on the top bar
  docs/Authentication.md
  docs/img/identity.png
  examples/demo/src/authProvider.ts
  examples/simple/src/authProvider.js
  packages/ra-core/src/auth/AuthContext.tsx
  packages/ra-core/src/auth/index.ts
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/UserMenu.js
Due: eslint --fix, prettier

Fix auth name in localStorage
  docs/Authentication.md
Due: prettier

Update index.html
  index.html
Due: none

Fix Deprecated Sort PropType on DatagridHeaderCell
  packages/ra-ui-materialui/src/list/DatagridHeaderCell.js
Due: eslint --fix

Migrate Layout commponents to TypeScript
  packages/ra-ui-materialui/src/layout/AppBar.tsx
  packages/ra-ui-materialui/src/layout/CardContentInner.tsx
  packages/ra-ui-materialui/src/layout/DeviceTestWrapper.tsx
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
  packages/ra-ui-materialui/src/layout/Loading.tsx
  packages/ra-ui-materialui/src/layout/NotFound.tsx
  packages/ra-ui-materialui/src/layout/Responsive.spec.tsx
  packages/ra-ui-materialui/src/layout/Responsive.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
  packages/ra-ui-materialui/src/layout/TitleForRecord.tsx
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/layout/UserMenu.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Fix bad type names
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/input/NumberInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Make chipfield cursor pointer when wrapped in <a> tag
  packages/ra-ui-materialui/src/field/ChipField.tsx
Due: eslint --fix

Remove ClassNameMap
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
Due: eslint --fix

RemoveClassNameMap in ReferenceField
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Move datagrid components to datagrid subdirectory
  packages/ra-ui-materialui/src/detail/showFieldTypes.js
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridBody.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridCell.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridCell.spec.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.spec.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridLoading.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.spec.js
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandRowButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/index.ts
  packages/ra-ui-materialui/src/list/datagrid/useDatagridStyles.tsx
  packages/ra-ui-materialui/src/list/index.js
  packages/ra-ui-materialui/src/list/listFieldTypes.js
Due: eslint --fix

Migrate remaining Datagrid components to TypeScript
  packages/ra-ui-materialui/src/list/datagrid/DatagridCell.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridCell.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridLoading.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Migrate Filter components to TypeScript
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/list/filter/Filter.spec.tsx
  packages/ra-ui-materialui/src/list/filter/Filter.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.js
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
Due: eslint --fix

Remove unused type
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

migrate listFieldTypes to TypeScript
  packages/ra-ui-materialui/src/list/listFieldTypes.tsx
Due: eslint --fix

migrate Listspec to TypeScript
  packages/ra-ui-materialui/src/defaultTheme.ts
  packages/ra-ui-materialui/src/list/List.spec.tsx
Due: eslint --fix

Move pagination components to subdirectory and migrate them to TypeScript
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/index.js
  packages/ra-ui-materialui/src/list/pagination/Pagination.spec.tsx
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.spec.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationLimit.tsx
  packages/ra-ui-materialui/src/list/pagination/index.ts
Due: eslint --fix

Forgot the index...
  packages/ra-ui-materialui/src/list/index.ts
Due: eslint --fix

Fix test
  packages/ra-ui-materialui/src/field/ArrayField.spec.tsx
Due: eslint --fix

Export More Types Related To useChoices
  packages/ra-core/src/form/index.ts
Due: eslint --fix

Fix props for choices inputs
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useChoices.ts
Due: eslint --fix

More TS fixes
  packages/ra-core/src/form/useInput.ts
Due: eslint --fix

Update AutocompleteArrayInput
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
Due: eslint --fix
