Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix Dashboard components cannot use useGetOne hook
  packages/ra-core/src/core/RoutesWithLayout.tsx
Due: eslint --fix

Fix RoutesWithLayout tests
  packages/ra-core/src/core/RoutesWithLayout.spec.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/List.md
Due: prettier

Revert "Fix Dashboard components cannot use useGetOne hook"
  packages/ra-core/src/core/RoutesWithLayout.spec.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
Due: eslint --fix

Fix useGetOne throws exception when used in Dashboard
  packages/ra-core/src/dataProvider/useGetOne.ts
Due: eslint --fix

use Existing state management hooks
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/useSelectionState.ts
  packages/ra-core/src/controller/useSortState.ts
Due: eslint --fix

review
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

Review
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

Fix LogoutButton should not render as a li in Mobile menu
  packages/ra-ui-materialui/src/auth/Logout.tsx
Due: eslint --fix

Fix SearchInput with label prop renders incorrectly
  packages/ra-ui-materialui/src/input/SearchInput.tsx
Due: eslint --fix

Update ecommerce demo product references
  examples/data-generator/src/products.js
  examples/demo/src/products/ProductList.tsx
Due: eslint --fix

Fix typo: 'deteleMany' to 'deleteMany'
  docs/DataProviders.md
Due: prettier

Fix the table of contents sorting in the Admin documentation
  docs/Admin.md
Due: prettier

Write a section about the AdminContext and the AdminUI components in the Admin documentation
  docs/Admin.md
Due: prettier

Fix the raw balise in the Admin documentation
  docs/Admin.md
Due: prettier

Remove the third level titles
  docs/Admin.md
Due: prettier

Apply review
  docs/Admin.md
Due: prettier

Reorder sections in the Admin documentation to display the most important first
  docs/Admin.md
Due: prettier

DatagridRow with `rowClick` set to `toggleSelection` and `selectable` set to `false` got selected.
  packages/ra-ui-materialui/src/list/DatagridRow.spec.js
  packages/ra-ui-materialui/src/list/DatagridRow.tsx
Due: eslint --fix

Corrected selectable prop evaluation.
  packages/ra-ui-materialui/src/list/DatagridRow.tsx
Due: eslint --fix

prettier suuggestion.
  packages/ra-ui-materialui/src/list/DatagridRow.spec.js
Due: eslint --fix

Added useCallback dependency.
  packages/ra-ui-materialui/src/list/DatagridRow.tsx
Due: eslint --fix

prepare changelog for v3.6.3
  CHANGELOG.md
Due: prettier

v3.6.3
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix e2e test
  cypress/integration/list.js
Due: eslint --fix

Fix e2e tests
  cypress/integration/list.js
Due: eslint --fix

Prepare changelog for 3.7.0
  CHANGELOG.md
Due: prettier

Fix warnings in ecommerce demo
  examples/demo/src/dashboard/NewCustomers.tsx
  examples/demo/src/dashboard/Welcome.tsx
  examples/demo/src/layout/SubMenu.tsx
Due: eslint --fix

Fix warning in visitor list
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Fix Segments translation
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
Due: eslint --fix

v3.7.0
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add data and auth providers for AWS Amplify
  docs/DataProviders.md
  docs/Ecosystem.md
Due: prettier

Fix typo
  packages/ra-data-simple-rest/README.md
Due: prettier

Update CreateButton on 'to' prop change
  packages/ra-ui-materialui/src/button/CreateButton.tsx
Due: eslint --fix

Remove ta-data-graphcool dataProvider
  Makefile
  docs/DataProviders.md
  examples/simple/src/Dashboard.js
  examples/simple/src/index.js
  examples/simple/src/posts/PostCreate.js
  packages/ra-data-graphcool/README.md
  packages/ra-data-graphcool/package.json
  packages/ra-data-graphcool/src/buildGqlQuery.js
  packages/ra-data-graphcool/src/buildGqlQuery.test.js
  packages/ra-data-graphcool/src/buildQuery.js
  packages/ra-data-graphcool/src/buildQuery.test.js
  packages/ra-data-graphcool/src/buildVariables.js
  packages/ra-data-graphcool/src/buildVariables.test.js
  packages/ra-data-graphcool/src/getFinalType.js
  packages/ra-data-graphcool/src/getFinalType.test.js
  packages/ra-data-graphcool/src/getResponseParser.js
  packages/ra-data-graphcool/src/getResponseParser.test.js
  packages/ra-data-graphcool/src/index.js
  packages/ra-data-graphcool/src/isList.js
  packages/ra-data-graphcool/src/isList.test.js
  packages/ra-data-graphcool/src/isRequired.js
  packages/ra-data-graphcool/src/isRequired.test.js
  packages/ra-data-graphcool/tsconfig.json
  packages/ra-data-graphql/README.md
  tsconfig.json
Due: eslint --fix, prettier

Avoid import errors when tree-shaking @material-ui
  .eslintrc
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/reviews/StarRatingField.tsx
  examples/demo/src/visitors/SegmentsField.tsx
  examples/demo/src/visitors/VisitorList.tsx
  examples/demo/src/visitors/VisitorListAside.tsx
  examples/simple/src/Layout.js
  examples/simple/src/comments/CommentList.js
  examples/simple/src/posts/PostList.js
  packages/ra-input-rich-text/src/index.tsx
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/auth/Logout.tsx
  packages/ra-ui-materialui/src/button/Button.spec.tsx
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CloneButton.spec.tsx
  packages/ra-ui-materialui/src/button/CreateButton.spec.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteSuggestionItem.tsx
  packages/ra-ui-materialui/src/input/AutocompleteSuggestionList.tsx
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SearchInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/layout/AppBar.js
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.js
  packages/ra-ui-materialui/src/list/FilterButton.spec.js
  packages/ra-ui-materialui/src/list/Pagination.spec.js
Due: eslint --fix

Fix docs grammar and typos.
  CHANGELOG.md
  docs/Actions.md
  docs/Admin.md
  docs/AdvancedTutorials.md
  docs/Authentication.md
  docs/Authorization.md
  docs/Caching.md
  docs/CreateEdit.md
  docs/CustomApp.md
  docs/Ecosystem.md
  docs/Fields.md
  docs/Inputs.md
  docs/Readme.md
  docs/Show.md
  docs/Theming.md
  docs/Translation.md
  docs/UnitTesting.md
Due: prettier

Fix typo
  packages/ra-core/src/auth/index.ts
Due: eslint --fix

More fixes.
  CHANGELOG.md
  docs/Actions.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
