Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Simplify Theming And Uniformize Classes
  packages/ra-ui-materialui/src/layout/AppBar.tsx
  packages/ra-ui-materialui/src/layout/CardActions.tsx
  packages/ra-ui-materialui/src/layout/CardContentInner.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
  packages/ra-ui-materialui/src/layout/Loading.tsx
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  packages/ra-ui-materialui/src/layout/NotFound.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
  packages/ra-ui-materialui/src/layout/SidebarToggleButton.tsx
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/layout/UserMenu.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Update packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
Due: eslint --fix

Update upgrade guide
  UPGRADE.md
Due: prettier

Apply prettier
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
Due: eslint --fix

Simplify theming and uniformize classes across all components
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/FieldWithLabel.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/field/TranslatableFieldsTabs.tsx
Due: eslint --fix

Simplify expression
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
Due: eslint --fix

Remove customReducers
  docs/Admin.md
  docs/TreeWithDetails.md
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/reducer/index.ts
  packages/react-admin/src/Admin.tsx
Due: eslint --fix, prettier

Update fields
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/TranslatableFields.tsx
  packages/ra-ui-materialui/src/field/TranslatableFieldsTabContent.tsx
Due: eslint --fix

remove initialState
  docs/Admin.md
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/Resource.spec.tsx
  packages/ra-core/src/core/components.ts
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/react-admin/src/Admin.tsx
Due: eslint --fix, prettier

Remove Redux provider
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix

Remove Redux
  docs/Admin.md
  docs/Architecture.md
  docs/Authentication.md
  docs/CustomApp.md
  docs/Theming.md
  docs/UnitTesting.md
  docs/navigation.html
  examples/crm/src/deals/DealListContent.tsx
  examples/demo/package.json
  packages/ra-core/package.json
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/controller/list/queryReducer.ts
  packages/ra-core/src/controller/list/useListParams.spec.tsx
  packages/ra-core/src/controller/list/useListParams.ts
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/form/constants.ts
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/index.ts
  packages/ra-core/src/reducer/index.ts
  packages/ra-core/src/types.ts
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
  packages/react-admin/README.md
  packages/react-admin/package.json
  packages/react-admin/src/Admin.tsx
  yarn.lock
Due: eslint --fix, prettier

Fix errors
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/dataProvider/convertLegacyDataProvider.ts
  packages/ra-core/src/dataProvider/dataFetchActions.ts
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/validateResponseFormat.ts
Due: eslint --fix

Add changelog
  UPGRADE.md
Due: prettier

Update inputs
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInputItem.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
  packages/ra-ui-materialui/src/input/ImageInput.tsx
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
  packages/ra-ui-materialui/src/input/SearchInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
Due: eslint --fix

Update form related components
  packages/ra-ui-materialui/src/form/FormInput.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Remove useless dependency
  package.json
  yarn.lock
Due: prettier

Fix initialState upgrade guide
  UPGRADE.md
Due: prettier

Review
  UPGRADE.md
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/Resource.spec.tsx
Due: eslint --fix, prettier

Remove 3.0 instructions
  UPGRADE.md
Due: prettier

Improve Redux section introductino
  UPGRADE.md
Due: prettier

Regroup Routing upgrades
  UPGRADE.md
Due: prettier

Restructure Data Provider elements
  UPGRADE.md
Due: prettier

Remove redux reference and fix some typos
  README.md
  UPGRADE.md
  cypress/integration/edit.js
Due: eslint --fix, prettier

Update list components
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/Placeholder.tsx
  packages/ra-ui-materialui/src/list/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleListLoading.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
Due: eslint --fix

Update list's filter and pagination components
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.tsx
Due: eslint --fix

Update button components
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/SkipNavigationButton.tsx
Due: eslint --fix

Review
  UPGRADE.md
Due: prettier

Added sx prop to FileInput and FileFiled components
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

Fix typo
  UPGRADE.md
Due: prettier

Update Auth related components
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/auth/LoginForm.tsx
  packages/ra-ui-materialui/src/auth/Logout.tsx
Due: eslint --fix

Add sx prop definition to ImageField component
  packages/ra-ui-materialui/src/field/ImageField.tsx
Due: eslint --fix

Update demos related components
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyAvatar.tsx
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyCreate.tsx
  examples/crm/src/companies/CompanyEdit.tsx
  examples/crm/src/companies/CompanyList.tsx
  examples/crm/src/companies/LogoField.tsx
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/TagsList.tsx
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/categories/LinkToRelatedProducts.tsx
  examples/demo/src/configuration/Configuration.tsx
  examples/demo/src/dashboard/CardWithIcon.tsx
  examples/demo/src/dashboard/NewCustomers.tsx
  examples/demo/src/dashboard/PendingOrders.tsx
  examples/demo/src/dashboard/PendingReviews.tsx
  examples/demo/src/orders/Basket.tsx
Due: eslint --fix

Fix version of demo and tutorial
  examples/demo/package.json
  examples/tutorial/package.json
Due: prettier

Fix SelectInput proptypes
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Remove classes prop from components
  packages/ra-no-code/src/ui/Menu.tsx
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/form/TabbedFormTabs.tsx
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
  packages/ra-ui-materialui/src/layout/DashboardMenuItem.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Remove ClassesOverride type
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Cleanup
  examples/crm/src/dashboard/LatestNotes.tsx
  examples/crm/src/notes/NewNote.tsx
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/util/getFetchedAt.spec.tsx
  packages/ra-core/src/util/getFetchedAt.ts
  packages/ra-core/src/util/index.ts
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Optimize useLogout
  packages/ra-core/src/auth/useLogout.ts
Due: eslint --fix

Review on Header component
  examples/crm/src/Header.tsx
Due: eslint --fix

reduce the number of renders caused by useLoading
  packages/ra-core/src/dataProvider/useLoading.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
