Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

fix: Restore canonical nested exports for ra-core and ra-ui-materialui
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
Due: prettier

update lock file
  yarn.lock
Due: none

feat: Add ra-router-react-router-v8 adapter package
  Makefile
  docs/ReactRouterV8.md
  docs/Routing.md
  packages/ra-router-react-router-v8/README.md
  packages/ra-router-react-router-v8/package.json
  packages/ra-router-react-router-v8/src/index.ts
  packages/ra-router-react-router-v8/src/reactRouterV8Provider.stories.tsx
  packages/ra-router-react-router-v8/src/reactRouterV8Provider.tsx
  packages/ra-router-react-router-v8/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

fix missing error boundary tests
  packages/ra-core/src/routing/CompatHashRouter.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
Due: eslint --fix

refactor: Drop in-core react-router compat layer on react-router-v8-old
  packages/ra-core/package.json
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/routing/CompatHashRouter.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
  packages/ra-core/src/routing/adapters/reactRouterProvider.tsx
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

build: Exclude ESM-only ra-router-react-router-v8 from update-package-exports
  docs/ReactRouterV8.md
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-router-react-router-v8/README.md
  scripts/update-package-exports.ts
Due: eslint --fix, prettier

build: Drop redundant module/moduleResolution from v8 adapter tsconfig
  packages/ra-router-react-router-v8/tsconfig.json
Due: prettier

test: Restore tanstack comment and reword URL-encoded params test
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Mirror ra-router-tanstack stories and tests for ra-router-react-router-next
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
Due: eslint --fix

refactor: Rename provider basename hook and align RouterWrapper context
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

docs: Reference react-router instead of react-router-dom in routing README
  packages/ra-core/src/routing/README.md
Due: prettier

feat: Extract react-router adapters into standalone packages
  Makefile
  docs/ReactRouterV8.md
  docs/Routing.md
  packages/ra-core/package.json
  packages/ra-core/src/routing/README.md
  packages/ra-core/src/routing/RouterProviderContext.tsx
  packages/ra-core/src/routing/index.ts
  packages/ra-router-react-router-next/README.md
  packages/ra-router-react-router-next/package.json
  packages/ra-router-react-router-next/src/index.ts
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router-next/tsconfig.json
  packages/ra-router-react-router-v8/src/index.ts
  packages/ra-router-react-router/README.md
  packages/ra-router-react-router/package.json
  packages/ra-router-react-router/src/index.ts
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
  packages/ra-router-react-router/tsconfig.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  scripts/update-package-exports.ts
  yarn.lock
Due: eslint --fix, prettier

test: Drop StandaloneWithBasename story from the router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
Due: eslint --fix

update react-router provider comments
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Restore user.click in the embedded navigate-back test (tanstack parity)
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Apply review feedback to React Router v8 adapter stories
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
Due: eslint --fix

test: Use built-in unsaved-changes guard in React Router v8 adapter stories
  jest.config.js
  packages/ra-router-react-router-next/jest.config.cjs
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
Due: eslint --fix

test: Align useWarnWhenUnsavedChanges test descriptions with tanstack
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

fix: Scope experimental-vm-modules to the react-router-next test run
  jest.config.js
  package.json
Due: eslint --fix, prettier

refactor: Match tanstack's useNavigate resolvePath comments verbatim
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

chore: Declare react-router as a dependency of ra-router-react-router-next
  packages/ra-router-react-router-next/package.json
Due: prettier

refactor: Use tanstack's if/else resolvedTo shape in router adapter Link
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Drop inline comments from useWarnWhenUnsavedChanges tests
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

refactor: Mirror tanstack Navigate string-building in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

make path relative
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
Due: eslint --fix

test: Mirror ra-router-tanstack stories for ra-router-react-router-next
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
Due: eslint --fix

test: Add unit tests for the React Router v8 adapter
  jest.config.js
  package.json
  packages/ra-router-react-router-next/jest.config.cjs
  packages/ra-router-react-router-next/package.json
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  yarn.lock
Due: eslint --fix, prettier

chore: Relock after router package dependency changes
  yarn.lock
Due: none

docs: Import Route components from react-router instead of react-router-dom
  docs/Admin.md
  docs/Architecture.md
  docs/Authenticated.md
  docs/Authentication.md
  docs/Breadcrumb.md
  docs/CanAccess.md
  docs/ContainerLayout.md
  docs/CustomRoutes.md
  docs/DeletedRecordsList.md
  docs/List.md
  docs/Permissions.md
  docs/Resource.md
  docs/Routing.md
  docs/SecurityGuide.md
  docs/ShowDeleted.md
  docs/WithPermissions.md
  docs/useDefineAppLocation.md
  docs/usePermissions.md
  docs_headless/src/content/docs/Architecture.md
  docs_headless/src/content/docs/Authenticated.md
  docs_headless/src/content/docs/Authentication.md
  docs_headless/src/content/docs/CRUD.md
  docs_headless/src/content/docs/CanAccess.md
  docs_headless/src/content/docs/CoreAdmin.md
  docs_headless/src/content/docs/CustomRoutes.md
  docs_headless/src/content/docs/DeletedRecordRepresentation.md
  docs_headless/src/content/docs/DeletedRecordsListBase.md
  docs_headless/src/content/docs/Permissions.md
  docs_headless/src/content/docs/Resource.md
  docs_headless/src/content/docs/Routing.md
  docs_headless/src/content/docs/SecurityGuide.md
  docs_headless/src/content/docs/ShowDeletedBase.md
  docs_headless/src/content/docs/usePermissions.md
Due: prettier

test: Mirror ra-router-tanstack spec coverage in ra-router-react-router-next
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
Due: eslint --fix

fix: Prepend basename in react-router-next Link/Navigate/useNavigate
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
Due: eslint --fix

chore: Drop ra-core from ra-router-react-router-next dev/peer deps
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Drop unused react-router-dom devDependency from react-admin
  packages/react-admin/package.json
Due: prettier

docs: Keep BrowserRouter on react-router-dom for v6 compatibility
  docs/Admin.md
  docs_headless/src/content/docs/CoreAdmin.md
Due: prettier

refactor: Spread remaining Navigate props in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Tighten matchPath/useCanBlock parity with the tanstack spec
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Harden auth e2e assertions against redirect timing flakiness
  cypress/e2e/auth.cy.js
Due: eslint --fix

refactor: Mirror tanstack useNavigate branch structure in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

feat: Support react-router v6 and v7 in the default adapter
  Makefile
  docs/ReactRouterV8.md
  docs/Routing.md
  packages/ra-core/src/routing/README.md
  packages/ra-router-react-router-next/README.md
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/README.md
  packages/ra-router-react-router/package.json
  yarn.lock
Due: eslint --fix, prettier

refactor: Export reactRouterProvider from ra-core root only
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/index.ts
  packages/ra-core/src/routing/index.ts
Due: eslint --fix
