Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

feat: Add typing for sidebar
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
Due: eslint --fix

Fix ESLint @material-ui/core rule configuration
  .eslintrc
  examples/demo/src/dashboard/CardWithIcon.tsx
  examples/demo/src/dashboard/PendingReviews.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/SimpleList.tsx
  packages/ra-ui-materialui/src/list/useDatagridStyles.tsx
Due: eslint --fix

Replace recompose's shallowEqual with react-redux's shallowEqual.
  packages/ra-core/src/util/removeEmpty.ts
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

DeleteWithConfirmButton record.id undefined
  examples/simple/src/posts/PostEdit.js
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
Due: eslint --fix

Sanitize the pagination prop passed to the SelectInput
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Updated test class delete button
  cypress/support/EditPage.js
Due: eslint --fix

Fix eslint and eslint-config-react-app versions.
  package.json
  yarn.lock
Due: prettier

Update "Not Using the <Admin> Components" doc
  docs/CustomApp.md
Due: prettier

Updated dependencies.
  package.json
  yarn.lock
Due: prettier

typo: fix spelling mistake buttom -> button
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.js
Due: eslint --fix

Added `ra-postgraphile` for `Postgraphile` as Data Provider
  docs/DataProviders.md
Due: prettier

Fix docs title.
  docs/Admin.md
Due: prettier

fix demo dependency
  examples/demo/package.json
Due: prettier

Prettier format
  index.html
Due: none

Prettier format
  assets/styles.css
Due: prettier

Add a link to the enterprise edition page
  assets/styles.css
  index.html
Due: prettier

Add the base of the enterprise edition page
  enterprise-edition/index.html
Due: none

Add the first section of the new enterprise edition page
  enterprise-edition/index.html
Due: none

Create a generate-copyright-date method
  assets/generate-copyright-date.js
Due: eslint --fix

Generate the copyright date for all pages
  enterprise-edition/index.html
  index.html
  thank-you/index.html
Due: none

Prettier format
  thank-you/index.html
Due: none

Refact the main page using header footer and main balises
  index.html
Due: none

Remove unused pages
  enterprise-edition/index.html
  thank-you/index.html
Due: none

Change the link of the enterprise edition
  index.html
Due: none

Replace the link to the enterprise edition by an internal anchor
  index.html
Due: none

Update docs/DataProviders.md
  docs/DataProviders.md
Due: prettier

Fix useUpdateMany parameter definition
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Fix CORS issue un simple example codesandbox
  examples/simple/webpack.config.js
Due: eslint --fix

Improve documentation for the <SaveButton> and the <Toolbar>
  docs/CreateEdit.md
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix, prettier

Fix jsdoc for the Toolbar component
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix

Remove pristine from the SaveButton
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix

Pass the disabled property to the SaveButton in the Toolbar
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix

Write documentation for the Toolbar
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix

Rename disabled prop to alwaysEnableSaveButton in the Toolbar to be more explicit
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix

Fix a typo in the documentation
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Fix SaveButton tests
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
Due: eslint --fix

Use pristine as a falback for the disabled prop of the SaveButton in the Toolbar
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix

Remove the disabled equals to pristine mecanism in the SaveButton
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix

Fix the Toolbar that never enables the SaveButton
  packages/ra-ui-materialui/src/form/Toolbar.js
Due: eslint --fix
