Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Add an example about ReferenceManyField in RecordsIterator documentation.
  docs/RecordsIterator.md
  docs_headless/src/content/docs/RecordsIterator.md
Due: prettier

Update WithListContext usages.
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.stories.tsx
  packages/ra-core/src/controller/list/RecordsIterator.stories.tsx
  packages/ra-core/src/controller/list/WithListContext.stories.tsx
Due: eslint --fix

Fix imports in ReferenceArrayFieldBase documentation.
  docs/ReferenceArrayFieldBase.md
Due: prettier

Remove loading property when using emptyWhileLoading.
  docs/ReferenceFieldBase.md
  docs/ReferenceManyFieldBase.md
  docs_headless/src/content/docs/ReferenceFieldBase.md
  docs_headless/src/content/docs/ReferenceManyFieldBase.md
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.stories.tsx
Due: eslint --fix, prettier

Update ShowBase and EditBase authLoading property documentation.
  docs/EditBase.md
  docs/ShowBase.md
  docs_headless/src/content/docs/EditBase.md
  docs_headless/src/content/docs/ShowBase.md
Due: prettier

Add empty property to ListBase and InfiniteListBase.
  docs/ListBase.md
  packages/ra-core/src/controller/list/InfiniteListBase.spec.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.stories.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.tsx
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
  packages/ra-core/src/controller/list/ListBase.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.tsx
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix, prettier

Fix useBulkUpdateController mutationOptions handling
  packages/ra-core/src/controller/button/useBulkUpdateController.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

fix lp assets (newsletter) (partially reverts #10934)
  assets/index-c09bf799.css
  assets/index-f66a4346.js
  index.html
Due: eslint --fix, prettier

introduce TextArrayField and use it in ShowGuesser
  packages/ra-ui-materialui/src/detail/ShowGuesser.spec.tsx
  packages/ra-ui-materialui/src/detail/ShowGuesser.stories.tsx
  packages/ra-ui-materialui/src/detail/showFieldTypes.tsx
  packages/ra-ui-materialui/src/field/TextArrayField.spec.tsx
  packages/ra-ui-materialui/src/field/TextArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/TextArrayField.tsx
  packages/ra-ui-materialui/src/field/index.ts
Due: eslint --fix

use TextArrayField in ListGuesser
  packages/ra-ui-materialui/src/field/TextArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/TextArrayField.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.spec.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.stories.tsx
  packages/ra-ui-materialui/src/list/listFieldTypes.tsx
Due: eslint --fix

add TextArrayField doc
  docs/ArrayField.md
  docs/ChipField.md
  docs/Reference.md
  docs/SingleFieldList.md
  docs/TextArrayField.md
  docs/img/text-array-field.png
  docs/navigation.html
Due: prettier

Document authLoading property of Create and CreateBase.
  docs/Create.md
  docs/CreateBase.md
  docs_headless/src/content/docs/CreateBase.md
Due: prettier

Document authLoading, loading, error, redirectOnError properties of Edit and EditBase.
  docs/Edit.md
  docs/EditBase.md
  docs_headless/src/content/docs/EditBase.md
Due: prettier

Pass id when redirecting on error.
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Document authLoading, loading, error, redirectOnError properties of Show and ShowBase.
  docs/Show.md
  docs/ShowBase.md
  docs_headless/src/content/docs/ShowBase.md
Due: prettier

Document authLoading, loading, error properties of List, InfiniteList, ListBase and InfiniteListBase.
  docs/InfiniteList.md
  docs/List.md
  docs/ListBase.md
  docs_headless/src/content/docs/InfiniteListBase.md
  docs_headless/src/content/docs/ListBase.md
Due: prettier

[no ci] Apply suggestions from code review
  docs/TextArrayField.md
Due: prettier

Fix incorrect documentation of EditInDialogButton.
  docs/EditDialog.md
  docs/ReferenceManyField.md
Due: prettier

[no ci] [doc] Update props table in TextArrayField doc for consistency
  docs/TextArrayField.md
Due: prettier

[website] Add banner to announce Shadcn Admin Kit - gh-pages
  _layouts/default.html
  documentation.html
  index.html
Due: none

[website] Add banner to announce Shadcn Admin Kit - master
  docs/_layouts/default.html
  docs/documentation.html
Due: none

docs: Update disable sorting property in DataTable documentation
  docs/DataTable.md
Due: prettier

Fix authLoading documentation.
  docs/Create.md
  docs/Edit.md
  docs/List.md
  docs/Show.md
Due: prettier

Add RecordsIterator in navigation and reference.
  docs/Reference.md
  docs/navigation.html
Due: prettier

Fix ReferenceManyFieldBase referencing an invalid Iterator component.
  docs/ReferenceManyFieldBase.md
  docs_headless/src/content/docs/ReferenceManyFieldBase.md
Due: prettier

Fix id tip in ShowBase.
  docs/ShowBase.md
Due: prettier

Apply review suggestions.
  docs_headless/src/content/docs/RecordsIterator.md
Due: prettier

Fix `useLogout` does not redirect to the `checkAuth` call `redirectTo` property
  packages/ra-core/src/auth/useLogout.spec.tsx
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

Fix ReferenceFieldBase documentation.
  docs/ReferenceFieldBase.md
  docs_headless/src/content/docs/ReferenceFieldBase.md
Due: prettier

Use stories
  packages/ra-core/src/auth/useLogout.spec.tsx
  packages/ra-core/src/auth/useLogout.stories.tsx
Due: eslint --fix

new banner script and fix missing CSS in landing page
  _includes/banner.html
  _includes/banner_script.html
  _layouts/default.html
  assets/index-a858c906.js
  assets/index-d537f6f8.css
  assets/index-f983711d.js
  documentation.html
  index.html
  landing-page/index.html
  landing-page/src/main.ts
  landing-page/src/style.css
Due: eslint --fix, prettier

new banner script
  docs/_includes/banner.html
  docs/_includes/banner_script.html
  docs/_layouts/default.html
  docs/documentation.html
Due: none

remove unnecessary style from documentation.html
  docs/documentation.html
Due: none

remove unnecessary style from documentation.html
  documentation.html
Due: none

Fix | in docs.
  docs/DataTable.md
  docs/Edit.md
  docs/EditBase.md
  docs/List.md
  docs/Show.md
  docs/ShowBase.md
Due: prettier

Keep actions displayed in offline / error case in EditView and ShowView.
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
Due: eslint --fix

Remove warning when using RecordIterator in a loading, error or empty state.
  packages/ra-core/src/controller/list/RecordsIterator.tsx
Due: eslint --fix

Improve RecordsIterator docs.
  docs/RecordsIterator.md
  docs_headless/src/content/docs/RecordsIterator.md
Due: prettier

Use loading prop instead of emptyWhileLoading.
  docs/ReferenceFieldBase.md
  docs/ReferenceManyFieldBase.md
Due: prettier

Fix RecordsIterator documentation.
  docs/RecordsIterator.md
Due: prettier
