Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Add cognito
  docs/AuthProviderList.md
Due: prettier

Update ReferenceManyInput.md
  docs/ReferenceManyInput.md
Due: prettier

Fix docs examples
  docs/ReferenceManyCount.md
  docs/ReferenceManyInput.md
  docs/useGetLock.md
  docs/useInfiniteGetList.md
Due: prettier

Add `disableCloseOnSelect` tip
  docs/AutocompleteArrayInput.md
Due: prettier

Add tests
  packages/ra-core/src/util/useEvent.spec.tsx
Due: eslint --fix

Revert "Use normal store instead of React state with disabled location sync"
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

First pass
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Introduce withRefreshAuth
  docs/navigation.html
  docs/withRefreshAuth.md
  packages/ra-core/src/auth/index.ts
  packages/ra-core/src/auth/withRefreshAuth.ts
Due: eslint --fix, prettier

Optimize subscribe and publish function of memeryStore and localStorageStore
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-core/src/store/memoryStore.tsx
Due: eslint --fix

fix link
  docs/Upgrade.md
Due: prettier

fix closing raw
  docs/Upgrade.md
Due: prettier

Update Upgrade.md
  docs/Upgrade.md
Due: prettier

align indentation
  docs/Upgrade.md
Due: prettier

fix grammar
  docs/Upgrade.md
Due: prettier

typo fix
  docs/Upgrade.md
Due: prettier

grammar and whitespace
  docs/Upgrade.md
Due: prettier

indentation
  docs/Upgrade.md
Due: prettier

change grammar and expression
  docs/Upgrade.md
Due: prettier

Prepare changelog for v4.7.1
  CHANGELOG.md
Due: prettier

v4.7.1
  examples/simple/package.json
  lerna.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix build
  yarn.lock
Due: none

[doc] Fix image path error
  docs/Count.md
Due: prettier

upgrade to v4.7.1
  AuthProviderList.md
  AutocompleteArrayInput.md
  Count.md
  DataProviders.md
  ReferenceManyCount.md
  ReferenceManyInput.md
  Show.md
  Upgrade.md
  _data/versions.yml
  doc/4.7/AuthProviderList.md
  doc/4.7/AutocompleteArrayInput.md
  doc/4.7/Count.md
  doc/4.7/DataProviders.md
  doc/4.7/ReferenceManyCount.md
  doc/4.7/ReferenceManyInput.md
  doc/4.7/Show.md
  doc/4.7/Upgrade.md
  doc/4.7/useGetLock.md
  doc/4.7/useInfiniteGetList.md
  useGetLock.md
  useInfiniteGetList.md
Due: prettier

Update Search.md
  docs/Search.md
Due: prettier

Add ability to use a React Node as `useNotify` message
  docs/img/use-notify-node.png
  docs/useNotify.md
  packages/ra-core/src/notification/types.ts
  packages/ra-core/src/notification/useNotify.ts
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix, prettier

Fix typos
  docs/useNotify.md
Due: prettier

Make handling empty state the responsibility of the `<List>` child
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/list/List.spec.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

Deprecate PaginationLimit
  packages/ra-ui-materialui/src/list/pagination/Pagination.spec.tsx
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationLimit.tsx
Due: eslint --fix

Update documentation
  docs/Datagrid.md
  docs/List.md
  docs/SimpleList.md
Due: prettier

Better ArrayField handling
  docs/ArrayField.md
  packages/ra-ui-materialui/src/field/ArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix, prettier

[Doc] Add HelpDesk demo
  docs/Demos.md
Due: prettier

enhancement: add generic type
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix

refactor: add removed imports
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix
