Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update lock file
  yarn.lock
Due: none

Prepare changelog for v3.0.4
  CHANGELOG.md
Due: prettier

v3.0.4
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Incorrect useStyle exports.
  packages/ra-ui-materialui/src/detail/Edit.js
  packages/ra-ui-materialui/src/detail/Show.js
  packages/ra-ui-materialui/src/list/List.js
Due: eslint --fix

📝 add express-sequelize-crud to the list of data provider backends
  docs/DataProviders.md
Due: prettier

Fix linter warnings
  packages/ra-ui-materialui/src/button/BulkExportButton.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.spec.tsx
Due: eslint --fix

Fix bad rebase
  packages/ra-ui-materialui/src/form/SimpleForm.js
Due: eslint --fix

Fix warning caused by #4132
  packages/ra-ui-materialui/src/list/Pagination.js
Due: eslint --fix

Allow users to override messages in specific resources
  docs/Translation.md
  packages/ra-ui-materialui/src/list/Empty.js
  packages/ra-ui-materialui/src/list/List.spec.js
Due: eslint --fix, prettier

Fix typo
  docs/Translation.md
Due: prettier

update latest doc to 3.0.4
  Authentication.md
  CreateEdit.md
  CustomApp.md
  DataProviders.md
  Ecosystem.md
  Inputs.md
  Tutorial.md
  doc/3.0/Authentication.md
  doc/3.0/CreateEdit.md
  doc/3.0/CustomApp.md
  doc/3.0/DataProviders.md
  doc/3.0/Ecosystem.md
  doc/3.0/Inputs.md
Due: prettier

docs: add control for `icon` in Custom Menu
  docs/Theming.md
Due: prettier

Fixed typo on README
  README.md
Due: prettier

Change var to const definitions.
  examples/data-generator/src/finalize.js
  packages/ra-ui-materialui/src/layout/CardContentInner.js
Due: eslint --fix

Change interface name from childrenParams to ChildrenParams.
  packages/ra-core/src/controller/field/ReferenceFieldController.tsx
Due: eslint --fix

Fix wrong translation
  index.html
Due: none

Fix typo
  docs/Actions.md
Due: prettier

Fix upgrade guide misses redux-saga version requirement
  UPGRADE.md
Due: prettier

Fix cellClassName shortcoming isn't documented
  docs/List.md
Due: prettier

Fix duplicate query-string package
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  yarn.lock
Due: prettier

Fix warning in SelectInput when alwaysOn is true
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Improve Form customization documentation
  docs/CreateEdit.md
  docs/Fields.md
  docs/Inputs.md
Due: prettier

Add resource aggregator to docs
  docs/Ecosystem.md
Due: prettier

review
  docs/CreateEdit.md
Due: prettier

Fix typo
  docs/List.md
Due: prettier

Prepare changelog for 3.1
  CHANGELOG.md
Due: prettier

Inrease the simple example dataProvider speed
  examples/simple/src/dataProvider.js
Due: eslint --fix

Add missing translation for simple example
  examples/simple/src/i18n/fr.js
Due: eslint --fix

Add missing type package (required for demo)
  examples/demo/package.json
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

v3.1.0
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix: getPermissionsWithoutProvider is not defined
  packages/ra-core/src/auth/useGetPermissions.ts
Due: eslint --fix

Lint: delete white space
  packages/ra-core/src/auth/useGetPermissions.ts
Due: eslint --fix

Added missing type to parameter.
  packages/ra-i18n-polyglot/src/index.ts
Due: eslint --fix

Update tutorial app creation command
  docs/Tutorial.md
Due: prettier

Corrected anchors in the docs.
  docs/CreateEdit.md
Due: prettier

Fix unexpected token in FormWithRedirect
  packages/ra-core/src/form/FormWithRedirect.tsx
Due: eslint --fix

Fix ReferenceError in useGetPermissions due to temporal dead zone
  packages/ra-core/src/auth/useGetPermissions.ts
Due: eslint --fix

Fix matchSuggestion Type
  packages/ra-core/src/form/useSuggestions.ts
Due: eslint --fix

emptyValue prop is '' by default
  docs/Inputs.md
Due: prettier

Prepare changelog for v3.1.1
  CHANGELOG.md
Due: prettier
