Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

pass through custom empty component to Datagrid
  docs/List.md
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix, prettier

Apply review
  packages/ra-core/src/dataProvider/Query.tsx
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useQuery.ts
Due: eslint --fix

Fix warning when using BulkDeleteButton without props
  packages/ra-ui-materialui/src/button/BulkDeleteButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
Due: eslint --fix

Added BulkUpdateButton component
  docs/List.md
  docs/Reference.md
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/index.ts
Due: eslint --fix, prettier

Improve JDocs
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
Due: eslint --fix

Export type
  packages/ra-ui-materialui/src/button/index.ts
Due: eslint --fix

Further improve JDocs
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
Due: eslint --fix

Update packages/ra-language-french/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix

Set default value for data prop
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
Due: eslint --fix

Add onSuccess and onFailure as props to customize side effects
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

Update documentation
  docs/List.md
Due: prettier

Fix documentation
  docs/List.md
Due: prettier

Fix examples
  docs/List.md
Due: prettier

Sanitize onSuccess and onFailure props
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

Improve examples
  docs/List.md
Due: prettier

Further improve examples
  docs/List.md
Due: prettier

Improve explanation of orphan tips
  docs/List.md
Due: prettier

Replace undoable prop for mutationMode
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
Due: eslint --fix

Fix selectedIds propType definition
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

Applied review
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix

don't update title if component is an element, update the doc title to be the same as page title
  docs/Reference.md
  examples/simple/src/posts/PostTitle.tsx
  packages/ra-ui-materialui/src/layout/Title.tsx
Due: eslint --fix, prettier

fix example
  examples/simple/src/tags/TagEdit.tsx
Due: eslint --fix

Make useUpdate callback accept same params as hook
  docs/Actions.md
  packages/ra-core/src/dataProvider/useMutation.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix, prettier

Make useDelete callback accept same params as hook
  docs/Actions.md
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix, prettier

Make useCreate callback accept same params as hook
  docs/Actions.md
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
Due: eslint --fix, prettier

Make useUpdateMany callback accept same params as hook
  docs/Actions.md
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix, prettier

Make useDeleteMany callback accept same params as hook
  docs/Actions.md
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix, prettier

Fix typo in FormDataConsumer JDocs
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix

Reduce scope of FormDataConsumerView variables
  packages/ra-core/src/form/FormDataConsumer.tsx
Due: eslint --fix

[Doc] Add mention of TypeScript support in dataProvider usage
  docs/Actions.md
Due: prettier

Removed emptyText existence condition
  packages/ra-ui-materialui/src/field/UrlField.tsx
Due: eslint --fix

Add hideOnScroll prop to AppBar
  packages/ra-ui-materialui/src/layout/AppBar.tsx
Due: eslint --fix

Fix broken link
  docs/UnitTesting.md
Due: prettier

fix(useMutation): Make `payload` argument optional
  packages/ra-core/src/dataProvider/useMutation.ts
Due: eslint --fix

[Doc] fix missing documentation about the ResourceContext
  docs/Resource.md
Due: prettier

Fix useWarnWhenUsavedChanges and nested fields
  examples/simple/src/comments/CommentEdit.tsx
  examples/simple/src/tags/TagEdit.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.spec.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
Due: eslint --fix

refactor composeValidators to return synchronous validator when all passed validators are synchronous
  packages/ra-core/src/form/validate.spec.ts
  packages/ra-core/src/form/validate.ts
Due: eslint --fix

[Doc] Add link to Google Sheet data provider
  docs/DataProviders.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
