Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix type
  packages/ra-ui-materialui/src/input/InputHelperText.tsx
Due: eslint --fix

Fix parameter type
  packages/ra-ui-materialui/src/input/InputHelperText.tsx
Due: eslint --fix

Fix test
  packages/ra-ui-materialui/src/form/SimpleForm.spec.tsx
Due: eslint --fix

Fix SimpleFormIterator with FormDataConsumer should not re-apply default values
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

Add RecordRepresentation component
  docs/RecordRepresentation.md
  docs/Reference.md
  packages/ra-core/src/controller/record/RecordRepresentation.spec.tsx
  packages/ra-core/src/controller/record/RecordRepresentation.stories.tsx
  packages/ra-core/src/controller/record/RecordRepresentation.tsx
  packages/ra-core/src/controller/record/index.ts
Due: eslint --fix, prettier

Apply suggestions from code review
  packages/ra-core/src/controller/record/RecordRepresentation.spec.tsx
Due: eslint --fix

Fix documentation
  docs/RecordRepresentation.md
  docs/Resource.md
  docs/navigation.html
  docs/useGetRecordRepresentation.md
Due: prettier

Update docs/useGetRecordRepresentation.md
  docs/useGetRecordRepresentation.md
Due: prettier

Fix Reference documentation
  docs/Reference.md
Due: prettier

Fix newsletter locale
  docs/_includes/newsletter.html
Due: none

[Doc] Improve reference to Material UI
  landing-page/index.html
Due: none

[CRM Demo] Replace react-beautiful-dnd by @hello-pangea/dnd to support React 18
  examples/crm/package.json
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealListContent.tsx
  yarn.lock
Due: eslint --fix, prettier

revert change - change docs
  docs/AutocompleteArrayInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix, prettier

Feat: Update alt for image and convert some images
  landing-page/index.html
  landing-page/public/img/Screen_oss.png
  landing-page/public/img/Screen_oss.webp
  landing-page/public/img/navidrome.webp
  landing-page/public/img/screen_get_started.png
  landing-page/public/img/screen_get_started.webp
  landing-page/public/img/users/caritas.webp
Due: none

hotfix/add storybook and test
  packages/ra-input-rich-text/src/RichTextInput.spec.tsx
  packages/ra-input-rich-text/src/RichTextInput.stories.tsx
Due: eslint --fix

Fix remove unsupported propTypes
  examples/simple/src/tags/TagEdit.tsx
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

hotfix/added doc
  packages/ra-input-rich-text/README.md
Due: prettier

Update landing-page/index.html
  landing-page/index.html
Due: none

Add support for fullWitdh and sx prop to TranslatableInputs
  packages/ra-ui-materialui/src/input/TranslatableInputs.stories.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
Due: eslint --fix

Fix newsletter
  assets/index-b58e82f5.js
  assets/index-c356113f.css
  img/Screen_oss.webp
  img/navidrome.webp
  img/screen_get_started.webp
  img/users/activision.webp
  img/users/adobe.webp
  img/users/caritas.webp
  img/users/cdiscount.webp
  img/users/code-finds-a-way.webp
  img/users/decathlon.webp
  img/users/ford.webp
  img/users/ibm.webp
  img/users/intel.webp
  img/users/iron-hack.webp
  img/users/lalilo.webp
  img/users/marinetraffic.webp
  img/users/metiri.webp
  img/users/nvidia.webp
  img/users/puma.webp
  img/users/smartpredict.webp
  img/users/the-distance.webp
  img/users/xiaomi.webp
  img/users/yves-rocher.webp
  img/users/zalando.webp
  index.html
  landing-page/index.html
  landing-page/src/newsletter.css
Due: eslint --fix, prettier

Use ReactNode type for confirmTitle
  docs/Buttons.md
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix, prettier

Fix content and title proptypes in confirm buttons
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix

Don't use Typography inside confirmTitle
  packages/ra-ui-materialui/src/button/DeleteButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.stories.tsx
Due: eslint --fix

[Demo] Improve CRM Demo Kanban code
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealListContent.tsx
  examples/crm/src/deals/stages.ts
Due: eslint --fix

Fix `useGetManyReference` default `onSuccess` throws when the query is disabled
  packages/ra-core/src/dataProvider/useGetManyReference.ts
Due: eslint --fix

Call checkError when getPermissions fails
  docs/AuthProviderWriting.md
  packages/ra-core/src/auth/usePermissions.spec.tsx
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix, prettier

Omit title type from DialogProps
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix

Fix breaking change
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix

Fix useUnique should allow value if the only matching record is the current one
  packages/ra-core/src/form/useUnique.spec.tsx
  packages/ra-core/src/form/useUnique.stories.tsx
  packages/ra-core/src/form/useUnique.ts
Due: eslint --fix

v4.12.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add changelog for v4.12.2
  CHANGELOG.md
  yarn.lock
Due: prettier

Update for v4.12.2
  AuthProviderWriting.md
  AutocompleteArrayInput.md
  Community.md
  Datagrid.md
  Fields.md
  Inputs.md
  List.md
  ReferenceField.md
  ReferenceOneField.md
  SimpleShowLayout.md
  _data/versions.yml
  css/newsletter.css
  doc/4.12/AuthProviderWriting.md
  doc/4.12/AutocompleteArrayInput.md
  doc/4.12/Community.md
  doc/4.12/Datagrid.md
  doc/4.12/Fields.md
  doc/4.12/Inputs.md
  doc/4.12/List.md
  doc/4.12/ReferenceField.md
  doc/4.12/ReferenceOneField.md
  doc/4.12/SimpleShowLayout.md
  doc/4.12/css/newsletter.css
  doc/4.12/documentation.html
  documentation.html
Due: prettier

Add missing file
  _includes/newsletter.html
Due: none

Fix layout
  _layouts/default.html
Due: none

Handle case when date can be undefined
  packages/ra-ui-materialui/src/field/DateField.spec.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
Due: eslint --fix

remove defaultProps in ReferenceField and une destructuring instead
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

remove defaultProps in Login and use destructuring instead
  packages/ra-ui-materialui/src/auth/Login.tsx
Due: eslint --fix

remove defaultProps in BulkUpdateButton and use destructuring instead
  packages/ra-ui-materialui/src/button/BulkUpdateButton.tsx
Due: eslint --fix

remove defaultProps in NumberField and use destructuring instead
  packages/ra-ui-materialui/src/field/NumberField.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
