Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

WIP: feat: amend useReferenceManyFieldController to pass proper resource and storeKey to useRecordSelection
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
Due: eslint --fix

WIP: test: clear selection in useRecordSelection
  packages/ra-core/src/controller/list/useRecordSelection.spec.tsx
  packages/ra-core/src/controller/list/useRecordSelection.ts
Due: eslint --fix

WIP: feat: clear selection in useBulkDeleteController
  packages/ra-core/src/controller/button/useBulkDeleteController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/list/useListController.ts
Due: eslint --fix

[Doc] Change ra-core documentation styles
  docs_headless/src/styles/global.css
Due: prettier

Fix BW theme
  packages/ra-ui-materialui/src/theme/bwTheme.ts
Due: eslint --fix

Fix chiptune theme
  examples/demo/src/themes/chiptuneTheme.ts
  examples/demo/src/themes/themes.tsx
Due: eslint --fix

Fix other themes
  examples/demo/src/themes/softTheme.ts
  packages/ra-ui-materialui/src/form/Toolbar.tsx
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
  packages/ra-ui-materialui/src/theme/houseTheme.ts
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix

Fix CSS Variables theme
  examples/demo/src/themes/cssVariablesTheme.ts
Due: eslint --fix

Fix `useDeleteController` should get the record from closest `RecordContext`
  packages/ra-core/src/controller/button/useDeleteController.spec.tsx
  packages/ra-core/src/controller/button/useDeleteController.tsx
Due: eslint --fix

Add more tests
  packages/ra-core/src/controller/button/useDeleteController.spec.tsx
Due: eslint --fix

[Doc] Add logo to `ra-core` documentation
  docs_headless/astro.config.mjs
  docs_headless/public/logo-dark.svg
  docs_headless/public/logo-light.svg
Due: none

Fix `useGetManyAggregate` merge queries with different `meta`
  packages/ra-core/src/dataProvider/useGetManyAggregate.spec.tsx
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
Due: eslint --fix

Add thin borders
  docs_headless/src/styles/global.css
Due: prettier

[Doc] Update `<ReferenceManyInput>` documentation to mention `rankSource`
  docs/ReferenceManyInput.md
Due: prettier

Improve release script
  scripts/release.sh
Due: none

v5.11.4
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.11.4
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.11.4
  Buttons.md
  Features.md
  ReferenceArrayFieldBase.md
  ReferenceManyFieldBase.md
  ReferenceManyInput.md
  Scheduler.md
  Theming.md
  _data/versions.yml
  doc/5.11/Buttons.md
  doc/5.11/Features.md
  doc/5.11/ReferenceArrayFieldBase.md
  doc/5.11/ReferenceManyFieldBase.md
  doc/5.11/ReferenceManyInput.md
  doc/5.11/Scheduler.md
  doc/5.11/Theming.md
  doc/5.11/img/backend-logos/loopback3.svg
Due: prettier

Fix test-ui exports
  packages/ra-core/src/test-ui/index.ts
Due: eslint --fix

Cleanup test-ui `<TextInput>`
  packages/ra-core/src/test-ui/TextInput.tsx
Due: eslint --fix

Improve `<SimpleFormIteratorItem>` JSDoc
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

Use `<ArrayInputBase>` in test-ui
  packages/ra-core/src/test-ui/ArrayInput.tsx
Due: eslint --fix

Add documentation for headless enterprise features in ra-core documentation
  docs_headless/astro.config.mjs
  docs_headless/public/premium-dark.svg
  docs_headless/public/premium-light.svg
  docs_headless/src/content/docs/LockStatusBase.md
  docs_headless/src/content/docs/canAccessWithPermissions.md
  docs_headless/src/content/docs/getPermissionsFromRoles.md
  docs_headless/src/content/docs/useGetListLive.md
  docs_headless/src/content/docs/useGetLock.md
  docs_headless/src/content/docs/useGetLockLive.md
  docs_headless/src/content/docs/useGetLocks.md
  docs_headless/src/content/docs/useGetLocksLive.md
  docs_headless/src/content/docs/useGetOneLive.md
  docs_headless/src/content/docs/useLock.md
  docs_headless/src/content/docs/useLockCallbacks.md
  docs_headless/src/content/docs/useLockOnCall.md
  docs_headless/src/content/docs/useLockOnMount.md
  docs_headless/src/content/docs/usePublish.md
  docs_headless/src/content/docs/useSubscribe.md
  docs_headless/src/content/docs/useSubscribeCallback.md
  docs_headless/src/content/docs/useSubscribeToRecord.md
  docs_headless/src/content/docs/useSubscribeToRecordList.md
  docs_headless/src/content/docs/useUnlock.md
  docs_headless/src/styles/global.css
Due: prettier

[Doc] Add Soft Delete Documentation
  docs/BulkSoftDeleteButton.md
  docs/DeletedRecordsList.md
  docs/DeletedRecordsListMenuItem.md
  docs/ShowDeleted.md
  docs/SoftDeleteButton.md
  docs/SoftDeleteDataProvider.md
  docs/SoftDeleteWithConfirmButton.md
  docs/navigation.html
  docs/useDeletedRecordsListController.md
  docs/useGetListDeleted.md
  docs/useGetOneDeleted.md
  docs/useHardDelete.md
  docs/useHardDeleteMany.md
  docs/useRestoreMany.md
  docs/useRestoreOne.md
  docs/useSoftDelete.md
  docs/useSoftDeleteMany.md
Due: prettier

WIP: feat: onUnselectItems in list context should unselect only in same storeKey selection state
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/controller/list/useUnselectAll.ts
Due: eslint --fix

WIP: feat: record selection story for List
  packages/ra-ui-materialui/src/list/List.stories.tsx
Due: eslint --fix

Misc doc fixes
  docs/BulkSoftDeleteButton.md
  docs/DeletedRecordsList.md
  docs/SoftDeleteButton.md
  docs/SoftDeleteDataProvider.md
  docs/SoftDeleteWithConfirmButton.md
  docs/navigation.html
Due: prettier

Add links to soft delete feature
  docs/Buttons.md
  docs/Features.md
  docs/SoftDeleteDataProvider.md
  docs/Toolbar.md
  docs/useDelete.md
  docs/useDeleteMany.md
Due: prettier

Improve aces control documentation
  docs_headless/src/content/docs/canAccessWithPermissions.md
  docs_headless/src/content/docs/getPermissionsFromRoles.md
Due: prettier

Fix syntax
  docs_headless/src/content/docs/canAccessWithPermissions.md
  docs_headless/src/content/docs/getPermissionsFromRoles.md
Due: prettier

Fix update removing meta and pageInfo properties from getManyReference result
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Improve imports
  packages/ra-core/src/controller/input/ReferenceArrayInputBase.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
Due: eslint --fix

Improve documentation
  docs/ReferenceInput.md
  docs_headless/src/content/docs/ReferenceArrayInputBase.md
  docs_headless/src/content/docs/ReferenceInputBase.md
  docs_headless/src/content/docs/useChoicesContext.md
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
Due: eslint --fix, prettier

Apply review suggestions
  docs/useSubscribeToRecordList.md
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/LockStatusBase.md
  docs_headless/src/content/docs/canAccessWithPermissions.md
  docs_headless/src/content/docs/getPermissionsFromRoles.md
  docs_headless/src/content/docs/useGetListLive.md
  docs_headless/src/content/docs/useGetLock.md
  docs_headless/src/content/docs/useGetOneLive.md
  docs_headless/src/content/docs/useSubscribeToRecordList.md
Due: prettier

Avoid breaking change in `<SimpleFormIteratorItem>`
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

FIx `<SimpleFormIteratorClearButton>` className prop
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorClearButton.tsx
Due: eslint --fix

Merge `master` on `next` for 5.12.0
  docs/BulkSoftDeleteButton.md
  docs/Buttons.md
  docs/DeletedRecordsList.md
  docs/DeletedRecordsListMenuItem.md
  docs/Features.md
  docs/ShowDeleted.md
  docs/SoftDeleteButton.md
  docs/SoftDeleteDataProvider.md
  docs/SoftDeleteWithConfirmButton.md
  docs/Toolbar.md
  docs/navigation.html
  docs/useDelete.md
  docs/useDeleteMany.md
  docs/useDeletedRecordsListController.md
  docs/useGetListDeleted.md
  docs/useGetOneDeleted.md
  docs/useHardDelete.md
  docs/useHardDeleteMany.md
  docs/useRestoreMany.md
  docs/useRestoreOne.md
  docs/useSoftDelete.md
  docs/useSoftDeleteMany.md
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix, prettier

Fix `useMutationWithMutationMode` in `optimistic` and `undoable` mode may pass invalid parameters to the mutation
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.spec.tsx
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.ts
Due: eslint --fix

[Doc] Fix rankSource prop header level in documentation
  docs/ReferenceManyInput.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
