Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

update graphql version
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
Due: prettier

update yarn.lock
  examples/demo/package.json
  yarn.lock
Due: prettier

fix ci/cd
  examples/demo/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  yarn.lock
Due: prettier

Add premium icon to DualListInput
  docs/navigation.html
Due: none

Fix edit and show controllers do not handle falsy identifiers
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.spec.tsx
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Updates tutorial medias
  docs/Tutorial.md
  docs/img/custom-menu.gif
  docs/img/dashboard.png
  docs/img/filters.gif
  docs/img/login.gif
  docs/img/responsive-list.gif
  docs/img/tutorial_custom_styles.png
  docs/img/tutorial_edit_guesser.gif
  docs/img/tutorial_empty.png
  docs/img/tutorial_guessed_list.png
  docs/img/tutorial_guessed_post_list.png
  docs/img/tutorial_list_user_name.png
  docs/img/tutorial_mobile_post_list.gif
  docs/img/tutorial_overview.gif
  docs/img/tutorial_post_create.gif
  docs/img/tutorial_post_edit_undo.gif
  docs/img/tutorial_post_list_less_columns.png
  docs/img/tutorial_post_title.png
  docs/img/tutorial_url_field.png
  docs/img/tutorial_users_list.png
  docs/img/tutorial_users_list_selected_columns.png
Due: prettier

Fix tabs and spaces
  docs/Tutorial.md
Due: prettier

Proofreading
  docs/Translation.md
  docs/TranslationLocales.md
  docs/TranslationSetup.md
  docs/TranslationTranslating.md
  docs/TranslationWriting.md
  docs/UserLocale.md
  docs/img/translation.gif
  docs/navigation.html
  docs/useLocaleState.md
  docs/useTranslate.md
Due: prettier

Fix references to previous sections
  docs/Admin.md
  docs/Ecosystem.md
  docs/Fields.md
  docs/Inputs.md
  docs/Labeled.md
  docs/Reference.md
  docs/SaveButton.md
  docs/Validation.md
Due: prettier

Grammarly
  docs/Translation.md
  docs/TranslationLocales.md
  docs/TranslationSetup.md
  docs/TranslationTranslating.md
  docs/TranslationWriting.md
Due: prettier

[Doc] Fix Enterprise Edition modues syntax following 4.0 release
  docs/AccordionForm.md
  docs/Calendar.md
  docs/CreateDialog.md
  docs/EditDialog.md
  docs/EditableDatagrid.md
  docs/ReferenceManyToManyField.md
  docs/ReferenceManyToManyInput.md
  docs/TreeWithDetails.md
  docs/WizardForm.md
Due: prettier

[Doc] Fix Theming doc uses outdated syntax for conditional formatting example
  docs/Theming.md
Due: prettier

Warning when using null value on TextInput in EditPost
  .idea/misc.xml
  .idea/workspace.xml
  docs/InputNullValue.md
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix, prettier

Fix typo in doc update for useRecordContext
  docs/Theming.md
Due: prettier

Add yarn plugin for interactive update of dependencies
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
Due: none

Update tsup to fix sourcemap issues
  examples/data-generator/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

[Docs] Fix generated menu example
  docs/Theming.md
Due: prettier

[Doc] Fix custom menu items example (again)
  docs/Theming.md
Due: prettier

Preparce changelog for v4.1.3
  CHANGELOG.md
Due: prettier

v4.1.3
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Updated location of ra-data-treeql
  docs/DataProviderList.md
Due: prettier

Add ability to accept more than one child in `<ReferenceField>`
  docs/ReferenceField.md
  docs/ReferenceManyField.md
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix, prettier

[Doc] Fix `<ReferenceOneField>` doc is missing
  docs/Reference.md
  docs/ReferenceOneField.md
  docs/navigation.html
Due: prettier

Fix bad example in FieldsForRelationships
  docs/FieldsForRelationships.md
Due: prettier

Adding color and image buttons components to rich text input toolbar
  packages/ra-input-rich-text/package.json
  packages/ra-input-rich-text/src/RichTextInput.tsx
  packages/ra-input-rich-text/src/RichTextInputToolbar.tsx
  packages/ra-input-rich-text/src/buttons/ColorButtons.tsx
  packages/ra-input-rich-text/src/buttons/ImageButtons.tsx
  packages/ra-input-rich-text/src/buttons/index.ts
  yarn.lock
Due: eslint --fix, prettier

Fix: key property was missing
  packages/ra-input-rich-text/src/buttons/ColorButtons.tsx
Due: eslint --fix

Update docs/ReferenceOneField.md
  docs/ReferenceOneField.md
Due: prettier

Update docs/navigation.html
  docs/navigation.html
Due: none

Update docs/ReferenceField.md
  docs/ReferenceField.md
Due: prettier

Add mention about i18n in label
  docs/ReferenceField.md
Due: prettier

Fix sourcemaps support with TS
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-no-code/src/ResourceConfiguration/FieldConfiguration/FieldTypeInput.tsx
  packages/ra-no-code/src/ResourceConfiguration/FieldConfiguration/FieldViewsInput.tsx
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix watch command
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update data-generator-retail
  examples/data-generator/package.json
Due: prettier

[Doc] Remove link to third-party TipTap input component
  docs/Inputs.md
Due: prettier

update yarn.lock
  yarn.lock
Due: none

Fix useDataProvider returning undefined value when unauthorized 401 error is thrown
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
