Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

[no ci] fix Resource nested story appearance
  packages/react-admin/src/Resource.stories.tsx
Due: eslint --fix

[Doc] Add a page for `<Scheduler>`
  docs/Reference.md
  docs/Scheduler.md
  docs/navigation.html
Due: prettier

Revert documentation update for `<Scheduler>`
  docs/Reference.md
  docs/Scheduler.md
  docs/navigation.html
Due: prettier

Fix delete mutations success message handling
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
Due: eslint --fix

Fix ReferenceOneField empty case handling
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Menu.md
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
Due: eslint --fix, prettier

Fix useHotkeys documentation link
  docs/Menu.md
Due: prettier

Ensure React keys are unique
  packages/ra-ui-materialui/src/KeyboardShortcut.stories.tsx
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
Due: eslint --fix

[no ci] [Doc] Fix `<DataTable.Col align>` default value and example
  docs/DataTable.md
Due: prettier

fix docs anchors and code examples
  docs/DataTable.md
  docs/InPlaceEditor.md
Due: prettier

Apply suggestions from code review
  docs/Scheduler.md
Due: prettier

More stories
  packages/ra-ui-materialui/src/KeyboardShortcut.stories.tsx
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
Due: eslint --fix

Dim shortcut representation
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
Due: eslint --fix

Fix MenuItemLink styles
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Add screenshots to documentation
  docs/Menu.md
  docs/img/menu-custom-shortcuts.png
  docs/img/menu-shortcuts.png
Due: prettier

Fix simple example dependencies
  examples/simple/package.json
Due: prettier

Show shortcuts on hover only
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Fix JSDoc examples
  packages/ra-core/src/dataProvider/addOfflineSupportToQueryClient.ts
Due: eslint --fix

Remove unnecessary CSS classes
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
Due: eslint --fix

Fix Offline types
  packages/ra-ui-materialui/src/Offline.tsx
Due: eslint --fix

Fix LoadingIndicator
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/layout/Menu.spec.tsx
Due: eslint --fix

Fix SingleFieldList story
  packages/ra-ui-materialui/src/list/SingleFieldList.stories.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Fix ReferenceInput offline detection
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Fix reference fields and inputs
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-ui-materialui/src/Labeled.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Improve documentation
  docs/DataProviders.md
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Document how to handle errors for resumed mutations
  docs/DataProviders.md
Due: prettier

Add ReferenceManyCountBase
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.tsx
  packages/ra-core/src/controller/field/index.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

Fix `useCreate` `mutationMode` cannot be controlled
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.stories.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
Due: eslint --fix

Fix `useDelete` `mutationMode` cannot be controlled
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.stories.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
Due: eslint --fix

Fix `useDeleteMany` `mutationMode` cannot be controlled
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.stories.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
Due: eslint --fix

Fix `useUpdate` `mutationMode` cannot be controlled
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix Datagrid empty throws error when used in standalone mode
  packages/ra-core/src/dataTable/DataTableBase.tsx
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.stories.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
Due: eslint --fix

Fix useReferenceInputController params type
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

[TypeScript] Fix `<SingleFieldList empty>` does not accept text
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Chore(tips): Sync tips from tips repository
  docs/assets/features.md_ignore
  docs/assets/tips.md_ignore
Due: none

Doc(demos): Add team wiki to demos documentation
  docs/Demos.md
  docs/img/team-wiki.jpg
Due: prettier
