Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

feat: use framer-motion for SimpleFormIterator
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
  yarn.lock
Due: eslint --fix, prettier

Add Edit component doc
  docs/Create.md
  docs/CreateEdit.md
  docs/Edit.md
  docs/navigation.html
Due: prettier

Update Edit doc
  docs/Create.md
  docs/Edit.md
Due: prettier

Add EditBase and CreateBase
  docs/Create.md
  docs/CreateBase.md
  docs/Edit.md
  docs/EditBase.md
  docs/navigation.html
Due: prettier

add useEditController
  docs/Edit.md
  docs/EditBase.md
  docs/navigation.html
  docs/useEditController.md
Due: prettier

Add useCreateController
  docs/navigation.html
  docs/useCreateController.md
Due: prettier

Add EditGuesser
  docs/CreateEdit.md
  docs/EditGuesser.md
  docs/ListGuesser.md
  docs/navigation.html
Due: prettier

Add Edit and Save context
  docs/navigation.html
  docs/useCreateContext.md
  docs/useCreateController.md
  docs/useEditContext.md
Due: prettier

Fix typo
  docs/navigation.html
Due: none

MAke hook order consistent in sidebar
  docs/navigation.html
Due: none

Tweak ShowTutorial structure
  docs/ShowTutorial.md
Due: prettier

Update docs/EditTutorial.md
  docs/EditTutorial.md
Due: prettier

Add missing Title import
  docs/EditTutorial.md
Due: prettier

fix typo
  UPGRADE.md
Due: prettier

Fix useCreate types
  packages/ra-core/src/dataProvider/useCreate.ts
Due: eslint --fix

Add SimpleForm doc
  docs/CreateEdit.md
  docs/EditTutorial.md
  docs/Inputs.md
  docs/SimpleForm.md
  docs/img/post-edition.png
  docs/img/simple-form.png
  docs/img/simpleform-layout.png
  docs/navigation.html
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/posts/TagReferenceInput.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
Due: eslint --fix, prettier

Apply suggestions from code review
  docs/Create.md
  docs/CreateBase.md
  docs/Edit.md
  docs/EditBase.md
  docs/useCreateContext.md
  docs/useCreateController.md
  docs/useEditContext.md
  docs/useEditController.md
Due: prettier

Fix unwanted modifications
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/posts/TagReferenceInput.tsx
Due: eslint --fix

Update docs/SimpleForm.md
  docs/SimpleForm.md
Due: prettier

Add missing import
  docs/UnitTesting.md
Due: prettier

Add TabbedForm doc
  docs/Create.md
  docs/CreateEdit.md
  docs/Edit.md
  docs/EditTutorial.md
  docs/Reference.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/img/FormTab-dynamic-label.png
  docs/img/TabbedForm-layout.png
  docs/img/tabbed-form.gif
  docs/navigation.html
Due: prettier

Update docs/CreateEdit.md
  docs/CreateEdit.md
Due: prettier

Update docs/Inputs.md
  docs/Inputs.md
Due: prettier

Update docs/CreateBase.md
  docs/CreateBase.md
Due: prettier

Update docs/TabbedForm.md
  docs/TabbedForm.md
Due: prettier

Add Form doc
  docs/Form.md
  docs/navigation.html
Due: prettier

Add AccordionForm
  docs/AccordionForm.md
  docs/CreateEdit.md
  docs/navigation.html
Due: prettier

Add WizardForm
  docs/CreateEdit.md
  docs/WizardForm.md
  docs/navigation.html
Due: prettier

Add Create and Edit dialog
  docs/CreateDialog.md
  docs/CreateEdit.md
  docs/EditDialog.md
  docs/navigation.html
Due: prettier

Add Toolbar component
  docs/Create.md
  docs/SimpleForm.md
  docs/Toolbar.md
  docs/img/Toolbar.png
  docs/navigation.html
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix, prettier

Move sections from old CreateEdit doc
  docs/CreateEdit.md
  docs/Edit.md
  docs/EditTutorial.md
  docs/SimpleForm.md
  docs/TabbedForm.md
Due: prettier

Add SaveButton
  docs/Create.md
  docs/Edit.md
  docs/SaveButton.md
  docs/img/SaveButton.png
  docs/navigation.html
Due: prettier

Add useSaveContext
  docs/navigation.html
  docs/useSaveContext.md
Due: prettier
