Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Uncomment fix :face_palm:
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
Due: eslint --fix

Update packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
Due: eslint --fix

[no-ci][Demo] Fix order detail misses carriage return in customer identity
  examples/demo/src/orders/OrderEdit.tsx
Due: eslint --fix

changelog for v4.13.3
  CHANGELOG.md
Due: prettier

v4.13.3
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

revert greenframe widget
  index.html
  landing-page/index.html
Due: none

Fix typos and invalid code fences languages
  docs/Datagrid.md
  docs/ListTutorial.md
Due: prettier

Apply suggestions from code review
  docs/ListTutorial.md
Due: prettier

fix AutocompleteInput onInputChange is never called
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Update docs/ListTutorial.md
  docs/ListTutorial.md
Due: prettier

fix types
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Remove useless type
  docs/ListTutorial.md
Due: prettier

crm: fix updateDealStage when deal dropped after the last item
  examples/crm/src/deals/DealListContent.tsx
Due: eslint --fix

Add `<Menu.Item>title</Menu.item>` syntax
  docs/Menu.md
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix, prettier

Include full record in AutocompleteInput onChange
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

more complete stories
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Use ArrayInput in AAI story instead
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
Due: eslint --fix

Keep primaryText as primary prop, use children for complex menus
  docs/Menu.md
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix, prettier

revert useless changes
  docs/Menu.md
Due: prettier

add tests
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Fix typo in RichTextInput.md
  docs/RichTextInput.md
Due: prettier

improve TS type
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

fix value type
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

doc
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
Due: prettier

fix type, again
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

remove unused import
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

[no-ci] Fix outdated doc
  docs/FAQ.md
Due: prettier

[Demo] Add lazy loading to CRM demo to illustrate code splitting
  examples/crm/src/Layout.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/index.ts
Due: eslint --fix

Fix typo in deprecated Datagrid rowStyle message
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

fix: typo double text
  CHANGELOG.md
  docs/PredictiveTextInput.md
  docs/ReferenceOneField.md
  docs/SmartRichTextInput.md
Due: prettier

make addMonths clearer
  greenframe/sales.js
Due: eslint --fix

add japanese translate default message
  packages/ra-language-japan/README.md
  packages/ra-language-japan/package.json
  packages/ra-language-japan/src/index.ts
  packages/ra-language-japan/tsconfig.json
Due: eslint --fix, prettier

add readme
  packages/ra-language-japan/README.md
Due: prettier

doc: fix various typos
  docs/Admin.md
  docs/Architecture.md
  docs/EditTutorial.md
  docs/Features.md
  docs/Fields.md
  docs/Inputs.md
  docs/Tutorial.md
Due: prettier

Add support for lazy-loaded React components
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-language-english/src/index.ts
  packages/ra-ui-materialui/src/auth/AuthCallback.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Loading.stories.tsx
  packages/ra-ui-materialui/src/layout/Loading.tsx
Due: eslint --fix

Reduce loading message size
  packages/ra-ui-materialui/src/layout/Loading.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
