Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix some e2e tests
  cypress/integration/create.js
  cypress/support/CreatePage.js
  cypress/support/EditPage.js
Due: eslint --fix

Corrected Changelog urls.
  CHANGELOG.md
Due: prettier

Update DataProviders.md
  docs/DataProviders.md
Due: prettier

Fix defaultValue e2e test
  cypress/integration/create.js
  examples/simple/src/posts/PostCreate.js
Due: eslint --fix

Fix custom forms e2e test
  examples/simple/src/comments/CommentCreate.js
  examples/simple/src/comments/PostReferenceInput.js
Due: eslint --fix

Fix list test
  cypress/support/ListPage.js
Due: eslint --fix

Fix hrlperText height for latest (latest!) material-ui
  packages/ra-ui-materialui/src/input/InputHelperText.tsx
  yarn.lock
Due: eslint --fix

Fix unit tests
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.spec.tsx
  packages/ra-ui-materialui/src/input/InputHelperText.spec.tsx
Due: eslint --fix

Remove old Postgrest data provider
  docs/DataProviders.md
Due: prettier

Explain change
  packages/ra-ui-materialui/src/input/InputHelperText.tsx
Due: eslint --fix

v3.2.0
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add Changelog for v3.2.0
  CHANGELOG.md
Due: prettier

re-add versions
  _layouts/default.html
Due: none

Add missing version switcher in doc
  docs/_layouts/default.html
Due: none

Fix typo
  docs/Tutorial.md
Due: prettier

Review
  docs/Tutorial.md
Due: prettier

rewrite RichTextInput to TypeScript
  packages/ra-input-rich-text/package.json
  packages/ra-input-rich-text/src/QuillBubbleStylesheet.ts
  packages/ra-input-rich-text/src/QuillSnowStylesheet.ts
  packages/ra-input-rich-text/src/index.tsx
  packages/ra-input-rich-text/src/styles.ts
Due: eslint --fix, prettier

Add `name` property to Layout
  packages/ra-ui-materialui/src/layout/Layout.js
Due: eslint --fix

Fix dark theme color in rich text toolbar
  packages/ra-input-rich-text/src/styles.js
Due: eslint --fix

Use color variables
  packages/ra-input-rich-text/src/styles.js
Due: eslint --fix

fix font options
  packages/ra-input-rich-text/src/styles.js
Due: eslint --fix

Use theming
  packages/ra-input-rich-text/src/styles.js
Due: eslint --fix

Initial prototype
  packages/ra-core/src/dataProvider/replyWithCache.ts
  packages/ra-core/src/dataProvider/useDataProvider.ts
  packages/ra-core/src/reducer/admin/resource/index.ts
  packages/ra-core/src/reducer/admin/resource/validity.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix infinite loop
  packages/ra-core/src/dataProvider/replyWithCache.ts
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Refresh clears the cache
  packages/ra-core/src/reducer/admin/resource/index.ts
Due: eslint --fix

Set cache in dataProvider
  examples/simple/src/dataProvider.js
Due: eslint --fix

Fix read from cache evicts record
  packages/ra-core/src/dataProvider/useDataProvider.ts
  packages/ra-core/src/reducer/admin/resource/validity.ts
Due: eslint --fix

add watch command for demo
  Makefile
  examples/data-generator/package.json
  package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphcool/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix FilterForm layout broken by bottom margin on Inputs
  packages/ra-ui-materialui/src/input/InputHelperText.tsx
  packages/ra-ui-materialui/src/list/FilterFormInput.js
Due: eslint --fix

Fix Default SimpleFormIterator Push Value
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
Due: eslint --fix

prepare changelog for 3.2.1
  CHANGELOG.md
Due: prettier

v3.2.1
  lerna.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Enhance dark theme contrast in demo
  examples/demo/src/layout/themes.ts
Due: eslint --fix

Use material-ui default dark primary.main color
  examples/demo/src/layout/themes.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
