Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update techs
  assets/techs/react-final-form.png
Due: none

update techs
  index.html
Due: none

Fix TabbedForm and TabbedShowLayout do not support parenthesis in id
  packages/ra-core/src/util/escapePath.ts
  packages/ra-core/src/util/index.ts
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Add allowDuplicates for AutocompleteArrayInput
  docs/Inputs.md
  packages/ra-core/src/form/useSuggestions.spec.ts
  packages/ra-core/src/form/useSuggestions.ts
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
Due: eslint --fix, prettier

Remove invalid propType definition.
  packages/ra-ui-materialui/src/form/SimpleForm.js
Due: eslint --fix

Remove unnecessary IconButton component.
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix

Adornment not showing onblur when resettable is true.
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix

Fix AutocompleteInput required label
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Added isSelectable function prop to DatagridRow component to show the selection checkbox only for rows that meet some criteria.
  packages/ra-ui-materialui/src/list/DatagridRow.js
Due: eslint --fix

Added selectableRows function prop to Datagrid and selectable (bool) prop to DatagridRow.
  packages/ra-ui-materialui/src/list/Datagrid.js
  packages/ra-ui-materialui/src/list/DatagridBody.js
  packages/ra-ui-materialui/src/list/DatagridRow.js
Due: eslint --fix

Rename prop selectableRows to canSelectRow.
  packages/ra-ui-materialui/src/list/Datagrid.js
  packages/ra-ui-materialui/src/list/DatagridBody.js
Due: eslint --fix

Improve performance by evaluating the existence of canRowSelect instead of always using a function.
  packages/ra-ui-materialui/src/list/Datagrid.js
  packages/ra-ui-materialui/src/list/DatagridBody.js
Due: eslint --fix

Fix sidebar classes can't be overridden
  docs/Theming.md
  packages/ra-ui-materialui/src/layout/Sidebar.js
Due: eslint --fix, prettier

Fix ReferenceInput should not set filter in getList when q is empty
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.js
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Prepare changelog for v3.0.1
  CHANGELOG.md
Due: prettier

v3.0.1
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphcool/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update 3.0 docs for v3.0.1
  List.md
  Theming.md
  doc/3.0/Theming.md
Due: prettier

Fix AutocompleteArrayInput inside ReferenceArrayInput
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
Due: eslint --fix

ra-realtime no longer exists
  docs/Ecosystem.md
Due: prettier

Add name to makeStyles options
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/auth/LoginForm.tsx
  packages/ra-ui-materialui/src/auth/Logout.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.js
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.js
  packages/ra-ui-materialui/src/button/Button.js
  packages/ra-ui-materialui/src/button/CreateButton.js
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.js
Due: eslint --fix

Silence warnings in tests
  packages/ra-core/src/dataProvider/defaultDataProvider.ts
Due: eslint --fix

Fix unit tests
  packages/ra-core/src/controller/input/ReferenceArrayInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
Due: eslint --fix

Fix defaultDataProvider doesn't respect the DataProvider type
  packages/ra-core/src/dataProvider/defaultDataProvider.ts
Due: eslint --fix

Fix warnings in tests
  packages/ra-core/src/controller/field/ReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/useEditController.spec.tsx
  packages/ra-core/src/controller/useListController.spec.tsx
  packages/ra-core/src/dataProvider/Mutation.spec.tsx
  packages/ra-core/src/dataProvider/Query.spec.tsx
  packages/ra-core/src/dataProvider/useGetMany.spec.tsx
  packages/ra-core/src/dataProvider/useMutation.spec.tsx
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/references/index.ts
  packages/ra-core/src/reducer/admin/resource/list/index.ts
  packages/ra-ui-materialui/src/field/ImageField.spec.js
  packages/ra-ui-materialui/src/field/ReferenceField.spec.js
  packages/ra-ui-materialui/src/input/NullableBooleanInput.spec.tsx
  packages/ra-ui-materialui/src/list/List.spec.js
  packages/ra-ui-materialui/src/list/Pagination.spec.js
Due: eslint --fix

Export useFilterState
  packages/ra-core/src/controller/index.ts
Due: eslint --fix

Fix wrong entry point for 2.8 doc
  doc/2.8/Readme.md
Due: prettier

Fix styles for mobile devices
  packages/ra-core/src/util/Ready.tsx
Due: eslint --fix

Update upgrade guide
  UPGRADE.md
Due: prettier

Add more meaningful error message when source isn't JSON
  packages/ra-core/src/controller/useCreateController.ts
Due: eslint --fix

Replace hidden text in BooleanField by tooltip
  docs/Fields.md
  packages/ra-ui-materialui/src/field/BooleanField.spec.js
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix, prettier

Fix & Simplify AutocompleteInput
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix SimpleFormIterator add an unecessary div (which breaks accessibility)
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
Due: eslint --fix

Fix List does not Refresh Correctly after Optimistic Update
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Fix warning about unmounted component after Login on Demo
  examples/demo/src/layout/Login.js
Due: eslint --fix

Fix ArrayInput validation
  cypress/integration/create.js
  examples/simple/src/posts/PostCreate.js
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
  packages/ra-ui-materialui/src/input/ArrayInput.tsx
Due: eslint --fix

Fix Warnings on Logout on Demo
  examples/demo/src/dashboard/NewCustomers.js
Due: eslint --fix

Fixed previous merge
  packages/ra-data-graphql-simple/src/buildGqlQuery.js
Due: eslint --fix

Fix DatagridRow rowClick event handling
  packages/ra-ui-materialui/src/list/DatagridRow.js
Due: eslint --fix
