Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

[Doc] Fix old MUI import path in code snippets
  docs/BoxStackGrid.md
  docs/FilterLiveSearch.md
  docs/useLockOnCall.md
  docs/useLockOnMount.md
Due: prettier

Fix `<ReferenceField sx>` is ignored when `link={false}`
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix security vulnerability in dev dependencies due to outdated storybook
  package.json
  yarn.lock
Due: prettier

dedupe most packages
  yarn.lock
Due: none

fix babel issue
  package.json
  yarn.lock
Due: prettier

dedupe more babel deps
  yarn.lock
Due: none

[no ci] Fix linter warning
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
Due: eslint --fix

changelog for v4.15.1
  CHANGELOG.md
Due: prettier

v4.15.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs for 4.15.1
  AdvancedTutorials.md
  BoxStackGrid.md
  Calendar.md
  Confirm.md
  FilterLiveSearch.md
  PasswordInput.md
  ReferenceManyToManyInput.md
  StackedFilters.md
  _data/versions.yml
  doc/4.15/AdvancedTutorials.md
  doc/4.15/BoxStackGrid.md
  doc/4.15/Calendar.md
  doc/4.15/Confirm.md
  doc/4.15/FilterLiveSearch.md
  doc/4.15/PasswordInput.md
  doc/4.15/ReferenceManyToManyInput.md
  doc/4.15/StackedFilters.md
  doc/4.15/img/CompleteCalendar.png
  doc/4.15/img/calendar.mp4
  doc/4.15/useLockOnCall.md
  doc/4.15/useLockOnMount.md
  img/CompleteCalendar.png
  img/calendar.mp4
  useLockOnCall.md
  useLockOnMount.md
Due: prettier

refactor: Remove wrapper function in buildGqlQuery
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.ts
  packages/ra-data-graphql-simple/src/buildGqlQuery.ts
Due: eslint --fix

match code and illustrations for SearchInput
  docs/Features.md
  docs/FilterButton.md
  docs/FilterForm.md
  docs/FilteringTutorial.md
  docs/List.md
Due: prettier

[Doc] documentation-issue-with-SelectInput-option
  docs/SelectInput.md
Due: prettier

Add support for custom icon in `<LocalesMenuButton>`
  docs/LocalesMenuButton.md
  packages/ra-ui-materialui/src/button/LocalesMenuButton.tsx
Due: eslint --fix, prettier

Add story
  packages/ra-ui-materialui/src/button/LocalesMenuButton.stories.tsx
Due: eslint --fix

[no ci] [Doc] Fix image formatting in Architecture
  docs/Architecture.md
Due: prettier

apply JB's feedbacks
  docs/Features.md
  docs/FilteringTutorial.md
Due: prettier

add illustration and stories for SelectField
  docs/SelectField.md
  docs/img/SelectField.png
  packages/ra-ui-materialui/src/field/SelectField.stories.tsx
Due: eslint --fix, prettier

fix(buildGqlQuery): Remove unused imports
  packages/ra-data-graphql-simple/src/buildGqlQuery.ts
Due: eslint --fix

[Doc] Add illustration for Labelled component
  docs/Labeled.md
  docs/img/Labeled.png
Due: prettier

[Doc] Fix ra-i18n-i18next example imports the translation msgs twice
  docs/Translation.md
Due: prettier

[Doc] Add range selection tip for Datagrid rows
  docs/Datagrid.md
  docs/img/bulk-actions-toolbar.mp4
  docs/img/datagrid-select-range.mp4
Due: prettier

[Doc] Fix `<CreateButton>` forces full lodash in bundle
  packages/ra-ui-materialui/src/button/CreateButton.tsx
Due: eslint --fix

Delete unused file
  docs/img/bulk-actions-toolbar.webm
Due: none

[Doc] Add gotcha about `<Input disabled>` usage and `isDirty` form state
  docs/Features.md
  docs/Inputs.md
  docs/Readme.md
  docs/Tutorial.md
  examples/simple/src/comments/CommentEdit.tsx
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/users/UserEdit.tsx
Due: eslint --fix, prettier

Fix lowercase InputProps
  docs/Features.md
  docs/Readme.md
  examples/simple/src/comments/CommentEdit.tsx
  examples/simple/src/users/UserEdit.tsx
Due: eslint --fix, prettier

upgrade labeled image
  docs/img/Labeled.png
Due: none

Add missing props
  docs/Labeled.md
  packages/ra-ui-materialui/src/Labeled.spec.tsx
  packages/ra-ui-materialui/src/Labeled.stories.tsx
  packages/ra-ui-materialui/src/Labeled.tsx
Due: eslint --fix, prettier

[no ci] [Doc] Fix typo
  docs/FAQ.md
Due: prettier

[Doc] Update Ecosystem page
  docs/Ecosystem.md
Due: prettier

apply François feedbacks
  docs/img/SelectField.png
  packages/ra-ui-materialui/src/field/SelectField.stories.tsx
Due: eslint --fix

apply Adrien's feedbacks
  packages/ra-ui-materialui/src/field/SelectField.stories.tsx
Due: eslint --fix

fux updateButton + add test + add story
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

move Handling File Uploads in ImageInput doc
  docs/DataProviders.md
  docs/ImageInput.md
Due: prettier

Fix bad url on FilterLiveSearch validate
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
Due: eslint --fix

ra-data-graphql-simple sparse field support
  packages/ra-data-graphql-simple/README.md
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.ts
  packages/ra-data-graphql-simple/src/buildGqlQuery.ts
  packages/ra-data-graphql-simple/src/buildVariables.test.ts
  packages/ra-data-graphql-simple/src/buildVariables.ts
Due: eslint --fix, prettier

FIX buildGqlQuery sparse field type checking
  packages/ra-data-graphql-simple/src/buildGqlQuery.ts
Due: eslint --fix

Fix for issue 9388:
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
