Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Remove query state props in some parts of the doc where it's not required.
  docs/ReferenceFieldBase.md
  docs/ReferenceManyFieldBase.md
  docs/WithListContext.md
  docs_headless/src/content/docs/ReferenceManyFieldBase.md
  docs_headless/src/content/docs/WithListContext.md
Due: prettier

Revert story changes breaking inferred links.
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

v5.11.3
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.11.3
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.11.3
  DataTable.md
  _data/versions.yml
  doc/5.11/DataTable.md
  doc/5.11/documentation.html
Due: prettier

Remove forgottent emptyWhileLoading and query state props.
  docs_headless/src/content/docs/ReferenceFieldBase.md
  docs_headless/src/content/docs/ReferenceManyFieldBase.md
Due: prettier

[Doc] Update `<Scheduler>` documentation
  docs/Scheduler.md
Due: prettier

WIP: feat: add `selectionStoreKey` to List
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

Fix `<FilterLiveForm>` may override latest users inputs when they type at the same pace than the debounce delay
  packages/ra-core/src/form/FilterLiveForm.spec.tsx
  packages/ra-core/src/form/FilterLiveForm.stories.tsx
  packages/ra-core/src/form/FilterLiveForm.tsx
Due: eslint --fix

WIP: feat: add namespaces to useRecordSelection.ts
  packages/ra-core/src/controller/button/useDeleteController.tsx
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/controller/list/useUnselect.ts
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

Fix typo in `converters` section
  docs/Scheduler.md
Due: prettier

fix FilterLiveForm input value can be out of date with filter value
  packages/ra-core/src/form/FilterLiveForm.tsx
Due: eslint --fix

[no ci] [Doc] Fix `<BulkActionsToolbar selectAllButton>` only accepts an element
  docs/Buttons.md
  packages/ra-ui-materialui/src/button/SelectAllButton.tsx
Due: eslint --fix, prettier

Introduce `<ArrayInputBase>`, `<SimpleFomIteratorBase>` and `<SimpleFormIteratorItemBase>`
  packages/ra-core/src/controller/input/ArrayInputBase.tsx
  packages/ra-core/src/controller/input/SimpleFormIteratorBase.tsx
  packages/ra-core/src/controller/input/SimpleFormIteratorContext.ts
  packages/ra-core/src/controller/input/SimpleFormIteratorItemBase.tsx
  packages/ra-core/src/controller/input/index.ts
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/ClearArrayButton.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorClearButton.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

Fix build
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Improve API
  packages/ra-core/src/controller/input/SimpleFormIteratorBase.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

[no ci] [Doc] Add missing props to `<ReferenceArrayFieldBase>` and `<ReferenceManyFieldBase>` documentation
  docs/ReferenceArrayFieldBase.md
  docs/ReferenceManyFieldBase.md
  docs_headless/src/content/docs/ReferenceArrayFieldBase.md
  docs_headless/src/content/docs/ReferenceManyFieldBase.md
Due: prettier

Add some comments [no ci]
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

Fix `<ReferenceInput>` don't return currently selected choice when `enableGetChoices` returns `false`
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Improve API
  packages/ra-core/src/controller/input/SimpleFormIteratorBase.tsx
  packages/ra-core/src/controller/input/index.ts
  packages/ra-core/src/controller/input/useGetArrayInputNewItemDefaults.ts
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

Introduce minimal test ui
  packages/ra-core/src/controller/list/WithListContext.tsx
  packages/ra-core/src/index.ts
  packages/ra-core/src/test-ui/Admin.tsx
  packages/ra-core/src/test-ui/ArrayInput.tsx
  packages/ra-core/src/test-ui/AutocompleteArrayInput.tsx
  packages/ra-core/src/test-ui/Confirm.tsx
  packages/ra-core/src/test-ui/DataTable.tsx
  packages/ra-core/src/test-ui/DeleteButton.tsx
  packages/ra-core/src/test-ui/Layout.tsx
  packages/ra-core/src/test-ui/Notification.tsx
  packages/ra-core/src/test-ui/Pagination.tsx
  packages/ra-core/src/test-ui/SimpleForm.tsx
  packages/ra-core/src/test-ui/SimpleFormIterator.tsx
  packages/ra-core/src/test-ui/SimpleList.tsx
  packages/ra-core/src/test-ui/SimpleShowLayout.tsx
  packages/ra-core/src/test-ui/TextInput.tsx
  packages/ra-core/src/test-ui/defaultI18nProvider.ts
  packages/ra-core/src/test-ui/index.ts
Due: eslint --fix

Add ArrayInputBase story
  packages/ra-core/src/controller/input/ArrayInputBase.stories.tsx
Due: eslint --fix

Add headless documentation
  docs_headless/src/content/docs/ArrayInputBase.md
  docs_headless/src/content/docs/SimpleFormIteratorBase.md
Due: prettier

Fix test-ui export
  packages/ra-core/src/index.ts
Due: eslint --fix

Rename `onAddItem` to `getItemDefaults`
  docs_headless/src/content/docs/SimpleFormIteratorBase.md
  packages/ra-core/src/controller/input/SimpleFormIteratorBase.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix, prettier

accept a ReactNode
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
Due: eslint --fix

Fix `<Toolbar>` design
  examples/demo/src/themes/softTheme.ts
  packages/ra-ui-materialui/src/form/Toolbar.tsx
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
Due: eslint --fix

[no ci] [Doc] Fix some incorrect video types
  docs/Features.md
  docs/Theming.md
Due: prettier

[no ci] [chore] [Doc] Improve sidebar scrolling on headless docs
  docs_headless/src/components/CustomSidebar.astro
Due: none

Fix incompatibility with latest react-query
  examples/simple/package.json
  packages/ra-core/package.json
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-core/src/types.ts
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Do not bump the dependencies, only devDependencies
  packages/ra-core/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix useUpdate
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Improve DeleteWithConfirmButton
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
Due: eslint --fix

Fix tests
  packages/ra-core/src/controller/create/CreateBase.spec.tsx
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
  packages/ra-ui-materialui/src/input/TextInput.spec.tsx
Due: eslint --fix

WIP: feat: use `storeKey` in useRecordSelection
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-core/src/controller/list/useUnselect.ts
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

WIP: test: useRecordSelection.ts
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.spec.tsx
  packages/ra-core/src/controller/list/useRecordSelection.spec.tsx
  packages/ra-core/src/controller/list/useRecordSelection.ts
Due: eslint --fix

Add `<ReferenceInputBase>` documentation
  docs_headless/src/content/docs/ReferenceInputBase.md
Due: prettier

Add `<ReferenceArrayInputBase>` documentation
  docs_headless/src/content/docs/ReferenceArrayInputBase.md
Due: prettier

WIP: doc: about `storeKey` in useRecordSelection
  docs/List.md
Due: prettier

Update sidebar menu
  docs_headless/astro.config.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
