Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Remove prop injection in Show
  docs/Show.md
  docs/ShowTutorial.md
  packages/ra-core/src/controller/RecordContext.tsx
  packages/ra-core/src/controller/details/ShowContext.tsx
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/core/Resource.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
Due: eslint --fix, prettier

Fix build
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/tsconfig.json
Due: eslint --fix, prettier

Add Story for Show component with raw content
  .storybook/main.js
  package.json
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/types.ts
  yarn.lock
Due: eslint --fix, prettier

More explicit tutorial
  docs/ShowTutorial.md
Due: prettier

Simplify Show page logic
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Make WithRecord resistant to non-loaded record
  packages/ra-core/src/controller/RecordContext.tsx
Due: eslint --fix

Document how useshowController can be used manually
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix

Make ResourceContextProvider resistent to missing recource name
  packages/ra-core/src/core/ResourceContextProvider.tsx
Due: eslint --fix

Add mention about removed aside in upgrade guide
  UPGRADE.md
Due: prettier

Simplify Show
  packages/ra-ui-materialui/src/detail/Show.tsx
Due: eslint --fix

cleanup
  packages/ra-core/src/controller/details/ShowBase.tsx
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Add unit tests
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
Due: eslint --fix

Add more tests
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
Due: eslint --fix

Improve upgrade guide
  UPGRADE.md
Due: prettier

Fix build
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/detail/ShowGuesser.tsx
Due: eslint --fix

Fix linter warnings
  packages/ra-test/src/TestContext.spec.tsx
  packages/ra-test/src/TestContext.tsx
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
Due: eslint --fix

Overhaul Show documentation
  docs/Show.md
  docs/ShowTutorial.md
  docs/navigation.html
Due: prettier

Move loading responsibility down to layout components
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Add SimpleShowLayout docs and stories
  docs/SimpleShowLayout.md
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.stories.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
Due: eslint --fix, prettier

Fix Show PropTypes ignore sx prop
  packages/ra-ui-materialui/src/detail/Show.tsx
Due: eslint --fix

Finalize SiumpleShowLayout
  packages/ra-core/src/controller/RecordContext.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.stories.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/field/types.ts
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Add TabbedshowLayout Stories
  packages/ra-ui-materialui/src/detail/Tab.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.stories.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
Due: eslint --fix

Document TabbedShowLayout
  docs/SimpleShowLayout.md
  docs/TabbedShowLayout.md
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
Due: eslint --fix, prettier

Add ShowGuesser Doc
  docs/ShowGuesser.md
Due: prettier

Make default translationContext a bit smarter
  packages/ra-core/src/i18n/TranslationContext.ts
Due: eslint --fix

Fix ShowGuesser dumped code
  packages/ra-ui-materialui/src/detail/ShowGuesser.tsx
Due: eslint --fix

Add ShowBase documentation
  docs/ShowBase.md
  docs/navigation.html
Due: prettier

Add useShowController doc page
  docs/ShowBase.md
  docs/useShowController.md
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix, prettier

add useShowContext documentation
  docs/Show.md
  docs/ShowTutorial.md
  docs/useShowContext.md
Due: prettier

add useRecordcontext hook documentation
  docs/useRecordContext.md
  docs/useShowContext.md
Due: prettier

Fix ts build
  packages/ra-no-code/src/builders/Show.tsx
Due: eslint --fix

Revert default translation context change
  packages/ra-core/src/i18n/TranslationContext.ts
Due: eslint --fix

Fix test
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.spec.tsx
Due: eslint --fix

Split RecordContext file, add WithRecord documentation
  UPGRADE.md
  docs/Show.md
  docs/SimpleShowLayout.md
  docs/TabbedShowLayout.md
  docs/WithRecord.md
  docs/navigation.html
  docs/useRecordContext.md
  packages/ra-core/src/controller/RecordContext.tsx
  packages/ra-core/src/controller/WithRecord.tsx
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/useRecordContext.ts
Due: eslint --fix, prettier

Move ra-core Show files into dedicated directory
  docs/Show.md
  docs/ShowBase.md
  docs/useRecordContext.md
  docs/useShowContext.md
  docs/useShowController.md
  packages/ra-core/src/controller/details/ShowController.tsx
  packages/ra-core/src/controller/details/index.ts
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/show/ShowBase.tsx
  packages/ra-core/src/controller/show/ShowContext.tsx
  packages/ra-core/src/controller/show/ShowContextProvider.tsx
  packages/ra-core/src/controller/show/ShowController.tsx
  packages/ra-core/src/controller/show/index.ts
  packages/ra-core/src/controller/show/useShowContext.tsx
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-core/src/types.ts
Due: eslint --fix, prettier

Move ra-core record files into dedicated directory
  docs/Show.md
  docs/WithRecord.md
  docs/useRecordContext.md
  packages/ra-core/src/controller/details/CreateContextProvider.tsx
  packages/ra-core/src/controller/details/EditContextProvider.tsx
  packages/ra-core/src/controller/index.ts
  packages/ra-core/src/controller/record/RecordContext.tsx
  packages/ra-core/src/controller/record/WithRecord.tsx
  packages/ra-core/src/controller/record/index.ts
  packages/ra-core/src/controller/record/useRecordContext.ts
  packages/ra-core/src/controller/show/ShowContextProvider.tsx
Due: eslint --fix, prettier

Add controlled mode for SimpleShowLayout and TabbedShowLayout
  docs/Show.md
  docs/ShowBase.md
  docs/SimpleShowLayout.md
  docs/TabbedShowLayout.md
  packages/ra-core/src/controller/record/OptionalRecordContextProvider.tsx
  packages/ra-core/src/controller/record/index.ts
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
Due: eslint --fix, prettier

Add change of labeled policy in Upgrade guide
  UPGRADE.md
Due: prettier

Add unit tests for SimpleShowLayout
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.spec.tsx
  packages/ra-ui-materialui/src/field/types.ts
Due: eslint --fix

Apply suggestions from code review
  docs/Show.md
  docs/ShowBase.md
  docs/ShowTutorial.md
  docs/SimpleShowLayout.md
  docs/useShowController.md
Due: prettier
