Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix typo in upgrade doc
  UPGRADE.md
Due: prettier

[Doc] Fix side effect syntax for dataProvider hooks
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

[Doc] Remove removed items from reference
  docs/Reference.md
Due: prettier

Remove mentions of successMessage
  docs/CreateEdit.md
  packages/ra-core/src/controller/create/CreateContext.tsx
  packages/ra-core/src/controller/create/useCreateContext.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditContext.tsx
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
Due: eslint --fix, prettier

Fix useDataProvider docs
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Remove deprecated comment
  packages/ra-core/src/controller/list/useListController.ts
Due: eslint --fix

Review on Upgrade doc
  UPGRADE.md
Due: prettier

Fix linter warning
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Fix useGetOne query cache doesn't reflect the dataProvider call signature
  docs/Actions.md
  examples/simple/src/comments/PostPreview.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix, prettier

Move theme management responsability to react-admin
  examples/demo/src/App.tsx
  examples/demo/src/configuration/Configuration.tsx
  examples/demo/src/layout/Layout.tsx
  examples/demo/src/themeReducer.ts
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/LoadingPage.tsx
  packages/ra-ui-materialui/src/layout/Theme/ThemeContext.ts
  packages/ra-ui-materialui/src/layout/Theme/ThemeProvider.tsx
  packages/ra-ui-materialui/src/layout/Theme/index.ts
  packages/ra-ui-materialui/src/layout/Theme/useSetTheme.ts
  packages/ra-ui-materialui/src/layout/index.ts
  packages/react-admin/package.json
  packages/react-admin/src/Admin.tsx
  packages/react-admin/src/AdminContext.tsx
  packages/react-admin/src/AdminRouter.tsx
  packages/react-admin/src/AdminUI.tsx
  packages/react-admin/src/defaultI18nProvider.spec.ts
  packages/react-admin/src/defaultI18nProvider.ts
  packages/react-admin/src/index.ts
Due: eslint --fix, prettier

Apply review
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/components.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/Theme/ThemeContext.ts
  packages/ra-ui-materialui/src/layout/Theme/ThemeProvider.tsx
  packages/ra-ui-materialui/src/layout/Theme/useSetTheme.ts
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Update CRM demo
  examples/crm/src/Layout.tsx
Due: eslint --fix

Move ThemeProvider to AdminContext
  packages/react-admin/src/Admin.tsx
  packages/react-admin/src/AdminContext.tsx
Due: eslint --fix

Fix liquid warnings
  docs/Actions.md
  docs/ShowTutorial.md
Due: prettier

Add upgrade instructions
  UPGRADE.md
  docs/Theming.md
Due: prettier

Fix tests
  packages/ra-core/src/core/CustomRoutes.authenticated.stories.tsx
  packages/ra-core/src/core/CustomRoutes.unauthenticated.stories.tsx
  packages/ra-core/src/core/CustomRoutes.withLayout.stories.tsx
Due: eslint --fix

Update docs
  UPGRADE.md
  docs/Theming.md
Due: prettier

Migrate AutocompleteArrayInput to MUI Autocomplete
  packages/ra-core/src/form/useSuggestions.spec.ts
  packages/ra-core/src/form/useSuggestions.ts
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix useSuggestions tests
  packages/ra-core/src/form/useSuggestions.spec.ts
Due: eslint --fix

Fix issues
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/useSupportCreateSuggestion.tsx
Due: eslint --fix

Fix e2e tests
  cypress/integration/edit.js
  cypress/support/EditPage.js
Due: eslint --fix

Fix simple example tags search
  examples/simple/src/dataProvider.tsx
  examples/simple/src/posts/TagReferenceInput.tsx
Due: eslint --fix

Fix autocompleteArrayInput choices with references
  packages/ra-core/src/controller/input/referenceDataStatus.ts
Due: eslint --fix

Update documentation
  docs/Inputs.md
Due: prettier

Update Upgrade Guide
  UPGRADE.md
Due: prettier

Cleanup
  packages/ra-ui-materialui/src/input/AutocompleteInputLoader.tsx
  packages/ra-ui-materialui/src/input/AutocompleteSuggestionItem.tsx
  packages/ra-ui-materialui/src/input/AutocompleteSuggestionList.tsx
Due: eslint --fix

Merge both autocomplete
  packages/ra-core/src/form/useSuggestions.ts
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Refactor and remove options
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Add documentation
  docs/Inputs.md
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
Due: eslint --fix, prettier

Better looking stories
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Review
  UPGRADE.md
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/input/useSupportCreateSuggestion.tsx
Due: eslint --fix, prettier

Fix wrong rebase
  UPGRADE.md
Due: prettier

Improve fix
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
  packages/ra-core/src/dataProvider/performQuery/performOptimisticQuery.ts
  packages/ra-core/src/dataProvider/performQuery/performPessimisticQuery.ts
  packages/ra-core/src/dataProvider/performQuery/performUndoableQuery.ts
Due: eslint --fix

Use pnpm
  examples/simple/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier

Update actions for pnpm
  .github/workflows/test.yml
Due: none

Fix dependencies
  Makefile
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/list/datagrid/useDatagridStyles.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier

Remove yarn.lock
  yarn.lock
Due: none

Fix simple example build
  examples/simple/package.json
  packages/ra-input-rich-text/package.json
  packages/react-admin/package.json
  pnpm-lock.yaml
Due: prettier

Allow prop "disabled" passed frm filter 2 menuItem
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
Due: eslint --fix

v4.0.0-alpha.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
