Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Do not index old versions
  docs/_layouts/default.html
Due: none

ignore vercel build on branches
  vercel.json
Due: prettier

Fix tests
  packages/ra-core/src/dataTable/DataTableBase.spec.tsx
  packages/ra-core/src/dataTable/DataTableBase.tsx
Due: eslint --fix

Update Node.js version to 22 in deploy headless docs workflow
  .github/workflows/deploy-doc-headless.yml
Due: none

Use render prop for reference count customization
  docs/ReferenceManyCount.md
  docs_headless/src/content/docs/ReferenceManyCountBase.md
  packages/ra-core/src/controller/field/ReferenceManyCountBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix, prettier

feat: support optionValue in reference inputs
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

fix: preserve dates in optimistic updates
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-core/src/util/index.ts
  packages/ra-core/src/util/removeUndefined.spec.ts
  packages/ra-core/src/util/removeUndefined.ts
Due: eslint --fix

feat: support children in ReferenceManyCount
  packages/ra-core/src/controller/field/ReferenceManyCountBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Fix linter warnings
  packages/ra-core/src/controller/field/ReferenceManyCountBase.tsx
Due: eslint --fix

[TypeScript] Fix compilation with react-hook-form 7.72.0
  packages/ra-core/src/form/Form.tsx
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

fix: satisfy react-admin lint on reference input
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

dedupe
  yarn.lock
Due: none

Fix WarnWhenUnsavedChanges alert after deleting a record
  packages/ra-core/src/controller/button/useDeleteController.tsx
  packages/ra-core/src/form/Form.spec.tsx
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
Due: eslint --fix

feat: Add emptyText prop to SelectArrayInput
  docs/SelectArrayInput.md
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix, prettier

Make test more tolerant
  packages/ra-data-fakerest/src/index.spec.ts
Due: eslint --fix

Lint fix
  packages/ra-data-fakerest/src/index.spec.ts
Due: eslint --fix

yarn dedupe
  yarn.lock
Due: none

update path-to-regexp
  yarn.lock
Due: none

Fix types
  docs_headless/package.json
  package.json
  yarn.lock
Due: prettier

support react-router v8
  packages/ra-core/package.json
  packages/ra-core/src/auth/Authenticated.spec.tsx
  packages/ra-core/src/auth/useAuthenticated.spec.tsx
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
  packages/ra-core/src/auth/useLogin.spec.tsx
  packages/ra-core/src/auth/useLogout.spec.tsx
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/usePrevNextController.ts
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRoutes.spec.tsx
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.spec.tsx
  packages/ra-core/src/dataProvider/useGetRecordId.spec.tsx
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
  packages/ra-core/src/routing/TestMemoryRouter.tsx
  packages/ra-core/src/routing/adapters/reactRouterProvider.tsx
  packages/ra-core/src/routing/useCreatePath.stories.tsx
  packages/ra-core/src/routing/useRedirect.spec.tsx
  packages/ra-core/src/routing/useRedirect.stories.tsx
  packages/ra-core/src/routing/useScrollToTop.tsx
  packages/ra-input-rich-text/src/RichTextInput.stories.tsx
  packages/ra-no-code/package.json
  packages/ra-no-code/src/ui/ImportResourceDialog.tsx
  packages/ra-no-code/src/ui/ResourceMenuItem.tsx
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/react-admin/package.json
  packages/react-admin/src/Admin.stories.tsx
  packages/react-admin/src/Resource.stories.tsx
  yarn.lock
Due: eslint --fix, prettier

update lock file
  yarn.lock
Due: none

update comments
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
Due: eslint --fix

fix missing error boundary tests
  packages/ra-core/src/routing/CompatHashRouter.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
Due: eslint --fix

feat: Add ra-router-react-router-v8 adapter package
  Makefile
  docs/ReactRouterV8.md
  docs/Routing.md
  packages/ra-router-react-router-v8/README.md
  packages/ra-router-react-router-v8/package.json
  packages/ra-router-react-router-v8/src/index.ts
  packages/ra-router-react-router-v8/src/reactRouterV8Provider.stories.tsx
  packages/ra-router-react-router-v8/src/reactRouterV8Provider.tsx
  packages/ra-router-react-router-v8/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

docs: Note deferred unit tests pending React 19 test lane
  packages/ra-router-react-router-v8/README.md
Due: prettier

refactor: Drop in-core react-router compat layer on react-router-v8-old
  packages/ra-core/package.json
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/routing/CompatHashRouter.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
  packages/ra-core/src/routing/adapters/reactRouterProvider.tsx
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

build: Keep react-router ^8.0.0 in the peer/dependency range
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

build: Remove unused react-router-dom from ra-ui-materialui
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

fix: Restore canonical nested exports for ra-core and ra-ui-materialui
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
Due: prettier

build: Exclude ESM-only ra-router-react-router-v8 from update-package-exports
  docs/ReactRouterV8.md
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-router-react-router-v8/README.md
  scripts/update-package-exports.ts
Due: eslint --fix, prettier

build: Drop redundant module/moduleResolution from v8 adapter tsconfig
  packages/ra-router-react-router-v8/tsconfig.json
Due: prettier

Fix 'Maximum update depth exceeded' on large TabbedForm submit
  packages/ra-core/src/form/groups/useFormGroup.spec.tsx
  packages/ra-core/src/form/groups/useFormGroup.ts
Due: eslint --fix

Add TabbedForm story reproducing the maximum update depth issue
  packages/ra-ui-materialui/src/form/TabbedForm.stories.tsx
Due: eslint --fix

v5.15.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update docs/OldVersions.md for version 5.15.0
  docs/OldVersions.md
Due: prettier

Update create-react-admin templates dependencies for version 5.15.0
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update changelog for version 5.15.0
  CHANGELOG.md
Due: prettier

Fix AutocompleteInput with single selection in MUI7
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Prepare 5.15.1
  CHANGELOG.md
Due: prettier
