Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix documentation
  docs/InfiniteList.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/useListController.md
Due: prettier

Add ability to override success notifications per resource
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

Add translations in examples
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/demo/src/reviews/ReviewCreate.tsx
  examples/simple/src/i18n/en.ts
  examples/simple/src/i18n/fr.ts
  examples/simple/src/posts/PostCreate.tsx
  examples/simple/src/users/UserCreate.tsx
Due: eslint --fix

Fix tests
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.spec.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
Due: eslint --fix

Update InfiniteList documentation
  docs/InfiniteList.md
Due: prettier

Apply suggestions from code review
  docs/InfiniteList.md
  docs/useListController.md
Due: prettier

Update documentation
  docs/List.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/ReferenceManyField.md
Due: prettier

Add stories
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.stories.tsx
  packages/ra-ui-materialui/src/detail/Create.stories.tsx
  packages/ra-ui-materialui/src/detail/Edit.stories.tsx
Due: eslint --fix

Update ListButton look and feel
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
Due: eslint --fix

Update changelog for 5.1.5
  CHANGELOG.md
Due: prettier

v5.1.5
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for 5.1.5
  yarn.lock
Due: none

Update for version 5.1.5
  Demos.md
  Upgrade.md
  _data/versions.yml
  doc/5.1/Demos.md
  doc/5.1/Upgrade.md
  doc/5.1/img/demo-CRM.png
  img/demo-CRM.png
Due: prettier

Improve FilterButtonMenuItem alignment
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
Due: eslint --fix

Fix FilterButton accessibility and tests
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
Due: eslint --fix

Fix FilterForm tests
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
Due: eslint --fix

Fix linter warning
  examples/crm/src/companies/CompanyCard.tsx
Due: eslint --fix

fix missing `;`
  docs/DateInput.md
  docs/DateTimeInput.md
Due: prettier

Fix wrong links
  docs/DateRangeInput .md
Due: prettier

Fix image url
  docs/DateRangeInput .md
Due: prettier

rename file to remove wrong space
  docs/DateRangeInput.md
Due: prettier

[no ci] Use local image file
  docs/DateRangeInput.md
Due: prettier

Update doc for datagridAg
  docs/DatagridAG.md
Due: prettier

Update changelog for 5.2.0
  CHANGELOG.md
Due: prettier

v5.2.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update create-react-admin
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update yarn.lock for 5.2.0
  yarn.lock
Due: none

add {% raw %} / {% endraw %} arround codes
  docs/DatagridAG.md
Due: prettier

Backport images
  docs/DatagridAG.md
  docs/img/DatagridAG-MasterDetail.png
  docs/img/DatagridAG-PostList.png
  docs/img/DatagridAG-auto-size.png
  docs/img/DatagridAG-dark.png
  docs/img/DatagridAG-edit-cell.png
  docs/img/DatagridAG-edit-row.png
  docs/img/DatagridAG-flex.png
  docs/img/DatagridAG-ra-fields.png
  docs/img/DatagridAG-select-rows.png
  docs/img/DatagridAG-selected-rows.png
  docs/img/DatagridAG-status-bar.png
  docs/img/DatagridAG-sx-height.png
  docs/img/DatagridAG-sx.png
Due: prettier

Reorder release notes
  CHANGELOG.md
Due: prettier

Reorder changelog
  CHANGELOG.md
Due: prettier

update doc latest version
  DataProviderWriting.md
  DateInput.md
  DateTimeInput.md
  List.md
  OldVersions.md
  Reference.md
  ReferenceManyField.md
  Remix.md
  Vite.md
  WithListContext.md
  img/DateRangeInput.png
  navigation.html
  useGetList.md
  useGetManyReference.md
  useInfiniteGetList.md
  useListContext.md
Due: prettier

Improve doc and stories about facets
  docs/List.md
  docs/img/List-facets.png
  packages/ra-ui-materialui/src/list/List.spec.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
Due: eslint --fix, prettier

Fix for ids not being escaped in paths in the simple rest data provider
  packages/ra-data-simple-rest/src/index.spec.ts
  packages/ra-data-simple-rest/src/index.ts
Due: eslint --fix

Doc needs to be consistent with itself regarding isPending vs isLoading
  docs/DataProviderWriting.md
Due: prettier

Review
  docs/InfiniteList.md
  docs/List.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/ReferenceManyField.md
  docs/useListController.md
  packages/ra-core/src/controller/list/useInfiniteListController.accessControl.stories.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useListController.accessControl.stories.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-ui-materialui/src/field/ReferenceManyCount.stories.tsx
Due: eslint --fix, prettier

Fix typo in documentation
  docs/InfiniteList.md
Due: prettier

Fix duplicated dependencies in dev packages
  cypress/package.json
  yarn.lock
Due: prettier

remove useless gif
  docs/img/list_filter.gif
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
