Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Backport #9712
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Backport #9716
  docs/Layout.md
Due: prettier

Backport #9717
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
Due: eslint --fix

Backport #9718
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Backport #9720
  docs/ReferenceManyToManyInput.md
Due: prettier

Fix ArrayInput tests
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.spec.tsx
Due: eslint --fix

Fix FilterButton tests
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Fix FilterButton tests timeout
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Fix FilterButton tests timeout last expect
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Move story about elements as field labels in Datagrid
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.spec.tsx
Due: eslint --fix

Invert condition for label elements check in DatagridHeaderCell
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
Due: eslint --fix

Add a note about nested fields in Forms documentation
  docs/AccordionForm.md
  docs/Form.md
  docs/LongForm.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/WizardForm.md
Due: prettier

Update ReferenceField to include a link when relevant
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix ReferenceField should render a link when the developer asked for it
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
Due: eslint --fix

Fix unit test
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Fix typo
  docs/AccordionForm.md
  docs/Form.md
  docs/LongForm.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/WizardForm.md
Due: prettier

Avoid using react-admin package in story
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
Due: eslint --fix

Extract logic to generate link for record
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-core/src/routing/index.ts
  packages/ra-core/src/routing/useGetRouteForRecord.ts
Due: eslint --fix

[Website] Fix terms and conditions link
  index.html
  landing-page/index.html
Due: none

Fix useDelete tests
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
Due: eslint --fix

Add support for async link function
  packages/ra-core/src/routing/types.ts
  packages/ra-core/src/routing/useGetRouteForRecord.ts
Due: eslint --fix

reuse link creation logic in DatagridRow
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

improve naming
  packages/ra-core/src/controller/field/useReferenceFieldController.ts
  packages/ra-core/src/routing/index.ts
  packages/ra-core/src/routing/useGetPathForRecord.ts
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Fix type
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Fix create-react-admin tests
  packages/create-react-admin/src/generateAppTestFile.ts
Due: eslint --fix

ReferenceField defaults to show when both edit and show are available
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Remove only in tests
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
Due: eslint --fix

Update Routing Documentation Regarding `basename`
  docs/Routing.md
Due: prettier

Update Admin Documentation `basename` example
  docs/Admin.md
Due: prettier

Reduce dataProvider delay in useDelete pessimistic tests
  packages/ra-core/src/dataProvider/useDelete.pessimistic.stories.tsx
Due: eslint --fix

forward query options to getMany
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
Due: eslint --fix

Fix useUpdate throws an error when record id is a valid falsy value such as zero
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Update changelog for v5.0.2
  CHANGELOG.md
Due: prettier

v5.0.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock
  yarn.lock
Due: none

Fix ReviewList scrolls to top when editing a review
  examples/demo/src/reviews/ReviewListDesktop.tsx
Due: eslint --fix

Fix logging of queries in ra-data-fakerest
  packages/ra-data-fakerest/src/index.ts
Due: eslint --fix

Fix queryOptions type
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
