Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Simplify and uniformize
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Don't trigger onChange unnecessarily
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

[no ci] [Doc] Remove outdated warning about `<SimpleFormIterator>` cloning its children
  docs/SimpleFormIterator.md
Due: prettier

[Doc] Fix Authorization link in Authentication page
  docs/Authentication.md
Due: prettier

revert the fix (and story)
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

[no ci] revert imports order change
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

Update Changelog for 5.3.1
  CHANGELOG.md
Due: prettier

v5.3.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for 5.3.1
  yarn.lock
Due: none

Update for 5.3.1
  ArrayInput.md
  Authentication.md
  Forms.md
  Inputs.md
  OldVersions.md
  Readme.md
  SimpleFormIterator.md
  _data/versions.yml
  doc/5.2/ArrayInput.md
  doc/5.2/Authentication.md
  doc/5.2/Forms.md
  doc/5.2/Inputs.md
  doc/5.2/Readme.md
  doc/5.2/SimpleFormIterator.md
Due: prettier

Avoid calling the dataProvider for each canAccess calls
  examples/crm/src/providers/fakerest/authProvider.ts
Due: eslint --fix

Add unit test
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
Due: eslint --fix

fixes #10301 race condition in link generation
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Improve test
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
Due: eslint --fix

Fix stories
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Add more comments and tests
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix TS error
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix typo
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

Re-fix typo
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

[Doc] Fix typo in TabbedForm and TabbedShowLayout
  docs/TabbedForm.md
  docs/TabbedShowLayout.md
Due: prettier

Fix ReferenceField link is wrong when the record is not yet loaded
  packages/ra-core/src/routing/useGetPathForRecord.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecord.stories.tsx
  packages/ra-core/src/routing/useGetPathForRecord.ts
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

[DOC] Add missing parameter in NextJs
  docs/NextJs.md
Due: prettier

Fix DateInput ignores the timezone when given
  docs/DateInput.md
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix, prettier

[no ci] [Doc] Fix links to react-dropzone doc pages
  docs/FileInput.md
  docs/ImageInput.md
Due: prettier

Add files via upload
  docs/img/eicrud.svg
Due: none

Update packages/ra-core/src/dataProvider/undo/index.ts
  packages/ra-core/src/dataProvider/undo/index.ts
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
Due: eslint --fix

Fix `<SimpleList>` throws an error when no data in standalone mode
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

Fix `<Edit>` ignores mutation meta when updating the `getOne` cache
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Use call time meta when provided
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Revert now useless change
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Eicrud logo
  docs/img/backend-logos/eicrud.svg
Due: none

Update DataProviderList.md
  docs/DataProviderList.md
Due: prettier

Delete docs/img/eicrud.svg
  docs/img/eicrud.svg
Due: none

[Doc] Update `<StackedFilters>` documentation for `defaultValue`
  docs/StackedFilters.md
Due: prettier

Update "get started" bloc in landing page
  assets/index-12658222.css
  assets/index-63925a8e.js
  img/demo.mp4
  index.html
  landing-page/index.html
  landing-page/public/img/demo.mp4
Due: eslint --fix, prettier

Remove erroneous changelog
  CHANGELOG.md
Due: prettier

[no ci] Update docs/StackedFilters.md
  docs/StackedFilters.md
Due: prettier

Remove redundant optimisation of placeholder data query cache lookup
  examples/simple/package.json
  packages/ra-core/package.json
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: eslint --fix, prettier
