Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Change ThemeSwapper to an icon button
  examples/demo/src/themes/ThemeSwipper.tsx
Due: eslint --fix

Rename ThemeSwapper
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/themes/ThemeSwapper.tsx
Due: eslint --fix

Make colors less bland
  examples/demo/src/themes/minimalTheme.ts
Due: eslint --fix

[Doc] Make adding a label to unlabeled columns in `DatagridConfigurable` more discoverable
  docs/Datagrid.md
  docs/SelectColumnsButton.md
Due: prettier

adjust minimal theme
  examples/demo/src/layout/SubMenu.tsx
  examples/demo/src/themes/ThemeSwapper.tsx
  examples/demo/src/themes/basicTheme.ts
  examples/demo/src/themes/minimalTheme.ts
  examples/demo/src/themes/synthwaveTheme.ts
  packages/ra-ui-materialui/src/button/LocalesMenuButton.tsx
Due: eslint --fix

Rename themes
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/layout/AppBarToolbar.tsx
  examples/demo/src/themes/ThemContextProvider.tsx
  examples/demo/src/themes/ThemeSwapper.tsx
  examples/demo/src/themes/nanoTheme.ts
  examples/demo/src/themes/softTheme.ts
  examples/demo/src/themes/themeContext.ts
Due: eslint --fix

Put elevation in theme
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/themes/nanoTheme.ts
  examples/demo/src/themes/softTheme.ts
Due: eslint --fix

micro adjustments
  examples/demo/src/themes/ThemeSwapper.tsx
  examples/demo/src/themes/nanoTheme.ts
  examples/demo/src/themes/softTheme.ts
  examples/demo/src/themes/synthwaveTheme.ts
Due: eslint --fix

Make theme persistent
  examples/demo/src/App.tsx
  examples/demo/src/layout/AppBarToolbar.tsx
  examples/demo/src/themes/ThemContextProvider.tsx
  examples/demo/src/themes/ThemeSwapper.tsx
  examples/demo/src/themes/themes.tsx
Due: eslint --fix

[doc] fix indentation in ReferenceOneInput.md
  docs/ReferenceOneInput.md
Due: prettier

Move nano theme to ra-ui-materialui
  examples/demo/src/themes/themes.tsx
  packages/ra-ui-materialui/src/AdminContext.tsx
  packages/ra-ui-materialui/src/index.ts
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
  packages/ra-ui-materialui/src/theme/index.ts
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
Due: eslint --fix

Fix LoadingIndicator
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
Due: eslint --fix

fix background of MuiToolbar in eco
  examples/demo/src/themes/ecoTheme.ts
Due: eslint --fix

fix border radius for menu item in house theme
  examples/demo/src/themes/houseTheme.ts
Due: eslint --fix

change welcome gradient
  examples/demo/src/dashboard/Welcome.tsx
Due: eslint --fix

change accept and reject button color
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/RejectButton.tsx
Due: eslint --fix

Move theme-related files under theme folder
  packages/ra-ui-materialui/src/AdminContext.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeButton.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeLegacyButton.tsx
  packages/ra-ui-materialui/src/layout/AppBar.tsx
  packages/ra-ui-materialui/src/layout/Theme/index.ts
  packages/ra-ui-materialui/src/layout/index.ts
  packages/ra-ui-materialui/src/theme/ThemeProvider.spec.tsx
  packages/ra-ui-materialui/src/theme/ThemeProvider.tsx
  packages/ra-ui-materialui/src/theme/ThemesContext.ts
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
  packages/ra-ui-materialui/src/theme/index.ts
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
  packages/ra-ui-materialui/src/theme/types.ts
  packages/ra-ui-materialui/src/theme/useTheme.spec.tsx
  packages/ra-ui-materialui/src/theme/useTheme.ts
  packages/ra-ui-materialui/src/theme/useThemesContext.ts
Due: eslint --fix

Rename synthwave to radiant
  examples/demo/src/themes/radiantTheme.ts
  examples/demo/src/themes/synthwaveTheme.ts
  examples/demo/src/themes/themes.tsx
Due: eslint --fix

Move radiant theme to core
  examples/demo/src/themes/themes.tsx
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
  packages/ra-ui-materialui/src/theme/index.ts
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix

refactor houseTheme
  examples/demo/src/themes/houseTheme.ts
Due: eslint --fix

move houseTheme to ra-ui-materialui
  examples/demo/src/themes/themes.tsx
  packages/ra-ui-materialui/src/theme/houseTheme.ts
  packages/ra-ui-materialui/src/theme/index.ts
Due: eslint --fix

remove ecoTheme
  examples/demo/src/themes/ecoTheme.ts
Due: eslint --fix

Adjust demo
  examples/demo/src/App.tsx
  examples/demo/src/themes/chiptuneTheme.ts
Due: eslint --fix

Adjust radiant
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/detail/EditGuesser.spec.tsx
  packages/ra-ui-materialui/src/detail/ShowGuesser.spec.tsx
  packages/ra-ui-materialui/src/field/TranslatableFields.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleFormConfigurable.stories.tsx
  packages/ra-ui-materialui/src/list/List.spec.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.stories.tsx
Due: eslint --fix

Add documentation
  docs/Admin.md
  docs/AppTheme.md
  docs/Features.md
  docs/Theming.md
  docs/img/defaultDarkTheme1.jpg
  docs/img/defaultDarkTheme2.jpg
  docs/img/defaultLightTheme1.jpg
  docs/img/defaultLightTheme2.jpg
  docs/img/demo-themes.mp4
  docs/img/houseDarkTheme1.jpg
  docs/img/houseDarkTheme2.jpg
  docs/img/houseLightTheme1.jpg
  docs/img/houseLightTheme2.jpg
  docs/img/nanoDarkTheme1.jpg
  docs/img/nanoDarkTheme2.jpg
  docs/img/nanoLightTheme1.jpg
  docs/img/nanoLightTheme2.jpg
  docs/img/radiantDarkTheme1.jpg
  docs/img/radiantDarkTheme2.jpg
  docs/img/radiantLightTheme1.jpg
  docs/img/radiantLightTheme2.jpg
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix, prettier

Add missing instructions
  docs/AppTheme.md
  examples/demo/index.html
Due: prettier

Fix storybook
  packages/ra-ui-materialui/src/auth/AuthError.stories.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.stories.tsx
  packages/ra-ui-materialui/src/layout/AppBar.stories.tsx
  packages/ra-ui-materialui/src/layout/Layout.stories.tsx
Due: eslint --fix

change English translation for the light/dark mode toggler
  packages/ra-language-english/src/index.ts
Due: eslint --fix

Fix test
  packages/ra-ui-materialui/src/button/ToggleThemeButton.spec.tsx
Due: eslint --fix

fix house theme link
  docs/Admin.md
Due: prettier

fix house theme link
  docs/Features.md
Due: prettier

fix house theme link
  docs/Theming.md
Due: prettier

Un-glue form inputs in House theme
  packages/ra-ui-materialui/src/theme/houseTheme.ts
Due: eslint --fix

Fix yarn.lock
  yarn.lock
Due: none

[no ci] simplify import
  packages/ra-ui-materialui/src/AdminContext.tsx
Due: eslint --fix

Add stories for each theme
  packages/ra-ui-materialui/src/theme/defaultTheme.stories.tsx
  packages/ra-ui-materialui/src/theme/houseTheme.stories.tsx
  packages/ra-ui-materialui/src/theme/nanoTheme.stories.tsx
  packages/ra-ui-materialui/src/theme/radiantTheme.stories.tsx
  packages/ra-ui-materialui/src/theme/testData.ts
Due: eslint --fix

Adjust Menu margin
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Fix DatagridConfigurable editor allows to drag fields outside its list
  packages/ra-ui-materialui/src/preferences/FieldToggle.tsx
  packages/ra-ui-materialui/src/preferences/FieldsSelector.tsx
Due: eslint --fix

code review
  docs/Datagrid.md
  docs/SelectColumnsButton.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
