Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

resolve requested changes
  docs/Fields.md
  docs/ReferenceField.md
  packages/ra-ui-materialui/src/field/BooleanField.spec.tsx
  packages/ra-ui-materialui/src/field/ChipField.spec.tsx
  packages/ra-ui-materialui/src/field/DateField.spec.tsx
  packages/ra-ui-materialui/src/field/EmailField.spec.tsx
  packages/ra-ui-materialui/src/field/ImageField.spec.tsx
  packages/ra-ui-materialui/src/field/NumberField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/RichTextField.spec.tsx
  packages/ra-ui-materialui/src/field/SelectField.spec.tsx
  packages/ra-ui-materialui/src/field/TextField.spec.tsx
  packages/ra-ui-materialui/src/field/UrlField.spec.tsx
Due: eslint --fix, prettier

add ListIdsContext, its provider and its hook to use it
  packages/ra-core/src/controller/list/ListIdsContext.ts
  packages/ra-core/src/controller/list/ListIdsContextProvider.tsx
  packages/ra-core/src/controller/list/useLIstIdsContext.ts
Due: eslint --fix

resolve generic type
  packages/ra-core/src/form/useChoices.tsx
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/DatagridInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

get list with filters from resource context and keep only the ids to store it in the context
  packages/ra-core/src/controller/list/ListIdsContextProvider.tsx
Due: eslint --fix

rename useLIstIdsContext to useListIdsContext
  packages/ra-core/src/controller/list/useListIdsContext.ts
Due: eslint --fix

export ListIdsContext modules
  packages/ra-core/src/controller/list/index.ts
Due: eslint --fix

naive implementation of PrexNextButton
  packages/ra-ui-materialui/src/button/PrevNextButton.tsx
  packages/ra-ui-materialui/src/button/index.ts
Due: eslint --fix

[Doc] Fix `<Admin loginPage={false}>` leads to an infinite loop
  docs/Admin.md
Due: prettier

[no ci] MAke example more complete
  docs/Admin.md
Due: prettier

[no ci] simpler syntax
  docs/Admin.md
Due: prettier

Prepare changelog for v4.12.4
  CHANGELOG.md
Due: prettier

v4.12.4
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Bump latest version number in selector
  _data/versions.yml
Due: none

Fix Jekyll syntax error in WizardForm
  docs/WizardForm.md
Due: prettier

fix WizardForm jekyll syntax
  WizardForm.md
  doc/4.12/WizardForm.md
Due: prettier

[Doc] Fix tutorial misses step to link references together
  docs/Tutorial.md
  docs/img/tutorial_list_user_name.png
  docs/img/tutorial_list_user_name_link.png
  docs/img/tutorial_post_list_less_columns.png
  docs/img/tutorial_show_user.mp4
  examples/tutorial/src/App.tsx
  examples/tutorial/src/posts.tsx
  examples/tutorial/src/users.tsx
Due: eslint --fix, prettier

Fix ra-data-provider-fakerest getMany doesn't preserve the ids order
  packages/ra-data-fakerest/package.json
  packages/ra-data-fakerest/src/index.spec.ts
  packages/ra-data-fakerest/src/index.ts
  yarn.lock
Due: eslint --fix, prettier

Update docs/Tutorial.md
  docs/Tutorial.md
Due: prettier

Make inputs full width on mobile
  packages/ra-ui-materialui/src/defaultTheme.ts
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/inputs.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
Due: eslint --fix

Display actions first in the List view on mobile
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
Due: eslint --fix

Add ability to customize the page title style
  docs/AppBar.md
  docs/Layout.md
  docs/Title.md
  packages/ra-ui-materialui/src/layout/TitlePortal.stories.tsx
  packages/ra-ui-materialui/src/layout/TitlePortal.tsx
Due: eslint --fix, prettier

Fix typo
  docs/AppBar.md
Due: prettier

Misc adjustments
  docs/CheckForApplicationUpdate.md
  docs/CreateReactApp.md
  docs/Reference.md
  docs/Vite.md
  docs/navigation.html
  docs/useCheckForApplicationUpdate.md
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
Due: eslint --fix, prettier

Do not show notification on network errors
  docs/CheckForApplicationUpdate.md
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
Due: eslint --fix, prettier

Use in CRM demo
  examples/crm/src/Layout.tsx
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
Due: eslint --fix

add ListIdsContextProvider in edit and show base
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/show/ShowBase.tsx
Due: eslint --fix

wip: add basic story
  packages/ra-ui-materialui/src/button/PrevNextButton.stories.tsx
Due: eslint --fix

Add ability to use SimpleList without `primaryText`
  docs/Datagrid.md
  docs/SimpleList.md
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix, prettier

add a type for ListIdsContext and use an object to store data
  packages/ra-core/src/controller/list/ListIdsContext.ts
  packages/ra-core/src/controller/list/ListIdsContextProvider.tsx
  packages/ra-core/src/controller/list/useListIdsContext.ts
  packages/ra-ui-materialui/src/button/PrevNextButton.tsx
Due: eslint --fix

add total and the index of current item
  packages/ra-ui-materialui/src/button/PrevNextButton.tsx
Due: eslint --fix

remove useless return type
  packages/ra-core/src/controller/list/useListIdsContext.ts
Due: eslint --fix

remove useless import
  packages/ra-ui-materialui/src/button/PrevNextButton.stories.tsx
Due: eslint --fix

disable navigation button on list end
  packages/ra-ui-materialui/src/button/PrevNextButton.tsx
Due: eslint --fix

Fix SingleFieldList children don't use default link color
  docs/ArrayField.md
  docs/SingleFieldList.md
  packages/ra-ui-materialui/src/field/ArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix, prettier

add a linkType props to specify where to go
  packages/ra-ui-materialui/src/button/PrevNextButton.stories.tsx
  packages/ra-ui-materialui/src/button/PrevNextButton.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Datagrid.md
  docs/SimpleList.md
Due: prettier

Review
  docs/Datagrid.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
