Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Throw a warning if the id for an edit or a show requested doesn't match the id in the response
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix

Fix e2e tests
  cypress/integration/edit.js
  docs/Actions.md
Due: eslint --fix, prettier

Fix errors
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix

Fix Notify component appears at the bottom left of the canvas
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

Fix ecommerce demo
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/RejectButton.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
Due: eslint --fix

Fix CRM Demo
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactEdit.tsx
  examples/crm/src/contacts/ContactShow.tsx
  examples/crm/src/contacts/TagsListEdit.tsx
  examples/crm/src/notes/NewNote.tsx
  examples/crm/src/notes/Note.tsx
Due: eslint --fix

Fix documentation
  docs/Actions.md
Due: prettier

Throwing an error instead of a warning
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix

Remove strict equality
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
Due: eslint --fix

Add upgrade instructions
  UPGRADE.md
Due: prettier

Finishing touches
  docs/Actions.md
  packages/ra-core/src/dataProvider/performQuery/doQuery.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix, prettier

Throw an error if the id for an edit or a show request doesn't match the id in the response
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Fix tests
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/show/useShowController.spec.tsx
Due: eslint --fix

Review
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Make useList usable with asynchronously fetched data
  packages/ra-core/src/controller/useList.spec.tsx
  packages/ra-core/src/controller/useList.ts
Due: eslint --fix

Prepare changelog for v3.19.2
  CHANGELOG.md
Due: prettier

v3.19.2
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update to react-admin 3.19.2
  Actions.md
  Admin.md
  Fields.md
  Inputs.md
  List.md
  Resource.md
  Translation.md
  Tutorial.md
  _data/versions.yml
  doc/3.19/Actions.md
  doc/3.19/Admin.md
  doc/3.19/Fields.md
  doc/3.19/Inputs.md
  doc/3.19/List.md
  doc/3.19/Resource.md
  doc/3.19/Translation.md
  doc/3.19/Tutorial.md
Due: prettier

Fix ReferenceArrayField test
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
Due: eslint --fix

Upgrade to react-router v6
  UPGRADE.md
  examples/demo/package.json
  examples/simple/src/index.tsx
  packages/ra-core/package.json
  packages/ra-core/src/auth/useLogin.ts
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
  packages/ra-core/src/controller/list/useListParams.ts
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
  packages/ra-core/src/core/useRegisterResource.ts
  packages/ra-core/src/core/useScrollToTop.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
  packages/ra-core/src/sideEffect/useRedirect.ts
  packages/ra-no-code/package.json
  packages/ra-no-code/src/ui/ImportResourceDialog.tsx
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayoutTabs.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix tabbed layout and form
  packages/ra-core/src/core/Resource.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayoutTabs.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
Due: eslint --fix

Fix example proptypes
  examples/simple/src/users/UserEdit.tsx
Due: eslint --fix

Fix custom routes support
  examples/simple/src/customRouteLayout.tsx
  examples/simple/src/customRouteNoLayout.tsx
  examples/simple/src/index.tsx
  examples/simple/src/users/UserShow.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/core/CustomRoutes.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/RouteWithoutLayout.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
  packages/ra-core/src/core/components.ts
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useRegisterResource.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Fix FormGroups validation
  packages/ra-core/src/form/FormWithRedirect.tsx
  packages/ra-core/src/form/useFormGroup.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/form/FormTabContent.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
Due: eslint --fix

Initialize resources in an effect
  packages/ra-core/src/core/RoutesWithLayout.tsx
Due: eslint --fix

Ensure we can provide custom history
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix

Fix TestContext
  packages/ra-test/src/TestContext.tsx
Due: eslint --fix

Fix ra-ui-materialui
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/layout/DashboardMenuItem.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Fix types
  packages/ra-core/src/types.ts
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Fix ra-no-code
  packages/ra-no-code/src/Admin.tsx
  packages/ra-no-code/src/ResourceConfiguration/ResourceConfiguration.tsx
  packages/ra-no-code/src/ui/ResourceMenuItem.tsx
Due: eslint --fix

Fix CRM demo
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
Due: eslint --fix

Fix demo
  examples/demo/src/App.tsx
  examples/demo/src/layout/Login.tsx
  examples/demo/src/layout/Menu.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/routes.tsx
  packages/ra-core/src/core/Resource.tsx
Due: eslint --fix

Fix wrong rebase & useWarnWhenUnsavedChanges
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  packages/ra-ui-materialui/src/form/useFormRootPath.ts
Due: eslint --fix

Fix logout clearstate timing
  packages/ra-core/src/auth/useLogout.ts
Due: eslint --fix

Fix simple example
  examples/simple/src/index.tsx
Due: eslint --fix

Fix Resources Registration
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/RoutesWithLayout.tsx
Due: eslint --fix

Fix Button hadling of react-router links
  packages/ra-ui-materialui/src/button/Button.tsx
Due: eslint --fix

Fix e2e tests
  cypress/integration/edit.js
  examples/simple/src/comments/CommentEdit.tsx
  examples/simple/src/posts/PostEdit.tsx
Due: eslint --fix

Fix MenuItemLink
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Cleanup
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix
