Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Add ability to set the root commponent of <SingleFieldList>
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
Due: eslint --fix

Change Layout interface to use AppBarProps interface
  packages/ra-ui-materialui/src/layout/AppBar.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Fix Simple Example Webpack
  examples/simple/index-webpack.html
  examples/simple/package.json
  examples/simple/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier

Remove bundle analyzer
  examples/simple/package.json
  examples/simple/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier

Fix RecordContext and UseRecordContext
  packages/ra-core/src/controller/RecordContext.tsx
  packages/ra-core/src/controller/details/CreateContextProvider.tsx
  packages/ra-core/src/controller/details/EditContextProvider.tsx
  packages/ra-core/src/controller/details/ShowContextProvider.tsx
Due: eslint --fix

Fix Go to definition goes to the compiled code in VSCode
  packages/ra-core/tsconfig.json
  packages/ra-data-fakerest/tsconfig.json
  packages/ra-data-json-server/tsconfig.json
  packages/ra-data-localstorage/tsconfig.json
  packages/ra-data-simple-rest/tsconfig.json
  packages/ra-i18n-polyglot/tsconfig.json
  packages/ra-language-english/tsconfig.json
  packages/ra-language-french/tsconfig.json
  packages/ra-test/tsconfig.json
  packages/ra-ui-materialui/tsconfig.json
  packages/react-admin/tsconfig.json
Due: prettier

[Doc] Fix missing mention of <Labeled> in Field doc
  docs/Fields.md
  docs/img/field-addlabel.png
Due: prettier

Remove the need to pass basePath in buttons
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/button/ListButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
Due: eslint --fix

Remove the need to pass resource in ReferenceField
  examples/simple/src/comments/CommentList.tsx
  packages/ra-core/src/controller/field/getResourceLinkPath.ts
Due: eslint --fix

Fix typo in jsDoc
  packages/ra-core/src/core/useResourceContext.ts
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/button/CloneButton.spec.tsx
Due: eslint --fix

Reapply lost changes from #5954
  docs/List.md
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix, prettier

Prepare changelog for v3.13.4
  CHANGELOG.md
Due: prettier

v3.13.4
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Sync Readme files
  packages/react-admin/README.md
Due: prettier

upgrade to v3.13.4
  Fields.md
  Readme.md
  _data/versions.yml
  doc/3.13/Fields.md
  doc/3.13/Readme.md
  doc/3.13/img/field-addlabel.png
  img/field-addlabel.png
Due: prettier

Fix typo
  docs/List.md
Due: prettier

replace the outdated link translation id
  docs/Translation.md
Due: prettier

Fix useRecordContext doesn't work without props
  packages/ra-core/src/controller/RecordContext.tsx
Due: eslint --fix

Debounce AutocompleteArrayInput setFilter call
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
Due: eslint --fix

Documentation
  docs/Inputs.md
Due: prettier

Fix warning
  examples/simple/src/comments/CommentList.tsx
Due: eslint --fix

Add option to make ReferenceInput choices lazy
  packages/ra-core/src/controller/input/ReferenceInputController.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Fix tests
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Add documentation
  docs/Inputs.md
Due: prettier

Make default value of `isEnabled` explicit
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

add tests
  packages/ra-core/src/controller/input/ReferenceInputController.spec.tsx
Due: eslint --fix

Rename to enableGetChoices
  docs/Inputs.md
  packages/ra-core/src/controller/input/ReferenceInputController.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputController.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix, prettier

add enableGetChoices support to ReferenceArrayInput
  docs/Inputs.md
  packages/ra-core/src/controller/input/ReferenceArrayInputController.spec.tsx
  packages/ra-core/src/controller/input/ReferenceArrayInputController.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
Due: eslint --fix, prettier

Add missing props types
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
Due: eslint --fix

Fix ready item gets hidden inside history
  docs/Admin.md
Due: prettier

[TypeScript] Fix useGetList return type assumes data and ids are possibly undefined
  packages/ra-core/src/dataProvider/useGetList.ts
Due: eslint --fix

Update refresh strategy to avoid empty page while refreshing
  packages/ra-core/src/actions/uiActions.ts
  packages/ra-core/src/dataProvider/Mutation.spec.tsx
  packages/ra-core/src/dataProvider/Query.spec.tsx
  packages/ra-core/src/dataProvider/useDataProvider.spec.js
  packages/ra-core/src/reducer/admin/resource/index.ts
  packages/ra-core/src/reducer/admin/resource/list/cachedRequests.ts
  packages/ra-core/src/reducer/admin/resource/list/validity.ts
  packages/ra-core/src/reducer/admin/resource/validity.ts
  packages/ra-core/src/reducer/admin/ui.ts
  packages/ra-core/src/sideEffect/useRefresh.ts
  packages/ra-ui-materialui/src/button/RefreshButton.tsx
  packages/ra-ui-materialui/src/button/RefreshIconButton.tsx
Due: eslint --fix

Add ability to call useGetList without pagination, sort, or filter params
  packages/ra-core/src/dataProvider/useGetList.ts
Due: eslint --fix

Use one action
  packages/ra-core/src/actions/uiActions.ts
  packages/ra-core/src/dataProvider/Mutation.spec.tsx
  packages/ra-core/src/dataProvider/Query.spec.tsx
  packages/ra-core/src/reducer/admin/resource/index.ts
  packages/ra-core/src/reducer/admin/resource/list/cachedRequests.ts
  packages/ra-core/src/reducer/admin/resource/list/validity.ts
  packages/ra-core/src/reducer/admin/resource/validity.ts
  packages/ra-core/src/reducer/admin/ui.ts
  packages/ra-core/src/sideEffect/useRefresh.ts
  packages/ra-ui-materialui/src/button/RefreshButton.tsx
  packages/ra-ui-materialui/src/button/RefreshIconButton.tsx
Due: eslint --fix

Add rowAuxClick to DatagridRow
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Introduce useResourceLabel hook
  packages/ra-core/src/core/useResourceLabel.spec.tsx
  packages/ra-core/src/core/useResourceLabel.ts
Due: eslint --fix

Refactor useResourceLabel into useGetResourceLabel
  packages/ra-core/src/core/useGetResourceLabel.spec.tsx
  packages/ra-core/src/core/useGetResourceLabel.ts
  packages/ra-core/src/core/useResourceLabel.ts
Due: eslint --fix

Use the useGetResourceLabel everywhere
  packages/ra-core/src/controller/details/useCreateController.ts
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-core/src/controller/details/useShowController.ts
  packages/ra-core/src/controller/useListController.ts
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useResourceContext.ts
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
