Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix docs trailing spaces
  CHANGELOG.md
  README.md
  UPGRADE.md
  docs/Actions.md
  docs/Caching.md
  docs/DataProviders.md
  docs/Readme.md
  docs/Translation.md
  docs/UnitTesting.md
  examples/simple/README.md
Due: prettier

Fix docs links to https where applicable
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Custom.md
  CHANGELOG.md
  README.md
  docs/Admin.md
  docs/Authentication.md
  docs/CustomApp.md
  docs/DataProviders.md
  docs/Ecosystem.md
  docs/Fields.md
  docs/Inputs.md
  docs/Readme.md
  docs/Translation.md
  examples/data-generator/README.md
  examples/demo/README.md
  packages/ra-core/README.md
  packages/ra-data-fakerest/README.md
  packages/ra-data-graphql-simple/README.md
  packages/ra-data-graphql/README.md
  packages/ra-data-json-server/README.md
  packages/ra-data-simple-rest/README.md
  packages/ra-i18n-polyglot/README.md
  packages/ra-input-rich-text/README.md
  packages/ra-language-english/README.md
  packages/ra-language-french/README.md
  packages/ra-ui-materialui/README.md
  packages/react-admin/README.md
Due: prettier

Fix react-admin documentation link
  docs/Tutorial.md
Due: prettier

Fix react-admin documentation links
  README.md
  packages/react-admin/README.md
Due: prettier

Fix isRowSelectable type
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridBody.tsx
Due: eslint --fix

Add css class to style LoadingIndicator's IconButton
  packages/ra-ui-materialui/src/layout/LoadingIndicator.js
Due: eslint --fix

Apply className prop to LoadingIndicator's RefreshIconButton
  packages/ra-ui-materialui/src/layout/LoadingIndicator.js
Due: eslint --fix

Add ability to pass BooleanField custom icons to show as values
  docs/Fields.md
  packages/ra-ui-materialui/src/field/BooleanField.tsx
Due: eslint --fix, prettier

Review applied
  packages/ra-ui-materialui/src/layout/LoadingIndicator.js
Due: eslint --fix

Add ra-enterprise packages to Ecosystem documentation
  docs/Ecosystem.md
  docs/Fields.md
  docs/Inputs.md
  docs/List.md
  docs/css/style-v5.css
  docs/img/premium.svg
Due: prettier

Improve the documentation of the SaveButton when customizing the Toolbar
  docs/CreateEdit.md
Due: prettier

type fixing I
  examples/demo/src/App.tsx
  examples/demo/src/dashboard/Dashboard.tsx
  examples/demo/src/dashboard/MonthlyRevenue.tsx
  examples/demo/src/layout/AppBar.tsx
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/orders/NbItemsField.tsx
  examples/demo/src/orders/OrderEdit.tsx
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/products/ProductCreate.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/react-admin.d.ts
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/ColoredNumberField.tsx
  examples/demo/src/visitors/SegmentsInput.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/controller/useEditController.ts
  packages/ra-core/src/dataProvider/useQueryWithStore.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditActions.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/index.ts
  packages/ra-ui-materialui/src/field/types.ts
  packages/ra-ui-materialui/src/index.js
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
  packages/ra-ui-materialui/src/layout/Title.tsx
  packages/ra-ui-materialui/src/layout/TitleForRecord.tsx
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
  packages/ra-ui-materialui/src/types.ts
  packages/ra-ui-materialui/tsconfig.json
  packages/react-admin/tsconfig.json
Due: eslint --fix, prettier

type fixing II
  examples/demo/src/products/GridList.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewListDesktop.tsx
  examples/demo/src/reviews/ReviewListMobile.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/Aside.tsx
  examples/demo/src/visitors/MobileGrid.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
  examples/demo/src/visitors/VisitorList.tsx
  packages/ra-core/src/controller/useListContext.ts
  packages/ra-core/src/controller/useListController.ts
  packages/ra-ui-materialui/src/field/types.ts
  packages/ra-ui-materialui/src/form/FormTab.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridBody.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandRowButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/index.ts
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Add documentation of Data Provider
  docs/DataProviders.md
Due: prettier

type fixing III
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/reviews/ReviewListDesktop.tsx
  examples/demo/src/reviews/ReviewListMobile.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/SegmentsInput.tsx
  examples/demo/src/visitors/VisitorCreate.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

type fixing IV
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/products/Aside.tsx
  examples/demo/src/products/GridList.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/types.ts
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
Due: eslint --fix

convert Create to TypeScript
  packages/ra-core/src/controller/useCreateController.ts
  packages/ra-ui-materialui/src/detail/Create.tsx
Due: eslint --fix

Review and UI tweaks
  docs/Ecosystem.md
  docs/Fields.md
  docs/Inputs.md
  docs/List.md
  docs/css/style-v5.css
Due: prettier

more review
  docs/List.md
Due: prettier

type fixing V
  examples/demo/src/visitors/VisitorCreate.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
  examples/demo/src/visitors/VisitorList.tsx
  examples/demo/src/visitors/index.ts
  packages/ra-core/src/controller/useEditController.ts
  packages/ra-core/src/form/FormWithRedirect.tsx
  packages/ra-core/src/form/index.ts
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Fix linter warnings
  packages/ra-core/src/auth/useCheckAuth.spec.tsx
  packages/ra-core/src/controller/input/ReferenceArrayInputController.tsx
  packages/ra-core/src/controller/useFilterState.ts
  packages/ra-core/src/form/FormWithRedirect.tsx
  packages/ra-core/src/form/useSuggestions.ts
  packages/ra-input-rich-text/src/index.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

do not import from ra-core
  examples/demo/src/authProvider.ts
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/dataProvider/graphql.ts
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
  examples/demo/src/layout/Login.tsx
  examples/demo/src/orders/MobileGrid.tsx
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/reviews/rowStyle.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/Aside.tsx
  examples/demo/src/visitors/MobileGrid.tsx
  examples/demo/src/visitors/SegmentInput.tsx
  examples/demo/src/visitors/SegmentsInput.tsx
  examples/simple/src/posts/PostShow.js
Due: eslint --fix

Use more types in demo
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/visitors/VisitorList.tsx
Due: eslint --fix

v3.9.0-beta.1
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Apply review
  docs/Ecosystem.md
  docs/List.md
Due: prettier

More TS fixes
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/useShowController.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/button/index.ts
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowActions.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayoutTabs.tsx
  packages/ra-ui-materialui/src/detail/index.ts
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/form/index.tsx
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
  packages/ra-ui-materialui/src/layout/index.ts
  packages/ra-ui-materialui/src/list/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandRowButton.tsx
Due: eslint --fix

Fix warning when passing FieldProps to Input components
  packages/ra-ui-materialui/src/input/sanitizeRestProps.ts
Due: eslint --fix

Update include introspection logic
  packages/ra-data-graphql/src/introspection.js
  packages/ra-data-graphql/src/introspection.test.js
Due: eslint --fix

More fixes & exports
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/index.ts
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Try fixing deps to last version
  examples/demo/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

Try upgrading demo packages
  examples/demo/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  yarn.lock
Due: prettier

Fix examples deps
  examples/demo/package.json
  examples/simple/package.json
  examples/tutorial/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

Substituted null with undefined for default rowStyle value in SimpleList
  packages/ra-ui-materialui/src/list/SimpleList.tsx
Due: eslint --fix

Fix data-ganerator dependency
  examples/demo/package.json
  yarn.lock
Due: prettier

v3.9.0-beta.2
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add onSuccess and onFailure properties to DeleteButton
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix

Fix TabbedShowLayout resolves path incorrectly if first tab is null
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.js
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.spec.js
Due: eslint --fix

More TS fixes
  packages/ra-core/src/controller/useCreateController.ts
  packages/ra-core/src/controller/useEditController.ts
  packages/ra-core/src/controller/useShowController.ts
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
