Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Prepare changelog for v3.12.1
  CHANGELOG.md
Due: prettier

v3.12.1
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix typo in Changelog
  CHANGELOG.md
Due: prettier

update to v3.12.1
  Actions.md
  CreateEdit.md
  Fields.md
  Inputs.md
  List.md
  Reference.md
  Show.md
  Theming.md
  Translation.md
  Tutorial.md
  _data/versions.yml
  doc/3.12/Actions.md
  doc/3.12/CreateEdit.md
  doc/3.12/Fields.md
  doc/3.12/Inputs.md
  doc/3.12/List.md
  doc/3.12/Reference.md
  doc/3.12/Show.md
  doc/3.12/Theming.md
  doc/3.12/Translation.md
  doc/3.12/Tutorial.md
Due: prettier

Fix changelog lists a change in the wrong release
  CHANGELOG.md
Due: prettier

moved isRequired to InputProps as optional boolean
  packages/ra-core/src/form/useInput.ts
Due: eslint --fix

Fix Loading component reference
  docs/Reference.md
Due: prettier

Added LinearProgress reference
  docs/Reference.md
Due: prettier

Improve LinearProgress jdocs
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
Due: eslint --fix

Fix minor typo in changelog
  CHANGELOG.md
Due: prettier

Fix anchor
  docs/Admin.md
Due: prettier

Fix another anchor
  docs/CreateEdit.md
Due: prettier

Fix even more anchor
  docs/Ecosystem.md
  docs/List.md
  docs/Translation.md
Due: prettier

Fix ArrayInput Always Override Inputs disabled Prop
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
Due: eslint --fix

Fix ReferenceManyField throws error after insert
  packages/ra-core/src/dataProvider/useGetManyReference.ts
Due: eslint --fix

ma
  examples/demo/public/index.html
Due: none

shrestha
  examples/demo/public/index.html
Due: none

sagar
  examples/demo/public/index.html
Due: none

Fix DeleteWithConfirmButton Does Not Allow to Override resource
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Fix typo in comments
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Handle arrays in ReferenceArrayField filter
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
Due: eslint --fix

Fix comments typos
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
Due: eslint --fix

[Typescript] Add missing classes prop on SimpleFormIterator
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
Due: eslint --fix

add scroll restoration hook
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/reviews/ReviewList.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useScrollRestoration.tsx
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

don't scroll to fast
  packages/ra-core/src/core/useScrollRestoration.tsx
Due: eslint --fix

Rename scrollRestoration to ScrollToTop
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/reviews/ReviewList.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useScrollToTop.tsx
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

fix(Datagrid): Let it work even when `selectedIds` is undefined
  packages/ra-ui-materialui/src/list/datagrid/DatagridBody.tsx
Due: eslint --fix

Ensure Form Inputs can Override the Injected props
  packages/ra-ui-materialui/src/form/FormInput.tsx
Due: eslint --fix

Fix test warnings
  packages/ra-ui-materialui/src/form/SimpleForm.spec.tsx
Due: eslint --fix

docs (List): clarifies accepted List props
  docs/List.md
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix, prettier

Fix missing props in CustomApp.md
  docs/CustomApp.md
Due: prettier

Address review
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
Due: eslint --fix

Fix List error when deleting record with non-robut field
  packages/ra-core/src/controller/useListController.ts
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useGetMainList.tsx
Due: eslint --fix

Add more comments
  packages/ra-core/src/controller/useListController.spec.tsx
  packages/ra-core/src/dataProvider/useGetMainList.tsx
  packages/ra-core/src/reducer/admin/resource/list/ids.ts
Due: eslint --fix

Fix unit test
  packages/ra-core/src/controller/useListController.spec.tsx
Due: eslint --fix

avoid rerender
  packages/ra-core/src/dataProvider/useGetMainList.tsx
Due: eslint --fix

Fix logic error
  packages/ra-core/src/dataProvider/useGetMainList.tsx
Due: eslint --fix

Fix request leak
  packages/ra-core/src/dataProvider/useGetMainList.tsx
Due: eslint --fix

Add unit test
  packages/ra-core/src/controller/useListController.spec.tsx
  packages/ra-core/src/reducer/admin/resource/list/cachedRequests.ts
Due: eslint --fix

Apply Review
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix
