Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

[Doc] Update RA Core EE documentation
  docs_headless/src/content/docs/ReferenceManyInputBase.md
Due: prettier

[no ci] fix incomplete revert
  packages/ra-ui-materialui/src/field/TranslatableFields.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
Due: eslint --fix

[chore] Stabilize flaky unit tests
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
Due: eslint --fix

yarn dedupe
  yarn.lock
Due: none

fix display issue after deprecating list item secondary action
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactListContent.tsx
  examples/demo/src/dashboard/PendingOrder.tsx
  examples/simple/src/tags/TagList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListItem.tsx
Due: eslint --fix

remove unused import
  examples/simple/src/tags/TagList.tsx
Due: eslint --fix

Update zshy
  examples/data-generator/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Add a release step to fix package exports
  Makefile
  examples/data-generator/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  scripts/update-package-exports.ts
Due: eslint --fix, prettier

Fix `<SelectAllButton>` ignores the `storeKey`
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useSelectAll.spec.tsx
  packages/ra-core/src/controller/list/useSelectAll.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.spec.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.stories.tsx
Due: eslint --fix

v5.13.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.13.2
  CHANGELOG.md
Due: prettier

fix listItemSecondaryAction styles by moving disableGutter prop to parent
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueryFilterListItem.tsx
Due: eslint --fix

[no ci] remove unused StoreKey import from useSelectAll.spec.tsx
  packages/ra-core/src/controller/list/useSelectAll.spec.tsx
Due: eslint --fix

fix blog url
  index.html
  landing-page/index.html
Due: none

move useSavedQueries to ra-core
  packages/ra-core/src/index.ts
  packages/ra-core/src/list/filter/index.ts
  packages/ra-core/src/list/filter/useSavedQueries.ts
  packages/ra-core/src/list/index.ts
  packages/ra-ui-materialui/src/list/filter/AddSavedQueryDialog.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/RemoveSavedQueryDialog.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueriesList.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueryFilterListItem.tsx
  packages/ra-ui-materialui/src/list/filter/index.ts
Due: eslint --fix

useSavedQueries story
  packages/ra-core/src/list/filter/useSavedQueries.stories.tsx
Due: eslint --fix

Fix values from location are not applied on Forms
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

Remove unnecessary code and enable StrictMode on story to reproduce the issue
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

Fix `<Datagrid>` does not show the correct number of selected items
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeader.tsx
Due: eslint --fix

Fix `<SaveButton>` test
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.stories.tsx
Due: eslint --fix

Fix `memoryStore` does not support nested-looking keys
  packages/ra-core/src/store/memoryStore.spec.ts
  packages/ra-core/src/store/memoryStore.tsx
Due: eslint --fix

add tests
  packages/ra-core/src/list/filter/useSavedQueries.spec.tsx
  packages/ra-core/src/list/filter/useSavedQueries.stories.tsx
Due: eslint --fix

useSavedQueries doc
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/useSavedQueries.md
Due: prettier

move useSavedQueries to a better location
  packages/ra-core/src/controller/list/index.ts
  packages/ra-core/src/controller/list/useSavedQueries.spec.tsx
  packages/ra-core/src/controller/list/useSavedQueries.stories.tsx
  packages/ra-core/src/controller/list/useSavedQueries.ts
  packages/ra-core/src/index.ts
  packages/ra-core/src/list/filter/index.ts
  packages/ra-core/src/list/index.ts
Due: eslint --fix

move useSupportCreateSuggestion
  packages/ra-core/src/controller/input/index.ts
  packages/ra-core/src/controller/input/useSupportCreateSuggestion.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/DatagridInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/input/index.ts
Due: eslint --fix

useSupportCreateSuggestion story
  packages/ra-core/src/controller/input/useSupportCreateSuggestion.stories.tsx
Due: eslint --fix

move genericMemo
  packages/ra-core/src/util/genericMemo.ts
  packages/ra-core/src/util/index.ts
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
  packages/ra-ui-materialui/src/field/index.ts
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableNumberColumn.tsx
Due: eslint --fix

useSupportCreateSuggestion doc
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/useSupportCreateSuggestion.md
Due: prettier

useSupportCreateSuggestion tests
  packages/ra-core/src/controller/input/useSupportCreateSuggestion.spec.tsx
Due: eslint --fix

Fix initial value reset in `useAugmentedForm`
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

v5.13.3
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.13.3
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.13.3
  _data/versions.yml
Due: none

[no ci] [Doc] Fix `<ReferenceOneField>` doc incorrectly mentions one of `children` or `render` is required
  docs/ReferenceOneField.md
Due: prettier

[Doc] Fix Headless documentation duplicate navigation entries
  docs_headless/astro.config.mjs
Due: none

Fix regression in memoryStore
  packages/ra-core/src/store/memoryStore.spec.tsx
  packages/ra-core/src/store/memoryStore.tsx
Due: eslint --fix

fix(BulkDeleteWithConfirmButton): prevent mutationOptions from being passed to DOM
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
Due: eslint --fix
