Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

rebase from next branch
  packages/ra-core/src/controller/list/useListParams.spec.tsx
  yarn.lock
Due: eslint --fix

keep yarn.lock same as next branch
  yarn.lock
Due: none

[doc] [SimpleForm] Add video tutorial
  docs/SimpleForm.md
Due: prettier

Prepare changelog for v5.0.0
  CHANGELOG.md
Due: prettier

[create-react-admin] Fix package.json templates
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update dependencies of demos
  examples/crm/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/tutorial/package.json
Due: prettier

v5.0.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Fix peerDependencies
  examples/data-generator/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-ui-materialui/package.json
Due: prettier

fix greenframe scenarios
  greenframe/catalog.js
  greenframe/customers.js
  greenframe/sales.js
Due: eslint --fix

Fix try me link
  index.html
  landing-page/index.html
Due: none

Simplify ResettableTextField
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Fix useFormGroup does not reflect its fields state
  packages/ra-core/src/form/useFormGroup.spec.tsx
  packages/ra-core/src/form/useFormGroup.ts
Due: eslint --fix

Fix useFormGroup does not update when its group changes
  packages/ra-core/src/form/useFormGroup.spec.tsx
  packages/ra-core/src/form/useFormGroup.ts
Due: eslint --fix

changelog for 5.0.1
  CHANGELOG.md
Due: prettier

v5.0.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn lock
  yarn.lock
Due: none

update docs to 5.0.1
  _data/versions.yml
Due: none

Make beginner mode lighter
  navigation.html
Due: none

[no ci] [doc] Make beginner mode lighter
  docs/navigation.html
Due: none

[no ci] [doc] Document admin defaultTheme
  docs/AppTheme.md
Due: prettier

provide a default source context
  packages/ra-core/src/core/SourceContext.tsx
Due: eslint --fix

Update tutorial for v5
  docs/Resource.md
  docs/Tutorial.md
Due: prettier

add tests for SourceContext
  packages/ra-core/src/core/SourceContext.spec.tsx
  packages/ra-core/src/core/SourceContext.stories.tsx
  packages/ra-core/src/core/SourceContext.tsx
Due: eslint --fix

move SourceContext tests inside TextInput.spec
  packages/ra-core/src/core/SourceContext.spec.tsx
  packages/ra-core/src/core/SourceContext.stories.tsx
  packages/ra-ui-materialui/src/input/TextInput.spec.tsx
  packages/ra-ui-materialui/src/input/TextInput.stories.tsx
Due: eslint --fix

Revert "move SourceContext tests inside TextInput.spec"
  packages/ra-core/src/core/SourceContext.spec.tsx
  packages/ra-core/src/core/SourceContext.stories.tsx
  packages/ra-ui-materialui/src/input/TextInput.spec.tsx
  packages/ra-ui-materialui/src/input/TextInput.stories.tsx
Due: eslint --fix

use a TextInput instead of ra-ui-materialui TextInput
  packages/ra-core/src/core/SourceContext.spec.tsx
  packages/ra-core/src/core/SourceContext.stories.tsx
Due: eslint --fix

Fix DatagridHeader Tooltip when using React element as a field label
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
Due: eslint --fix

Backport #9673
  yarn.lock
Due: none

Backport #9677
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Backport #9681
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Backport #9690
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Backport #9694
  packages/ra-ui-materialui/src/button/SortButton.tsx
Due: eslint --fix

Backport #9697
  docs/useNotify.md
Due: prettier

Backport #9699
  docs/AccordionForm.md
Due: prettier

Backport #9700
  docs/FieldsForRelationships.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/ReferenceManyField.md
Due: prettier

Backport #9709
  docs/StackedFilters.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
