Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix for issue 9388:
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
Due: eslint --fix

introduce section How To Send File Using FormData
  docs/ImageInput.md
Due: prettier

Update canAccess doc to show how to use canAccess to render components conditionally
  docs/canAccess.md
Due: prettier

sort props in table
  docs/ReferenceArrayField.md
Due: prettier

Doc: add queryOptions prop to the ReferenceArrayField doc
  docs/ReferenceArrayField.md
Due: prettier

fix internal link
  docs/ReferenceField.md
Due: prettier

Rename story
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
Due: eslint --fix

typo in test title
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
Due: eslint --fix

apply feedbacks
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
Due: eslint --fix

update sentence
  docs/ReferenceArrayField.md
Due: prettier

Fix i18next translation provider fails to use smart count
  packages/ra-i18n-i18next/src/useI18nextProvider.ts
Due: eslint --fix

add a screenshot showing the use of ReferenceManyInput instead of ReferenceManyToManyInput
  docs/ReferenceManyToManyInput.md
  docs/img/reference-many-input-band-edit.png
Due: prettier

Apply Francois feedback and re-order imports
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
Due: eslint --fix

re-order imports + add test
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
Due: eslint --fix

introduce a section to explain how how to send file using FormData
  docs/ImageInput.md
Due: prettier

introduce How To Send File To A CDN section
  docs/ImageInput.md
Due: prettier

ra-data-graphql-simple Data Provider Extension Interface + Realtime Extension
  packages/ra-data-graphql-simple/README.md
  packages/ra-data-graphql-simple/src/extensions/index.ts
  packages/ra-data-graphql-simple/src/extensions/realtime.test.ts
  packages/ra-data-graphql-simple/src/extensions/realtime.ts
  packages/ra-data-graphql-simple/src/index.test.ts
  packages/ra-data-graphql-simple/src/index.ts
  packages/ra-data-graphql/src/index.test.ts
  packages/ra-data-graphql/src/index.ts
Due: eslint --fix, prettier

DELETE_MANY and UPDATE_MANY native support
  packages/ra-data-graphql-simple/README.md
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.ts
  packages/ra-data-graphql-simple/src/buildGqlQuery.ts
  packages/ra-data-graphql-simple/src/buildVariables.test.ts
  packages/ra-data-graphql-simple/src/buildVariables.ts
  packages/ra-data-graphql-simple/src/getResponseParser.test.ts
  packages/ra-data-graphql-simple/src/getResponseParser.ts
  packages/ra-data-graphql-simple/src/index.ts
  packages/ra-data-graphql/src/index.ts
Due: eslint --fix, prettier

[Doc] Add illustrations to the `<CustomRoutes>` chapter
  docs/CustomRoutes.md
  docs/img/custom-route-nolayout.png
  docs/img/custom-route-title.png
Due: prettier

Clarify even further
  docs/CustomRoutes.md
Due: prettier

update doc
  docs/ImageInput.md
Due: prettier

apply JB's feedback
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
Due: eslint --fix

update test
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.spec.tsx
Due: eslint --fix

re-order imports
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

remove unwanted space
  docs/canAccess.md
Due: prettier

remove useless imports
  docs/canAccess.md
Due: prettier

correct sentence
  docs/canAccess.md
Due: prettier

remove double translation
  packages/ra-i18n-i18next/src/stories-en.ts
  packages/ra-i18n-i18next/src/stories-fr.ts
Due: eslint --fix

fix titles and formatting according to review
  docs/ImageInput.md
Due: prettier

improve props documentation for the Search component
  docs/Search.md
Due: prettier

Add SearchWithResult documentation
  docs/SearchWithResult.md
  docs/navigation.html
Due: prettier

fix the navigation link
  docs/navigation.html
Due: none

Fix `<CreateButton>` keeps state between pages
  packages/ra-ui-materialui/src/button/CreateButton.tsx
Due: eslint --fix

Prepare changelog for v4.15.2
  CHANGELOG.md
Due: prettier

v4.15.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

add a chapter
  docs/FilteringTutorial.md
  docs/Reference.md
  docs/SearchInput.md
  docs/navigation.html
Due: prettier

improve introduction
  docs/ImageInput.md
Due: prettier

compleat doc
  docs/SearchInput.md
  docs/img/resettable.webm
  docs/img/variant.png
Due: prettier
