Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

add spec for expandAllButton, cleanup useExpanded
  packages/ra-core/src/controller/list/useExpanded.tsx
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

cleanup spec file
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

add closing test
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

cleanup spec test
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

requested changes by @slax56
  packages/ra-core/src/controller/list/useExpanded.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandAllButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

remove unused import
  packages/ra-ui-materialui/src/list/datagrid/ExpandAllButton.tsx
Due: eslint --fix

Fix type
  packages/ra-core/src/controller/list/useListController.storeKey.stories.tsx
Due: eslint --fix

Improve description
  packages/ra-core/src/controller/list/useListController.storeKey.stories.tsx
Due: eslint --fix

[Doc] Fix tutorial about sanitizing empty values
  docs/Create.md
  docs/Edit.md
  docs/Inputs.md
  docs/SimpleForm.md
  docs/TabbedForm.md
Due: prettier

rename varnames
  packages/ra-core/src/controller/list/useExpanded.tsx
Due: eslint --fix

Update docs/SimpleForm.md
  docs/SimpleForm.md
Due: prettier

Update Edit.md
  docs/Edit.md
Due: prettier

use testid in tests
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandAllButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

requested changes
  packages/ra-core/src/controller/list/useExpanded.tsx
  packages/ra-ui-materialui/src/list/datagrid/ExpandAllButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/expandAllButton.spec.tsx
Due: eslint --fix

Improve FilterList doc
  docs/FilteringTutorial.md
  docs/List.md
  docs/navigation.html
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
Due: eslint --fix, prettier

Improve doc
  docs/FilterList.md
  docs/FilteringTutorial.md
  docs/SavedQueriesList.md
Due: prettier

Prepare changelog for v4.3.2
  CHANGELOG.md
Due: prettier

v4.3.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

update to v4.3.2
  Create.md
  Edit.md
  FilterList.md
  FilteringTutorial.md
  Inputs.md
  List.md
  SavedQueriesList.md
  SimpleForm.md
  TabbedForm.md
  Theming.md
  _data/versions.yml
  doc/4.3/Create.md
  doc/4.3/Edit.md
  doc/4.3/FilterList.md
  doc/4.3/FilteringTutorial.md
  doc/4.3/Inputs.md
  doc/4.3/List.md
  doc/4.3/SavedQueriesList.md
  doc/4.3/SimpleForm.md
  doc/4.3/TabbedForm.md
  doc/4.3/Theming.md
  doc/4.3/navigation.html
  navigation.html
Due: prettier

Fix storeKey not passed to controller
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

improve docs and stories
  docs/List.md
  docs/useListController.md
  packages/ra-core/src/controller/list/useListController.storeKey.stories.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
Due: eslint --fix, prettier

Proof of concept
  packages/ra-core/src/configurable/PreferencesEditorContext.tsx
  packages/ra-core/src/configurable/PreferencesEditorContextProvider.tsx
  packages/ra-core/src/configurable/index.ts
  packages/ra-core/src/configurable/usePreferencesEditor.ts
  packages/ra-core/src/configurable/useSetInspectorTitle.ts
  packages/ra-core/src/index.ts
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.stories.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.tsx
  packages/ra-ui-materialui/src/configurable/InspectorButton.tsx
  packages/ra-ui-materialui/src/configurable/InspectorRoot.tsx
  yarn.lock
Due: eslint --fix, prettier

Improve DX
  packages/ra-core/src/configurable/PreferencesEditorContext.tsx
  packages/ra-core/src/configurable/PreferencesEditorContextProvider.tsx
  packages/ra-core/src/configurable/useSetInspectorTitle.ts
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.stories.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.tsx
  packages/ra-ui-materialui/src/configurable/InspectorRoot.tsx
Due: eslint --fix

Add transition
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.stories.tsx
  packages/ra-ui-materialui/src/configurable/InspectorButton.tsx
Due: eslint --fix

UI tweaks
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.stories.tsx
  packages/ra-ui-materialui/src/configurable/InspectorButton.tsx
Due: eslint --fix

inject Ref
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

Change hover style
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

more complete story
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
Due: eslint --fix

Add nested story
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
Due: eslint --fix

UI tweaks
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

label tweaking
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
  packages/ra-ui-materialui/src/configurable/InspectorButton.tsx
  packages/ra-ui-materialui/src/configurable/InspectorRoot.tsx
Due: eslint --fix

support multiple Instances
  packages/ra-core/src/configurable/PreferencesEditorContext.tsx
  packages/ra-core/src/configurable/PreferencesEditorContextProvider.tsx
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

untype ref
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

export components
  packages/ra-ui-materialui/src/configurable/index.ts
  packages/ra-ui-materialui/src/index.ts
Due: eslint --fix

Enable InspectorContext by default
  packages/ra-core/src/core/CoreAdminContext.tsx
Due: eslint --fix

Use outline for accessibility
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

Work even when not in context
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Configurable.tsx
Due: eslint --fix

Change naming convention
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
Due: eslint --fix

Fix configurable stories title
  packages/ra-ui-materialui/src/configurable/Configurable.stories.tsx
  packages/ra-ui-materialui/src/configurable/Inspector.stories.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
