Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix limit case in pagination
  packages/ra-core/src/controller/useListController.ts
Due: eslint --fix

Upgrade React-router
  examples/demo/package.json
  packages/ra-core/package.json
  packages/ra-realtime/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

Migrate TabbedShowLayout
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.js
  packages/ra-ui-materialui/src/detail/TabbedShowLayoutTabs.js
Due: eslint --fix

Migrate TabbedForm
  packages/ra-ui-materialui/src/form/TabbedForm.js
  packages/ra-ui-materialui/src/form/TabbedFormTabs.js
  packages/ra-ui-materialui/src/form/TabbedFormTabs.spec.js
Due: eslint --fix

Migrate Demo ReviewList
  examples/demo/src/reviews/ReviewList.js
Due: eslint --fix

Migrate Demo Menu
  examples/demo/src/layout/Menu.js
Due: eslint --fix

Migrate useLogin
  packages/ra-core/src/auth/useLogin.ts
Due: eslint --fix

Migrate authenticated
  packages/ra-core/src/auth/Authenticated.spec.tsx
  packages/ra-core/src/auth/useAuthenticated.spec.tsx
  packages/ra-core/src/auth/useLogout.ts
  packages/ra-core/src/util/TestContext.tsx
Due: eslint --fix

Migrate useListParams
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

Migrate useRedirect
  packages/ra-core/src/dataProvider/Mutation.spec.tsx
  packages/ra-core/src/dataProvider/Query.spec.tsx
  packages/ra-core/src/sideEffect/useRedirect.ts
  packages/ra-core/src/util/TestContext.tsx
Due: eslint --fix

Migrate Login
  packages/ra-ui-materialui/src/auth/Login.tsx
Due: eslint --fix

Remove store hook usage in favor of useLocation
  packages/ra-core/src/auth/useLogout.ts
Due: eslint --fix

Migrate DatagridRow
  packages/ra-ui-materialui/src/field/ArrayField.spec.js
  packages/ra-ui-materialui/src/list/DatagridRow.js
  packages/ra-ui-materialui/src/list/DatagridRow.spec.js
Due: eslint --fix

Cleanup up ArrayField tests
  packages/ra-ui-materialui/src/field/ArrayField.spec.js
Due: eslint --fix

Remove usage of LOCATION_CHANGE
  packages/ra-core/src/reducer/admin/saving.ts
Due: eslint --fix

Fix useLogout rerendering
  packages/ra-core/src/auth/useLogout.ts
Due: eslint --fix

Remove obsolete comment
  packages/ra-ui-materialui/src/button/CloneButton.js
Due: eslint --fix

Remove saving reducer
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/saving.ts
  packages/ra-core/src/util/TestContext.spec.tsx
  packages/ra-ui-materialui/src/detail/Create.js
  packages/ra-ui-materialui/src/detail/Edit.js
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Stabilize tests
  cypress/integration/create.js
  packages/ra-core/src/controller/useFilterState.spec.ts
Due: eslint --fix

Form Related Cleanup
  packages/ra-core/src/actions/formActions.ts
  packages/ra-core/src/actions/index.ts
  packages/ra-core/src/form/withDefaultValue.spec.tsx
  packages/ra-core/src/form/withDefaultValue.tsx
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/record.spec.ts
  packages/ra-core/src/reducer/admin/record.ts
  packages/ra-core/src/util/TestContext.spec.tsx
Due: eslint --fix

Refactor Layout
  packages/ra-ui-materialui/src/layout/Layout.js
Due: eslint --fix

Fix SelectInput warnings
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

rendering empty fields for tabs
  packages/ra-ui-materialui/src/form/FormTab.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
Due: eslint --fix

Fix mistype
  docs/DataProviders.md
Due: prettier

code enhancement: remove duplicated code
  packages/ra-core/src/controller/checkMinimumRequiredProps.tsx
Due: eslint --fix

code enhancement: rewrote list inclusion and list merge
  packages/ra-ui-materialui/src/list/Datagrid.js
Due: eslint --fix

i18nProvider - initial locale
  packages/ra-core/src/CoreAdmin.tsx
  packages/ra-core/src/i18n/TestTranslationProvider.tsx
  packages/ra-core/src/i18n/TranslationContext.ts
  packages/ra-core/src/i18n/TranslationProvider.tsx
  packages/ra-core/src/i18n/useTranslate.spec.tsx
  packages/ra-core/src/types.ts
  packages/ra-i18n-polyglot/src/index.ts
Due: eslint --fix

Upgrade guide
  UPGRADE.md
Due: prettier

Documentation
  docs/Admin.md
  docs/Translation.md
Due: prettier

SimpleForm/TabbedForm - deprecate defaultValue
  UPGRADE.md
  docs/CreateEdit.md
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
  packages/ra-ui-materialui/src/form/getFormInitialValues.js
  packages/ra-ui-materialui/src/form/index.js
Due: eslint --fix, prettier

Review
  UPGRADE.md
Due: prettier

Ensure DataProvider does not alter the original error
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Fix Forms Remove Empty Values
  cypress/integration/edit.js
  examples/simple/src/posts/PostEdit.js
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/sanitizeEmptyValues.ts
  packages/ra-ui-materialui/src/form/SimpleForm.js
  packages/ra-ui-materialui/src/form/TabbedForm.js
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Minor fixes
  examples/demo/src/App.js
  examples/demo/src/invoices/InvoiceList.js
  examples/demo/src/invoices/InvoiceShow.js
  examples/demo/src/visitors/VisitorEdit.js
  examples/simple/src/i18nProvider.js
  examples/simple/src/index.js
  packages/ra-ui-materialui/src/field/ReferenceField.js
Due: eslint --fix

Prepare changelog for 3.0.0-beta.0
  CHANGELOG.md
Due: prettier

v3.0.0-beta.0
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-realtime/package.json
  packages/ra-tree-core/package.json
  packages/ra-tree-ui-materialui/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Provide props to customize Confirm title and content for delete button.
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.js
Due: eslint --fix

Provide props to customize Confirm title and content for delete buttons.
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.js
Due: eslint --fix

Re-order props to comply with apparent alphabetical ordering.
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.js
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.js
Due: eslint --fix

dataProvider uses onFailure instead of onError
  docs/Actions.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
