Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

update video to display whole creation process
  docs/img/autocomplete-input-with-create.mp4
  docs/img/autocomplete-input-with-create.webm
Due: none

rewrite snippets with components for AutocompleteInput recordRepresentation example
  docs/AutocompleteInput.md
Due: prettier

Introduce CheckForApplicationUpdate
  packages/ra-core/src/util/CheckForApplicationUpdate.tsx
  packages/ra-core/src/util/index.ts
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/layout/ApplicationUpdatedNotification.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Introduce updateMode prop on Admin
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-core/src/util/CheckForApplicationUpdate.tsx
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
  packages/ra-ui-materialui/src/layout/Layout.tsx
Due: eslint --fix

Disable update check on localhost
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
Due: eslint --fix

Fix build
  packages/ra-core/src/util/CheckForApplicationUpdate.tsx
Due: eslint --fix

Refactor for opt in usage and simplify API
  packages/ra-core/src/core/CoreAdminRoutes.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-core/src/util/CheckForApplicationUpdate.tsx
  packages/ra-core/src/util/index.ts
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Documentation
  docs/CheckForApplicationUpdate.md
  docs/img/CheckForApplicationUpdate.png
  docs/useCheckForApplicationUpdate.md
Due: prettier

Fix CheckForApplicationUpdate
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
Due: eslint --fix

Fix import that break tests
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
Due: eslint --fix

[Doc] update some js and jsx snippet to ts and tsx
  docs/Tutorial.md
Due: prettier

[Doc] Add missing backticks for default empty value example
  docs/AutocompleteArrayInput.md
Due: prettier

Missing a DateField
  docs/ReferenceManyField.md
Due: prettier

Fixed
  docs/ReferenceManyField.md
Due: prettier

Proofreading
  docs/AutocompleteInput.md
Due: prettier

switched to a more significant example
  docs/AutocompleteInput.md
Due: prettier

remove types for login params
  docs/Tutorial.md
Due: prettier

replace all jsx snippet by tsx
  docs/Tutorial.md
Due: prettier

Replacing videos by smaller ones
  docs/img/autocomplete-input-with-create.mp4
  docs/img/autocomplete-input-with-create.webm
Due: none

add beforeunload listener only when undoable is true
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

improved beforeunload function for browser compatibility
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

[Doc] Fix liquid syntax error
  docs/SmartRichTextInput.md
Due: prettier

remove beforeunload event only when undoable is true
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

Fix documentation
  docs/CheckForApplicationUpdate.md
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
Due: eslint --fix, prettier

Update hash description
  docs/CheckForApplicationUpdate.md
  docs/useCheckForApplicationUpdate.md
Due: prettier

Apply review
  docs/CheckForApplicationUpdate.md
  docs/useCheckForApplicationUpdate.md
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
Due: eslint --fix, prettier

Improve TS/JS switch experience
  docs/Tutorial.md
  docs/js/ra-doc-exec.js
  examples/tutorial/src/main.tsx
  packages/create-react-admin/templates/common/src/index.tsx
Due: eslint --fix, prettier

show tsx snippets in the docs by default
  docs/js/ra-doc-exec.js
Due: eslint --fix

[Doc] fix a typo in variable template example using polyglot
  docs/AutocompleteInput.md
Due: prettier

[Doc] Add doc for `<BulkUpdateButton>`
  docs/Buttons.md
  docs/Datagrid.md
  docs/img/bulk-update-button.png
Due: prettier

[Doc] Rename Architecture page to Key Concepts
  docs/Architecture.md
  docs/Features.md
  docs/img/components.webp
  docs/img/providers.png
  docs/navigation.html
Due: prettier

[Doc] Fix react-router outdated doc links
  docs/CustomRoutes.md
  docs/Routing.md
Due: prettier

Update documentation
  docs/CheckForApplicationUpdate.md
  docs/img/CheckForApplicationUpdate.png
  docs/navigation.html
  docs/useCheckForApplicationUpdate.md
Due: prettier

Fix Notification does not allow valid values for autoHideDuration
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

Apply review
  packages/ra-core/src/util/useCheckForApplicationUpdate.ts
  packages/ra-ui-materialui/src/layout/CheckForApplicationUpdate.tsx
Due: eslint --fix

[Doc] Add newsletter form
  docs/Community.md
  docs/_includes/newsletter.html
  docs/_layouts/default.html
  docs/css/newsletter.css
Due: prettier

[Doc] fix a typo: replace ise by use
  docs/NumberInput.md
Due: prettier

[Doc] Fix missing close tag in `<List>` `aside` snippet
  docs/List.md
Due: prettier

Update reference doc page
  docs/Reference.md
Due: prettier

Update SPA tools documentation
  docs/CreateReactApp.md
  docs/Vite.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
