Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Feat(CRM): Update CRM configuration with new company sectors
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/CRM/crm.config.ts
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyListFilter.tsx
  examples/crm/src/companies/sectors.ts
  examples/crm/src/dataGenerator/companies.ts
Due: eslint --fix, prettier

Feat(CRM): Update CRM configuration with deal stages
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/CRM/crm.config.ts
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/deals/DealListContent.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/deals/stages.ts
Due: eslint --fix, prettier

Feat(CRM): Update CRM configuration with deal categories
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/CRM/crm.config.ts
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/types.ts
Due: eslint --fix, prettier

Feat(crm): Add sales admin support
  examples/crm/src/App.tsx
  examples/crm/src/Header.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/sales/SalesCreate.tsx
  examples/crm/src/sales/SalesEdit.tsx
  examples/crm/src/sales/SalesForm.tsx
  examples/crm/src/sales/SalesList.tsx
  examples/crm/src/sales/TransferAdminRole.tsx
  examples/crm/src/sales/TransferAdminRoleModal.tsx
  examples/crm/src/sales/index.ts
  examples/crm/src/sales/useIsAdmin.tsx
Due: eslint --fix

Update SelectInput to support an array of strings as choices
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  docs/CheckboxGroupInput.md
  docs/RadioButtonGroupInput.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.stories.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
Due: eslint --fix, prettier

Fix(crm): Improve setup page labels
  examples/crm/src/login/SignupPage.tsx
Due: eslint --fix

update jest test
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Feat(CRM): Update CRM configuration with notes statuses
  examples/crm/README.md
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/CRM/crm.config.ts
  examples/crm/src/contacts/ContactListFilter.tsx
  examples/crm/src/dataGenerator/contactNotes.ts
  examples/crm/src/dataGenerator/contacts.ts
  examples/crm/src/dataGenerator/dealNotes.ts
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/misc/Status.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/StatusSelector.tsx
  examples/crm/src/tasks/task.const.ts
  examples/crm/src/types.ts
Due: eslint --fix, prettier

Feat(CRM): Update CRM configuration with task types
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/tasks/AddTask.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/types.ts
Due: eslint --fix, prettier

Feat(CRM): Update CRM documentation
  examples/crm/README.md
Due: prettier

[Documentation] Mention dialogs in Buttons doc
  docs/Buttons.md
Due: prettier

[Documentation] Update fullwidth docs for DateInput, DateTimeInput and TimeInput
  docs/DateInput.md
  docs/DateTimeInput.md
  docs/TimeInput.md
Due: prettier

Feat(crm): Rename crmContext to configurationContext
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyListFilter.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/contacts/ContactListFilter.tsx
  examples/crm/src/contacts/constants.ts
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/dataGenerator/contactNotes.ts
  examples/crm/src/dataGenerator/contacts.ts
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealListContent.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/deals/deal.ts
  examples/crm/src/deals/stages.ts
  examples/crm/src/misc/Status.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/StatusSelector.tsx
  examples/crm/src/root/CRM.tsx
  examples/crm/src/root/ConfigurationContext.tsx
  examples/crm/src/root/defaultConfiguration.ts
  examples/crm/src/tasks/AddTask.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/types.ts
Due: eslint --fix, prettier

Feat(crm): Improve documentation
  examples/crm/README.md
  examples/crm/public/img/adding-sales.png
Due: prettier

Feat(CRM): Update CRM configuration with deal pipeline status
  examples/crm/README.md
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/deals/stages.ts
  examples/crm/src/root/CRM.tsx
  examples/crm/src/root/ConfigurationContext.tsx
  examples/crm/src/root/defaultConfiguration.ts
Due: eslint --fix, prettier

Fix(crm): Replace Edit with EditBase for Task
  examples/crm/src/tasks/TaskEdit.tsx
Due: eslint --fix

Fix(crm): Update dataProvider for contact lifecycle
  examples/crm/src/dataProvider.ts
  examples/crm/src/types.ts
Due: eslint --fix

Fix(crm): Remove uncessary throw inside Deal Form
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealForm.tsx
Due: eslint --fix

Fix(crm): Set context_links for companies optionnal
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Due: eslint --fix

Fix(crm): Mock hash function for getContactAvatar
  examples/crm/src/misc/getContactAvatar.spec.ts
Due: eslint --fix

Apply Gildas suggestions
  docs/Buttons.md
Due: prettier

Fix(crm): Explain the use of @jest-environment node in test
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/misc/getContactAvatar.spec.ts
Due: eslint --fix

Fix(crm): Apply fixes to sales resource
  examples/crm/src/App.tsx
  examples/crm/src/Header.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/sales/SalesCreate.tsx
  examples/crm/src/sales/SalesEdit.tsx
  examples/crm/src/sales/SalesForm.tsx
  examples/crm/src/sales/SalesList.tsx
  examples/crm/src/sales/TransferAdminRole.tsx
  examples/crm/src/sales/TransferAdminRoleModal.tsx
  examples/crm/src/sales/useIsAdmin.tsx
Due: eslint --fix

Feat(crm): Display my info show and edit + fix archived list
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/settings/SettingsPage.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/AutocompleteArrayInput.md
  docs/CheckboxGroupInput.md
  docs/SelectArrayInput.md
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.stories.tsx
Due: eslint --fix, prettier

Fix(crm): Improve overloading TS for dataProvider
  examples/crm/src/dataProvider.ts
Due: eslint --fix

Fix(crm): Improve code quality
  examples/crm/src/authProvider.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/sales/SalesCreate.tsx
Due: eslint --fix

[Autocomplete] Add story for slow creation
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

[no ci] [crm] Misc wording fixes
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
Due: eslint --fix

[no ci] [CRM] Improve contact sidebar
  docs/UrlField.md
  examples/crm/src/contacts/ContactAside.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
Due: eslint --fix, prettier

[no ci] [crm] Improve company aside look and feel
  examples/crm/src/companies/CompanyAside.tsx
Due: eslint --fix

Feat(crm): Improve naming of lifecycle functions
  examples/crm/src/dataProvider.ts
Due: eslint --fix

Feat(crm): Change default state value for my info
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/settings/SettingsPage.tsx
Due: eslint --fix

Fix(crm): Replace linkedin_url with linkedIn for harmonization
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/types.ts
Due: eslint --fix

[no ci] [crm] Fix input name in deal form
  examples/crm/src/deals/DealForm.tsx
Due: eslint --fix

[no ci] [crm] add tooltip on the last activity date
  examples/crm/src/contacts/ContactListContent.tsx
Due: eslint --fix

Feat(crm): Add DealNote type
  examples/crm/src/dataGenerator/types.ts
  examples/crm/src/types.ts
Due: eslint --fix

Fix(crm): Replace linkedinIn by linkedin_url
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Due: eslint --fix

Fix(crm): Apply suggestions from code review
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyListFilter.tsx
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealListContent.tsx
  examples/crm/src/notes/StatusSelector.tsx
  examples/crm/src/root/CRM.tsx
Due: eslint --fix

[Doc] Update MarkdownInput Documentation
  docs/MarkdownInput.md
Due: prettier
