Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update wording in refreshing permissions doc
  docs/usePermissions.md
Due: prettier

Move refetch to onSuccess in doc example
  docs/usePermissions.md
Due: prettier

Wrap code example with `raw` to avoid issues with Jekyll
  docs/usePermissions.md
Due: prettier

Add ability to refetch permissions on demand
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix

Add documentation for permission reloading
  docs/usePermissions.md
Due: prettier

Add e2e test
  cypress/e2e/create.cy.js
  cypress/support/CreatePage.js
  examples/simple/src/users/UserCreate.tsx
Due: eslint --fix

Fix asyncDebounce
  packages/ra-core/src/util/asyncDebounce.ts
Due: eslint --fix

Add unique validator
  docs/Validation.md
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useUnique.spec.tsx
  packages/ra-core/src/form/useUnique.stories.tsx
  packages/ra-core/src/form/useUnique.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix, prettier

Allow disabling store persistence of the list parameters
  docs/List.md
  docs/useListController.md
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useListController.storeKey.spec.tsx
  packages/ra-core/src/controller/list/useListController.storeKey.stories.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useListParams.ts
  packages/ra-ui-materialui/src/list/List.stories.tsx
Due: eslint --fix, prettier

Add debounce support
  packages/ra-core/src/form/useUnique.ts
  packages/ra-core/src/util/asyncDebounce.spec.ts
  packages/ra-core/src/util/asyncDebounce.ts
  packages/ra-core/src/util/index.ts
Due: eslint --fix

Fix custom messages that are not translation keys
  packages/ra-core/src/form/useUnique.ts
Due: eslint --fix

Fix typos
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Apply review
  docs/Validation.md
  packages/ra-core/src/form/useUnique.spec.tsx
  packages/ra-core/src/form/useUnique.stories.tsx
  packages/ra-core/src/form/useUnique.ts
Due: eslint --fix, prettier

Remove only
  cypress/e2e/create.cy.js
Due: eslint --fix

Update documentation
  docs/Reference.md
  docs/Validation.md
  docs/useUnique.md
Due: prettier

Apply suggestions from code review
  docs/useUnique.md
Due: prettier

Fix documentation
  docs/useUnique.md
Due: prettier

Check for submissions in tests
  packages/ra-core/src/form/useUnique.spec.tsx
  packages/ra-core/src/form/useUnique.stories.tsx
Due: eslint --fix

Fix documentation
  docs/img/useUnique.mp4
  docs/img/useUnique.webm
  docs/useUnique.md
Due: prettier

Fix tests
  packages/ra-core/src/form/useUnique.spec.tsx
Due: eslint --fix

Remove unnecessary code
  packages/ra-core/src/form/useUnique.stories.tsx
  packages/ra-core/src/form/useUnique.ts
Due: eslint --fix

Add comment
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Fix typos
  packages/ra-core/src/form/useUnique.spec.tsx
Due: eslint --fix

Add entry in the sidebar navigation
  docs/navigation.html
Due: none

feat(bulk-update-buttons): added mutation options to bulk update with undo buttons
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

feat(bulk-update-buttons): added mutation options to bulk update buttons
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

resource products in plural form
  docs/AuthRBAC.md
Due: prettier

not render InputHelperText if helperText is false in TextInput
  packages/ra-ui-materialui/src/input/TextInput.tsx
Due: eslint --fix

prevent render InputHelperText in AutocompleteInput
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

prevent render FormHelperText in BooleanInput
  packages/ra-ui-materialui/src/input/BooleanInput.tsx
Due: eslint --fix

prevent render FormHelperText in CheckBoxGroupInput
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
Due: eslint --fix

prevent render InputHelperText in DateInput
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

prevent render InputHelperText in DateTimeInput
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
Due: eslint --fix

prevent render FormHelperText in FileInput
  packages/ra-ui-materialui/src/input/FileInput.tsx
Due: eslint --fix

prevent render InputHelperText in NullableBooleanInput
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

prevent render InputHelperText in NumberInput
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

prevent FormHelperText in RadioButtonGroupInput
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
Due: eslint --fix

Fix `Loading` custom message raises a missing translation key warning
  packages/ra-ui-materialui/src/layout/Loading.tsx
Due: eslint --fix

prevent render FormHelperText in SelectArrayInput
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

prevent render InputHelperText in SelectInput
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix
