Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

refactor: Mirror tanstack Navigate string-building in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Drop StandaloneWithBasename story from the router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
Due: eslint --fix

refactor: Mirror tanstack useNavigate branch structure in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

refactor: Rename provider basename hook and align RouterWrapper context
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

fix: Prepend basename in react-router Link/Navigate/useNavigate
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

fix: Prepend basename in react-router-next Link/Navigate/useNavigate
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.stories.tsx
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
Due: eslint --fix

refactor: Read basename directly in useNavigate like the tanstack adapter
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Mirror the comprehensive provider spec in ra-router-react-router
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Mirror routing stories and tests into ra-router-react-router
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.stories.tsx
Due: eslint --fix

refactor: Use tanstack's inline resolvePath for basename in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

refactor: Spread remaining Navigate props in router adapters
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

refactor: Use tanstack's if/else resolvedTo shape in router adapter Link
  packages/ra-router-react-router-next/src/reactRouterNextProvider.tsx
  packages/ra-router-react-router/src/reactRouterProvider.tsx
Due: eslint --fix

test: Align useWarnWhenUnsavedChanges test descriptions with tanstack
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Align story import order with the tanstack spec
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Restore tanstack comment and reword URL-encoded params test
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Tighten matchPath/useCanBlock parity with the tanstack spec
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Restore user.click in the embedded navigate-back test (tanstack parity)
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Unify click mechanics with the tanstack spec (fireEvent.click)
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

fix: Scope experimental-vm-modules to the react-router-next test run
  jest.config.js
  package.json
Due: eslint --fix, prettier

docs: Import Route components from react-router instead of react-router-dom
  docs/Admin.md
  docs/Architecture.md
  docs/Authenticated.md
  docs/Authentication.md
  docs/Breadcrumb.md
  docs/CanAccess.md
  docs/ContainerLayout.md
  docs/CustomRoutes.md
  docs/DeletedRecordsList.md
  docs/List.md
  docs/Permissions.md
  docs/Resource.md
  docs/Routing.md
  docs/SecurityGuide.md
  docs/ShowDeleted.md
  docs/WithPermissions.md
  docs/useDefineAppLocation.md
  docs/usePermissions.md
  docs_headless/src/content/docs/Architecture.md
  docs_headless/src/content/docs/Authenticated.md
  docs_headless/src/content/docs/Authentication.md
  docs_headless/src/content/docs/CRUD.md
  docs_headless/src/content/docs/CanAccess.md
  docs_headless/src/content/docs/CoreAdmin.md
  docs_headless/src/content/docs/CustomRoutes.md
  docs_headless/src/content/docs/DeletedRecordRepresentation.md
  docs_headless/src/content/docs/DeletedRecordsListBase.md
  docs_headless/src/content/docs/Permissions.md
  docs_headless/src/content/docs/Resource.md
  docs_headless/src/content/docs/Routing.md
  docs_headless/src/content/docs/SecurityGuide.md
  docs_headless/src/content/docs/ShowDeletedBase.md
  docs_headless/src/content/docs/usePermissions.md
Due: prettier

test: Restore tanstack's data-load comment in nested-routes test
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

docs: Keep BrowserRouter on react-router-dom for v6 compatibility
  docs/Admin.md
  docs_headless/src/content/docs/CoreAdmin.md
Due: prettier

chore: Declare react-router as a dependency of ra-router-react-router-next
  packages/ra-router-react-router-next/package.json
Due: prettier

test: Split block vs cancel in useWarnWhenUnsavedChanges tests
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Clarify splat URL-decoding test description
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

test: Drop inline comments from useWarnWhenUnsavedChanges tests
  packages/ra-router-react-router-next/src/reactRouterNextProvider.spec.tsx
  packages/ra-router-react-router/src/reactRouterProvider.spec.tsx
Due: eslint --fix

chore: Drop ra-core from ra-router-react-router-next dev/peer deps
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Fix router package peer dependencies
  packages/ra-no-code/package.json
  packages/ra-router-react-router-next/package.json
Due: prettier

chore: Drop unused react-router-dom devDependency from react-admin
  packages/react-admin/package.json
Due: prettier

chore: Relock after router package dependency changes
  yarn.lock
Due: none

test: Harden auth e2e assertions against redirect timing flakiness
  cypress/e2e/auth.cy.js
Due: eslint --fix

fix: preserve autocomplete selection on blur
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

fix: Restore lockfile to master baseline, keeping only the react-router bump
  examples/demo/package.json
  yarn.lock
Due: prettier

[Doc] Update RA Core EE documentation
  docs_headless/src/content/docs/AutoSaveBase.md
  docs_headless/src/content/docs/useAutoSave.md
Due: prettier

support react-router v8
  packages/ra-core/package.json
  packages/ra-core/src/auth/Authenticated.spec.tsx
  packages/ra-core/src/auth/useAuthenticated.spec.tsx
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
  packages/ra-core/src/auth/useLogin.spec.tsx
  packages/ra-core/src/auth/useLogout.spec.tsx
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/usePrevNextController.ts
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/core/CoreAdminRoutes.spec.tsx
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.spec.tsx
  packages/ra-core/src/dataProvider/useGetRecordId.spec.tsx
  packages/ra-core/src/form/Form.stories.tsx
  packages/ra-core/src/form/useWarnWhenUnsavedChanges.spec.tsx
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
  packages/ra-core/src/routing/TestMemoryRouter.tsx
  packages/ra-core/src/routing/adapters/reactRouterProvider.tsx
  packages/ra-core/src/routing/useCreatePath.stories.tsx
  packages/ra-core/src/routing/useRedirect.spec.tsx
  packages/ra-core/src/routing/useRedirect.stories.tsx
  packages/ra-core/src/routing/useScrollToTop.tsx
  packages/ra-input-rich-text/src/RichTextInput.stories.tsx
  packages/ra-no-code/package.json
  packages/ra-no-code/src/ui/ImportResourceDialog.tsx
  packages/ra-no-code/src/ui/ResourceMenuItem.tsx
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/react-admin/package.json
  packages/react-admin/src/Admin.stories.tsx
  packages/react-admin/src/Resource.stories.tsx
  yarn.lock
Due: eslint --fix, prettier

update comments
  packages/ra-core/src/routing/CompatHashRouter.tsx
  packages/ra-core/src/routing/CompatLink.tsx
Due: eslint --fix

build: Remove unused react-router-dom from ra-ui-materialui
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

build: Keep react-router ^8.0.0 in the peer/dependency range
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

docs: Note deferred unit tests pending React 19 test lane
  packages/ra-router-react-router-v8/README.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
