Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Add validation to product edition form
  examples/demo/src/products/ProductEdit.js
Due: eslint --fix

Export controller prop types
  packages/ra-core/src/controller/index.ts
Due: eslint --fix

Transform visitor filter to a sidebar
  examples/demo/src/visitors/VisitorList.tsx
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Add translations
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
Due: eslint --fix

Fix rendering problem in Filters doc
  docs/List.md
Due: prettier

Tweak Dashboard to show chart
  examples/demo/src/dashboard/Welcome.tsx
Due: eslint --fix

Add yarn.loack
  yarn.lock
Due: none

Silence warning
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

improve readability of VisitorListAside
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Make filters less prominent
  examples/demo/src/i18n/en.ts
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Fix warning
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Add filter remove icon
  examples/demo/src/visitors/VisitorListAside.tsx
Due: eslint --fix

Fix GridList loading screen
  examples/demo/src/products/GridList.js
Due: eslint --fix

Simplify tutorial a bit
  docs/Tutorial.md
Due: prettier

Update documentation for delete
  docs/DataProviders.md
Due: prettier

fix custom application route documentation
  UPGRADE.md
  docs/CustomApp.md
Due: prettier

prepare changelog for v3.5.3
  CHANGELOG.md
Due: prettier

v3.5.3
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

useListParams hook exported.
  packages/ra-core/src/controller/index.ts
Due: eslint --fix

Fix imports.
  packages/ra-core/src/controller/index.ts
Due: eslint --fix

Use outlined input field as default
  packages/ra-ui-materialui/src/input/ResettableTextField.js
Due: eslint --fix

rename to @seasons/react-admin
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

add resource to fieldprops
  examples/demo/src/products/ProductReferenceField.tsx
  examples/demo/src/types.ts
Due: eslint --fix

revert gridlist
  examples/demo/src/products/GridList.js
Due: eslint --fix

demo reviews refactor to typescript
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/demo/src/reviews/RejectButton.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewEditToolbar.tsx
  examples/demo/src/reviews/ReviewFilter.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/reviews/ReviewListDesktop.tsx
  examples/demo/src/reviews/ReviewListMobile.tsx
  examples/demo/src/reviews/index.ts
  examples/demo/src/reviews/rowStyle.tsx
  examples/demo/src/types.ts
Due: eslint --fix

demo segments refactor to typescript
  examples/demo/src/segments/LinkToRelatedCustomers.tsx
  examples/demo/src/segments/Segments.tsx
  examples/demo/src/segments/data.ts
Due: eslint --fix

Update information for Loopback4
  docs/DataProviders.md
Due: prettier

Fix dataProvider.delete input type
  packages/ra-core/src/types.ts
Due: eslint --fix

Add ability to use a React element as Field label
  docs/Fields.md
  docs/List.md
  packages/ra-core/src/util/FieldTitle.tsx
  packages/ra-ui-materialui/src/field/types.ts
  packages/ra-ui-materialui/src/input/Labeled.tsx
  packages/ra-ui-materialui/src/list/DatagridHeaderCell.spec.js
Due: eslint --fix, prettier

fix i19nContext type
  packages/ra-core/src/i18n/TranslationContext.ts
  packages/ra-core/src/i18n/TranslationProvider.tsx
  packages/ra-i18n-polyglot/src/index.ts
Due: eslint --fix

optional props
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewEditToolbar.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/types.ts
Due: eslint --fix

Support array of objects in sanitizeEmptyValues
  packages/ra-core/src/form/sanitizeEmptyValues.spec.ts
  packages/ra-core/src/form/sanitizeEmptyValues.ts
Due: eslint --fix

record: PropTypes.any
  examples/demo/src/reviews/AcceptButton.tsx
  examples/demo/src/reviews/RejectButton.tsx
Due: eslint --fix

parseInt
  examples/demo/src/reviews/ReviewList.tsx
Due: eslint --fix

doc(Authentication) minor syntax error
  docs/Authentication.md
Due: prettier

ReviewListMobile propTypes
  examples/demo/src/reviews/ReviewListMobile.tsx
Due: eslint --fix

Changed firestore provider link, improved descriptions, reordered alphabetically
  docs/DataProviders.md
Due: prettier

Silence webpack warnings in simple example
  examples/simple/webpack.config.js
Due: eslint --fix

Add ability to create custom DeleteButton views without rewriting the logic
  packages/ra-core/src/controller/button/index.ts
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/index.ts
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix
