Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

prevent render InputHelperText in TimeInput
  packages/ra-ui-materialui/src/input/TimeInput.tsx
Due: eslint --fix

prevent render FormHelperText in ArrayInput
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

fix copy paste error
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

Upgrade to TS 5
  .eslintrc
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-core/src/core/Resource.tsx
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/form/FormTabHeader.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix more deps and linter
  cypress/start.js
  package.json
  yarn.lock
Due: eslint --fix, prettier

Upgrade ts-jest
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  jest.config.js
  package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Update useAuthenticated.ts
  packages/ra-core/src/auth/useAuthenticated.ts
Due: eslint --fix

add fetchError to renderHelperText condition
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Proofreading
  docs/useRegisterMutationMiddleware.md
Due: prettier

Minor doc tweaks
  docs/Show.md
  docs/ShowBase.md
  docs/css/style-v18.css
Due: prettier

if fetchError is true, render helper text
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Fix examples
  docs/useRegisterMutationMiddleware.md
Due: prettier

Update reference
  docs/Reference.md
Due: prettier

Fix thumbnail example
  docs/useRegisterMutationMiddleware.md
Due: prettier

Fix stories
  packages/ra-ui-materialui/src/form/useRegisterMutationMiddleware.stories.tsx
Due: eslint --fix

Fix story warning
  packages/ra-ui-materialui/src/form/useRegisterMutationMiddleware.stories.tsx
Due: eslint --fix

fix: data for useList with page: 1 will be Arnold and Sylvester
  docs/useList.md
Due: prettier

Add 4.11.4 changelog
  CHANGELOG.md
Due: prettier

v4.11.4
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for v4.11.4
  yarn.lock
Due: none

Update for v4.11.4
  AuthRBAC.md
  DataProviders.md
  List.md
  ListTutorial.md
  RichTextInput.md
  Show.md
  ShowBase.md
  TranslationLocales.md
  Tutorial.md
  _data/versions.yml
  css/style-v18.css
  doc/4.11/404.html
  doc/4.11/AuthRBAC.md
  doc/4.11/DataProviders.md
  doc/4.11/List.md
  doc/4.11/ListTutorial.md
  doc/4.11/RichTextInput.md
  doc/4.11/Show.md
  doc/4.11/ShowBase.md
  doc/4.11/TranslationLocales.md
  doc/4.11/Tutorial.md
  doc/4.11/css/style-v18.css
  doc/4.11/img/rich-text-input.mp4
  doc/4.11/img/simple-post-list.png
  doc/4.11/useGetTree.md
  doc/4.11/useList.md
  img/rich-text-input.mp4
  img/simple-post-list.png
  useGetTree.md
  useList.md
Due: prettier

Fix a typo: missing e to the
  docs/TabbedForm.md
Due: prettier

Fix a typo: appreciate instead of appreviate
  docs/TabbedForm.md
Due: prettier

Update eslint
  .eslintrc
  package.json
  yarn.lock
Due: prettier

Update README.md
  packages/ra-input-rich-text/README.md
Due: prettier

Add SelectAllButton to BulkActionToolbar
  packages/ra-core/src/controller/list/useRecordSelection.spec.tsx
  packages/ra-core/src/controller/list/useRecordSelection.ts
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
Due: eslint --fix

improve useRecordSelection tests
  packages/ra-core/src/controller/list/useRecordSelection.spec.tsx
Due: eslint --fix

TabbedShowLayout reads RecordContext in Controlled Mode
  docs/TabbedShowLayout.md
Due: prettier

Memoize AutocompleteInput function props where possible
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Update documentation about AutocompleteInput and AutocompleteArrayInput
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
Due: prettier

[Doc] Rephrase performance benefits in features chapter
  docs/Confirm.md
  docs/Features.md
Due: prettier

Fix sortBy props in Combining Two Fields
  docs/Fields.md
Due: prettier

Fix onCreate cannot be memoized
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix analyze script in demo
  examples/demo/package.json
Due: prettier

Fix analyze command in CRM demo
  examples/crm/package.json
Due: prettier

Fix demos don't allow to visualize source maps
  examples/crm/package.json
  examples/crm/vite.config.ts
  examples/demo/package.json
  examples/demo/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier

Fix typo
  docs/Features.md
Due: prettier

fix a typo: "a books fields" instead of "an books fields"
  docs/FieldsForRelationships.md
Due: prettier

[Doc] Add SmartRichTextInput, an AI assistant for rich text content
  docs/Features.md
  docs/Inputs.md
  docs/PredictiveTextInput.md
  docs/Reference.md
  docs/RichTextInput.md
  docs/SmartRichTextInput.md
  docs/TextInput.md
  docs/navigation.html
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
