Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix SortButton table
  docs/Buttons.md
Due: prettier

Improve description
  docs/Buttons.md
Due: prettier

Add Confirm to docs
  docs/Confirm.md
  docs/Reference.md
  docs/img/confirm-delete.png
  docs/navigation.html
Due: prettier

Fix link
  docs/navigation.html
Due: none

Fix tests
  packages/ra-ui-materialui/src/button/Button.tsx
Due: eslint --fix

Rename file
  docs/Confirm.md
  docs/img/confirm-dialog.png
Due: prettier

Add sx CSS API
  docs/Confirm.md
Due: prettier

Fix description
  docs/Confirm.md
Due: prettier

Improve required column
  docs/Confirm.md
Due: prettier

Improve descriptions
  docs/Confirm.md
Due: prettier

Update tables
  docs/Confirm.md
Due: prettier

Minor fixes
  docs/Confirm.md
Due: prettier

Added reference link
  docs/Datagrid.md
Due: prettier

Added greek translation
  docs/Translation.md
Due: prettier

Update docs/Confirm.md
  docs/Confirm.md
Due: prettier

Remove root css class from docs
  docs/BooleanField.md
  docs/Buttons.md
  docs/CheckboxGroupInput.md
  docs/FileField.md
  docs/FileInput.md
  docs/ImageInput.md
  docs/List.md
  docs/SelectArrayInput.md
  docs/Show.md
  docs/SingleFieldList.md
Due: prettier

Add missing i18n keys ins simple project
  examples/simple/src/i18n/en.ts
  examples/simple/src/i18n/fr.ts
Due: eslint --fix

Improve Labeled docs
  docs/Labeled.md
Due: prettier

Fix upgrade example
  UPGRADE.md
Due: prettier

Fix bad upgrade for show props
  UPGRADE.md
Due: prettier

Change ShowGuesser for CommentShow
  examples/simple/src/comments/index.tsx
Due: eslint --fix

Fix upgrade example for SaveButton
  UPGRADE.md
Due: prettier

Fix and simplify demo code
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/orders/Basket.tsx
  examples/demo/src/orders/OrderEdit.tsx
  examples/demo/src/orders/Totals.tsx
  examples/demo/src/products/Poster.tsx
  examples/demo/src/products/ProductCreate.tsx
  examples/demo/src/products/ThumbnailField.tsx
  examples/demo/src/reviews/ReviewEditToolbar.tsx
  examples/demo/src/visitors/Aside.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
Due: eslint --fix

Resolve ReferenceManyFields labels
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/posts/PostShow.tsx
Due: eslint --fix

Fix lint
  examples/demo/src/products/ProductCreate.tsx
Due: eslint --fix

Fix docs theme prop example
  UPGRADE.md
  docs/Theming.md
Due: prettier

Fix remove Toolbar with prop references
  UPGRADE.md
  docs/CreateEdit.md
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix, prettier

Fix margin and variant reference
  docs/CreateEdit.md
Due: prettier

Fix initialValues references
  packages/ra-core/src/form/Form.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
Due: eslint --fix

Fix form example
  UPGRADE.md
Due: prettier

Update Datagrid.md
  docs/Datagrid.md
Due: prettier

add sx prop to themeing.md
  docs/Theming.md
Due: prettier

add conditional formatting doc
  docs/Theming.md
Due: prettier

fix table style
  docs/Theming.md
Due: prettier

fix colored number field
  docs/Theming.md
Due: prettier

fix high order component doc
  docs/Theming.md
Due: prettier

fix custom icon
  docs/Theming.md
Due: prettier

fix sidebar
  docs/Theming.md
Due: prettier
