Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Add tests
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/edit/EditBase.stories.tsx
  packages/ra-core/src/controller/show/ShowBase.spec.tsx
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
Due: eslint --fix

Add tests regarding disableAuthentication
  packages/ra-core/src/controller/list/InfiniteListBase.spec.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.stories.tsx
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
Due: eslint --fix

Move `FilterContext` to `ra-core` and introduce `useFilterContext`
  packages/ra-core/src/controller/list/FilterContext.tsx
  packages/ra-core/src/controller/list/index.ts
  packages/ra-core/src/controller/list/useFilterContext.ts
  packages/ra-ui-materialui/src/input/DatagridInput.tsx
  packages/ra-ui-materialui/src/list/ListActions.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/filter/Filter.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/index.ts
Due: eslint --fix

Move `SimpleFormIterator` contexts and hooks to `ra-core`
  packages/ra-core/src/controller/input/SimpleFormIteratorContext.ts
  packages/ra-core/src/controller/input/SimpleFormIteratorItemContext.ts
  packages/ra-core/src/controller/input/index.ts
  packages/ra-core/src/controller/input/useSimpleFormIterator.ts
  packages/ra-core/src/controller/input/useSimpleFormIteratorItem.ts
  packages/ra-ui-materialui/src/input/ArrayInput/AddItemButton.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/ReOrderButtons.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/RemoveItemButton.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.stories.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/index.ts
Due: eslint --fix

Move `UserMenu` contexts and hooks to `ra-core`
  packages/ra-core/src/core/UserMenuContext.ts
  packages/ra-core/src/core/UserMenuContextProvider.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useUserMenu.ts
  packages/ra-ui-materialui/src/layout/AppBar.stories.tsx
  packages/ra-ui-materialui/src/layout/UserMenu.tsx
  packages/ra-ui-materialui/src/layout/index.ts
Due: eslint --fix

Introduce `useBulkExport` hook
  packages/ra-core/src/controller/list/index.ts
  packages/ra-core/src/export/useBulkExport.spec.tsx
  packages/ra-core/src/export/useBulkExport.stories.tsx
  packages/ra-core/src/export/useBulkExport.ts
  packages/ra-ui-materialui/src/button/BulkExportButton.tsx
Due: eslint --fix

Improve stories organization
  packages/ra-core/src/export/useBulkExport.stories.tsx
Due: eslint --fix

Make sure to stop event propagation
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix

Add FIXME for v6 regarding re-exports
  packages/ra-ui-materialui/src/input/ArrayInput/index.ts
  packages/ra-ui-materialui/src/layout/index.ts
  packages/ra-ui-materialui/src/list/filter/index.ts
Due: eslint --fix

Fix linter warnings
  packages/ra-ui-materialui/src/detail/Create.tsx
Due: eslint --fix

update features
  docs_headless/src/content/docs/guides/Features.md
Due: prettier

update data-fetching (wip)
  docs_headless/src/content/docs/data-fetching/Actions.md
  docs_headless/src/content/docs/data-fetching/DataProviderList.md
  docs_headless/src/content/docs/data-fetching/DataProviderWriting.md
  docs_headless/src/content/docs/data-fetching/DataProviders.md
  docs_headless/src/content/docs/data-fetching/fetchJson.md
  docs_headless/src/styles/global.css
Due: prettier

Add context7.json
  context7.json
Due: prettier

Fix bad syntax
  docs/ReferenceArrayField.md
Due: prettier

Fix typo
  docs/ReferenceField.md
Due: prettier

Ensure users can still override only parts of the mutationOptions
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
Due: eslint --fix

Fix wrong export
  packages/ra-core/src/controller/list/index.ts
  packages/ra-core/src/export/index.ts
Due: eslint --fix

Apply review suggestions
  docs/ReferenceManyField.md
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.tsx
Due: eslint --fix, prettier

Avoid redefining the `source` prop
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Fix build
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Fix InfiniteList documentation
  docs/InfiniteList.md
Due: prettier

Use IsPlaceholderData in `ReferenceArrayFieldBase`
  packages/ra-core/src/controller/field/ReferenceArrayFieldBase.tsx
Due: eslint --fix

update data-fecthing (end)
  docs_headless/src/content/docs/data-fetching/useCreate.md
  docs_headless/src/content/docs/data-fetching/useDataProvider.md
  docs_headless/src/content/docs/data-fetching/useDelete.md
  docs_headless/src/content/docs/data-fetching/useDeleteMany.md
  docs_headless/src/content/docs/data-fetching/useGetList.md
  docs_headless/src/content/docs/data-fetching/useGetMany.md
  docs_headless/src/content/docs/data-fetching/useGetManyReference.md
  docs_headless/src/content/docs/data-fetching/useGetOne.md
  docs_headless/src/content/docs/data-fetching/useInfiniteGetList.md
  docs_headless/src/content/docs/data-fetching/useUpdate.md
  docs_headless/src/content/docs/data-fetching/useUpdateMany.md
  docs_headless/src/content/docs/data-fetching/withLifecycleCallbacks.md
Due: prettier

update guides (wip)
  docs_headless/src/content/docs/guides/Architecture.md
  docs_headless/src/content/docs/guides/CRUD.md
  docs_headless/src/content/docs/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/guides/Form.md
  docs_headless/src/content/docs/guides/Forms.md
Due: prettier

Introduce `useMutationWithMutationMode`
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

update guides (end)
  docs_headless/src/content/docs/guides/Routing.md
  docs_headless/src/content/docs/guides/SecurityGuide.md
  docs_headless/src/content/docs/guides/Store.md
  docs_headless/src/content/docs/guides/Translation.md
Due: prettier

fix ReferenceInput usage in useUnique
  docs_headless/src/content/docs/create-edit/useUnique.md
Due: prettier

improve props table layout
  docs_headless/src/content/docs/create-edit/Form.md
  docs_headless/src/styles/global.css
Due: prettier

update title from 'React Admin Headless' to 'ra-core' in config files
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/index.mdx
Due: none

improve sidebar order and labels
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/app-configuration/CoreAdmin.md
  docs_headless/src/content/docs/app-configuration/CustomRoutes.md
  docs_headless/src/content/docs/app-configuration/Resource.md
  docs_headless/src/content/docs/create-edit/EditTutorial.md
  docs_headless/src/content/docs/create-edit/Validation.md
  docs_headless/src/content/docs/data-fetching/DataProviderList.md
  docs_headless/src/content/docs/data-fetching/DataProviders.md
  docs_headless/src/content/docs/guides/Architecture.md
  docs_headless/src/content/docs/guides/CRUD.md
  docs_headless/src/content/docs/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/guides/Features.md
  docs_headless/src/content/docs/guides/Forms.md
  docs_headless/src/content/docs/guides/Routing.md
  docs_headless/src/content/docs/guides/SecurityGuide.md
  docs_headless/src/content/docs/guides/Store.md
  docs_headless/src/content/docs/guides/Translation.md
  docs_headless/src/content/docs/i18n/TranslationLocales.md
  docs_headless/src/content/docs/i18n/TranslationSetup.md
  docs_headless/src/content/docs/i18n/TranslationTranslating.md
  docs_headless/src/content/docs/i18n/TranslationWriting.md
  docs_headless/src/content/docs/list/FilteringTutorial.md
  docs_headless/src/content/docs/list/ListTutorial.md
  docs_headless/src/content/docs/security/AuthProviderList.md
  docs_headless/src/content/docs/security/AuthProviderWriting.md
  docs_headless/src/content/docs/security/Authentication.md
  docs_headless/src/content/docs/security/Permissions.md
Due: prettier

add missing assets to public/img
  docs_headless/public/img/AccessControl.mp4
  docs_headless/public/img/AutoRefresh.mp4
  docs_headless/public/img/FilterLiveForm.mp4
  docs_headless/public/img/LocalesMenuButton.mp4
  docs_headless/public/img/LocalesMenuButton.webm
  docs_headless/public/img/ReferenceNodeInput-TreeInput-basic.mp4
  docs_headless/public/img/ReferenceNodeInput-TreeInput-basic.webm
  docs_headless/public/img/SPA-lifecycle.png
  docs_headless/public/img/data-provider.png
  docs_headless/public/img/filter_with_submit.mp4
  docs_headless/public/img/filter_with_submit.webm
  docs_headless/public/img/infinite-book-list.webm
  docs_headless/public/img/login.mp4
  docs_headless/public/img/logout.mp4
  docs_headless/public/img/providers.png
  docs_headless/public/img/ra-rbac.mp4
  docs_headless/public/img/reference-array-input.mp4
  docs_headless/public/img/reference-array-input.webm
  docs_headless/public/img/reference-input-filter.mp4
  docs_headless/public/img/reference-input-filter.webm
  docs_headless/public/img/reference-input.mp4
  docs_headless/public/img/reference-input.webm
  docs_headless/public/img/translation.mp4
  docs_headless/public/img/translation.webm
  docs_headless/public/img/tutorial_post_edit_undo.mp4
  docs_headless/public/img/tutorial_post_edit_undo.webm
  docs_headless/public/img/typescript.mp4
  docs_headless/public/img/typescript.webm
  docs_headless/public/img/useInfiniteGetList.mp4
  docs_headless/public/img/useInfiniteGetList.webm
  docs_headless/public/img/useUnique.mp4
  docs_headless/public/img/useUnique.webm
Due: none

update assets source paths
  docs_headless/src/content/docs/create-edit/useUnique.md
  docs_headless/src/content/docs/data-fetching/useInfiniteGetList.md
  docs_headless/src/content/docs/guides/Architecture.md
  docs_headless/src/content/docs/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/guides/Features.md
  docs_headless/src/content/docs/guides/SecurityGuide.md
  docs_headless/src/content/docs/guides/Translation.md
  docs_headless/src/content/docs/inputs/ReferenceArrayInputBase.md
  docs_headless/src/content/docs/inputs/ReferenceInputBase.md
  docs_headless/src/content/docs/list/FilterLiveForm.md
  docs_headless/src/content/docs/list/FilteringTutorial.md
  docs_headless/src/content/docs/list/InfiniteListBase.md
  docs_headless/src/content/docs/security/AuthProviderWriting.md
  docs_headless/src/content/docs/security/Authentication.md
  docs_headless/src/content/docs/security/Permissions.md
Due: prettier

fix BC in ShowContext, EditContext and ChoicesContext types
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-core/src/controller/useReference.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
Due: eslint --fix

Make `useMutationWithMutationMode` work for any dataProvider mutation function signature
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.spec.tsx
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
Due: eslint --fix

Export `useMutationWithMutationMode`
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useMutationWithMutationMode.ts
Due: eslint --fix

update devalue package to version 5.3.2
  yarn.lock
Due: none

update form-data package to version 4.0.4
  yarn.lock
Due: none

v5.11.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier
