Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

v3.10.1
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update doc to v3.10.1
  Authentication.md
  CreateEdit.md
  Ecosystem.md
  Fields.md
  Inputs.md
  List.md
  Readme.md
  Resource.md
  Show.md
  Theming.md
  _data/versions.yml
  _layouts/default.html
  css/style-v9.css
  doc/3.10/Authentication.md
  doc/3.10/CreateEdit.md
  doc/3.10/Ecosystem.md
  doc/3.10/Fields.md
  doc/3.10/Inputs.md
  doc/3.10/List.md
  doc/3.10/Readme.md
  doc/3.10/Resource.md
  doc/3.10/Show.md
  doc/3.10/Theming.md
Due: prettier

Update Tutorial.md
  docs/Tutorial.md
Due: prettier

Update DataProviders.md
  docs/DataProviders.md
Due: prettier

Fix `<Admin history>` prop injection documentation
  docs/Admin.md
Due: prettier

Update tutorial link
  docs/AdvancedTutorials.md
Due: prettier

Add link to JSON field and input
  docs/Fields.md
  docs/Inputs.md
Due: prettier

[Doc] Improve List chapter screenshots and cross-links
  docs/List.md
  docs/Reference.md
  docs/img/list-view.jpg
  docs/img/list-view.png
  docs/img/simple-post-list.png
Due: prettier

update doc
  Admin.md
  AdvancedTutorials.md
  DataProviders.md
  Fields.md
  Inputs.md
  List.md
  Reference.md
  Tutorial.md
  doc/3.10/Admin.md
  doc/3.10/AdvancedTutorials.md
  doc/3.10/DataProviders.md
  doc/3.10/Fields.md
  doc/3.10/Inputs.md
  doc/3.10/List.md
  doc/3.10/Reference.md
  doc/3.10/Tutorial.md
  doc/3.10/img/list-view.jpg
  doc/3.10/img/simple-post-list.png
  img/list-view.jpg
  img/simple-post-list.png
Due: prettier

Fix ListBase example and documentation
  docs/List.md
  examples/demo/src/products/ProductList.tsx
Due: eslint --fix, prettier

Fix typos in Theming doc
  docs/Theming.md
Due: prettier

Change typescript examples to javascript
  docs/Authentication.md
  docs/List.md
Due: prettier

Revert removal of `error`
  docs/Theming.md
Due: prettier

Remove irrelevant paragraph
  docs/Theming.md
Due: prettier

Fix variant and margin prop on an input have no effect inside a Filter form
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

[Doc] Fix link formatting in "Writing your own input" documentation
  docs/Inputs.md
Due: prettier

fix GitHub logo placement
  assets/styles.css
Due: prettier

Fix Loading route missing theme with LoadingPage
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/LoadingPage.tsx
  packages/ra-ui-materialui/src/layout/index.ts
  packages/react-admin/src/AdminRouter.tsx
  packages/react-admin/src/AdminUI.tsx
Due: eslint --fix

Do not run test build when the commit only contains doc changes
  .github/workflows/test.yml
Due: none

Minor tweaks to tutorial
  docs/Tutorial.md
Due: prettier

Revert "Fix Loading route missing theme with LoadingPage"
  packages/ra-core/src/core/CoreAdminRouter.tsx
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/layout/LoadingPage.tsx
  packages/ra-ui-materialui/src/layout/index.ts
  packages/react-admin/src/AdminRouter.tsx
  packages/react-admin/src/AdminUI.tsx
Due: eslint --fix

Update FilterListItem.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
Due: eslint --fix

Remove suggestion of children in Admin's ready example
  docs/Admin.md
Due: prettier

Add canonical tag to avoid dulicated content
  _layouts/default.html
Due: none

Fix version selector broken for 3.10
  _data/versions.yml
  _includes/versions.html
Due: none

Add canonical tag and fix version selector for 3.10
  docs/_includes/versions.html
  docs/_layouts/default.html
Due: none

Fix missing Roboto font in e-commerce demo
  examples/demo/public/index.html
Due: none

Fix ra-data-graphql-simple DELETE result
  packages/ra-data-graphql-simple/src/buildGqlQuery.js
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.js
Due: eslint --fix

improve demo on laptop screens
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/products/GridList.tsx
  examples/demo/src/visitors/VisitorList.tsx
Due: eslint --fix

Fix ra-data-simple-rest delete headers
  packages/ra-data-simple-rest/src/index.spec.ts
  packages/ra-data-simple-rest/src/index.ts
Due: eslint --fix

Prepare changelog for v3.10.2
  CHANGELOG.md
Due: prettier

v3.10.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Move control of sidebar width to its menu child
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Improve code example
  docs/Admin.md
Due: prettier

Fix logout causes error in useGetList
  packages/ra-core/src/dataProvider/useGetList.ts
Due: eslint --fix

Fix ReferenceField doesn't accept the emptyText prop
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix Edit Notifications are not shown
  packages/ra-core/src/controller/details/useCreateController.ts
  packages/ra-core/src/controller/details/useEditController.ts
Due: eslint --fix

Fix the issue by upgrading mui
  examples/demo/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  packages/ra-core/src/controller/details/useCreateController.ts
  packages/ra-core/src/controller/details/useEditController.ts
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix jdocs
  packages/ra-core/src/controller/ListBase.tsx
  packages/ra-core/src/controller/details/CreateBase.tsx
  packages/ra-core/src/controller/details/EditBase.tsx
  packages/ra-core/src/controller/details/ShowBase.tsx
Due: eslint --fix
