Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Fix WithListContext props order.
  docs/WithListContext.md
Due: prettier

Document standalone usage of WithListContext and fix error element property.
  docs/WithListContext.md
  packages/ra-core/src/controller/list/WithListContext.stories.tsx
  packages/ra-core/src/controller/list/WithListContext.tsx
Due: eslint --fix, prettier

Improve ReferenceFieldBase doc.
  docs/ReferenceFieldBase.md
Due: prettier

Add more migraton tips
  docs/DataTable.md
Due: prettier

Fix useEditController tests and improve warning test.
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
Due: eslint --fix

Add offline support to `<ReferenceManyFieldBase>`
  docs/ReferenceManyFieldBase.md
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/list/useListController.ts
Due: eslint --fix, prettier

Move test outside unrelated describe section
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
Due: eslint --fix

Remove only in tests
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
Due: eslint --fix

Fix offline documentation
  docs/ReferenceField.md
Due: prettier

Add offline support to `<ReferenceFieldBase>` and `<ReferenceField>`
  docs/ReferenceField.md
  docs/ReferenceFieldBase.md
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
  packages/ra-core/src/controller/field/useReferenceOneFieldController.tsx
  packages/ra-core/src/controller/useReference.spec.tsx
  packages/ra-core/src/controller/useReference.ts
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix, prettier

Add offline support to `<ReferenceOneFieldBase>` and `<ReferenceOneField>`
  docs/ReferenceOneField.md
  docs/ReferenceOneFieldBase.md
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix, prettier

Add offline support to `<ReferenceInputBase>`, `<ReferenceInput>` and `<AutocompleteInput>`
  docs/AutocompleteInput.md
  docs/ReferenceInput.md
  packages/ra-core/src/controller/input/ReferenceInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix, prettier

Update documentation
  docs/ReferenceField.md
  docs/ReferenceFieldBase.md
Due: prettier

Improve offilen documentation
  docs/ReferenceOneField.md
  docs/ReferenceOneFieldBase.md
Due: prettier

[Doc] Add Apisix OIDC auth provider
  docs/AuthProviderList.md
  docs/img/backend-logos/apisix.svg
Due: prettier

add astro-rehype-relative-markdown-links
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/src/content/docs/headless/reference/example.md
  docs_headless/src/content/docs/shadcn/reference/example.md
  yarn.lock
Due: prettier

add deploy workflow
  .github/workflows/deploy-doc-headless.yml
Due: none

fix deploy workflow
  .github/workflows/deploy-doc-headless.yml
  package.json
  yarn.lock
Due: prettier

fix workflow main branch name
  .github/workflows/deploy-doc-headless.yml
Due: none

fix basepath
  docs_headless/astro.config.mjs
  docs_headless/src/content/docs/index.mdx
Due: none

try adding site
  docs_headless/astro.config.mjs
Due: none

add nojekyll
  .github/workflows/deploy-doc-headless.yml
Due: none

remove nojekyll
  .github/workflows/deploy-doc-headless.yml
  docs_headless/astro.config.mjs
Due: none

Fix error when authPRovider.checkError os not async
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

Fix useAuthState fails if authPRovider.checkAuth isn't async
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Fix useCheckAuth fails when dataProvider.checkAuth is nto async
  packages/ra-core/src/auth/useCheckAuth.ts
Due: eslint --fix

remove shadcn, simplify content organization, update gh link and favicon
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/public/favicon.ico
  docs_headless/public/favicon.svg
  docs_headless/src/components/CustomSidebar.astro
  docs_headless/src/content/docs/guides/Architecture.md
  docs_headless/src/content/docs/guides/CRUD.md
  docs_headless/src/content/docs/guides/datafetchingguide.mdx
  docs_headless/src/content/docs/index.mdx
  docs_headless/src/content/docs/reference/example.md
  docs_headless/src/content/docs/shadcn/guides/Architecture.md
  docs_headless/src/content/docs/shadcn/guides/CRUD.md
  docs_headless/src/content/docs/shadcn/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/shadcn/reference/example.md
  docs_headless/src/styles/global.css
  yarn.lock
Due: prettier

also deploy on next
  .github/workflows/deploy-doc-headless.yml
Due: none

update recipes
  docs_headless/src/content/docs/recipes/Caching.md
  docs_headless/src/content/docs/recipes/UnitTesting.md
Due: prettier

update other (mostly)
  docs_headless/src/content/docs/other/RecordRepresentation.md
  docs_headless/src/content/docs/other/useCheckForApplicationUpdate.md
  docs_headless/src/content/docs/other/useGetRecordRepresentation.md
Due: prettier

update i18n
  docs_headless/src/content/docs/i18n/Translate.md
  docs_headless/src/content/docs/i18n/TranslationLocales.md
  docs_headless/src/content/docs/i18n/TranslationSetup.md
  docs_headless/src/content/docs/i18n/TranslationTranslating.md
  docs_headless/src/content/docs/i18n/TranslationWriting.md
  docs_headless/src/content/docs/i18n/useLocaleState.md
  docs_headless/src/content/docs/i18n/useTranslate.md
Due: prettier

update preferences
  docs_headless/src/content/docs/preferences/useRemoveFromStore.md
  docs_headless/src/content/docs/preferences/useResetStore.md
  docs_headless/src/content/docs/preferences/useStore.md
  docs_headless/src/content/docs/preferences/useStoreContext.md
Due: prettier

update inputs (mostly)
  docs_headless/src/content/docs/inputs/Inputs.md
  docs_headless/src/content/docs/inputs/ReferenceArrayInputBase.md
  docs_headless/src/content/docs/inputs/ReferenceInputBase.md
  docs_headless/src/content/docs/inputs/useInput.md
Due: prettier

update fields
  docs_headless/src/content/docs/fields/Fields.md
  docs_headless/src/content/docs/fields/FieldsForRelationships.md
  docs_headless/src/content/docs/fields/ReferenceArrayFieldBase.md
  docs_headless/src/content/docs/fields/ReferenceFieldBase.md
  docs_headless/src/content/docs/fields/ReferenceManyCount.md
  docs_headless/src/content/docs/fields/ReferenceManyCountBase.md
  docs_headless/src/content/docs/fields/ReferenceManyFieldBase.md
  docs_headless/src/content/docs/fields/ReferenceOneFieldBase.md
  docs_headless/src/content/docs/fields/useFieldValue.md
  docs_headless/src/content/docs/i18n/Translate.md
Due: prettier

update common
  docs_headless/src/content/docs/common/WithRecord.md
  docs_headless/src/content/docs/common/useGetRecordId.md
  docs_headless/src/content/docs/common/useNotify.md
  docs_headless/src/content/docs/common/useRecordContext.md
  docs_headless/src/content/docs/common/useRedirect.md
  docs_headless/src/content/docs/common/useRefresh.md
Due: prettier

update show
  docs_headless/src/content/docs/show/ShowBase.md
  docs_headless/src/content/docs/show/ShowTutorial.md
  docs_headless/src/content/docs/show/useShowContext.md
  docs_headless/src/content/docs/show/useShowController.md
Due: prettier

Remove logs from useDelete stories and tests
  packages/ra-core/src/dataProvider/useDelete.optimistic.stories.tsx
  packages/ra-core/src/dataProvider/useDelete.pessimistic.stories.tsx
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.stories.tsx
  packages/ra-core/src/dataProvider/useDelete.undoable.stories.tsx
Due: eslint --fix

Remove logs from useDeleteMany stories and tests
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.stories.tsx
Due: eslint --fix

Apply code review
  packages/ra-core/src/controller/button/useDeleteController.tsx
Due: eslint --fix
