Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

fix(menu): add unique key
  packages/ra-ui-materialui/src/layout/Menu.tsx
Due: eslint --fix

Fix DashboardMenuItem Types
  packages/ra-ui-materialui/src/layout/DashboardMenuItem.tsx
Due: eslint --fix

[Doc] Fix useQuery example snippet
  docs/Actions.md
Due: prettier

Update react-query links
  README.md
  docs/Actions.md
  docs/Admin.md
  docs/Caching.md
  docs/Create.md
  docs/DataProviders.md
  docs/Edit.md
  docs/Layout.md
  docs/Upgrade.md
  docs/useGetOne.md
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/react-admin/README.md
Due: eslint --fix, prettier

add recordRepresenation to Resource
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useGetRecordRepresentation.spec.tsx
  packages/ra-core/src/core/useGetRecordRepresentation.ts
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-core/src/core/useResourceDefinitions.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

use recordReprentation in ReferenceField
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Update documentation
  docs/ReferenceField.md
  docs/Resource.md
  docs/Tutorial.md
Due: prettier

Fix tutorial
  docs/Tutorial.md
Due: prettier

Improve inference
  examples/simple/src/comments/index.tsx
  packages/ra-core/src/inference/inferElementFromValues.spec.tsx
  packages/ra-core/src/inference/inferElementFromValues.tsx
  packages/ra-ui-materialui/src/detail/showFieldTypes.tsx
  packages/ra-ui-materialui/src/list/listFieldTypes.tsx
Due: eslint --fix

use recordRepresentation in Show and Edit page title
  examples/simple/src/comments/CommentEdit.tsx
  examples/simple/src/comments/CommentList.tsx
  examples/simple/src/i18n/en.ts
  examples/simple/src/i18n/fr.ts
  examples/simple/src/posts/PostTitle.tsx
  examples/simple/src/posts/index.tsx
  examples/simple/src/tags/index.tsx
  examples/simple/src/users/UserEdit.tsx
  examples/simple/src/users/UserShow.tsx
  examples/simple/src/users/UserTitle.tsx
  examples/simple/src/users/index.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-core/src/core/useGetRecordRepresentation.spec.tsx
  packages/ra-core/src/core/useGetRecordRepresentation.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix

Use recordRepresentation in RefrenceOneField
  docs/ReferenceOneField.md
  packages/ra-ui-materialui/src/field/ReferenceOneField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix, prettier

Add base SelectInput stories
  packages/ra-ui-materialui/src/input/LoadingInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Support recordRepresentation in SelectInput
  docs/SelectInput.md
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-core/src/form/useChoices.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix, prettier

[Doc] Fix typo in ra-data-graphql-simple docs
  packages/ra-data-graphql-simple/README.md
Due: prettier

Fix guesser tests
  packages/ra-core/src/inference/inferElementFromValues.tsx
  packages/ra-ui-materialui/src/detail/ShowGuesser.spec.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.spec.tsx
Due: eslint --fix

Add support for recordRepresentaiton in ReferenceInput
  docs/AutocompleteInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
Due: eslint --fix, prettier

Let ReferenceInput render without child
  packages/ra-ui-materialui/src/input/ReferenceInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Make ReferenceInput capable of rendering without a child
  docs/ReferenceInput.md
  docs/SelectInput.md
  docs/Tutorial.md
  examples/simple/src/comments/CommentList.tsx
  examples/simple/src/comments/index.tsx
  packages/ra-ui-materialui/src/detail/EditGuesser.spec.tsx
  packages/ra-ui-materialui/src/detail/editFieldTypes.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix, prettier

Update to GraphQL v16
  examples/demo/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql-simple/src/buildGqlQuery.test.ts
  packages/ra-data-graphql/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix e2e test
  cypress/integration/create.js
Due: eslint --fix

Doc proofreading
  docs/AutocompleteInput.md
  docs/ReferenceInput.md
  docs/SelectInput.md
Due: prettier

[doc] Fix typo in ReferenceManyField doc
  docs/ReferenceManyField.md
Due: prettier

Add 404 page to redirect users when they change version
  404.html
Due: none

Fix 404
  404.html
Due: none

Add tests for RefrenceField and ReferenceOneField
  packages/ra-core/src/core/ResourceDefinitionContext.tsx
  packages/ra-core/src/core/useGetRecordRepresentation.spec.tsx
  packages/ra-core/src/core/useResourceDefinition.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.stories.tsx
Due: eslint --fix

Add tests for Edit and Show defaultTitle
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
Due: eslint --fix

Refactor SelectInput tests and add test for recordRepresentation
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
Due: eslint --fix

Add tests for ReferenceInput
  packages/ra-ui-materialui/src/input/ReferenceInput.spec.tsx
Due: eslint --fix

Fix compilation
  packages/ra-core/src/core/ResourceDefinitionContext.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Resource.md
  docs/Tutorial.md
Due: prettier

Update docs/ReferenceField.md
  docs/ReferenceField.md
Due: prettier

review
  packages/ra-core/src/core/useGetRecordRepresentation.ts
Due: eslint --fix

add element to input label proptype options
  packages/ra-ui-materialui/src/input/DateInput.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/InputPropTypes.ts
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/NumberInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/input/TextInput.tsx
Due: eslint --fix

fix imports in DatagridInput
  packages/ra-ui-materialui/src/input/DatagridInput.tsx
Due: eslint --fix

fix lint errors
  packages/ra-ui-materialui/src/input/DatagridInput.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/InputPropTypes.ts
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/NumberInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/input/TextInput.tsx
Due: eslint --fix

Fix ListContextProvider types
  packages/ra-core/src/controller/list/ListContextProvider.tsx
Due: eslint --fix

ArrayField fix
  packages/ra-ui-materialui/src/field/ArrayField.tsx
Due: eslint --fix

Fix DatagridInput
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
Due: eslint --fix

Fix FilterListItem.spec
  packages/ra-ui-materialui/src/list/filter/FilterListItem.spec.tsx
Due: eslint --fix

Apply review comments
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
Due: eslint --fix
