Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Update upgrade guide
  UPGRADE.md
Due: prettier

precise id type when possible fix #7009
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix docs typos
  docs/CreateEdit.md
  docs/Fields.md
Due: prettier

Fix run input blur only when value changes
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix AutocompleteInput loading state after user choice
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
Due: eslint --fix

Fixed githu -> github in Changelog links
  CHANGELOG.md
Due: prettier

Sanitize emptyText, enableGetChoices @ SAI
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

Added test
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Add test
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Applied review
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Include initialValue in sanitization
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

Update vercel-storybook.sh
  scripts/vercel-storybook.sh
Due: none

Migrate useuseGetManyReference to react-query
  docs/Actions.md
  packages/ra-core/src/controller/field/ReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/field/index.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
Due: eslint --fix, prettier

Remove now useless reducers
  packages/ra-core/src/index.ts
  packages/ra-core/src/reducer/admin/references/index.ts
  packages/ra-core/src/reducer/admin/references/oneToMany.spec.ts
  packages/ra-core/src/reducer/admin/references/oneToMany.ts
  packages/ra-test/src/TestContext.spec.tsx
Due: eslint --fix

Add upgrade instructions
  UPGRADE.md
Due: prettier

Fix types
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

have useUpdate update the getManyReference cache
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Review
  UPGRADE.md
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
Due: eslint --fix, prettier

Fix issue with ReferenceInput
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Fix lint
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Review
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Fix unit test
  packages/ra-core/src/controller/field/useReferenceManyFieldController.spec.tsx
Due: eslint --fix

Remove useless reducers
  packages/ra-core/src/core/createAdminStore.ts
  packages/ra-core/src/index.ts
  packages/ra-core/src/reducer/admin/index.ts
  packages/ra-core/src/reducer/admin/references/index.ts
  packages/ra-core/src/reducer/admin/references/possibleValues.spec.ts
  packages/ra-core/src/reducer/admin/references/possibleValues.ts
  packages/ra-core/src/reducer/admin/resource/index.spec.ts
  packages/ra-core/src/reducer/admin/resource/list/index.ts
  packages/ra-core/src/reducer/admin/resource/list/loadedOnce.ts
  packages/ra-core/src/reducer/index.ts
  packages/ra-core/src/types.ts
  packages/ra-test/src/TestContext.spec.tsx
  packages/ra-test/src/TestContext.tsx
Due: eslint --fix

Cleanup useless Redux dependency
  packages/ra-ui-materialui/src/field/ReferenceManyField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

Refactor useUpdate for better readability
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

MAke useUpdate shorter
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix Edit tests
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
Due: eslint --fix

Fix async call
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix undo
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

refactor rollbackData
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Rename rollbackData to snapshot
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
Due: eslint --fix

Migrate useUpdateMany to react-query
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/simple/src/posts/ResetViewsButton.tsx
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

Fix useUpdateMany tests
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Update UPGRADE.md
  UPGRADE.md
Due: prettier

Fix doc
  docs/Actions.md
  docs/Datagrid.md
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
Due: eslint --fix, prettier

Add upgrade guide
  UPGRADE.md
Due: prettier

Fix linter warnings
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
  packages/ra-ui-materialui/src/list/ListGuesser.tsx
Due: eslint --fix

Fix infinite loop in useGetManyAggregate
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
Due: eslint --fix
