Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Add an offline example
  examples/ra-offline/.gitignore
  examples/ra-offline/README.md
  examples/ra-offline/dev-dist/registerSW.js
  examples/ra-offline/eslint.config.mjs
  examples/ra-offline/index.html
  examples/ra-offline/package.json
  examples/ra-offline/prettier.config.js
  examples/ra-offline/public/apple-touch-icon-180x180.png
  examples/ra-offline/public/favicon.ico
  examples/ra-offline/public/logo.png
  examples/ra-offline/public/maskable-icon-512x512.png
  examples/ra-offline/public/pwa-192x192.png
  examples/ra-offline/public/pwa-512x512.png
  examples/ra-offline/public/pwa-64x64.png
  examples/ra-offline/public/robots.txt
  examples/ra-offline/src/App.tsx
  examples/ra-offline/src/Layout.tsx
  examples/ra-offline/src/index.tsx
  examples/ra-offline/src/sw.ts
  examples/ra-offline/src/vite-env.d.ts
  examples/ra-offline/tsconfig.app.json
  examples/ra-offline/tsconfig.json
  examples/ra-offline/tsconfig.node.json
  examples/ra-offline/vite.config.ts
  packages/ra-core/package.json
  packages/ra-core/src/controller/useReference.ts
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

docs: add DataTableInput page and cross references
  docs/AutocompleteInput.md
  docs/DataTable.md
  docs/DataTableInput.md
  docs/Inputs.md
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/SelectInput.md
  docs/img/DataTableInput-dialog.png
  docs/img/DataTableInput-select.png
  docs/navigation.html
Due: prettier

[Doc] Fix Liquid parsing in DataTableInput examples
  docs/DataTableInput.md
Due: prettier

Fix developer portal screenshot
  docs/Demos.md
  docs/img/developer-portal.png
Due: prettier

fix developer portal image
  Demos.md
  doc/5.14/Demos.md
  doc/5.14/img/developer-portal.png
  img/developer-portal.png
Due: prettier

docs: update DataTableInput screenshots from ra-enterprise
  docs/img/DataTableInput-dialog.png
  docs/img/DataTableInput-select.png
Due: none

Fix ReferenceField does not work offline
  packages/ra-core/src/controller/useReference.ts
Due: eslint --fix

v5.14.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-router-tanstack/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.14.2
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.14.2
  AutoPersistInStore.md
  CodingAgents.md
  DataProviderList.md
  DataProviders.md
  TanStackStart.md
  _data/versions.yml
  doc/5.14/AutoPersistInStore.md
  doc/5.14/CodingAgents.md
  doc/5.14/DataProviderList.md
  doc/5.14/DataProviders.md
  doc/5.14/TanStackStart.md
  doc/5.14/img/tanstack-admin.png
  doc/5.14/img/tanstack-structure.png
  doc/5.14/navigation.html
  img/tanstack-admin.png
  img/tanstack-structure.png
  navigation.html
Due: prettier

Add support for random delay in ra-data-fakerest
  packages/ra-data-fakerest/README.md
  packages/ra-data-fakerest/src/index.spec.ts
  packages/ra-data-fakerest/src/index.ts
Due: eslint --fix, prettier

Update docs/DataTableInput.md
  docs/DataTableInput.md
Due: prettier

Update docs/SelectInput.md
  docs/SelectInput.md
Due: prettier

docs: address PR feedback on DataTableInput references
  docs/Inputs.md
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/img/reference-array-input-datatable-input-dialog.png
  docs/img/reference-input-datatable-input-dialog.png
Due: prettier

Misc adjustments
  docs/AutocompleteInput.md
  docs/DataTable.md
  docs/DataTableInput.md
  docs/Inputs.md
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/SelectInput.md
Due: prettier

update offline config according to doc
  examples/ra-offline/src/App.tsx
Due: eslint --fix

disable redirectOnError in PostEdit
  examples/ra-offline/src/App.tsx
  examples/ra-offline/src/PostEdit.tsx
  examples/ra-offline/src/PostList.tsx
Due: eslint --fix

Add guesser empty i18n messages to core language packs
  packages/ra-core/src/i18n/TranslationMessages.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix

fix redirectOnError
  examples/ra-offline/src/PostEdit.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
Due: eslint --fix

remove console.log
  packages/ra-ui-materialui/src/list/ListView.tsx
Due: eslint --fix

revert package json files
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

fix mutations
  examples/ra-offline/src/App.tsx
Due: eslint --fix

add offline example scripts to Makefile and package.json
  Makefile
  package.json
Due: prettier

yarn dedupe
  yarn.lock
Due: none

remove ra packages duplicates
  examples/ra-offline/package.json
  yarn.lock
Due: prettier

upgrade to codeql v3
  .github/workflows/codeql-analysis.yml
Due: none

manually fix yarn.lock
  yarn.lock
Due: none

improve demo readme
  examples/ra-offline/README.md
Due: prettier

[TypeScript] Fix ReferenceManyField queryOptions type doesn't support error and success callbacks
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.stories.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
Due: eslint --fix

remove unnecessary deps
  examples/ra-offline/package.json
  yarn.lock
Due: prettier

add tanstack query devtools
  examples/ra-offline/README.md
  examples/ra-offline/package.json
  examples/ra-offline/src/Layout.tsx
  yarn.lock
Due: eslint --fix, prettier

replace PostList by ListGuesser
  examples/ra-offline/src/App.tsx
  examples/ra-offline/src/PostList.tsx
Due: eslint --fix

simplify index.html
  examples/ra-offline/index.html
  examples/ra-offline/vite.config.ts
Due: eslint --fix

cleanup unnecessary deps
  examples/ra-offline/package.json
  yarn.lock
Due: prettier

Use dedicated empty state in ListGuesser
  packages/ra-ui-materialui/src/list/ListGuesser.tsx
Due: eslint --fix

Add empty-state story for ListGuesser
  packages/ra-ui-materialui/src/list/ListGuesser.stories.tsx
Due: eslint --fix

Add ListGuesser empty-state test
  packages/ra-ui-materialui/src/list/ListGuesser.spec.tsx
Due: eslint --fix

Add argtype to allow testing error case
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.stories.tsx
Due: eslint --fix

rename GuesserEmpty to ListGuesserEmpty
  packages/ra-ui-materialui/src/list/ListGuesser.tsx
Due: eslint --fix

docs: add Deploy on Hostinger button
  README.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
