Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix SimpleList stories
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListConfigurable.stories.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListConfigurable.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/preferences/Configurable.spec.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
Due: eslint --fix

Fix edge case
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
Due: eslint --fix

Fix title editor
  packages/ra-ui-materialui/src/layout/PageTitleConfigurable.tsx
Due: eslint --fix

Add RemoveItemsFromStore
  packages/ra-core/src/store/index.ts
  packages/ra-core/src/store/localStorageStore.spec.ts
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-core/src/store/memoryStore.spec.ts
  packages/ra-core/src/store/memoryStore.tsx
  packages/ra-core/src/store/types.ts
  packages/ra-core/src/store/useRemoveItemsFromStore.ts
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
Due: eslint --fix

Fix localStorageStore.reset() does not remove all items
  packages/ra-core/src/store/localStorageStore.ts
Due: eslint --fix

Remove emptyValue prop from SelectInput
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Remove emptyValue and emptyText props from AutocompleteInput
  packages/ra-core/src/form/useSuggestions.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Update docs
  docs/AutocompleteInput.md
Due: prettier

Add reset settings button to all editors
  packages/ra-core/src/store/memoryStore.tsx
  packages/ra-ui-materialui/src/layout/PageTitle.tsx
  packages/ra-ui-materialui/src/layout/PageTitleConfigurable.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListConfigurable.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListEditor.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.stories.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
  packages/ra-ui-materialui/src/preferences/InspectorButton.tsx
  packages/ra-ui-materialui/src/preferences/ResetSettingsButton.tsx
  packages/ra-ui-materialui/src/preferences/index.ts
Due: eslint --fix

Fix ConfigurableList style
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListConfigurable.tsx
Due: eslint --fix

Revert changes
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Fix SimpleListConfigurable screencast
  docs/img/SimpleListConfigurable.gif
Due: none

No need for a ref
  packages/ra-ui-materialui/src/preferences/Configurable.stories.tsx
Due: eslint --fix

Do not inject props, do not require to forward refs
  docs/Configurable.md
  packages/ra-core/src/preferences/PreferenceKeyContext.tsx
  packages/ra-core/src/preferences/index.ts
  packages/ra-ui-materialui/src/layout/PageTitle.tsx
  packages/ra-ui-materialui/src/layout/PageTitleConfigurable.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListEditor.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.stories.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
Due: eslint --fix, prettier

SimpleList doesn't need forwardRef
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListConfigurable.tsx
Due: eslint --fix

Fix typo
  docs/Configurable.md
Due: prettier

Fix regression in logout
  packages/ra-core/src/store/localStorageStore.ts
Due: eslint --fix

Fix regression
  packages/ra-core/src/store/localStorageStore.ts
Due: eslint --fix

Add missing Route import to Routing docs example
  docs/Routing.md
Due: prettier

fix parse doc
  docs/Inputs.md
Due: prettier

Fix layout prop of Admin component in upgrade example
  docs/Upgrade.md
Due: prettier

Add missing props in docs layout examples
  docs/Authentication.md
  docs/Theming.md
  docs/Upgrade.md
  docs/useLogout.md
Due: prettier

adjusted documentation for SimpleList and SingleFieldList to mention the possible options for the property linkType
  docs/SimpleList.md
  docs/SingleFieldList.md
Due: prettier

Fix useGetList and useGetManyReferences build new result object at each call
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
Due: eslint --fix

fixed the wording of what happens when the linktype is set to false. Fixed the wording in SingleFieldList docs because the previous one was meant for the reference field.
  docs/SimpleList.md
  docs/SingleFieldList.md
Due: prettier

Fix pass Confirm props to the underlying MUI Dialog
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix

Fix types
  packages/ra-ui-materialui/src/layout/Confirm.tsx
Due: eslint --fix

Prepare changelog for v4.3.3
  CHANGELOG.md
Due: prettier

v4.3.3
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

upgrade to 4.4.4
  Authentication.md
  Inputs.md
  Routing.md
  Theming.md
  Upgrade.md
  _data/versions.yml
  doc/4.3/Authentication.md
  doc/4.3/Inputs.md
  doc/4.3/Routing.md
  doc/4.3/Theming.md
  doc/4.3/Upgrade.md
  doc/4.3/useLogout.md
  useLogout.md
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Updated to suggested wording
  docs/SimpleList.md
Due: prettier

Updated to suggested wording
  docs/SingleFieldList.md
Due: prettier

Add user story to show input props injection
  packages/ra-ui-materialui/src/input/TextInput.stories.tsx
Due: eslint --fix

feat: add unit test
  packages/ra-core/src/dataProvider/dataFetchActions.ts
  packages/ra-core/src/dataProvider/useDataProvider.spec.tsx
  packages/ra-core/src/dataProvider/useDataProvider.ts
Due: eslint --fix

Fix Custom Filter Form example
  docs/FilteringTutorial.md
Due: prettier

Add anchors to FilterForm component
  docs/FilteringTutorial.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
