Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Feat(crm): Update AuthProvider
  examples/crm/src/LoginPage.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/dataGenerator/index.ts
Due: eslint --fix

Update ra-relationships documentation
  docs/ReferenceManyInput.md
  docs/ReferenceManyToManyInput.md
  docs/ReferenceOneInput.md
Due: prettier

Feat(crm): Refacto authentication
  examples/crm/src/App.tsx
  examples/crm/src/LoginForm.tsx
  examples/crm/src/LoginPage.tsx
  examples/crm/src/SignupPage.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/dataProvider.ts
Due: eslint --fix

Feat(crm): Add edit user information
  examples/crm/src/App.tsx
  examples/crm/src/Header.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/settings/SettingsPage.tsx
  examples/crm/src/settings/UpdatePassword.tsx
Due: eslint --fix

Feat(crm): Apply style for user edit form
  examples/crm/src/settings/SettingsPage.tsx
Due: eslint --fix

Feat(crm): Add edit task modal
  examples/crm/src/tasks/Task.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/TasksIterator.tsx
Due: eslint --fix

Feat(crm): Update login part
  examples/crm/src/App.tsx
  examples/crm/src/dataProvider.ts
  examples/crm/src/login/LoginForm.tsx
  examples/crm/src/login/LoginPage.tsx
  examples/crm/src/login/LoginSkeleton.tsx
  examples/crm/src/login/SignupPage.tsx
Due: eslint --fix

Fix(crm): Improve authProvider
  examples/crm/src/authProvider.ts
Due: eslint --fix

Feat(crm): Add edit tasks
  examples/crm/src/tasks/TaskEdit.tsx
Due: eslint --fix

Feat(crm): Set tasks type in const file
  examples/crm/src/tasks/AddTask.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/task.const.ts
Due: eslint --fix

Feat(contacts): Add import CSV modal
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/contacts_export.csv
  examples/crm/src/import/ImportButton.tsx
Due: eslint --fix

Feat(contacts): Parse CSV file on import with papaparse
  examples/crm/package.json
  examples/crm/src/import/ImportButton.tsx
  yarn.lock
Due: eslint --fix, prettier

Feat(contacts): Import contacts
  examples/crm/src/contacts/ContactEmpty.tsx
  examples/crm/src/contacts/ContactImportButton.tsx
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/contacts_export.csv
  examples/crm/src/contacts/useContactImport.tsx
  examples/crm/src/import/ImportButton.tsx
Due: eslint --fix

Fix build
  examples/crm/src/contacts/useContactImport.tsx
Due: eslint --fix

Fix TabbedForm with uri encoded identifiers
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/form/TabbedForm.spec.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.stories.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  yarn.lock
Due: eslint --fix, prettier

Feat(crm): Add attachment for contact and deals note
  examples/crm/src/notes/NewNote.tsx
  examples/crm/src/notes/Note.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/NotesIterator.tsx
  examples/crm/src/notes/index.ts
  examples/crm/src/types.ts
Due: eslint --fix

fix <AutocompleteInput> clear button does not clear new choice
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Feat(crm): Add option to delete attachment note
  examples/crm/src/notes/Note.tsx
Due: eslint --fix

Update changelog for 5.0.5
  CHANGELOG.md
Due: prettier

v5.0.5
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for 5.0.5
  yarn.lock
Due: none

Add missing fix in 5.0.5 changelog
  CHANGELOG.md
Due: prettier

Update documentation for 5.0.5
  Actions.md
  ReferenceManyInput.md
  ReferenceManyToManyInput.md
  ReferenceOneInput.md
  _data/versions.yml
  _layouts/default.html
  js/ra-doc-exec.js
Due: eslint --fix, prettier

Fix(crm): Update and delete for task
  examples/crm/src/tasks/TaskEdit.tsx
Due: eslint --fix

Fix(crm): Add call type for task
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/task.const.ts
Due: eslint --fix

Fix(crm): Apply reviews from Alexandra
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/misc/Status.tsx
  examples/crm/src/settings/UpdatePassword.tsx
Due: eslint --fix

Feat(crm): Display only baseUrl for company aside
  examples/crm/src/companies/CompanyAside.tsx
Due: eslint --fix

Feat(crm): Add posibility to archived deals
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/types.ts
Due: eslint --fix

Feat(crm): Add posibility to unarchived deal
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/deals/stages.ts
Due: eslint --fix

Fix(users): Use sales instead of users for login
  examples/crm/src/authProvider.ts
  examples/crm/src/dataGenerator/index.ts
  examples/crm/src/dataGenerator/sales.ts
  examples/crm/src/dataGenerator/types.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/login/LoginPage.tsx
  examples/crm/src/login/SignupPage.tsx
  examples/crm/src/settings/SettingsPage.tsx
  examples/crm/src/settings/UpdatePassword.tsx
  examples/crm/src/types.ts
  packages/ra-ui-materialui/src/layout/UserMenu.tsx
Due: eslint --fix

Fix(crm): Wording for password update
  examples/crm/src/settings/UpdatePassword.tsx
Due: eslint --fix

Feat(crm): Add activity log support
  examples/crm/src/companies/CompanyActivityIterator.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/consts.ts
  examples/crm/src/dataGenerator/index.ts
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/dataGenerator/types.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/tasks/task.const.ts
  examples/crm/src/types.ts
Due: eslint --fix

Remove log
  examples/crm/src/companies/CompanyShow.tsx
Due: eslint --fix

Fix types
  examples/crm/src/contacts/Avatar.tsx
Due: eslint --fix

Fix(crm): Remove useless component
  examples/crm/src/companies/CompanyActivityIterator.tsx
Due: eslint --fix

Fix(crm): Split activity log into several files
  examples/crm/src/activity/ActivityCompanyCreated.tsx
  examples/crm/src/activity/ActivityContactCreated.tsx
  examples/crm/src/activity/ActivityContactNoteCreated.tsx
  examples/crm/src/activity/ActivityDate.tsx
  examples/crm/src/activity/ActivityDealCreated.tsx
  examples/crm/src/companies/CompanyActivityIterator.tsx
Due: eslint --fix

Rollback updates after rebase
  examples/crm/src/dataGenerator/index.ts
  examples/crm/src/dataGenerator/types.ts
  examples/crm/src/types.ts
Due: eslint --fix

Feat(crm): Add an list of ediatble unsopported domains
  examples/crm/src/misc/getContactAvatar.ts
  examples/crm/src/misc/unsupportedDomains.const.ts
Due: eslint --fix

Feat(crm): Add documentation about look and feel of the CRM
  examples/crm/README.md
  examples/crm/src/App.tsx
  examples/crm/src/CRM/CRM.tsx
  examples/crm/src/CRM/CRMContext.tsx
  examples/crm/src/CRM/crm.config.ts
  examples/crm/src/Header.tsx
Due: eslint --fix, prettier
