Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix some tests
  docs/Show.md
  docs/ShowBase.md
  docs/useShowController.md
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/show/useShowController.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
Due: eslint --fix, prettier

Fix more tests
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-test/README.md
  packages/ra-test/src/TestContext.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
Due: eslint --fix, prettier

Remove Show onError prop, introduce queryClient
  UPGRADE.md
  docs/Show.md
  docs/ShowBase.md
  docs/useShowContext.md
  docs/useShowController.md
  packages/ra-core/src/controller/show/ShowBase.tsx
  packages/ra-core/src/controller/show/useShowController.spec.tsx
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowGuesser.tsx
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix, prettier

Add queryOptions to useEditController
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.spec.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
Due: eslint --fix

Fix types
  packages/ra-ui-materialui/src/types.ts
Due: eslint --fix

Fix typo
  docs/Fields.md
Due: prettier

Fix simple codesandbox
  examples/simple/package.json
Due: prettier

Refactor useNotify logic
  packages/ra-core/src/sideEffect/useNotify.ts
Due: eslint --fix

Fix useShowController signature
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Fix useListController signature and invert syncWithLocation prop
  UPGRADE.md
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix, prettier

Update simple example
  examples/simple/src/comments/CommentList.tsx
  examples/simple/src/comments/CommentShow.tsx
  examples/simple/src/posts/PostList.tsx
  examples/simple/src/posts/PostShow.tsx
  examples/simple/src/tags/TagList.tsx
  examples/simple/src/tags/TagShow.tsx
  examples/simple/src/users/UserList.tsx
  examples/simple/src/users/UserShow.tsx
Due: eslint --fix

Update crm demo
  examples/crm/src/companies/CompanyList.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/ContactShow.tsx
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dashboard/HotContacts.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
Due: eslint --fix

Migrate demo
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/src/invoices/InvoiceList.tsx
  examples/demo/src/invoices/InvoiceShow.tsx
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/products/GridList.tsx
  examples/demo/src/products/ProductList.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/ReviewList.tsx
  examples/demo/src/reviews/ReviewListMobile.tsx
  examples/demo/src/visitors/VisitorList.tsx
Due: eslint --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update docs
  docs/Authentication.md
  docs/Buttons.md
  docs/CreateEdit.md
  docs/DataProviders.md
  docs/Fields.md
  docs/List.md
  docs/Readme.md
  docs/Resource.md
  docs/Theming.md
  docs/Tutorial.md
Due: prettier

Better upgrade instructions
  UPGRADE.md
Due: prettier

Update UPGRADE.md
  UPGRADE.md
Due: prettier

Remove syncWithLocation from Resource
  packages/ra-core/src/core/Resource.tsx
Due: eslint --fix

Fix create and edit controller hooks signature
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Migrate to react-error-boundary
  UPGRADE.md
  docs/Admin.md
  docs/Theming.md
  examples/crm/src/Layout.tsx
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  yarn.lock
Due: eslint --fix, prettier

Apply review
  UPGRADE.md
Due: prettier

Domain availability form
  packages/react-admin/src/CheckDomain.css
  packages/react-admin/src/CheckDomain.js
Due: eslint --fix, prettier

chore: use relative links to help testability with the `make doc` command
  docs/Tutorial.md
Due: prettier

Die dependabot, die!
  .github/dependabot.yml
Due: none

Refactor Error boundary to avoid breaking changes
  UPGRADE.md
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/index.ts
  packages/ra-ui-materialui/src/layout/useResetErrorBoundaryOnLocationChange.ts
Due: eslint --fix, prettier

Fix SimpleFormIterator transition animations on add and remove items
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
Due: eslint --fix

Fix yarn.lock
  yarn.lock
Due: none

Remove outdated dependency
  package.json
  yarn.lock
Due: prettier

update handlebars
  yarn.lock
Due: none

update http-proxy
  yarn.lock
Due: none

Update dependencies
  yarn.lock
Due: none

Fix docs typos
  docs/Actions.md
  docs/Admin.md
  docs/Fields.md
  docs/Inputs.md
  docs/List.md
  docs/Resource.md
  docs/Translation.md
  docs/Tutorial.md
Due: prettier

Fix examples
  docs/Inputs.md
Due: prettier

Prepare changelog for v3.19.1
  CHANGELOG.md
Due: prettier

v3.19.1
  examples/data-generator/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update to react-admin 3.19.1
  Actions.md
  Admin.md
  Architecture.md
  Buttons.md
  CreateEdit.md
  DataProviders.md
  Fields.md
  Inputs.md
  List.md
  Readme.md
  Show.md
  Theming.md
  Tutorial.md
  _data/versions.yml
  doc/3.19/Actions.md
  doc/3.19/Admin.md
  doc/3.19/Architecture.md
  doc/3.19/Buttons.md
  doc/3.19/CreateEdit.md
  doc/3.19/DataProviders.md
  doc/3.19/Fields.md
  doc/3.19/Inputs.md
  doc/3.19/List.md
  doc/3.19/Readme.md
  doc/3.19/Show.md
  doc/3.19/Theming.md
  doc/3.19/Tutorial.md
Due: prettier

fix url typo
  Readme.md
  doc/3.19/Readme.md
Due: prettier

Fix typo
  docs/Readme.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
