Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Refactor and remove debug logs
  scripts/release.sh
Due: none

Improve expand stories UI
  packages/ra-ui-materialui/src/list/datatable/DataTable.stories.tsx
Due: eslint --fix

[no ci] Update scripts/release.sh
  scripts/release.sh
Due: none

Fix AutocompleteInput has hole in the outline when no label
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

[Doc] Improve `<DatagridAg>` first screenshot
  docs/img/DatagridAG-PostList.png
Due: none

[Doc] Improve `ra-realtime` doc to unlock record
  docs/useLockOnMount.md
Due: prettier

Update documentation [no ci]
  docs/useLockOnMount.md
Due: prettier

Export AuthLayout
  packages/ra-ui-materialui/src/auth/index.ts
Due: eslint --fix

fix: implement proper ResizeObserver mock for Cypress tests
  cypress/e2e/support/resize-observer-mock.js
  cypress/support/index.js
Due: eslint --fix

fix: correct panelSumary typo to panelSummary in Error component
  packages/ra-ui-materialui/src/layout/Error.tsx
Due: eslint --fix

Update TranslationLocales.md
  docs/TranslationLocales.md
Due: prettier

Improve `<DeleteButton>` and `<UpdateButton>` confirmation using record representation
  packages/ra-core/src/core/useGetRecordRepresentation.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for auth components
  packages/ra-ui-materialui/src/auth/AuthError.tsx
  packages/ra-ui-materialui/src/auth/AuthLayout.tsx
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/auth/LoginForm.tsx
  packages/ra-ui-materialui/src/auth/Logout.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for button components
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/CreateButton.tsx
  packages/ra-ui-materialui/src/button/EditButton.tsx
  packages/ra-ui-materialui/src/button/LocalesMenuButton.tsx
  packages/ra-ui-materialui/src/button/PrevNextButtons.tsx
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.tsx
  packages/ra-ui-materialui/src/button/SkipNavigationButton.tsx
  packages/ra-ui-materialui/src/button/SortButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for detail components
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/Tab.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for root components
  packages/ra-ui-materialui/src/Labeled.tsx
  packages/ra-ui-materialui/src/Link.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for field components
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/TranslatableFields.tsx
  packages/ra-ui-materialui/src/field/TranslatableFieldsTabContent.tsx
  packages/ra-ui-materialui/src/field/TranslatableFieldsTabs.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/theme/types.ts
Due: eslint --fix

Allow defaultProps in theme and improve theme types for form components
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for input components
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInputItem.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/FileInputPreview.tsx
  packages/ra-ui-materialui/src/input/ImageInput.tsx
  packages/ra-ui-materialui/src/input/LoadingInput.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
  packages/ra-ui-materialui/src/input/SearchInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/input/TextArrayInput.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputsTab.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputsTabContent.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputsTabs.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for layout components
  packages/ra-ui-materialui/src/layout/AccessDenied.tsx
  packages/ra-ui-materialui/src/layout/AppBar.tsx
  packages/ra-ui-materialui/src/layout/AuthenticationError.tsx
  packages/ra-ui-materialui/src/layout/CardContentInner.tsx
  packages/ra-ui-materialui/src/layout/Confirm.tsx
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
  packages/ra-ui-materialui/src/layout/Loading.tsx
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  packages/ra-ui-materialui/src/layout/NotFound.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
  packages/ra-ui-materialui/src/layout/Sidebar.tsx
  packages/ra-ui-materialui/src/layout/SidebarToggleButton.tsx
  packages/ra-ui-materialui/src/layout/TopToolbar.tsx
  packages/ra-ui-materialui/src/layout/UserMenu.tsx
Due: eslint --fix

Allow defaultProps in theme and improve theme types for list components
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
  packages/ra-ui-materialui/src/list/Empty.tsx
  packages/ra-ui-materialui/src/list/ListToolbar.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/Placeholder.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleListLoading.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridHeaderCell.tsx
  packages/ra-ui-materialui/src/list/datagrid/SelectColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datagrid/useDatagridStyles.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsButton.tsx
  packages/ra-ui-materialui/src/list/datatable/ColumnsSelectorItem.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableBody.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableCell.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHead.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeadCell.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRoot.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRow.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueriesList.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueryFilterListItem.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
  packages/ra-ui-materialui/src/preferences/FieldToggle.tsx
  packages/ra-ui-materialui/src/preferences/Inspector.tsx
Due: eslint --fix

Improve themes types
  packages/ra-ui-materialui/src/theme/bwTheme.ts
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
  packages/ra-ui-materialui/src/theme/houseTheme.ts
  packages/ra-ui-materialui/src/theme/nanoTheme.ts
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix

Ensure we inherit from base Mui TextField
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Update documentation
  docs/AppTheme.md
Due: prettier

Add comment to ResettableTextField
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Improve TranslatableInputs
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
Due: eslint --fix

Correctly type SxProps
  packages/ra-ui-materialui/src/auth/AuthError.tsx
  packages/ra-ui-materialui/src/auth/Login.tsx
  packages/ra-ui-materialui/src/auth/LoginForm.tsx
  packages/ra-ui-materialui/src/button/PrevNextButtons.tsx
  packages/ra-ui-materialui/src/button/SortButton.tsx
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.tsx
  packages/ra-ui-materialui/src/detail/TabbedShowLayout.tsx
  packages/ra-ui-materialui/src/field/FileField.tsx
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/LoadingInput.tsx
  packages/ra-ui-materialui/src/input/TranslatableInputs.tsx
  packages/ra-ui-materialui/src/layout/AccessDenied.tsx
  packages/ra-ui-materialui/src/layout/AuthenticationError.tsx
  packages/ra-ui-materialui/src/layout/Error.tsx
  packages/ra-ui-materialui/src/layout/Layout.tsx
  packages/ra-ui-materialui/src/layout/Loading.tsx
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
  packages/ra-ui-materialui/src/list/pagination/InfinitePagination.tsx
  packages/ra-ui-materialui/src/preferences/Configurable.tsx
Due: eslint --fix

Fix demo build
  examples/demo/src/invoices/InvoiceShow.tsx
  examples/demo/src/orders/OrderEdit.tsx
  examples/demo/src/products/ProductEditDetails.tsx
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/visitors/Aside.tsx
  examples/demo/src/visitors/VisitorEdit.tsx
  examples/demo/vite.config.ts
Due: eslint --fix

Add support for MUI v7
  examples/demo/package.json
  examples/demo/src/categories/CategoryList.tsx
  examples/demo/vite.config.ts
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

Fix components that don't use theme.vars yet
  packages/ra-ui-materialui/src/Labeled.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableRoot.tsx
Due: eslint --fix

Fix demo build
  examples/demo/src/layout/Layout.tsx
  examples/demo/vite.config.ts
Due: eslint --fix

Fix `<FilterLiveForm>` compatibility with react-hook-form 7.55.0
  packages/ra-core/src/form/FilterLiveForm.spec.tsx
  packages/ra-core/src/form/FilterLiveForm.tsx
Due: eslint --fix

Fix docs anchors and links
  docs/AccordionForm.md
  docs/Admin.md
  docs/ArrayInput.md
  docs/AuthProviderWriting.md
  docs/AuthRBAC.md
  docs/AutoSave.md
  docs/CRUD.md
  docs/ContainerLayout.md
  docs/Contributing.md
  docs/CreateReactAdmin.md
  docs/DataFetchingGuide.md
  docs/DataProviderList.md
  docs/DatagridAG.md
  docs/DateInput.md
  docs/Demos.md
  docs/Features.md
  docs/Fields.md
  docs/Inputs.md
  docs/List.md
  docs/LongForm.md
  docs/RecordRepresentation.md
  docs/Reference.md
  docs/SecurityGuide.md
  docs/TabbedForm.md
  docs/Tutorial.md
  docs/WizardForm.md
  packages/ra-core/src/core/useGetRecordRepresentation.spec.tsx
Due: eslint --fix, prettier

fix merge filter values and form values
  packages/ra-core/src/form/FilterLiveForm.tsx
Due: eslint --fix

replace _.isArray by Array.isArray
  packages/ra-core/src/form/FilterLiveForm.tsx
Due: eslint --fix

v5.7.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.7.2
  CHANGELOG.md
Due: prettier

[chore] Upgrade vite
  examples/crm/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  package.json
  yarn.lock
Due: prettier
