Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

v3.19.9
  examples/simple/package.json
  lerna.json
  packages/ra-input-rich-text/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

v3.19.10
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-test/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

v4.0.0-beta.1.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix relative dependencies
  examples/crm/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/tutorial/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

Add changelog for v3.19.10
  CHANGELOG.md
Due: prettier

Fix Form related types
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/saveContext/SaveContext.ts
Due: eslint --fix

Add useUnselect to navigation bar
  docs/navigation.html
Due: none

Fix useList props description
  docs/useList.md
Due: prettier

Fix to documentation and jsDocs
  docs/Caching.md
  docs/DataProviders.md
  docs/Show.md
  docs/ShowBase.md
  docs/useShowController.md
  packages/ra-core/src/controller/field/useReferenceOneFieldController.tsx
  packages/ra-core/src/dataProvider/combineDataProviders.ts
  packages/ra-core/src/inference/assertions.ts
  packages/ra-core/src/store/localStorageStore.ts
  packages/ra-ui-materialui/src/input/useSupportCreateSuggestion.tsx
Due: eslint --fix, prettier

Fix url
  packages/ra-data-json-server/README.md
Due: prettier

add table wrapper style override
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/useDatagridStyles.tsx
Due: eslint --fix

fix linter for datagrid styles
  packages/ra-ui-materialui/src/list/datagrid/useDatagridStyles.tsx
Due: eslint --fix

Add Stories For FileInput And ImageInput
  packages/ra-ui-materialui/src/field/ImageField.tsx
  packages/ra-ui-materialui/src/input/FileInput.stories.tsx
  packages/ra-ui-materialui/src/input/ImageInput.stories.tsx
Due: eslint --fix

Fix ReferenceArrayInput story
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.stories.tsx
Due: eslint --fix

Fix AutoCompleteInput story
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Fix stories
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Fix typo
  docs/Theming.md
Due: prettier

Fix inconsistencies in ReferenceInput and ReferenceArrayInput
  UPGRADE.md
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  packages/ra-core/src/controller/input/useReferenceArrayInputController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix, prettier

Fix docs
  UPGRADE.md
Due: prettier

Fix List example
  docs/List.md
Due: prettier

Rename options to queryOptions mimicking the List component functionality
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

Improve upgrade guide
  UPGRADE.md
Due: prettier

fix styles in tutorial
  docs/Tutorial.md
Due: prettier

Update CreateEdit.md
  docs/CreateEdit.md
Due: prettier

More fixes
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Backport missing test
  packages/ra-no-code/src/Admin.spec.tsx
Due: eslint --fix

Fix link color
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Apply review
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

fix: allow composition of child elements by using raName
  packages/ra-core/src/core/CustomRoutes.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/ra-core/src/core/useConfigureAdminRouterFromChildren.tsx
Due: eslint --fix

Fix TS compile
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Add AutocompleteInput test
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Fix AutocompleteInput optionText returning an element problem
  packages/ra-core/src/form/useChoices.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Revert change
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Parse choiceName type to string
  packages/ra-core/src/form/useChoices.tsx
Due: eslint --fix

Apply review
  packages/ra-core/src/form/useChoices.tsx
Due: eslint --fix

Remove double spaces after MUI word
  README.md
  UPGRADE.md
  docs/Admin.md
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  docs/BooleanField.md
  docs/BooleanInput.md
  docs/CheckboxGroupInput.md
  docs/ChipField.md
  docs/CreateEdit.md
  docs/FileField.md
  docs/FileInput.md
  docs/ImageField.md
  docs/ImageInput.md
  docs/List.md
  docs/NullableBooleanInput.md
  docs/RadioButtonGroupInput.md
  docs/Readme.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
  docs/Show.md
  docs/SimpleShowLayout.md
  docs/TabbedShowLayout.md
  docs/Theming.md
  docs/Tutorial.md
  packages/react-admin/README.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
