Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

Fix EditView logic
  packages/ra-ui-materialui/src/detail/EditView.tsx
Due: eslint --fix

Fix ReferenceField rendering logic
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Fix demo
  examples/demo/src/dataProvider/index.ts
  examples/demo/src/fakeServer/graphql.ts
  examples/demo/src/fakeServer/index.ts
  examples/demo/src/index.tsx
Due: eslint --fix

Fix ReferenceOneField render prop
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

[no ci] [chore] Fix release script milestone description
  scripts/update-milestones.ts
Due: eslint --fix

Fix build
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

v5.10.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update docs/OldVersion.md for version 5.10.0
  docs/OldVersions.md
Due: prettier

Update create-react-admin templates dependencies for version 5.10.0
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update changelog for version 5.10.0
  CHANGELOG.md
Due: prettier

Add missing changes from 5.9.3 milestone
  CHANGELOG.md
Due: prettier

Fix Show and Edit controllers can trigger a redirect loop if getOne rejects too quickly
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Add `mutationKey` to all mutations
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Introduce Navigation Topics
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/src/components/CustomSidebar.astro
  docs_headless/src/content/docs/headless/guides/Architecture.md
  docs_headless/src/content/docs/headless/guides/CRUD.md
  docs_headless/src/content/docs/headless/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/headless/reference/example.md
  docs_headless/src/content/docs/index.mdx
  docs_headless/src/content/docs/mui/guides/Architecture.md
  docs_headless/src/content/docs/mui/guides/CRUD.md
  docs_headless/src/content/docs/mui/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/mui/reference/example.md
  docs_headless/src/content/docs/shadcn/guides/Architecture.md
  docs_headless/src/content/docs/shadcn/guides/CRUD.md
  docs_headless/src/content/docs/shadcn/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/shadcn/reference/example.md
  yarn.lock
Due: prettier

Show storybook embeds
  docs_headless/src/content/docs/headless/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/mui/guides/DataFetchingGuide.md
  docs_headless/src/content/docs/shadcn/guides/DataFetchingGuide.md
Due: prettier

Add package manager plugin
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/src/content/docs/mui/guides/CreateReactAdmin.mdx
  yarn.lock
Due: prettier

Code blocks
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/src/content/docs/mui/guides/Architecture.md
  docs_headless/src/styles/global.css
  yarn.lock
Due: prettier

Add collapsible code sections
  docs_headless/ec.config.mjs
  docs_headless/package.json
  docs_headless/src/content/docs/mui/guides/Architecture.md
  yarn.lock
Due: prettier

Add fullscreen code examples
  docs_headless/astro.config.mjs
  docs_headless/ec.config.mjs
  docs_headless/package.json
  docs_headless/src/styles/global.css
  yarn.lock
Due: prettier

Introduce `useIsOffline` hook and `<IsOffline>` component
  packages/ra-core/src/core/IsOffline.spec.tsx
  packages/ra-core/src/core/IsOffline.stories.tsx
  packages/ra-core/src/core/IsOffline.tsx
  packages/ra-core/src/core/index.ts
  packages/ra-core/src/core/useIsOffline.ts
Due: eslint --fix

Add offline support to `<ShowBase>`
  packages/ra-core/src/controller/show/ShowBase.spec.tsx
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
  packages/ra-core/src/controller/show/ShowBase.tsx
  packages/ra-core/src/controller/show/useShowController.ts
Due: eslint --fix

Introduce `<Offline>` component
  packages/ra-core/src/i18n/TranslationMessages.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/Offline.spec.tsx
  packages/ra-ui-materialui/src/Offline.stories.tsx
  packages/ra-ui-materialui/src/Offline.tsx
  packages/ra-ui-materialui/src/index.ts
Due: eslint --fix

Add offline support to `<Show>`
  packages/ra-ui-materialui/src/detail/Show.spec.tsx
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/layout/Title.tsx
Due: eslint --fix

Update `<ShowBase>` documentation
  docs/ShowBase.md
Due: prettier

Update `<Show>` documentation
  docs/Show.md
  docs/ShowBase.md
Due: prettier

Simplify ShowBase story
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
Due: eslint --fix

Render stories directly
  docs_headless/astro.config.mjs
  docs_headless/package.json
  docs_headless/src/content/docs/headless/guides/datafetchingguide.mdx
  docs_headless/tsconfig.json
  yarn.lock
Due: prettier

Fix B&W theme label is invisible for inputs with `standard` variant
  packages/ra-ui-materialui/src/theme/ThemeTester.stories.tsx
  packages/ra-ui-materialui/src/theme/bwTheme.ts
Due: eslint --fix

[DateInput] Fix example doc
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Make all mutations react to their declaration time options changes
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
  packages/ra-core/src/dataProvider/useCreate.stories.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.spec.tsx
  packages/ra-core/src/dataProvider/useDelete.stories.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.spec.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.stories.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/dataProvider/useUpdate.stories.tsx
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.stories.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Only show offline instructions in offline story
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
Due: eslint --fix

reorder props sections in ShowBase documentation
  docs/ShowBase.md
Due: prettier

Fix Show Offline story
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
Due: eslint --fix

Refactor rendered content in ShowBase
  packages/ra-core/src/controller/show/ShowBase.tsx
Due: eslint --fix

Rename useIsOffine to useIsOffline
  packages/ra-core/src/core/IsOffline.tsx
  packages/ra-core/src/core/useIsOffline.ts
Due: eslint --fix

Add offline support to `<Edit>`
  packages/ra-ui-materialui/src/detail/Edit.stories.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
Due: eslint --fix

Add offline support to `<EditBase>`
  docs/EditBase.md
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/edit/EditBase.stories.tsx
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix, prettier

Update `<Edit>` documentation
  docs/Edit.md
Due: prettier

Refactor rendered content in EditBase
  packages/ra-core/src/controller/edit/EditBase.tsx
Due: eslint --fix
