Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix `Loading` custom message raises a missing translation key warning
  packages/ra-ui-materialui/src/layout/Loading.tsx
Due: eslint --fix

Fix more deps and linter
  cypress/start.js
  package.json
  yarn.lock
Due: eslint --fix, prettier

prevent render InputHelperText in DateTimeInput
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
Due: eslint --fix

Upgrade to TS 5
  .eslintrc
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  package.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-core/src/core/Resource.tsx
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/form/FormTabHeader.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
  packages/ra-ui-materialui/src/list/filter/FilterListItem.tsx
  packages/react-admin/package.json
  yarn.lock
Due: eslint --fix, prettier

fix typo in LongForm.Section
  docs/AuthRBAC.md
Due: prettier

prevent render FormHelperText in BooleanInput
  packages/ra-ui-materialui/src/input/BooleanInput.tsx
Due: eslint --fix

added comment to make clearer the use of permissions on tabs, panel, section and step
  docs/AuthRBAC.md
Due: prettier

prevent render FormHelperText in ArrayInput
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Fix a typo: appreciate instead of appreviate
  docs/TabbedForm.md
Due: prettier

Add 4.11.4 changelog
  CHANGELOG.md
Due: prettier

prevent render InputHelperText in AutocompleteInput
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

prevent render FormHelperText in CheckBoxGroupInput
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.tsx
Due: eslint --fix

Update yarn.lock for v4.11.4
  yarn.lock
Due: none

example with WizardFormStep instead WizardForm.Step as previous examples
  docs/AuthRBAC.md
Due: prettier

prevent render InputHelperText in NullableBooleanInput
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

prevent render InputHelperText in SelectInput
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Fix linter warnings
  examples/simple/src/users/UserEdit.tsx
  examples/simple/src/users/UserList.tsx
  packages/ra-core/src/auth/useCheckAuth.spec.tsx
  packages/ra-core/src/auth/useLogin.spec.tsx
  packages/ra-core/src/controller/create/CreateBase.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/saveContext/useSaveContext.ts
  packages/ra-core/src/core/CustomRoutes.tsx
  packages/ra-core/src/dataProvider/useGetList.spec.tsx
  packages/ra-core/src/dataProvider/useGetMany.spec.tsx
  packages/ra-core/src/dataProvider/useGetManyAggregate.spec.tsx
  packages/ra-core/src/dataProvider/useGetOne.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.stories.tsx
  packages/ra-core/src/dataProvider/withLifecycleCallbacks.spec.ts
  packages/ra-core/src/form/getFormInitialValues.spec.ts
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-no-code/src/ui/NewResourceMenuItem.tsx
  packages/ra-no-code/src/ui/ResourceMenuItem.tsx
  packages/ra-no-code/src/ui/useImportResourceFromCsv.tsx
  packages/ra-ui-materialui/src/Labeled.tsx
  packages/ra-ui-materialui/src/Link.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

add a paragraph to explain permission with Tab name prop
  docs/AuthRBAC.md
Due: prettier

prevent render InputHelperText in NumberInput
  packages/ra-ui-materialui/src/input/NumberInput.tsx
Due: eslint --fix

prevent render FormHelperText in SelectArrayInput
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

prevent FormHelperText in RadioButtonGroupInput
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.tsx
Due: eslint --fix

add explication text for tab, panel, step, section
  docs/AuthRBAC.md
Due: prettier

change sentence structure as suggested
  docs/AuthRBAC.md
Due: prettier

fix copy paste error
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
Due: eslint --fix

replace panel in LongFormSection by section
  docs/AuthRBAC.md
Due: prettier

remove import WizardFormStep because is useless
  docs/AuthRBAC.md
Due: prettier

renamen LongFormSection to LongForm.Section
  docs/AuthRBAC.md
Due: prettier

Minor doc tweaks
  docs/Show.md
  docs/ShowBase.md
  docs/css/style-v18.css
Due: prettier

Fix demos don't allow to visualize source maps
  examples/crm/package.json
  examples/crm/vite.config.ts
  examples/demo/package.json
  examples/demo/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier

docs: add new prop documentation
  docs/DateField.md
Due: prettier

fix a typo: "a books fields" instead of "an books fields"
  docs/FieldsForRelationships.md
Due: prettier

Fix sortBy props in Combining Two Fields
  docs/Fields.md
Due: prettier

Doc: fix links to TanStack Query V3 doc
  docs/Actions.md
  docs/Admin.md
  docs/Create.md
  docs/Edit.md
  docs/PredictiveTextInput.md
  docs/ReferenceArrayInput.md
  docs/ReferenceField.md
  docs/ReferenceInput.md
  docs/ReferenceOneField.md
  docs/Upgrade.md
  docs/useGetIdentity.md
  docs/useGetOne.md
  docs/useInfiniteGetList.md
  docs/usePublish.md
Due: prettier

fix a typo: function instead of fiunction
  docs/ReferenceOneField.md
Due: prettier

[Doc] Add SmartRichTextInput, an AI assistant for rich text content
  docs/Features.md
  docs/Inputs.md
  docs/PredictiveTextInput.md
  docs/Reference.md
  docs/RichTextInput.md
  docs/SmartRichTextInput.md
  docs/TextInput.md
  docs/navigation.html
Due: prettier

feat: unix boolean prop for `DateField`
  packages/ra-ui-materialui/src/field/DateField.tsx
Due: eslint --fix

Remove use client
  packages/ra-core/src/index.ts
  packages/ra-data-fakerest/src/index.ts
  packages/ra-data-graphql-simple/src/index.ts
  packages/ra-data-graphql/src/index.ts
  packages/ra-data-json-server/src/index.ts
  packages/ra-data-localforage/src/index.ts
  packages/ra-data-localstorage/src/index.ts
  packages/ra-data-simple-rest/src/index.ts
  packages/ra-i18n-polyglot/src/index.ts
  packages/ra-input-rich-text/src/index.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-no-code/src/index.ts
  packages/ra-ui-materialui/src/index.ts
  packages/react-admin/src/index.ts
Due: eslint --fix

[Doc] Rephrase performance benefits in features chapter
  docs/Confirm.md
  docs/Features.md
Due: prettier

Fix: force value passed to checked prop to be boolean Cast field.value passed to checked prop in boolean, to avoid checked prop to be <empty string> in BooleanInput
  packages/ra-ui-materialui/src/input/BooleanInput.tsx
Due: eslint --fix

Update eslint
  .eslintrc
  package.json
  yarn.lock
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
