Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix more tests
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.spec.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.spec.tsx
Due: eslint --fix

Fix EditDialog documentation
  docs/EditDialog.md
Due: prettier

Fix useReferenceInputController
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

fix tests
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.stories.tsx
Due: eslint --fix

increase timeout... =/
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Add more timeout on AutocompleteInput test
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Update CHANGELOG for v4.16.2
  CHANGELOG.md
Due: prettier

v4.16.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for v4.16.2
  yarn.lock
Due: none

Update for v4.16.2
  Admin.md
  AdvancedTutorials.md
  CreateDialog.md
  CreateInDialogButton.md
  DataProviderWriting.md
  EditDialog.md
  EditInDialogButton.md
  Features.md
  ListTutorial.md
  Search.md
  doc/4.16/Admin.md
  doc/4.16/AdvancedTutorials.md
  doc/4.16/CreateDialog.md
  doc/4.16/CreateInDialogButton.md
  doc/4.16/DataProviderWriting.md
  doc/4.16/EditDialog.md
  doc/4.16/EditInDialogButton.md
  doc/4.16/Features.md
  doc/4.16/ListTutorial.md
  doc/4.16/Search.md
Due: prettier

Simplify upgrade guide [skip-ci]
  docs/Upgrade.md
Due: prettier

Update list of Enterprise Edition modules
  docs/Readme.md
Due: prettier

Fix icons order in documentation
  _includes/nav.html
Due: none

resolve conflicts, code cleanup, passing tests.
  packages/ra-data-graphql-simple/src/extensions/realtime.ts
  packages/ra-data-graphql-simple/src/index.ts
Due: eslint --fix

Rename arguments headings to parameters
  docs/useCreateController.md
  docs/useEditController.md
  docs/useList.md
  docs/useListController.md
  docs/useRegisterMutationMiddleware.md
  docs/useShowController.md
  docs/useUnique.md
Due: prettier

Revert documentation style changes
  docs/useCreateContext.md
  docs/useCreateController.md
  docs/useEditContext.md
  docs/useEditController.md
  docs/useList.md
  docs/useListController.md
  docs/useSaveContext.md
  docs/useShowContext.md
  docs/useShowController.md
Due: prettier

Revert documentation style for useListContext
  docs/useListContext.md
Due: prettier

fix a missed margin-right due to a bad copy-paste
  _includes/nav.html
Due: none

doc: improve EditableDatagrid doc
  docs/EditableDatagrid.md
Due: prettier

Apply review suggestions
  packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/auth/useHandleAuthCallback.ts
  packages/ra-core/src/auth/usePermissions.spec.tsx
  packages/ra-core/src/auth/usePermissions.ts
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Review
  docs/EditableDatagrid.md
Due: prettier

Add onSettled support
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Return null in useHandleAuthCallback
  packages/ra-core/src/auth/useHandleAuthCallback.ts
Due: eslint --fix

[Doc] Update `<DatagridAG>` doc to document lazy loading
  docs/DatagridAG.md
Due: prettier

Removed postgrest from auth providers, see #105 of ra-data-postgrest
  docs/AuthProviderList.md
Due: prettier

[no ci] Apply suggestions from code review
  docs/EditableDatagrid.md
Due: prettier

doc: fix TS warning in Connecting To A Real API tutorial
  docs/Tutorial.md
Due: prettier

Apply review suggestions
  packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/auth/usePermissions.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-core/src/dataProvider/useGetManyReference.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Revert change on useAuthState to avoid BC
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Apply review suggestions
  packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useHandleAuthCallback.ts
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix

add a banner for christmas promotion
  docs/_layouts/default.html
Due: none

Fix useTheme may return undefined
  packages/ra-ui-materialui/src/theme/useTheme.spec.tsx
  packages/ra-ui-materialui/src/theme/useTheme.ts
Due: eslint --fix

add a banner for christmas promotion
  _layouts/default.html
Due: none

report banner in documentation page
  docs/documentation.html
Due: none

report banner in documentation page
  documentation.html
Due: none

change yearly plans sentence
  docs/_layouts/default.html
  docs/documentation.html
Due: none

change yearly plans sentence
  _layouts/default.html
  documentation.html
Due: none

Fix tests
  packages/ra-ui-materialui/src/theme/useTheme.spec.tsx
  packages/ra-ui-materialui/src/theme/useTheme.ts
Due: eslint --fix

Fix eslint
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
Due: eslint --fix

Fix usePermissions
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix
