Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix: useIsFormInvalid
  packages/ra-core/src/form/useIsFormInvalid.ts
Due: eslint --fix

remove 'install dependencies' step
  docs/Vite.md
Due: prettier

Fix: Update useReferenceInputController test
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
Due: eslint --fix

add form screenshot
  docs/JsonSchemaForm.md
Due: prettier

Fix: useAugmentedForm
  packages/ra-core/src/form/index.ts
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-core/src/form/useNotifyIsFormInvalid.ts
Due: eslint --fix

Fix: Update eslint errors
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-core/src/form/useNotifyIsFormInvalid.ts
Due: eslint --fix

Fix useStore internal state reset when key changes
  packages/ra-core/src/store/useStore.spec.tsx
  packages/ra-core/src/store/useStore.ts
Due: eslint --fix

Fix FormDataConsumer inside SimpleFormIterator adds empty value
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

Fix: Update JSDoc
  packages/ra-core/src/form/useNotifyIsFormInvalid.ts
Due: eslint --fix

Add unit test
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.spec.tsx
Due: eslint --fix

Fix infinite re-render
  packages/ra-core/src/store/useStore.ts
Due: eslint --fix

WIP: Add useInfiniteGetList hook
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.spec.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.stories.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

add doc for useGetTree
  docs/navigation.html
  docs/useGetTree.md
Due: prettier

Add more details
  docs/useGetTree.md
Due: prettier

Prepare changelog for v4.2.7
  CHANGELOG.md
Due: prettier

v4.2.7
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Fix yarn lock
  yarn.lock
Due: none

remove useless classnames
  docs/FileInput.md
  docs/ImageInput.md
  packages/ra-ui-materialui/src/input/FileInput.tsx
  packages/ra-ui-materialui/src/input/ImageInput.tsx
Due: eslint --fix, prettier

update to v4.2.7
  Create.md
  Edit.md
  ImageField.md
  Inputs.md
  JsonSchemaForm.md
  NumberField.md
  SelectField.md
  Vite.md
  _data/versions.yml
  doc/4.2/404.html
  doc/4.2/Create.md
  doc/4.2/Edit.md
  doc/4.2/ImageField.md
  doc/4.2/Inputs.md
  doc/4.2/JsonSchemaForm.md
  doc/4.2/NumberField.md
  doc/4.2/SelectField.md
  doc/4.2/Vite.md
  doc/4.2/img/number-field.webp
  doc/4.2/navigation.html
  doc/4.2/useGetTree.md
  img/number-field.webp
  navigation.html
  useGetTree.md
Due: prettier

fix duplicate 404
  doc/4.2/404.html
Due: none

Add `customStoreKey` property
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Unit test corrections
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

Add feature documentation
  docs/useListController.md
  packages/ra-core/src/controller/list/useListController.ts
Due: eslint --fix, prettier

First correction from review
  docs/useListController.md
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix, prettier

Unit tests
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

replace ImageInput classnames by FileInput classnames in docs
  docs/ImageInput.md
Due: prettier

Fix UT
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.stories.tsx
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Add support for SimpleFormIterator inline and sx props
  docs/ArrayInput.md
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.stories.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorItem.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/useSimpleFormIteratorStyles.ts
Due: eslint --fix, prettier

ReferenceInput and ReferenceArrayInput accepts label when in filter array
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/Upgrade.md
Due: prettier

alphabetical order for props
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
Due: prettier

Add feature documentation
  docs/useListController.md
Due: prettier

add explicit resettable in SelectInputProps
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

move TS fix in other PR
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

comments from PR
  docs/ReferenceArrayInput.md
  docs/ReferenceInput.md
  docs/Upgrade.md
Due: prettier

add resettable prop to SelectInputProps
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Feat: Add unit test via storybook component
  packages/ra-core/src/dataProvider/useInfiniteGetList.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.stories.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
  packages/ra-core/src/storybook/data.ts
Due: eslint --fix

use register instead of manual validation
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Add storeKey property to useListController
  docs/useListController.md
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.storeKey.spec.tsx
  packages/ra-core/src/controller/list/useListController.storeKey.stories.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
