Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Apply review suggestions
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

[chore] Add ability to retry or skip steps in release script
  scripts/release.sh
  scripts/update-changelog.ts
  scripts/update-milestones.ts
Due: eslint --fix

v5.10.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.10.2
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.10.2
  AuthProviderList.md
  DataTable.md
  Edit.md
  Scheduler.md
  _data/versions.yml
  doc/5.10/AuthProviderList.md
  doc/5.10/DataTable.md
  doc/5.10/Edit.md
  doc/5.10/Scheduler.md
  doc/5.10/Theming.md
  doc/5.10/img/backend-logos/apisix.svg
  img/backend-logos/apisix.svg
Due: prettier

Update AutocompleteArrayInput documentation
  docs/AutocompleteArrayInput.md
Due: prettier

update create-edit
  docs_headless/src/content/docs/create-edit/CreateBase.md
  docs_headless/src/content/docs/create-edit/EditBase.md
  docs_headless/src/content/docs/create-edit/EditTutorial.md
  docs_headless/src/content/docs/create-edit/Form.md
  docs_headless/src/content/docs/create-edit/Validation.md
  docs_headless/src/content/docs/create-edit/useCreateContext.md
  docs_headless/src/content/docs/create-edit/useCreateController.md
  docs_headless/src/content/docs/create-edit/useEditContext.md
  docs_headless/src/content/docs/create-edit/useEditController.md
  docs_headless/src/content/docs/create-edit/useRecordFromLocation.md
  docs_headless/src/content/docs/create-edit/useRegisterMutationMiddleware.md
  docs_headless/src/content/docs/create-edit/useSaveContext.md
  docs_headless/src/content/docs/create-edit/useUnique.md
Due: prettier

[chore] Revert MSW usage on simple example
  examples/simple/package.json
  examples/simple/public/mockServiceWorker.js
  examples/simple/src/dataProvider.tsx
  examples/simple/src/fakeServer.ts
  examples/simple/src/index.tsx
  yarn.lock
Due: eslint --fix, prettier

update app-configuration
  docs_headless/src/content/docs/app-configuration/CoreAdmin.md
  docs_headless/src/content/docs/app-configuration/CustomRoutes.md
  docs_headless/src/content/docs/app-configuration/Resource.md
Due: prettier

simplify CoreAdmin usage
  docs_headless/src/content/docs/create-edit/CreateBase.md
  docs_headless/src/content/docs/create-edit/EditBase.md
  docs_headless/src/content/docs/recipes/Caching.md
  docs_headless/src/content/docs/show/ShowBase.md
Due: prettier

Fix dataProvider delay
  examples/simple/src/dataProvider.tsx
Due: eslint --fix

Correctly handle offline case in ReferenceInputBase
  packages/ra-core/src/controller/input/ReferenceInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

[no ci] [Doc] Fix `<ListBase>` is missing the `storeKey` prop
  docs/ListBase.md
Due: prettier

Add offline support to `<ReferenceArrayInputBase>` and `<ReferenceArrayInput>`
  docs/ReferenceArrayInput.md
  packages/ra-core/src/controller/input/ReferenceArrayInputBase.spec.tsx
  packages/ra-core/src/controller/input/ReferenceArrayInputBase.stories.tsx
  packages/ra-core/src/controller/input/ReferenceArrayInputBase.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
Due: eslint --fix, prettier

[no ci] Fix changelog for version 5.10.2
  CHANGELOG.md
Due: prettier

Update deploy-doc-headless.yml workflow triggers
  .github/workflows/deploy-doc-headless.yml
Due: none

Apply suggestions from code review
  docs/AutocompleteArrayInput.md
  packages/ra-core/src/form/choices/useChoicesContext.ts
Due: eslint --fix, prettier

Add offline support to `<ListBase>` and `<List>`
  docs/List.md
  docs/ListBase.md
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
  packages/ra-core/src/controller/list/ListBase.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.stories.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-ui-materialui/src/list/List.spec.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
Due: eslint --fix, prettier

[chore] Fix CRM demo cannot load MSW when deployed on a sub URL
  examples/crm/src/index.tsx
Due: eslint --fix

update security (wip)
  docs_headless/src/content/docs/security/AuthProviderList.md
  docs_headless/src/content/docs/security/AuthProviderWriting.md
  docs_headless/src/content/docs/security/Authenticated.md
  docs_headless/src/content/docs/security/Authentication.md
  docs_headless/src/content/docs/security/CanAccess.md
  docs_headless/src/content/docs/security/Permissions.md
  docs_headless/src/content/docs/security/addRefreshAuthToAuthProvider.md
  docs_headless/src/content/docs/security/addRefreshAuthToDataProvider.md
Due: prettier

Add support for embedded resources in ra-data-simple-rest
  packages/ra-data-simple-rest/src/index.ts
Due: eslint --fix

Add support for embed in all getters
  packages/ra-data-simple-rest/src/index.ts
Due: eslint --fix

update list (wip)
  docs_headless/src/content/docs/list/FilteringTutorial.md
  docs_headless/src/content/docs/list/ListTutorial.md
Due: prettier

add tests
  packages/ra-data-simple-rest/src/index.spec.ts
Due: eslint --fix

Improve offline detection in Edit, Show, ReferenceField and ReferenceOneField
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/edit/EditBase.stories.tsx
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceFieldBase.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceOneFieldBase.tsx
  packages/ra-core/src/controller/show/ShowBase.spec.tsx
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
  packages/ra-core/src/controller/show/ShowBase.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

Add offline support to `<ReferenceArrayFieldBase>` and `<ReferenceArrayField>`
  packages/ra-core/src/controller/field/ReferenceArrayFieldBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceArrayFieldBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceArrayFieldBase.tsx
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-core/src/controller/list/useList.ts
  packages/ra-ui-materialui/src/field/ReferenceArrayField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
Due: eslint --fix

Cleanup stories paths
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.stories.tsx
  packages/ra-core/src/controller/field/useReferenceManyFieldController.stories.tsx
Due: eslint --fix

Update documentation
  docs/Edit.md
  docs/ReferenceArrayField.md
  docs/ReferenceArrayFieldBase.md
Due: prettier

Add offline support to `<ReferenceManyFieldBase>` and `<ReferenceManyField>`
  docs/ReferenceManyField.md
  packages/ra-core/src/controller/field/ReferenceManyFieldBase.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix, prettier

Mark useDeleteWithUndoController and useDeleteWithConfirmController as deprecated
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
Due: eslint --fix

update security (end)
  docs_headless/src/content/docs/security/AuthProviderList.md
  docs_headless/src/content/docs/security/AuthProviderWriting.md
  docs_headless/src/content/docs/security/Authentication.md
  docs_headless/src/content/docs/security/useAuthProvider.md
  docs_headless/src/content/docs/security/useAuthState.md
  docs_headless/src/content/docs/security/useAuthenticated.md
  docs_headless/src/content/docs/security/useCanAccess.md
  docs_headless/src/content/docs/security/useGetIdentity.md
  docs_headless/src/content/docs/security/useLogin.md
  docs_headless/src/content/docs/security/useLogout.md
  docs_headless/src/content/docs/security/usePermissions.md
  docs_headless/src/styles/global.css
Due: prettier

Add offline support to `<ReferenceManyCountBase>` and `<ReferenceManyCount>`
  docs/ReferenceManyCount.md
  packages/ra-core/src/controller/field/ReferenceManyCountBase.spec.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.stories.tsx
  packages/ra-core/src/controller/field/ReferenceManyCountBase.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix, prettier

update list (part 2)
  docs_headless/src/content/docs/list/FilterLiveForm.md
  docs_headless/src/content/docs/list/InfiniteListBase.md
  docs_headless/src/content/docs/list/ListBase.md
  docs_headless/src/content/docs/list/ListIterator.md
Due: prettier

update list (end)
  docs_headless/src/content/docs/list/WithListContext.md
  docs_headless/src/content/docs/list/useList.md
  docs_headless/src/content/docs/list/useListContext.md
  docs_headless/src/content/docs/list/useListController.md
  docs_headless/src/content/docs/list/useUnselect.md
  docs_headless/src/content/docs/list/useUnselectAll.md
Due: prettier

Fix regression on disableAuthentication
  packages/ra-core/src/controller/list/ListBase.tsx
Due: eslint --fix

Fix `<Link>` cannot be styled through MUI theme
  packages/ra-ui-materialui/src/Link.stories.tsx
  packages/ra-ui-materialui/src/Link.tsx
Due: eslint --fix

Apply review suggestions
  packages/ra-ui-materialui/src/Link.tsx
Due: eslint --fix

Add offline support to `<InfiniteListBase>` and `<InfiniteList>`
  docs/InfiniteList.md
  packages/ra-core/src/controller/list/InfiniteListBase.stories.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-ui-materialui/src/list/InfiniteList.stories.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.tsx
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/pagination/InfinitePagination.tsx
Due: eslint --fix, prettier

Fix regression regarding `disableAuthentication` in `EditBase` and `ShowBase`
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/show/ShowBase.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
