Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Remove null in useRedirect type
  packages/ra-core/src/routing/useRedirect.spec.tsx
  packages/ra-core/src/routing/useRedirect.ts
Due: eslint --fix

add Chinese locale
  docs/TranslationLocales.md
Due: prettier

remove the old Chinese locale
  docs/TranslationLocales.md
Due: prettier

Fix BooleanField
  examples/demo/src/visitors/ColoredNumberField.tsx
  packages/ra-core/src/controller/record/useRecordContext.ts
  packages/ra-ui-materialui/src/field/BooleanField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
  packages/ra-ui-materialui/src/field/types.ts
Due: eslint --fix

Allow strongly typed source and sortBy on ArrayField
  packages/ra-ui-materialui/src/field/ArrayField.spec.tsx
  packages/ra-ui-materialui/src/field/ArrayField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on ChipField
  packages/ra-ui-materialui/src/field/ChipField.spec.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on FunctionField
  packages/ra-ui-materialui/src/field/FunctionField.spec.tsx
  packages/ra-ui-materialui/src/field/FunctionField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on DateField
  packages/ra-ui-materialui/src/field/DateField.spec.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on EmailField
  packages/ra-ui-materialui/src/field/EmailField.spec.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
Due: eslint --fix

Fix exports
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on NumberField
  packages/ra-ui-materialui/src/field/NumberField.spec.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
Due: eslint --fix

Add 'option' generic types for resource definitions
  packages/ra-core/src/core/ResourceDefinitionContext.tsx
  packages/ra-core/src/core/useResourceDefinition.ts
  packages/ra-core/src/core/useResourceDefinitions.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Add generic to useInput
  packages/ra-core/src/form/useInput.ts
Due: eslint --fix

Fix `<Datagrid>` does not apply `className` to its root element
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

Fix demo
  examples/demo/src/dashboard/PendingReviews.tsx
  examples/demo/src/reviews/BulkAcceptButton.tsx
  examples/demo/src/reviews/BulkRejectButton.tsx
  examples/demo/src/reviews/ReviewItem.tsx
  examples/demo/src/reviews/StarRatingField.tsx
  examples/demo/src/types.ts
  examples/demo/src/visitors/Aside.tsx
  examples/demo/src/visitors/ColoredNumberField.tsx
  packages/ra-core/src/types.ts
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
  packages/ra-ui-materialui/src/input/SelectInput.tsx
Due: eslint --fix

Fix CRM demo
  examples/crm/src/companies/LogoField.tsx
  examples/crm/src/contacts/TagsList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/notes/NewNote.tsx
  examples/crm/src/notes/Note.tsx
  examples/crm/src/types.ts
Due: eslint --fix

Allow strongly typed source and sortBy on ReferenceArrayField
  packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on ReferenceField
  packages/ra-core/src/controller/record/useRecordContext.ts
  packages/ra-core/src/dataProvider/useGetRecordId.ts
  packages/ra-core/src/routing/types.ts
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/layout/PageTitle.tsx
  packages/react-admin/src/Resource.stories.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on ReferenceManyCount
  packages/ra-core/src/controller/field/useReferenceManyFieldController.ts
  packages/ra-ui-materialui/src/field/ReferenceManyCount.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
Due: eslint --fix

Allow strongly typed source and sortBy on ReferenceManyField
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.tsx
Due: eslint --fix

fix extra opening bracket
  docs/Features.md
  docs/FilteringTutorial.md
  docs/Tutorial.md
Due: prettier

[Doc] Fix various markdown syntax warnings causing incorrect HTML
  docs/AppBar.md
  docs/AuthRBAC.md
  docs/Breadcrumb.md
  docs/DataProviderLive.md
  docs/Features.md
  docs/FilteringTutorial.md
  docs/JsonSchemaForm.md
  docs/ListTutorial.md
  docs/Realtime.md
  docs/ReferenceOneInput.md
  docs/Resource.md
  docs/SimpleList.md
  docs/StackedFilters.md
  docs/WithPermissions.md
  docs/useListController.md
Due: prettier

Fix TimeInput table
  docs/TimeInput.md
Due: prettier

rename to v15
  docs/css/style-v15.css
Due: prettier

[Doc] Improve usage examples for `<ReferenceInput>` and `<ReferenceArrayInput>`
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  docs/CheckboxGroupInput.md
  docs/RadioButtonGroupInput.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
Due: prettier

Explain ReferenceInput in SelectInput
  docs/SelectInput.md
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
Due: eslint --fix, prettier

Fix loading indicator center
  packages/ra-ui-materialui/src/input/LoadingInput.tsx
Due: eslint --fix

v4.9.2
  examples/crm/package.json
  examples/data-generator/package.json
  examples/demo/package.json
  examples/no-code/package.json
  examples/simple/package.json
  examples/tutorial/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update changelog for v4.9.2 & update yarn.lock
  CHANGELOG.md
  yarn.lock
Due: prettier

Add 4.9.2 documentation
  AppBar.md
  AuthRBAC.md
  Breadcrumb.md
  DataProviderLive.md
  Features.md
  FilteringTutorial.md
  JsonSchemaForm.md
  ListTutorial.md
  Realtime.md
  ReferenceOneInput.md
  Resource.md
  SimpleList.md
  StackedFilters.md
  TranslationLocales.md
  WithPermissions.md
  _data/versions.yml
  doc/4.9/AppBar.md
  doc/4.9/AuthRBAC.md
  doc/4.9/Breadcrumb.md
  doc/4.9/DataProviderLive.md
  doc/4.9/Features.md
  doc/4.9/FilteringTutorial.md
  doc/4.9/JsonSchemaForm.md
  doc/4.9/ListTutorial.md
  doc/4.9/Realtime.md
  doc/4.9/ReferenceOneInput.md
  doc/4.9/Resource.md
  doc/4.9/SimpleList.md
  doc/4.9/StackedFilters.md
  doc/4.9/TranslationLocales.md
  doc/4.9/WithPermissions.md
  doc/4.9/useListController.md
  useListController.md
Due: prettier

Fix Datagrid rowClick PropTypes
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridBody.tsx
  packages/ra-ui-materialui/src/list/datagrid/DatagridRow.tsx
Due: eslint --fix

Rephrase SelectInput fetching choices doc
  docs/SelectInput.md
  packages/ra-core/src/dataProvider/useGetList.stories.tsx
Due: eslint --fix, prettier

Fix LinearProgress blinks
  packages/ra-ui-materialui/src/layout/LinearProgress.tsx
Due: eslint --fix

Improve RadioButtonGroupInput choice fetching doc
  docs/RadioButtonGroupInput.md
  docs/SelectInput.md
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.stories.tsx
Due: eslint --fix, prettier

Improve AutocompleteInput docs
  docs/AutocompleteInput.md
  docs/RadioButtonGroupInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix, prettier

Document isLoading
  docs/AutocompleteInput.md
  docs/RadioButtonGroupInput.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
