Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

[no ci] [Doc] Mention that `helperText` also supports translation keys
  docs/Inputs.md
Due: prettier

Doc(Deploy): Add doc on how to deploy to cloudflare pages
  docs/Deploy.md
  docs/img/Deploy-Cloudflare-Pages.png
Due: prettier

fix discrepancies between index.html and landing-page/index.html
  index.html
  landing-page/index.html
Due: none

Apply reviews suggestions.
  docs/Deploy.md
Due: prettier

[Doc] Add a migration section in `<DataTable>` that shows the codemod [no ci]
  docs/DataTable.md
Due: prettier

review
  README.md
  docs/AuthRBAC.md
  docs/CRUD.md
  docs/Contributing.md
  docs/Count.md
  docs/CreateInDialogButton.md
  docs/Datagrid.md
  docs/DateField.md
  docs/EditInDialogButton.md
  docs/Features.md
  docs/Fields.md
  docs/FieldsForRelationships.md
  docs/FilterLiveForm.md
  docs/FilteringTutorial.md
  docs/FunctionField.md
  docs/List.md
  docs/ListTutorial.md
  docs/NumberField.md
  docs/Permissions.md
  docs/ReferenceArrayField.md
  docs/ReferenceField.md
  docs/ReferenceManyCount.md
  docs/ReferenceManyField.md
  docs/Resource.md
  docs/SX.md
  docs/ShowDialog.md
  docs/ShowInDialogButton.md
  docs/TabbedForm.md
  docs/TabbedShowLayout.md
  docs/TranslatableFields.md
  docs/WithRecord.md
  docs/img/guessed-list.png
  docs/useGetList.md
  docs/useGetLocks.md
  docs/useMediaQuery.md
  packages/ra-data-fakerest/README.md
  packages/ra-data-json-server/README.md
  packages/react-admin/README.md
Due: prettier

Review
  docs/Deploy.md
  docs/navigation.html
Due: prettier

feat(useLogoutIfAccessDenied): handle redirect's url and add unit testing
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

Fix codemod name [no ci]
  docs/DataTable.md
Due: prettier

[Doc] Fix typos in DataTable.md
  docs/DataTable.md
Due: prettier

[Doc] DataProvider List: Update Appwrite logo and name
  docs/DataProviderList.md
  docs/img/backend-logos/appwrite.svg
Due: prettier

test(useLogoutIfAccessDenied): wait 2 secs to verify that no redirect has happened
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
Due: eslint --fix

Remove default styles from bulk actions buttons
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.tsx
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
Due: eslint --fix

Fix themes
  packages/ra-ui-materialui/src/theme/bwTheme.ts
  packages/ra-ui-materialui/src/theme/houseTheme.ts
  packages/ra-ui-materialui/src/theme/radiantTheme.ts
Due: eslint --fix

[no ci] Add story to test ability to set DataTable column width
  packages/ra-ui-materialui/src/list/datatable/DataTableColumn.stories.tsx
Due: eslint --fix

Fix default bulk action buttons background on dark theme
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
Due: eslint --fix

Fix alignment
  packages/ra-ui-materialui/src/list/BulkActionsToolbar.tsx
Due: eslint --fix

Add support for keyboard shortcuts to `<MenuItemLink>`
  docs/Menu.md
  jest.config.js
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
  packages/ra-ui-materialui/src/getKeyboardShortcutLabel.ts
  packages/ra-ui-materialui/src/index.ts
  packages/ra-ui-materialui/src/layout/DashboardMenuItem.tsx
  packages/ra-ui-materialui/src/layout/Menu.spec.tsx
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/layout/Menu.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  packages/ra-ui-materialui/src/layout/ResourceMenuItem.tsx
  yarn.lock
Due: eslint --fix, prettier

feat(useLogooutIfAccessDenied): update dependecies array to avoid re-renders
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

Don't lazy load KeyboardShortcut (tsc incompatibility)
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Move keyboard shortcuts code to ra-core
  packages/ra-core/package.json
  packages/ra-core/src/util/KeyboardShortcut.tsx
  packages/ra-core/src/util/getKeyboardShortcutLabel.ts
  packages/ra-core/src/util/index.ts
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/index.ts
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  yarn.lock
Due: eslint --fix, prettier

Remove theme props override from view components, fix infinite list test.
  packages/ra-ui-materialui/src/detail/Create.stories.tsx
  packages/ra-ui-materialui/src/detail/CreateView.tsx
  packages/ra-ui-materialui/src/detail/Edit.stories.tsx
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/Show.stories.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.spec.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.stories.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
Due: eslint --fix

fix another missing callback dep
  packages/ra-core/src/auth/useLogoutIfAccessDenied.ts
Due: eslint --fix

remove unnecessary timeout from test
  packages/ra-core/src/auth/useLogoutIfAccessDenied.spec.tsx
Due: eslint --fix

Improve documentation
  docs/Menu.md
Due: prettier

[Demo] Remove duplicate file `segments.ts`
  examples/demo/src/visitors/segments.ts
Due: eslint --fix

Fix `<AutocompleteInput>` should not break when overriding input slot props
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Fix only the last notification is displayed when triggering consecutive notifications
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

add useUpdateMany middleware support
  packages/ra-core/src/dataProvider/useUpdateMany.spec.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.stories.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

[no ci] update tutorial screenshots
  docs/img/tutorial_guessed_list.png
  docs/img/tutorial_guessed_post_list.png
Due: none

Improve notifications for offline mutations
  examples/simple/src/i18n/en.ts
  examples/simple/src/i18n/fr.ts
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-ui-materialui/src/button/BulkDeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkDeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
  packages/ra-ui-materialui/src/input/InPlaceEditor/InPlaceEditor.tsx
Due: eslint --fix

[Doc] Update `<CreateDialog>` regarding limitation with old versions of react-admin
  docs/CreateDialog.md
Due: prettier

Stabilize tests
  packages/ra-core/src/dataProvider/useCreate.spec.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Buttons.md
Due: prettier

Improve buttons documentation for label prop
  docs/Buttons.md
Due: prettier

Handle passing label=false in useResourceTranslation
  packages/ra-core/src/i18n/useResourceTranslation.ts
Due: eslint --fix

Improve `Button` documentation
  docs/Buttons.md
Due: prettier

Fix version in documentation [no ci]
  docs/CreateDialog.md
Due: prettier

Revert "Fix limitation preventing to declare create and show routes from the list view"
  docs/Resource.md
  packages/ra-core/src/core/Resource.spec.tsx
  packages/ra-core/src/core/Resource.stories.tsx
  packages/ra-core/src/core/Resource.tsx
  packages/react-admin/src/Resource.stories.tsx
Due: eslint --fix, prettier

[Doc] DataProvider List: Update Appwrite logo and name
  DataProviderList.md
  doc/5.8/DataProviderList.md
  doc/5.8/img/backend-logos/appwrite.svg
  img/backend-logos/appwrite.svg
Due: prettier
