Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix test
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
Due: eslint --fix

trigger debounce bug in stories
  packages/ra-core/src/controller/list/useListParams.stories.tsx
  packages/ra-ui-materialui/src/input/SearchInput.stories.tsx
Due: eslint --fix

Fix SimpleList items UI when linkType=false
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
Due: eslint --fix

rename story
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

update LinkType switch button label
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

fix and debug code
  packages/ra-ui-materialui/src/input/SearchInput.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

fix fix
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

remove useless useListParams stories
  packages/ra-core/src/controller/list/useListParams.stories.tsx
Due: eslint --fix

apply fix to AutoSubmitFilterForm and remove tech debt from FilterForm
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

fix unit test
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
Due: eslint --fix

add missing FormGroupsProvider
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
Due: eslint --fix

refactor FilterLiveSearch to use AutoSubmitFilterForm + fix AutoSubmitFilterForm to only submit on real changes
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
Due: eslint --fix

add a story to be able to test the issue
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.stories.tsx
Due: eslint --fix

add FilterLiveSearch FullApp story
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.stories.tsx
Due: eslint --fix

add filterlivesearch reapply old value bug unit test
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.spec.tsx
Due: eslint --fix

Fix `SimpleList` `ErrorInFetch` story
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

use AutoSubmitFilterForm in FilterForm
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.spec.tsx
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

improve AutoSubmitFilterForm component prop default value
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
Due: eslint --fix

add tests for AutoSubmitFilterForm
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.spec.tsx
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.stories.tsx
Due: eslint --fix

add test for race condition bug
  packages/ra-ui-materialui/src/input/SearchInput.spec.tsx
  packages/ra-ui-materialui/src/input/SearchInput.stories.tsx
Due: eslint --fix

Update Changelog for 5.3.4
  CHANGELOG.md
Due: prettier

v5.3.4
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for 5.3.4
  yarn.lock
Due: none

Update for v5.3.4
  DataProviders.md
  _data/versions.yml
  doc/5.2/DataProviders.md
Due: prettier

remove debug code
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
  packages/ra-core/src/util/useDebouncedEvent.ts
Due: eslint --fix

add docs for AutoSubmitFilterForm
  docs/AutoSubmitFilterForm.md
  docs/Reference.md
  docs/img/AutoSubmitFilterForm.mp4
  docs/img/AutoSubmitFilterForm.png
  docs/navigation.html
  packages/ra-core/src/controller/list/filter/AutoSubmitFilterForm.tsx
Due: eslint --fix, prettier

improve discoverability
  docs/FilterList.md
  docs/FilterLiveSearch.md
  docs/FilteringTutorial.md
Due: prettier

fix Liquid syntax error
  docs/AutoSubmitFilterForm.md
  docs/FilterList.md
  docs/FilterLiveSearch.md
Due: prettier

[Doc] Fix `<AppBar userMenu>` example usage
  docs/AppBar.md
Due: prettier

Fix indentation
  docs/AppBar.md
Due: prettier

[Doc] Improve Access Control for Custom Pages
  docs/CanAccess.md
  docs/Permissions.md
Due: prettier

Fix `FilterListItem` story shows wrong way of resetting a filter
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
Due: eslint --fix

feat: add default action to update whole params
  packages/ra-core/src/controller/list/queryReducer.ts
Due: eslint --fix

wip: working version with vite
  .storybook/main.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier

Add missing parameter to add-function type of impleFormIteratorContextValue
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIteratorContext.ts
Due: eslint --fix

[Doc] Fix `useRegisterMutationMiddleware` documentation
  docs/useRegisterMutationMiddleware.md
Due: prettier

wip: working version with webpack, requiring import_typescript.parsers.typescript fix
  .storybook/main.ts
  package.json
  packages/ra-core/src/auth/CanAccess.stories.tsx
Due: eslint --fix, prettier

Fix useCanAccessResources cannot have react-query options
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

Cleanup type
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

cleanup test code
  .storybook/main.ts
  package.json
  packages/ra-core/src/auth/CanAccess.stories.tsx
Due: eslint --fix, prettier
