Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Remove old CreateEdit chapter
  docs/CreateEdit.md
  docs/EditTutorial.md
  docs/Resource.md
  docs/navigation.html
Due: prettier

Remove links to CreateEdit documentation
  docs/Buttons.md
  docs/CloneButton.md
  docs/Datagrid.md
  docs/Reference.md
  docs/ShowGuesser.md
  packages/ra-ui-materialui/src/form/TabbedForm.tsx
Due: eslint --fix, prettier

Update docs/Edit.md
  docs/Edit.md
Due: prettier

Update docs/SaveButton.md
  docs/SaveButton.md
Due: prettier

Doc: add warning not to declare filters inside List component
  docs/FAQ.md
  docs/List.md
  docs/Tutorial.md
Due: prettier

Fix Usage Of Form Resolver
  packages/ra-core/package.json
  packages/ra-core/src/form/Form.spec.tsx
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-ui-materialui/src/form/SimpleForm.tsx
  yarn.lock
Due: eslint --fix, prettier

improve tips and faq based on real example info
  docs/FAQ.md
  docs/List.md
  docs/Tutorial.md
Due: prettier

Review
  docs/Create.md
  docs/Edit.md
  docs/SaveButton.md
Due: prettier

Update docs/SimpleForm.md
  docs/SimpleForm.md
Due: prettier

Add missing exports
  packages/ra-core/src/routing/index.ts
Due: eslint --fix

Fix FilterForm reset
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Don't export HistoryRouter for now
  packages/ra-core/src/routing/index.ts
Due: eslint --fix

Remove duplicated check of record
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Apply review
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Fix Filter Removal
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Correctly Fix Filter Removal
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Move SaveButton disable logic inside using alwaysEnable prop
  docs/SaveButton.md
  docs/SimpleForm.md
  docs/TabbedForm.md
  docs/Toolbar.md
  packages/ra-ui-materialui/src/button/SaveButton.tsx
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix, prettier

Fix race condition due to debounced setFilter
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Fix useless indent
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

improve type
  packages/ra-core/src/controller/list/useListParams.ts
Due: eslint --fix

Refactoring
  packages/ra-core/src/controller/list/useListParams.ts
  packages/ra-core/src/util/hooks.ts
Due: eslint --fix

Backport of #7443 to v3
  packages/ra-core/src/controller/useListParams.ts
  packages/ra-core/src/util/hooks.ts
Due: eslint --fix

Improve Toolbar types
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Update upgrade guide
  UPGRADE.md
Due: prettier

Fix typo
  UPGRADE.md
Due: prettier

Update docs
  docs/TabbedForm.md
Due: prettier

Improve jsDocs
  packages/ra-ui-materialui/src/form/Toolbar.tsx
Due: eslint --fix

Simplify upgrade example
  UPGRADE.md
Due: prettier

Improve docs example
  docs/Toolbar.md
Due: prettier

Apply review
  packages/ra-ui-materialui/src/button/SaveButton.tsx
Due: eslint --fix

Fix demo error
  examples/demo/src/orders/OrderEdit.tsx
Due: eslint --fix

Fix Filter Fields Shown When They Have Undefined Value
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
Due: eslint --fix

Move Upgrade guide to docs
  UPGRADE.md
  docs/Upgrade.md
Due: prettier

Reorganize content
  docs/Upgrade.md
  docs/navigation.html
Due: prettier

v4.0.0-RC.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Add links from tutorial to introduction
  docs/Tutorial.md
Due: prettier

Update yarn.lock
  yarn.lock
Due: none
