Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Fix yarn.lock
  yarn.lock
Due: none

Fix(input): Set DateInput and DateTimeInput to uncontrolled input
  packages/ra-ui-materialui/src/input/DateInput.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
Due: eslint --fix

Feat(usePreference): Throw an error if use outisde right context
  docs/Configurable.md
  docs/Reference.md
  packages/ra-core/src/preferences/usePreference.ts
  packages/ra-ui-materialui/src/preferences/Configurable.stories.tsx
Due: eslint --fix, prettier

Fix(input) Refactor date and time input handling
  packages/ra-ui-materialui/src/input/DateInput.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
Due: eslint --fix

Make create-react-admin usable in non-interactive mode
  packages/create-react-admin/src/ProjectState.ts
  packages/create-react-admin/src/StepAuthProvider.tsx
  packages/create-react-admin/src/StepDataProvider.tsx
  packages/create-react-admin/src/StepInstall.tsx
  packages/create-react-admin/src/app.tsx
  packages/create-react-admin/src/cli.tsx
Due: eslint --fix

fix autocomplete sets previous value using onInputChange
  docs/AutocompleteInput.md
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix, prettier

Ensure type consistency between `WithRecord` and `FunctionField`
  packages/ra-core/src/controller/record/WithRecord.tsx
Due: eslint --fix

Fix ResettableTextField size prop can't be overridden
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Closes #9546; fixes hardcoded TextField size prop
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Applied suggestions
  packages/ra-ui-materialui/src/input/ResettableTextField.tsx
Due: eslint --fix

Run prettier
  packages/ra-core/src/controller/record/WithRecord.tsx
Due: eslint --fix

fix menuitemlink type for anchor tag
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

apply review
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

Remove debug code
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

add a story to test custom notification message on server side validation
  packages/ra-ui-materialui/src/form/SimpleForm.stories.tsx
Due: eslint --fix

doc: document how to customize the message in the notification popover, in server side validation
  docs/Validation.md
Due: prettier

improve MarkdownField doc to fit EE doc
  docs/MarkdownField.md
Due: prettier

style: narrowing ReactQueryDevtools button
  examples/simple/assets/app.css
  examples/simple/src/Layout.tsx
Due: eslint --fix, prettier

add a comment to explain the addition of a css rule needed to customize ReactQueryDevtools button size
  examples/simple/assets/app.css
Due: prettier

fix: merge InputProps so Autocomplete still works
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

fix: do not merge TextFieldProps.InputProps if TextFieldProps.InputProps does not exist
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Due: eslint --fix

Improved theming configurations with the use of deepmerge and createTheme Updated docs
  docs/AppTheme.md
  packages/ra-ui-materialui/src/theme/ThemeProvider.tsx
  packages/ra-ui-materialui/src/theme/defaultTheme.ts
Due: eslint --fix, prettier

fix union of types
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
Due: eslint --fix

make story more beautiful
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

[no ci] [Doc] Better document `<ReferenceOneField emptyText>` prop
  docs/ReferenceOneField.md
Due: prettier

Revert "fix: SelectArrayInput does not use recordRepresentation"
  packages/ra-ui-materialui/src/input/SelectArrayInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

changelog for v4.16.5
  CHANGELOG.md
Due: prettier

doc: added a screencast and a section to demonstrate headers pinning feature
  docs/Datagrid.md
  docs/img/datagrid-headers-pinning.mp4
Due: prettier

[Doc] Fix Datagrid video url
  docs/Datagrid.md
Due: prettier

v4.16.5
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update docs for v4.16.5
  Configurable.md
  Datagrid.md
  MarkdownField.md
  Reference.md
  ReferenceOneField.md
  _data/versions.yml
  doc/4.16/Configurable.md
  doc/4.16/Datagrid.md
  doc/4.16/MarkdownField.md
  doc/4.16/Reference.md
  doc/4.16/ReferenceOneField.md
Due: prettier

Fix typo
  docs/Edit.md
Due: prettier

Upgrade vite dependencies
  examples/crm/package.json
  examples/crm/vite.config.ts
  examples/demo/package.json
  examples/demo/vite.config.ts
  examples/no-code/package.json
  examples/simple/package.json
  examples/simple/vite.config.js
  examples/simple/vite.config.ts
  examples/tutorial/package.json
  yarn.lock
Due: eslint --fix, prettier

Add lookupSource to ReferenceInput
  packages/ra-core/src/controller/input/useReferenceInputController.ts
Due: eslint --fix

stopPropagation() on DataGrid
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Datagrid.md
Due: prettier

Fix node types
  examples/demo/package.json
  packages/create-react-admin/src/generateProject.ts
  packages/ra-core/package.json
  yarn.lock
Due: eslint --fix, prettier
