Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update Changelog for 5.3.1
  CHANGELOG.md
Due: prettier

warn against using shouldUnregister with ArrayInput in the docs
  docs/ArrayInput.md
  docs/Forms.md
  docs/Inputs.md
Due: prettier

Add a story for issue with ArrayInput dynamically added inputs with shouldUnregister in React.StrictMode
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

[no ci] revert imports order change
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

fix issue (and improve story)
  packages/ra-core/src/form/useAugmentedForm.ts
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.stories.tsx
Due: eslint --fix

v5.3.1
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-localforage/package.json
  packages/ra-data-localstorage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

Update yarn.lock for 5.3.1
  yarn.lock
Due: none

Fix test that was converted to story incorrectly
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
Due: eslint --fix

Revert unnecessary change
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix DateInput messes up dates in some timezones
  packages/ra-core/src/form/getSimpleValidationResolver.ts
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Clean up tests
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

Add a story for onChange validation mode
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

Simplify and uniformize
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix TS error
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Don't trigger onChange unnecessarily
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix stories
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Add more comments and tests
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix

Fix typo
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

[Doc] Fix typo in TabbedForm and TabbedShowLayout
  docs/TabbedForm.md
  docs/TabbedShowLayout.md
Due: prettier

[DOC] Add missing parameter in NextJs
  docs/NextJs.md
Due: prettier

Re-fix typo
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
Due: eslint --fix

Fix ReferenceField link is wrong when the record is not yet loaded
  packages/ra-core/src/routing/useGetPathForRecord.spec.tsx
  packages/ra-core/src/routing/useGetPathForRecord.stories.tsx
  packages/ra-core/src/routing/useGetPathForRecord.ts
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
Due: eslint --fix

Improve test
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
Due: eslint --fix

Leverage canAccess in CRM demo
  examples/crm/package.json
  examples/crm/src/layout/Header.tsx
  examples/crm/src/login/SignupPage.tsx
  examples/crm/src/providers/commons/canAccess.ts
  examples/crm/src/providers/fakerest/authProvider.ts
  examples/crm/src/sales/SalesCreate.tsx
  examples/crm/src/sales/SalesEdit.tsx
  examples/crm/src/sales/SalesList.tsx
  yarn.lock
Due: eslint --fix, prettier

Add unit test
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.stories.tsx
Due: eslint --fix

Fix undo logic not working when doing multiple deletions one by one
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/core/CoreAdminContext.tsx
  packages/ra-core/src/dataProvider/index.ts
  packages/ra-core/src/dataProvider/undo/AddUndoableMutationContext.tsx
  packages/ra-core/src/dataProvider/undo/TakeUndoableMutationContext.tsx
  packages/ra-core/src/dataProvider/undo/UndoableMutationsContextProvider.tsx
  packages/ra-core/src/dataProvider/undo/index.ts
  packages/ra-core/src/dataProvider/undo/types.ts
  packages/ra-core/src/dataProvider/undo/useAddUndoableMutation.tsx
  packages/ra-core/src/dataProvider/undo/useTakeUndoableMutation.tsx
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDelete.undoable.stories.tsx
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
  packages/ra-ui-materialui/src/detail/Edit.spec.tsx
  packages/ra-ui-materialui/src/layout/Notification.tsx
Due: eslint --fix

[no ci] [Doc] Fix links to react-dropzone doc pages
  docs/FileInput.md
  docs/ImageInput.md
Due: prettier

Fix DateInput ignores the timezone when given
  docs/DateInput.md
  packages/ra-ui-materialui/src/input/DateInput.spec.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
Due: eslint --fix, prettier

Avoid calling the dataProvider for each canAccess calls
  examples/crm/src/providers/fakerest/authProvider.ts
Due: eslint --fix

Revert now useless change
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Remove deprecated 'initialValue' from sanitizeInputRestProps
  packages/ra-ui-materialui/src/input/sanitizeInputRestProps.ts
Due: eslint --fix

Fix `<SimpleList>` throws an error when no data in standalone mode
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.stories.tsx
Due: eslint --fix

Use call time meta when provided
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix linter warning
  packages/ra-ui-materialui/src/layout/Notification.spec.tsx
Due: eslint --fix

Update packages/ra-core/src/dataProvider/undo/index.ts
  packages/ra-core/src/dataProvider/undo/index.ts
Due: eslint --fix

Fix `<Edit>` ignores mutation meta when updating the `getOne` cache
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Add files via upload
  docs/img/eicrud.svg
Due: none

[no ci] Update docs/StackedFilters.md
  docs/StackedFilters.md
Due: prettier

Update DataProviderList.md
  docs/DataProviderList.md
Due: prettier

Delete docs/img/eicrud.svg
  docs/img/eicrud.svg
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
