Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix side effects
  packages/ra-core/src/controller/button/useDeleteWithConfirmController.tsx
  packages/ra-core/src/controller/button/useDeleteWithUndoController.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Fix side effects management in useEditController
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Fix e2e tests
  cypress/e2e/list.cy.js
  cypress/e2e/mobile.cy.js
  cypress/support/CustomFormPage.js
  cypress/support/ListPage.js
  examples/simple/src/Layout.tsx
  examples/simple/src/authProvider.tsx
  examples/simple/src/dataProvider.tsx
  examples/simple/src/index.tsx
  examples/simple/src/posts/PostCreate.tsx
  examples/simple/src/posts/PostEdit.tsx
  examples/simple/src/queryClient.ts
  examples/simple/src/users/UserCreate.tsx
  examples/simple/src/users/UserEdit.tsx
  examples/simple/src/users/UserList.tsx
  examples/simple/src/users/UserShow.tsx
Due: eslint --fix

Fix lint error
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Fix unstable test
  packages/ra-ui-materialui/src/list/filter/FilterForm.spec.tsx
Due: eslint --fix

Stabilize more tests
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
Due: eslint --fix

Cleanup some test logs
  packages/ra-core/src/controller/edit/useEditController.spec.tsx
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/dataProvider/useUpdate.spec.tsx
  packages/ra-core/src/form/FormDataConsumer.spec.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.spec.tsx
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.tsx
Due: eslint --fix

Add upgrade guide
  docs/Upgrade.md
Due: prettier

Explain side effects handling in useEditController
  packages/ra-core/src/controller/edit/useEditController.ts
Due: eslint --fix

Fix form props
  packages/ra-core/src/form/Form.tsx
  packages/ra-core/src/form/useAugmentedForm.ts
Due: eslint --fix

Fix simple example
  examples/simple/package.json
  examples/simple/src/customRouteLayout.tsx
  examples/simple/src/posts/PostList.tsx
  examples/simple/src/posts/ResetViewsButton.tsx
  examples/simple/tsconfig.json
Due: eslint --fix, prettier

Fix simple example build for e2e
  examples/simple/package.json
Due: prettier

Upgrade to yarn v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

Disable HardenedMode
  .yarnrc.yml
Due: none

Use node 18 in GH Actions
  .github/workflows/test.yml
Due: none

Remove unnecessary comment
  packages/ra-core/src/auth/useGetIdentity.ts
Due: eslint --fix

Revert unnecessary breaking changes
  packages/ra-core/src/auth/index.ts
  packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/auth/usePermissions.ts
  packages/ra-core/src/auth/usePermissionsOptimized.ts
Due: eslint --fix

Simplify useHandleAuthCallback tests
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
Due: eslint --fix

Fix auth hooks and components
  packages/ra-core/src/auth/Authenticated.spec.tsx
  packages/ra-core/src/auth/Authenticated.tsx
  packages/ra-core/src/auth/addRefreshAuthToAuthProvider.spec.ts
  packages/ra-core/src/auth/useAuthState.spec.tsx
  packages/ra-core/src/auth/useAuthState.ts
  packages/ra-core/src/auth/useGetIdentity.ts
  packages/ra-core/src/auth/useGetPermissions.ts
  packages/ra-core/src/auth/useHandleAuthCallback.spec.tsx
  packages/ra-core/src/auth/useHandleAuthCallback.ts
  packages/ra-ui-materialui/src/auth/Logout.spec.tsx
  packages/ra-ui-materialui/src/auth/Logout.tsx
Due: eslint --fix

Simplify simple example layout
  examples/simple/src/Layout.tsx
Due: eslint --fix

Move side effect handling to useUpdate
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
Due: eslint --fix

Fix tests
  packages/ra-core/src/form/useUnique.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/SaveButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
Due: eslint --fix

Avoid authProvider changes
  examples/simple/src/authProvider.tsx
Due: eslint --fix

Wrap user onSuccess and onError in useEvent
  packages/ra-core/src/dataProvider/useGetList.ts
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Cleanup useUpdate
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

Handle side effects in useUpdateMany
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Due: eslint --fix

Handle side effects in useDeleteMany & useDelete
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
Due: eslint --fix

Move side effects at declaration time on useCreateController
  packages/ra-core/src/controller/create/useCreateController.spec.tsx
  packages/ra-core/src/controller/create/useCreateController.ts
Due: eslint --fix

Handle side effects in useCreate
  packages/ra-core/src/dataProvider/useCreate.ts
Due: eslint --fix

Stabilize tests
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Format
  packages/ra-core/src/dataProvider/useDelete.ts
Due: eslint --fix

Cleanup useInfiniteListController
  packages/ra-core/src/controller/list/useInfiniteListController.ts
Due: eslint --fix

Apply review suggestions
  packages/ra-ui-materialui/src/list/pagination/PaginationActions.tsx
Due: eslint --fix

Fix side effects are executed twice on update
  packages/ra-core/src/dataProvider/useUpdate.ts
Due: eslint --fix

limit react-router version to 6.18.0
  packages/ra-core/package.json
  packages/react-admin/package.json
Due: prettier

also replace in demos and ra-ui-materialui
  examples/crm/package.json
  examples/demo/package.json
  examples/simple/package.json
  packages/ra-core/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
Due: prettier

force version to 6.3.0 in devDeps to make sure warnWhenUnsavedChanges works
  packages/ra-core/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

use react-router 6.18 for all demos
  packages/ra-core/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  yarn.lock
Due: prettier

add a story to demonstrate a custome light and dark theme
  packages/ra-ui-materialui/src/theme/themePriority.stories.tsx
Due: eslint --fix

add JSdoc to explain priority
  packages/ra-ui-materialui/src/AdminContext.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
