Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Apply suggestions from code review
  docs/Datagrid.md
  docs/List.md
  docs/useCanAccess.md
  packages/ra-core/src/auth/useCanAccess.ts
Due: eslint --fix, prettier

Better variable naming in Datagrid
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
Due: eslint --fix

Use "export" as the action for useExporter
  docs/List.md
  packages/ra-core/src/export/useExporter.ts
Due: eslint --fix, prettier

Fix Authentication canAccess description
  docs/Authentication.md
Due: prettier

Fix documentation
  docs/useCanAccess.md
  docs/useCanAccessRecordSources.md
  docs/useCanAccessResources.md
Due: prettier

Fix useCanAccessResources jsDoc example
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

Fix useCanAccessCallback
  docs/useCanAccessCallback.md
  packages/ra-core/src/auth/useCanAccessCallback.spec.tsx
  packages/ra-core/src/auth/useCanAccessCallback.stories.tsx
  packages/ra-core/src/auth/useCanAccessCallback.ts
  packages/ra-core/src/export/useExporter.ts
Due: eslint --fix, prettier

Fix more jsDoc
  packages/ra-core/src/auth/useCanAccess.ts
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

change dictionaries to have a no fund message without filters
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix

display no fund message without filters
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
Due: eslint --fix

fix tests with new messages
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
Due: eslint --fix

Make useCanAccess hooks results more useful
  packages/ra-core/src/auth/useCanAccess.ts
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

Check no error is shown in tests
  packages/ra-core/src/auth/useCanAccess.spec.tsx
Due: eslint --fix

Update useCanAccessResources comment
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

simplify tests
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
Due: eslint --fix

Better useCanAccessCallback signature (accept mutationOptions)
  packages/ra-core/src/auth/useCanAccessCallback.ts
Due: eslint --fix

align filters
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
Due: eslint --fix

remove useless import
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

rename hiddenFilters to allTogglableFilters
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
Due: eslint --fix

remove useless input focus
  packages/ra-ui-materialui/src/list/filter/FilterButton.tsx
Due: eslint --fix

Fix useCanAccessCallback params
  packages/ra-core/src/auth/useCanAccessCallback.ts
Due: eslint --fix

fix checkbox tests
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

add forgotten space
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
Due: eslint --fix

test the "clear filters" button
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.spec.tsx
Due: eslint --fix

test that "remove this filter" uncheck the filter
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

test that uncheck makes input disapear + hide useless console error
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Better useCanAccessCallback example
  docs/useCanAccessCallback.md
  packages/ra-core/src/auth/useCanAccessCallback.ts
Due: eslint --fix, prettier

Add optimized story
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.stories.tsx
Due: eslint --fix

Rename tests
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Fix button display logic
  packages/ra-core/src/i18n/TranslationMessages.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/list/ListNoResults.spec.tsx
  packages/ra-ui-materialui/src/list/ListNoResults.stories.tsx
  packages/ra-ui-materialui/src/list/ListNoResults.tsx
Due: eslint --fix

Fix typo
  packages/ra-ui-materialui/src/list/ListNoResults.spec.tsx
Due: eslint --fix

fix component name
  packages/ra-ui-materialui/src/list/List.stories.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/list/ListNoResults.stories.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/Datagrid.md
  docs/useCanAccessResources.md
  packages/ra-core/src/auth/useCanAccessCallback.ts
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix, prettier

Fix useCanAccessCallback documentation
  docs/useCanAccessCallback.md
Due: prettier

Simplify useCanAccessCallback tests
  packages/ra-core/src/auth/useCanAccessCallback.spec.tsx
Due: eslint --fix

Refactor useExporter
  packages/ra-core/src/export/useExporter.ts
Due: eslint --fix

Simplify useListController stories
  packages/ra-core/src/controller/list/useListController.accessControl.stories.tsx
Due: eslint --fix

Fix Datagrid documentation example
  docs/Datagrid.md
Due: prettier

Remove unnecessary translation keys
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
