Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Revert change on useGetPathForRecord and explain in comments
  packages/ra-core/src/routing/useGetPathForRecord.ts
Due: eslint --fix

Remove the error
  packages/ra-core/src/core/NavigateToFirstResource.tsx
Due: eslint --fix

[Doc] Overhaul Auth introduction and auth provider writing chapters
  docs/AuthProviderWriting.md
  docs/Authentication.md
  docs/img/login-form.png
  docs/img/logout.mp4
Due: prettier

Reorganize auth doc
  docs/Authentication.md
  docs/CanAccess.md
  docs/Permissions.md
  docs/Reference.md
  docs/navigation.html
  docs/useAuthProvider.md
  docs/useAuthState.md
  docs/useAuthenticated.md
  docs/useCanAccess.md
  docs/useCanAccessCallback.md
  docs/useCanAccessResources.md
  docs/useLogin.md
  docs/useLogout.md
  docs/useRequireAccess.md
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix, prettier

Fix Admin authenticationError documentation
  docs/Admin.md
Due: prettier

Make authProvider.getPermissions optional
  packages/ra-core/src/auth/useGetPermissions.ts
  packages/ra-core/src/auth/usePermissions.spec.tsx
  packages/ra-core/src/auth/usePermissions.stories.tsx
  packages/ra-core/src/auth/usePermissions.ts
  packages/ra-core/src/types.ts
Due: eslint --fix

Cleanup
  packages/ra-core/src/auth/usePermissions.stories.tsx
  packages/ra-core/src/auth/usePermissions.ts
Due: eslint --fix

Add story and screencast
  docs/Permissions.md
  docs/img/AccessControl.mp4
  packages/react-admin/src/Admin.stories.tsx
Due: eslint --fix, prettier

Introduce useIsAuthPending
  packages/ra-core/src/auth/index.ts
  packages/ra-core/src/auth/useIsAuthPending.ts
Due: eslint --fix

Ensure List check auth states pessimistically
  packages/ra-core/src/controller/list/ListBase.tsx
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

Ensure InfiniteList check auth states pessimistically
  packages/ra-core/src/controller/list/InfiniteListBase.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.tsx
Due: eslint --fix

Ensure Create check auth states pessimistically
  packages/ra-core/src/controller/create/CreateBase.tsx
  packages/ra-ui-materialui/src/detail/Create.tsx
Due: eslint --fix

Ensure Edit check auth states pessimistically
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
Due: eslint --fix

Ensure Show check auth states pessimistically
  packages/ra-core/src/controller/show/ShowBase.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
Due: eslint --fix

[Doc] Update requireAuth explanation
  docs/Admin.md
  docs/Authentication.md
Due: prettier

[doc] Clarify that `getPermissions` is now optional
  docs/AuthProviderWriting.md
  docs/Authentication.md
Due: prettier

Proofreading
  docs/Authentication.md
  docs/CustomRoutes.md
  docs/Permissions.md
Due: prettier

Ensure devs can provide their own loading
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-ui-materialui/src/detail/Create.tsx
  packages/ra-ui-materialui/src/detail/Edit.tsx
  packages/ra-ui-materialui/src/detail/Show.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.tsx
  packages/ra-ui-materialui/src/list/List.tsx
Due: eslint --fix

Ensure a ResourceContext is added only when needed
  packages/ra-core/src/controller/create/CreateBase.tsx
  packages/ra-core/src/controller/edit/EditBase.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.tsx
  packages/ra-core/src/controller/list/ListBase.tsx
  packages/ra-core/src/controller/show/ShowBase.tsx
Due: eslint --fix

Fix Resource documentation
  docs/Resource.md
Due: prettier

Fix missing export
  packages/ra-core/src/core/index.ts
Due: eslint --fix

Remove links to deleted chapters
  docs/AuthRBAC.md
  docs/Features.md
  docs/Reference.md
Due: prettier

Fix typo
  docs/useAuthenticated.md
Due: prettier

Proofreading
  docs/useCanAccess.md
Due: prettier

Add stories and tests for ListBase
  packages/ra-core/src/controller/list/ListBase.spec.tsx
  packages/ra-core/src/controller/list/ListBase.stories.tsx
Due: eslint --fix

Add stories and tests for InfiniteListBase
  packages/ra-core/src/controller/list/InfiniteListBase.spec.tsx
  packages/ra-core/src/controller/list/InfiniteListBase.stories.tsx
Due: eslint --fix

Fix useAuthState is optimistic
  packages/ra-core/src/auth/useAuthState.spec.tsx
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Fix mention of optimistic default auth
  docs/AuthRBAC.md
Due: prettier

Add message to future me
  packages/ra-core/src/core/CoreAdminRoutes.tsx
Due: eslint --fix

Update docs/CustomRoutes.md
  docs/CustomRoutes.md
Due: prettier

Fix type
  packages/ra-core/src/auth/useAuthState.ts
Due: eslint --fix

Fix useCanAccessResources should not log out on error
  packages/ra-core/src/auth/useCanAccessResources.ts
Due: eslint --fix

Add stories and tests for Create
  packages/ra-core/src/controller/create/CreateBase.spec.tsx
  packages/ra-core/src/controller/create/CreateBase.stories.tsx
Due: eslint --fix

Fix useCreateController isPending is always true if disableAuthentication is set
  packages/ra-core/src/controller/create/useCreateController.ts
Due: eslint --fix

Add stories and tests for Edit
  packages/ra-core/src/controller/edit/EditBase.spec.tsx
  packages/ra-core/src/controller/edit/EditBase.stories.tsx
Due: eslint --fix

Add stories and tests for Show
  packages/ra-core/src/controller/show/ShowBase.spec.tsx
  packages/ra-core/src/controller/show/ShowBase.stories.tsx
Due: eslint --fix

Fix new auth error pages can't be overridden
  packages/ra-core/src/core/CoreAdmin.tsx
  packages/ra-ui-materialui/src/AdminUI.tsx
  packages/react-admin/src/Admin.tsx
Due: eslint --fix

Ensure dashboard waits for all auth calls resolutions
  packages/ra-core/src/auth/WithPermissions.stories.tsx
  packages/ra-core/src/auth/WithPermissions.tsx
  packages/ra-core/src/core/CoreAdminRoutes.tsx
Due: eslint --fix

Fix message key
  packages/ra-core/src/i18n/TranslationMessages.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/layout/AccessDenied.tsx
Due: eslint --fix

Support 'labelRowsPerPage' prop on Pagination
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
Due: eslint --fix
