Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update the documentation for version 5.8.1
  SelectArrayInput.md
  SelectInput.md
  _data/versions.yml
  doc/5.8/SelectArrayInput.md
  doc/5.8/SelectInput.md
  doc/5.8/js/ra-doc-exec.js
  js/ra-doc-exec.js
Due: eslint --fix, prettier

[no ci] [Doc] Document how to pass extra options to create-react-admin when using npm create
  docs/CreateReactAdmin.md
Due: prettier

feat: add emptyText prop to SelectArrayInput component
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

docs: add documentation for custom field components with defaultProps
  docs/CustomFields.md
Due: prettier

fix: remove misspelled unused parameters from sanitizeRestProps in SelectArrayInput
  packages/ra-ui-materialui/src/input/SelectArrayInput.tsx
Due: eslint --fix

Fix outlined inputs when label is false
  packages/ra-ui-materialui/src/form/SimpleForm.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
  packages/ra-ui-materialui/src/input/DateInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateInput.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.stories.tsx
  packages/ra-ui-materialui/src/input/DateTimeInput.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.stories.tsx
  packages/ra-ui-materialui/src/input/NullableBooleanInput.tsx
  packages/ra-ui-materialui/src/input/NumberInput.stories.tsx
  packages/ra-ui-materialui/src/input/NumberInput.tsx
  packages/ra-ui-materialui/src/input/TimeInput.stories.tsx
  packages/ra-ui-materialui/src/input/TimeInput.tsx
  packages/ra-ui-materialui/src/input/inputs.stories.tsx
Due: eslint --fix

[Doc] Fix remaining `<AutocompleteInput>` and `<SelectInput>` `create` examples
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
Due: eslint --fix, prettier

fix simpleformiterator
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.spec.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.stories.tsx
  packages/ra-ui-materialui/src/input/ArrayInput/SimpleFormIterator.tsx
Due: eslint --fix

fix selectarrayinput
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
Due: eslint --fix

fix useReferenceInputController
  packages/ra-core/src/controller/input/useReferenceInputController.spec.tsx
Due: eslint --fix

fix FilterButton (flaky)
  packages/ra-ui-materialui/src/list/filter/FilterButton.spec.tsx
Due: eslint --fix

Revert "yarn up rhf"
  examples/simple/package.json
  packages/ra-core/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

yarn dedupe
  yarn.lock
Due: none

[cli] Make flag override every options
  packages/create-react-admin/src/cli.tsx
Due: eslint --fix

Add offline message to ReferenceField
  packages/ra-core/src/controller/useReference.ts
  packages/ra-language-english/src/index.ts
  packages/ra-language-french/src/index.ts
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Due: eslint --fix

Add offline support to list components
  packages/ra-core/src/dataTable/DataTableBase.tsx
  packages/ra-ui-materialui/src/Offline.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/ListView.tsx
  packages/ra-ui-materialui/src/list/SimpleList/SimpleList.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.stories.tsx
  packages/ra-ui-materialui/src/list/SingleFieldList.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTable.tsx
  packages/ra-ui-materialui/src/list/index.ts
Due: eslint --fix

Add offline support to reference components
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Add offline support to details components
  packages/ra-core/src/controller/edit/useEditController.ts
  packages/ra-core/src/controller/field/useReferenceOneFieldController.tsx
  packages/ra-core/src/controller/show/useShowController.ts
  packages/ra-ui-materialui/src/detail/EditView.tsx
  packages/ra-ui-materialui/src/detail/ShowView.tsx
  packages/ra-ui-materialui/src/layout/Title.tsx
Due: eslint --fix

Fix tests and stories
  packages/ra-core/src/controller/useReference.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.spec.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
  packages/ra-ui-materialui/src/input/InPlaceEditor/InPlaceEditor.spec.tsx
Due: eslint --fix

Use Offline everywhere
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyCount.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.tsx
Due: eslint --fix

Add support for offline in Reference inputs
  packages/ra-core/src/controller/input/ReferenceInputBase.tsx
  packages/ra-core/src/controller/input/useReferenceArrayInputController.ts
  packages/ra-core/src/controller/input/useReferenceInputController.ts
  packages/ra-core/src/form/choices/ChoicesContext.ts
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceArrayInput.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.tsx
Due: eslint --fix

Remove obsolete comments
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.spec.tsx
Due: eslint --fix

Fix `useInfiniteListController` does not return response `meta`
  packages/ra-core/src/controller/list/useInfiniteListController.spec.tsx
  packages/ra-core/src/controller/list/useInfiniteListController.ts
  packages/ra-core/src/controller/list/useListController.spec.tsx
  packages/ra-core/src/dataProvider/useInfiniteGetList.ts
Due: eslint --fix

Add documentation
  docs/DataTable.md
  docs/Datagrid.md
  docs/Edit.md
  docs/ReferenceArrayInput.md
  docs/ReferenceField.md
  docs/ReferenceInput.md
  docs/ReferenceManyCount.md
  docs/ReferenceOneField.md
  docs/Show.md
Due: prettier

fix leaking test
  packages/ra-core/src/controller/list/useListController.spec.tsx
Due: eslint --fix

Fix documentation
  docs/DataProviders.md
  docs/ReferenceArrayInput.md
  docs/ReferenceField.md
  docs/ReferenceInput.md
  docs/ReferenceManyCount.md
  docs/ReferenceOneField.md
Due: prettier

Improve EditView types
  packages/ra-ui-materialui/src/detail/EditView.tsx
Due: eslint --fix

Fix AutocompleteInput optionValue with create raises a React warning
  packages/ra-core/src/form/choices/useChoices.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
Due: eslint --fix

Fix lint
  cypress/support/index.js
Due: eslint --fix

[skip ci] divide by two the example size
  docs/assets/tips.md_ignore
Due: none

[skip ci] fix typo
  docs/assets/tips.md_ignore
Due: none

v5.8.2
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update changelog for version 5.8.2
  CHANGELOG.md
Due: prettier

Update the documentation for version 5.8.2
  AutocompleteArrayInput.md
  AutocompleteInput.md
  CreateReactAdmin.md
  SelectArrayInput.md
  SelectInput.md
  _data/versions.yml
  assets/tips.md_ignore
  doc/5.8/AutocompleteArrayInput.md
  doc/5.8/AutocompleteInput.md
  doc/5.8/CreateReactAdmin.md
  doc/5.8/SelectArrayInput.md
  doc/5.8/SelectInput.md
Due: prettier

[chore] Remove greenframe CI job
  .github/workflows/test.yml
Due: none

Add RecordField component
  docs/RecordField.md
  docs/Reference.md
  docs/_includes/navigation.html
  docs/img/RecordField.png
  examples/simple/src/comments/CommentShow.tsx
  packages/ra-ui-materialui/src/field/RecordField.stories.tsx
  packages/ra-ui-materialui/src/field/RecordField.tsx
  packages/ra-ui-materialui/src/field/index.ts
Due: eslint --fix, prettier

[Doc] Update component documentation for List, Datagrid, and Pagination
  packages/ra-ui-materialui/src/list/List.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
Due: eslint --fix

docs: agrega comentarios de funcionalidad y patrones de diseño en Datagrid, List y Pagination
  packages/ra-no-code/src/builders/List.tsx
  packages/ra-ui-materialui/src/list/datagrid/Datagrid.tsx
  packages/ra-ui-materialui/src/list/pagination/Pagination.tsx
Due: eslint --fix

Fix build
  packages/ra-ui-materialui/src/field/RecordField.tsx
Due: eslint --fix

Apply suggestions from code review
  docs/DataProviders.md
  docs/Edit.md
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
