Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Apply review
  docs/Admin.md
  docs/BooleanInput.md
  docs/CheckboxGroupInput.md
  docs/ChipField.md
  docs/CreateEdit.md
  docs/EmailField.md
  docs/FileInput.md
  docs/NullableBooleanInput.md
  docs/RadioButtonGroupInput.md
  docs/ReferenceArrayField.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
  docs/UrlField.md
Due: prettier

Update docs/ReferenceArrayInput.md
  docs/ReferenceArrayInput.md
Due: prettier

Update docs/ReferenceInput.md
  docs/ReferenceInput.md
Due: prettier

Add sx prop to LoadingIndicator
  packages/ra-ui-materialui/src/layout/LoadingIndicator.tsx
Due: eslint --fix

Fix loading indicator positioning in CRM toolbar's project
  examples/crm/src/Header.tsx
Due: eslint --fix

Improve fix
  examples/crm/src/Header.tsx
Due: eslint --fix

Move common props from ReferenceInputs to its children
  examples/crm/src/companies/CompanyCreate.tsx
  examples/crm/src/companies/CompanyEdit.tsx
  examples/crm/src/deals/DealCreate.tsx
  examples/demo/src/products/ProductEdit.tsx
  examples/simple/src/posts/PostCreate.tsx
  examples/simple/src/posts/PostEdit.tsx
Due: eslint --fix

Fix get resource from context
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Fix Filter Element Make List Unusable
  packages/ra-ui-materialui/src/list/filter/Filter.spec.tsx
  packages/ra-ui-materialui/src/list/filter/Filter.tsx
Due: eslint --fix

Apply review
  examples/crm/src/deals/DealCreate.tsx
Due: eslint --fix

Fix Wrong Default Value Handling in FilterForm
  UPGRADE.md
  packages/ra-ui-materialui/src/list/filter/FilterForm.tsx
  packages/ra-ui-materialui/src/list/filter/FilterFormInput.tsx
Due: eslint --fix, prettier

ondropFix potential syntax error
  packages/ra-core/src/store/localStorageStore.ts
Due: eslint --fix

Update upgrade guide for ArrayField
  UPGRADE.md
Due: prettier

Fix BulkUpdateButton color
  packages/ra-ui-materialui/src/button/BulkUpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateWithUndoButton.tsx
Due: eslint --fix

Fix doc navigation in v4
  doc/4.0/navigation.html
Due: none

Fix doc navigation
  docs/Tutorial.md
  docs/_layouts/default.html
  docs/navigation.html
Due: prettier

Fix font family
  docs/css/style-v11.css
Due: prettier

Fix sidenav font
  css/style-v11.css
Due: prettier

Remove margin prop
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
Due: eslint --fix

Update styling examples
  docs/CreateEdit.md
  docs/Tutorial.md
Due: prettier

Revert change
  docs/CreateEdit.md
Due: prettier

Fix tests
  packages/ra-ui-materialui/src/input/ArrayInput/ArrayInput.tsx
Due: eslint --fix

Try and fix right menu
  _layouts/default.html
Due: none

fix liquid warnings in doc
  docs/CreateEdit.md
Due: prettier

Fix FilterButtonMenuItem Props
  packages/ra-ui-materialui/src/list/filter/FilterButtonMenuItem.tsx
Due: eslint --fix

Add useFormGroup upgrade guide
  UPGRADE.md
  docs/CreateEdit.md
  packages/ra-core/src/form/useFormGroup.ts
Due: eslint --fix, prettier

Update docs/CreateEdit.md
  docs/CreateEdit.md
Due: prettier

[Doc] Fix syntax highlighting fails on AJAX navigation
  docs/css/style-v11.css
  docs/navigation.html
Due: prettier

[Demo] Fix Review edition
  examples/demo/src/reviews/ReviewEdit.tsx
  examples/demo/src/reviews/StarRatingField.tsx
Due: eslint --fix

Fix syntax highlighting on Ajax reload
  css/style-v11.css
  doc/4.0/navigation.html
Due: prettier

Add translateOptions prop to DeleteWithConfirmButton
  docs/Buttons.md
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
Due: eslint --fix, prettier

Improve docs
  docs/Buttons.md
Due: prettier

add datagrid documentation
  docs/Datagrid.md
Due: prettier

Remove obsolete pristine and invalid props
  packages/ra-ui-materialui/src/button/Button.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
Due: eslint --fix

Fix table
  docs/Buttons.md
Due: prettier

Fix import in docs
  docs/Buttons.md
Due: prettier

Improve type in docs
  docs/Buttons.md
Due: prettier
