Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

Create a CSS variable that is passed in props to the child component
  examples/demo/src/layout/SubMenu.tsx
Due: eslint --fix

Use the style props to style the sidebar
  examples/demo/src/layout/Menu.tsx
Due: eslint --fix

Define style in props and pass it to child component
  examples/demo/src/layout/SubMenu.tsx
Due: eslint --fix

fix linting error
  examples/demo/src/layout/Menu.tsx
Due: eslint --fix

Remove a CSS style from SubMenu
  examples/demo/src/layout/SubMenu.tsx
Due: eslint --fix

Remove unnecessary "else"
  packages/ra-core/src/dataProvider/cacheDataProviderProxy.ts
  packages/ra-core/src/dataProvider/useDataProvider.ts
  packages/ra-core/src/dataProvider/useDataProviderWithDeclarativeSideEffects.ts
Due: eslint --fix

Force submit buttons to be enable when running cypress tests.
  cypress/integration/create.js
  cypress/support/CreatePage.js
Due: eslint --fix

recompose.shouldUpdate incorrectly converted to react.memo
  packages/ra-ui-materialui/src/button/CloneButton.tsx
  packages/ra-ui-materialui/src/button/ShowButton.tsx
  packages/ra-ui-materialui/src/list/DatagridHeaderCell.js
Due: eslint --fix

Passing integration tests.
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
  packages/ra-ui-materialui/src/field/FunctionField.tsx
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
Due: eslint --fix

Prepare changelog for v3.5.1
  CHANGELOG.md
Due: prettier

v3.5.1
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update docs to v3.5.1
  Caching.md
  CreateEdit.md
  DataProviders.md
  Fields.md
  Inputs.md
  List.md
  _data/versions.yml
  doc/3.5/Caching.md
  doc/3.5/CreateEdit.md
  doc/3.5/DataProviders.md
  doc/3.5/Fields.md
  doc/3.5/Inputs.md
  doc/3.5/List.md
  doc/3.5/img/reference-array-field.png
  doc/3.5/img/reference-field.png
  doc/3.5/img/reference-many-field-datagrid.png
  doc/3.5/img/reference-many-field-single-field-list.png
  doc/3.5/img/rich-text-field.png
  img/reference-array-field.png
  img/reference-field.png
  img/reference-many-field-datagrid.png
  img/reference-many-field-single-field-list.png
  img/rich-text-field.png
Due: prettier

Add support for download, rel, and ping attributes in FileField
  docs/Fields.md
  packages/ra-ui-materialui/src/field/FileField.tsx
Due: eslint --fix, prettier

[Doc] Fix outdated mention of function default value for inputs
  docs/CreateEdit.md
Due: prettier

Fix previous / next pagination
  docs/List.md
Due: prettier

Minor doc tweaks
  docs/FAQ.md
  docs/css/style-v4.css
  docs/navigation.html
Due: prettier

Removed Enhanced components.
  packages/ra-ui-materialui/src/field/ArrayField.spec.js
  packages/ra-ui-materialui/src/field/ArrayField.tsx
  packages/ra-ui-materialui/src/field/BooleanField.spec.js
  packages/ra-ui-materialui/src/field/BooleanField.tsx
  packages/ra-ui-materialui/src/field/ChipField.spec.js
  packages/ra-ui-materialui/src/field/ChipField.tsx
  packages/ra-ui-materialui/src/field/DateField.spec.js
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/field/EmailField.tsx
  packages/ra-ui-materialui/src/field/FunctionField.tsx
  packages/ra-ui-materialui/src/field/NumberField.spec.js
  packages/ra-ui-materialui/src/field/NumberField.tsx
  packages/ra-ui-materialui/src/field/RichTextField.tsx
  packages/ra-ui-materialui/src/field/SelectField.spec.js
  packages/ra-ui-materialui/src/field/SelectField.tsx
  packages/ra-ui-materialui/src/field/TextField.tsx
  packages/ra-ui-materialui/src/field/UrlField.tsx
Due: eslint --fix

Fix initialValue is ignored in children of ArrayInput
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
Due: eslint --fix

Fix typos
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
Due: eslint --fix

Add package for brazilian portuguese internationalization
  packages/ra-language-pt-br/README.md
  packages/ra-language-pt-br/package.json
  packages/ra-language-pt-br/src/index.ts
  packages/ra-language-pt-br/tsconfig.json
Due: eslint --fix, prettier

Fizing prettier issues on Brazilian Portuguese internationalization
  packages/ra-language-pt-br/src/index.ts
Due: eslint --fix

Fix prettier issues
  packages/ra-language-pt-br/src/index.ts
Due: eslint --fix

Fix prettier error
  packages/ra-language-pt-br/src/index.ts
Due: eslint --fix

fix(useSuggestions): fix suggestionText empty
  packages/ra-core/src/form/useSuggestions.ts
Due: eslint --fix

Removing package Adding link for external package
  docs/Translation.md
Due: prettier

Removing packages
  packages/ra-language-pt-br/README.md
  packages/ra-language-pt-br/package.json
  packages/ra-language-pt-br/src/index.ts
  packages/ra-language-pt-br/tsconfig.json
Due: eslint --fix, prettier

Add new internationalization package for brazilian portuguese (#4812)
  docs/Translation.md
Due: prettier

Prepare changelog for v3.5.2
  CHANGELOG.md
Due: prettier

v3.5.2
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

update docs for v3.5.2
  CreateEdit.md
  FAQ.md
  List.md
  Translation.md
  _data/versions.yml
  css/style-v4.css
  doc/3.5/CreateEdit.md
  doc/3.5/FAQ.md
  doc/3.5/List.md
  doc/3.5/Translation.md
  doc/3.5/navigation.html
  navigation.html
Due: prettier

enhancement: allow custom add and remove buttons in SimpleFormIterator
  docs/Inputs.md
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.js
Due: eslint --fix, prettier

Fix useInitializeFormWithRecord with an array of objects
  packages/ra-core/src/form/useInitializeFormWithRecord.ts
Due: eslint --fix

Doc: Fixed incorrect notify parameter
  docs/Translation.md
Due: prettier

Add react-admin-firebase to Authentication Providers
  docs/Ecosystem.md
Due: prettier

Avoid treating null-values as objects with keys
  packages/ra-data-graphql-simple/src/getResponseParser.js
Due: eslint --fix

Fix refresh button breaks useGetList result with application cache
  packages/ra-core/src/controller/useEditController.ts
  packages/ra-core/src/controller/useListController.ts
  packages/ra-core/src/controller/useShowController.ts
  packages/ra-core/src/dataProvider/useQuery.ts
  packages/ra-core/src/dataProvider/useQueryWithStore.ts
Due: eslint --fix

Add order chart to dashboard
  examples/demo/package.json
  examples/demo/src/dashboard/Dashboard.tsx
  examples/demo/src/dashboard/OrderChart.tsx
Due: eslint --fix, prettier

Fix Ordr type
  examples/demo/src/types.ts
Due: eslint --fix

Improve CategoryList
  examples/demo/src/categories/CategoryEdit.tsx
  examples/demo/src/categories/CategoryList.tsx
Due: eslint --fix

Remove EditButton from OrderList
  examples/demo/src/orders/OrderList.js
Due: eslint --fix
