Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update graphql.ts
  examples/demo/src/dataProvider/graphql.ts
Due: eslint --fix

Properly type themeReducer
  examples/demo/src/themeReducer.ts
Due: eslint --fix

Add fakerest module
  examples/demo/src/fakeServer/rest.ts
  examples/demo/src/fakerest.d.ts
Due: eslint --fix

Clean up
  examples/demo/src/i18n/en.ts
  examples/demo/src/i18n/fr.ts
  examples/demo/src/ra-language-french.d.ts
Due: eslint --fix

Update parseResponse type
  examples/demo/src/dataProvider/graphql.ts
Due: eslint --fix

Update AsideEvent
  examples/demo/src/types.ts
  examples/demo/src/visitors/Aside.tsx
Due: eslint --fix

Update AsideEvent date
  examples/demo/src/visitors/Aside.tsx
Due: eslint --fix

Clean up
  examples/demo/src/fakeServer/graphql.ts
Due: eslint --fix

prepare changelog for v3.3.1
  CHANGELOG.md
Due: prettier

v3.3.1
  lerna.json
  packages/ra-core/package.json
  packages/ra-data-json-server/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
Due: prettier

upgrade docs to 3.3.1
  Admin.md
  Authentication.md
  CreateEdit.md
  _data/versions.yml
  doc/3.3/Admin.md
  doc/3.3/Authentication.md
  doc/3.3/CreateEdit.md
Due: prettier

Fix code sample in Inputs/ArrayInput docs
  docs/Inputs.md
Due: prettier

Fix invalid JSON pass to URL in documentation.
  docs/DataProviders.md
  docs/Tutorial.md
  packages/ra-data-simple-rest/README.md
Due: prettier

Change docs menu Fields item order with Create and Edit item.
  docs/navigation.html
Due: none

Fix documentation related to <ReferenceField> and <SelectField> components.
  docs/Fields.md
Due: prettier

Fix user id.
  docs/Fields.md
Due: prettier

More corrections.
  docs/Fields.md
Due: prettier

Update dataProvider actions references.
  docs/Inputs.md
  docs/List.md
Due: prettier

Convert OrderEdit to ts
  examples/demo/src/orders/OrderEdit.tsx
  examples/demo/src/types.ts
Due: eslint --fix

Convert OrderList to ts
  examples/demo/src/orders/MobileGrid.tsx
  examples/demo/src/orders/OrderList.js
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/types.ts
Due: eslint --fix

Fix SimpleFormIterator for non empty array fields
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
Due: eslint --fix

Prettification
  packages/ra-ui-materialui/src/form/SimpleFormIterator.js
Due: eslint --fix

Update OrderList type
  examples/demo/src/orders/OrderList.tsx
  examples/demo/src/types.ts
Due: eslint --fix

Add RowIndexComponent to SimpleFormIterator
  packages/ra-ui-materialui/src/form/FormInput.js
  packages/ra-ui-materialui/src/form/SimpleFormIterator.spec.js
  packages/ra-ui-materialui/src/form/SimpleFormIterator.tsx
Due: eslint --fix

Update Tutorial.md
  docs/Tutorial.md
Due: prettier

Fix composed filters
  examples/simple/src/data.js
  examples/simple/src/i18n/en.js
  examples/simple/src/i18n/fr.js
  examples/simple/src/posts/PostList.js
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

Update Toolbar docs (usage of buttons)
  docs/CreateEdit.md
Due: prettier

fix removeKey
  packages/ra-core/src/util/removeKey.ts
Due: eslint --fix

Improve FormTab and Tab components definitions.
  packages/ra-ui-materialui/src/detail/Tab.js
  packages/ra-ui-materialui/src/form/FormTab.js
Due: eslint --fix

add link to ra-language-korean
  docs/Translation.md
Due: prettier

test
  packages/ra-core/src/controller/useListController.spec.tsx
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

Add external links on Landing page
  assets/styles.css
  index.html
Due: prettier

fix img url
  index.html
Due: none

fix styles
  assets/styles.css
Due: prettier

add noreferrer
  index.html
Due: none

change links to sources for dataproviders
  index.html
Due: none

update link to API Platform
  index.html
Due: none

fix tests
  packages/ra-core/src/controller/useListController.spec.tsx
  packages/ra-core/src/controller/useListParams.ts
Due: eslint --fix

reset simple example
  examples/simple/src/data.js
  examples/simple/src/i18n/en.js
  examples/simple/src/i18n/fr.js
  examples/simple/src/posts/PostList.js
Due: eslint --fix

enhance test
  packages/ra-core/src/controller/useListController.spec.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
