Repository marmelab/react-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add",
  ],
  "*.{json,css,md}": [
      "prettier",
      "git add"
  ]
}

[no ci] Update docs/Actions.md
  docs/Actions.md
Due: prettier

[no ci] Update docs/AppTheme.md
  docs/AppTheme.md
Due: prettier

[no ci] Update docs/Buttons.md
  docs/Buttons.md
Due: prettier

[no ci] Update docs/EditDialog.md
  docs/EditDialog.md
Due: prettier

[no ci] Update docs/Features.md
  docs/Features.md
Due: prettier

[no ci] Update docs/Fields.md
  docs/Fields.md
Due: prettier

[no ci] Update docs/FilterList.md
  docs/FilterList.md
Due: prettier

[no ci] Update docs/FilteringTutorial.md
  docs/FilteringTutorial.md
Due: prettier

[no ci] Update docs/UnitTesting.md
  docs/UnitTesting.md
Due: prettier

[no ci] Update docs/useGetLocks.md
  docs/useGetLocks.md
Due: prettier

[no ci] Update docs/useGetOne.md
  docs/useGetOne.md
Due: prettier

[no ci] Update docs/useMediaQuery.md
  docs/useMediaQuery.md
Due: prettier

[no ci] Update docs/useRecordContext.md
  docs/useRecordContext.md
Due: prettier

[no ci] Update docs/ListTutorial.md
  docs/ListTutorial.md
Due: prettier

[no ci] Update docs/SX.md
  docs/SX.md
Due: prettier

[no ci] Update docs/ShowDialog.md
  docs/ShowDialog.md
Due: prettier

[no ci] Update docs/Store.md
  docs/Store.md
Due: prettier

[no ci] Update docs/TranslationTranslating.md
  docs/TranslationTranslating.md
Due: prettier

Add more tests and stories + leverage `useResourceTranslation` where possible
  packages/ra-ui-materialui/src/button/DeleteButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.tsx
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.spec.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

Add tests for button
  packages/ra-ui-materialui/src/button/Button.spec.tsx
  packages/ra-ui-materialui/src/button/Button.stories.tsx
Due: eslint --fix

[Doc] AuthProvider List: Add Appwrite
  docs/AuthProviderList.md
Due: prettier

Avoid double translation in `<UpdateWithConfirmButton>`
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.tsx
  packages/ra-ui-materialui/src/button/UpdateWithUndoButton.tsx
Due: eslint --fix

v5.9.0
  examples/data-generator/package.json
  examples/simple/package.json
  lerna.json
  packages/create-react-admin/package.json
  packages/ra-core/package.json
  packages/ra-data-fakerest/package.json
  packages/ra-data-graphql-simple/package.json
  packages/ra-data-graphql/package.json
  packages/ra-data-json-server/package.json
  packages/ra-data-local-forage/package.json
  packages/ra-data-local-storage/package.json
  packages/ra-data-simple-rest/package.json
  packages/ra-i18n-i18next/package.json
  packages/ra-i18n-polyglot/package.json
  packages/ra-input-rich-text/package.json
  packages/ra-language-english/package.json
  packages/ra-language-french/package.json
  packages/ra-no-code/package.json
  packages/ra-ui-materialui/package.json
  packages/react-admin/package.json
  yarn.lock
Due: prettier

Update docs/OldVersion.md for version 5.9.0
  docs/OldVersions.md
Due: prettier

Update create-react-admin templates dependencies for version 5.9.0
  packages/create-react-admin/templates/common/package.json
  packages/create-react-admin/templates/ra-data-fakerest/package.json
  packages/create-react-admin/templates/ra-data-json-server/package.json
  packages/create-react-admin/templates/ra-data-simple-rest/package.json
Due: prettier

Update changelog for version 5.9.0
  CHANGELOG.md
Due: prettier

Improve shortcut support
  packages/ra-core/package.json
  packages/ra-core/src/util/KeyboardShortcut.tsx
  packages/ra-core/src/util/getKeyboardShortcutLabel.ts
  packages/ra-core/src/util/index.ts
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/KeyboardShortcut.stories.tsx
  packages/ra-ui-materialui/src/KeyboardShortcut.tsx
  packages/ra-ui-materialui/src/field/DateField.tsx
  packages/ra-ui-materialui/src/index.ts
  packages/ra-ui-materialui/src/layout/Menu.stories.tsx
  packages/ra-ui-materialui/src/layout/MenuItemLink.tsx
  yarn.lock
Due: eslint --fix, prettier

Add shortcuts to simple example
  examples/simple/src/Layout.tsx
Due: eslint --fix

Fix tests
  packages/ra-ui-materialui/src/layout/Menu.spec.tsx
Due: eslint --fix

Document the keyboardShortcutRepresentation prop
  docs/Menu.md
Due: prettier

[doc] Add Datatable video tutorial
  docs/DataTable.md
Due: prettier

Add video tutorial to datatable
  DataTable.md
Due: prettier

Add docs about hiddenColumns property of <DataTable>.
  docs/DataTable.md
Due: prettier

[no ci] Fix writing style
  docs/DataTable.md
Due: prettier

Fix `<DataTable>` does not allow to put a button in the column's header
  packages/ra-ui-materialui/src/list/datatable/DataTable.stories.tsx
  packages/ra-ui-materialui/src/list/datatable/DataTableHeadCell.tsx
Due: eslint --fix

[chore] Avoid vercel deployment for `gh-pages` branch
  vercel.json
Due: prettier

apply DataTable codemod to stories
  packages/ra-ui-materialui/src/button/BulkDeleteButton.stories.tsx
  packages/ra-ui-materialui/src/button/BulkExportButton.stories.tsx
  packages/ra-ui-materialui/src/button/BulkUpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/CreateButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithConfirmButton.stories.tsx
  packages/ra-ui-materialui/src/button/DeleteWithUndoButton.stories.tsx
  packages/ra-ui-materialui/src/button/EditButton.stories.tsx
  packages/ra-ui-materialui/src/button/ListButton.stories.tsx
  packages/ra-ui-materialui/src/button/LocalesMenuButton.stories.tsx
  packages/ra-ui-materialui/src/button/SelectAllButton.stories.tsx
  packages/ra-ui-materialui/src/button/ShowButton.stories.tsx
  packages/ra-ui-materialui/src/button/ToggleThemeButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateButton.stories.tsx
  packages/ra-ui-materialui/src/button/UpdateWithConfirmButton.stories.tsx
  packages/ra-ui-materialui/src/field/ArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceArrayField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceManyField.stories.tsx
  packages/ra-ui-materialui/src/field/ReferenceOneField.stories.tsx
  packages/ra-ui-materialui/src/input/InputErrors.stories.tsx
  packages/ra-ui-materialui/src/input/ReferenceInput.stories.tsx
  packages/ra-ui-materialui/src/input/SearchInput.stories.tsx
  packages/ra-ui-materialui/src/list/InfiniteList.stories.tsx
  packages/ra-ui-materialui/src/list/List.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterButton.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterList.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveForm.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.stories.tsx
  packages/ra-ui-materialui/src/list/filter/SavedQueriesList.stories.tsx
  packages/react-admin/src/Resource.stories.tsx
Due: eslint --fix
